#content {
  //max-width: 960px;
  padding: 20px 3rem 30px 3rem;
  margin-left: 208px;
  .main {
    min-height: 400px;
  }
  .heading {
    position: relative;
    padding-right: 100px;
    .actions {
      position: absolute;
      right: 0px;
      top: 20px;
    }
    .description {
      h1 {
        padding-bottom: 8px;
        font-size: 28px;
      }
    }
  }
  .content-layout-full {
    min-width: 800px;
  }
  .content-layout-medium {
    max-width: 1000px;
    min-width: 800px;
  }
  .content-layout-large {
    max-width: 1400px;
    min-width: 800px;
  }
  .content-layout-small {
    max-width: 600px;
    min-width: 300px;
  }
}

.pui-filter {
  position: relative;
  margin: 2.5rem 0 2rem;
  .form-control, .btn {
    height: 34px;
  }
  .input-group-filter {
    .btn {
      padding: 0 10px;
    }
  }
  .pui-filter-center {
    margin: 0 auto;
    max-width: 500px;
  }
  .pui-filter-actions {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    .pui-filter-left, .pui-filter-right {
      position: absolute;
      top: 0;
    }
    .pui-filter-left {
      left: 0;
      width: 100px;
    }
    .pui-filter-right {
      right: 0;
      width: 100px;
    }
  }

  .filter-dropdown {
    display: table-cell;
    position: relative;
    height: 34px;;
    vertical-align: top;
    .filter-dropdown-toggle {
      background: white;
      border-top: 1px solid #DFE5E8;
      border-bottom: 1px solid #DFE5E8;
      display: block;
      height: 34px;
      line-height: 30px;
      font-size: 15px;
      cursor: pointer;
      color: #3d4b53;
      position: relative;
      padding-left: 15px;
      padding-right: 30px;
      &:hover {
        background: #f5f6f7;
        text-decoration: none;
        color: #232b2f;
      }
      .caret {
        position: absolute;
        top: 15px;
        right: 15px;
      }
    }
    &.open {
      .filter-dropdown-toggle {
        background: #f5f6f7;
      }
    }
    ul li a {
      cursor: pointer;
    }
  }
}

.dropdown-menu {
  background-color: #fff;
  box-shadow: 0 0 0 white;
  border-radius: 0;
  border-color: #c7cfd3;
}

.dropdown-header {
  padding: 8px 8px 8px 16px;
  color: $navy-4;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid $navy-9;
}

.list-bar {
  height: 35px;
  margin-bottom: 2rem;
  .list-bar-action, .list-bar-dropdown, .list-bar-filter, .list-bar-right, .list-bar-divider {
    display: block;
    float: left;
    margin: 0;
  }

  .list-bar-divider {
    height:25px;
    border-left: 1px solid #bfc7cb;
    margin: 5px 12px 5px 8px;
  }

  .list-bar-dropdown {
    .filter-dropdown-toggle {
      background: $navy-11;
      //border-top: 1px solid #DFE5E8;
      //border-bottom: 1px solid #DFE5E8;
      display: block;
      height: 28px;
      margin: 2px 2px;
      width: 160px;
      line-height: 30px;
      font-size: 15px;
      cursor: pointer;
      color: #3d4b53;
      position: relative;
      padding-left: 15px;
      padding-right: 30px;
      border-radius: 2px;
      &:hover {
        background: $navy-10;
        text-decoration: none;
        color: #232b2f;
      }
      .caret {
        position: absolute;
        top: 12px;
        right: 15px;
      }
    }
  }
  .list-bar-filter {
    border: 1px solid #bfc7cb;
    border-radius: 3px;
    width: 530px;
    margin: 0 5px;
    .form-control, .list-bar-submit, .list-bar-dropdown {
      float: left;
      border: 0 none;
      box-shadow: none;
    }
  }
  .form-control {
    width: 489px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-left: 0;
    height: 32px;
  }
  .list-bar-submit {
    border: 1px solid white;
    height: 28px;
    margin: 2px 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 10px
  }
}

.list-bar-app {
  .form-control {
    width: 325px;
  }
  .dropdown-menu {
    li a {
      cursor: pointer;
    }
  }
}

@media (min-width: 1400px) {

  .list-bar {
    .list-bar-filter {
      width: 730px;
    }
    .form-control {
      width: 689px;
    }
  }
  .list-bar-app {
    .form-control {
      width: 525px;
    }
  }

  .list-bar-audit {
    .list-bar-filter {
      width: 530px;
    }
  }
}

@media (max-width: 991px) {
  .pui-filter {
    .pui-filter-center {
      margin: 0 auto;
      max-width: 100%;
    }
    .pui-filter-actions {
      position: relative;
      height: 35px;
      margin-top: 1rem;
    }
  }
}

.pui-log {
  pre {
    overflow: auto;
    background-color: #fff;
    border: 1px solid $navy-9;
    color: $navy-3;
    font-family: Consolas, Bitstream Vera Sans Mono, Courier New, Courier, monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    font-size: 12px;
    code {
      background-color: #fff;
      border: 0 none;
      word-break: keep-all;
      white-space: pre;
    }
  }
}
