$highlight-background-color: $navy-9;
$sidebar-item-left-padding: 60px;
$active-item-border-size: $base-unit / 2;
$font-size-lg: 20px;
$sidebar-width: 60px;
$sidebar-width-large: 240px;

$sidebar-background: #243641;
$sidebar-background-active: #232b2f;
$sidebar-divider: #3e4a53;
$sidebar-color: #edefef;
$sidebar-color-hover: #fff;
$sidebar-active: #00a79d;

#sidebar {
  background: $sidebar-background;
  width: $sidebar-width;
  color: $sidebar-color;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  font-size: 16px;
  z-index: 888;
  opacity: 1;
  @include transition(width .1s);

  .text {
    white-space: nowrap;
  }

  .sidebar-divider {
    border-top: 1px solid $sidebar-divider;
  }

  .sidebar-header {
    padding: 16px 16px 16px 6px;
    .logo-link {
      span {
        display: block;
      }
      &:hover, &:active, &:focus, &:visited {
        text-decoration: none;
      }
    }
    .icon {
      height: 34px;
      width: 50px;
      position: absolute;
      top: 9px;
      left: 0px;
      @include transition(left .1s);
      svg {
        height: 36px;
        width: 50px;
      }
    }
    .sidebar-title {
      display: block;
      color: $sidebar-color;
      font-size: $font-size-lg + 2px;
      align-self: center;
      font-weight: 600;
      padding-left: 60px;
      @include transition(padding-left .1s);
      padding-top: 2px;
      white-space: nowrap;
      strong {
        font-weight: normal;
        color: $sidebar-active;
      }
    }
  }

  .sidebar-item {
    font-size: 16px;
    border-left: $active-item-border-size solid transparent;
    @include transition(background-color .2s);
    &.active {
      background-color: $sidebar-background-active;
      border-left: $active-item-border-size solid $sidebar-active;
      a {
        color: $sidebar-color-hover;
        &:hover {
          color: $sidebar-color-hover;
        }
      }
      .sidebar-item a {
        color: $sidebar-color-hover;
        padding-left: $sidebar-item-left-padding;
      }
    }
    .sidebar-item a {
      padding-left: $sidebar-item-left-padding;
    }
    .fa-chevron-right {
      position: absolute;
      right: 20px;
      top: 14px;
      color: rgba(104, 104, 104, 0);
      @include transition(color .1s);
    }
  }

  .sidebar-footer {
    position: absolute;
    bottom: 0;
  }

  .sidebar-item > a {
    position: relative;
    text-decoration: none;
    color: $sidebar-color;
    padding: $base-unit $base-unit $base-unit $sidebar-item-left-padding;
    display: block;
    cursor: pointer;
    height: 40px;
    .icon-right {
      position: absolute;
      right: 15px;
      top: 13px;
      display: none;
    }

    &:hover {
      color: $sidebar-color-hover;
      text-decoration: underline;
    }
  }

  .sidebar-fa {
    position: absolute;
    top: 13px;
    left: 0px;
    width: $sidebar-width - 4px;
    text-align: center;
  }
  .sidebar-items div.sidebar-item-copyright {
    display: block;
    border-top: 1px solid $sidebar-divider;
    border-left: 0 none;
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 1.5rem;
    padding-left: 20px;
    text-decoration: none;
    color: $neutral-4;
  }

  .sidebar-user {
    border-bottom: 1px solid $sidebar-divider;
    margin-bottom: 1rem;
    margin-top: 0;
    padding: 0px 0 4px 0;
    color: $dark-1;
    .sidebar-user-info {
      position: relative;
      padding: 0 0 0 40px;
      span.fa {
        position: absolute;
        top: 3px;
        left: 15px;
      }
    }
    ul.dropdown-menu {
      width: 200px;
      position: fixed;
      top: 120px;
      left: $sidebar-width;
      margin: 0;
      padding: 10px 0;
    }
    ul {
      margin: 0;
      list-style: none;
      padding: 0 0 0 40px;
    }
    .sidebar-user-login {
      text-align: center;
      .sidebar-user-login-text {
        padding-bottom: 8px;
        font-size: 14px;
      }
    }
    .sidebar-item-username {
      padding: 0 20px;
    }
  }

  .sidebar-items-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  app-navigation-search {
    height: 54px;
    .sidebar-quicksearch-input {
      display: none;
    }
    .sidebar-button {
      height: 34px;
      position: relative;
      a {
        position: absolute;
        text-align: center;
        top: -6px;
        left: -18px;
        height: 45px;
        width: 50px;
        line-height: 45px;
        cursor: pointer;
        padding-left: 8px;
        color: $sidebar-color;
        border-left: $active-item-border-size solid $sidebar-background;
      }
    }
    .sidebar-quicksearch-result {
      .sidebar-quicksearch-input {
        display: block;
        margin-bottom: 20px;
      }
    }
  }

  .sidebar-quicksearch {
    position: relative;
    margin-top: 1px;
    margin-bottom: 5px;
    padding: 10px 15px 10px 18px;
    //border-top: 1px solid $sidebar-divider;
    //border-bottom: 1px solid $sidebar-divider;
    .sidebar-quicksearch-input {
      position: relative;
      .fa {
        position: absolute;
        top: 8px;
        left: 8px;
        color: rgba(255, 255, 255, .6);
      }
      input.form-control {
        height: 34px;
        padding-left: 34px;
        &.input-dark {
          background: #252b2f;
          border: 2px solid transparent;
          @include transition(border-color .05s);
          margin-left: -4px;
          color: #fff;
          box-shadow: none;
          &:focus {
            border-color: #47a49c;
          }
          &::placeholder {
            color: rgba(255, 255, 255, .4)
          }
        }
      }
      app-loader {
        padding: 0;
        position: absolute;
        top: 4px;
        right: 0px;
      }
    }
    .sidebar-quicksearch-result {
      position: fixed;
      left: $sidebar-width;
      top: 0;
      bottom: 0;
      background-color: white;
      width: 0;
      @include transition(width .1s);
      color: $navy-1;
      box-shadow: 6px 0 10px rgba(0, 0, 0, .08);
      overflow-x: hidden;
      .sidebar-quicksearch-result-wrap {
        width: 500px;
      }
      .sidebar-quicksearch-input {
        .fa {
          color: $navy-1;
          left: 11px;
        }
      }
      .result-content {
        padding: 19px 2rem;
        h1 {
          font-size: 20px;
          border-bottom: 1px solid $highlight-background-color;
          padding: 2rem;
          margin: -2rem -2rem;
          margin-bottom: 1rem;
          background: $navy-11;
        }
      }
      .result-item {
        margin-bottom: 2rem;
        h2 {
          font-size: 16px;
          margin-bottom: 5px;
          font-weight: 600;
          //color: $brand-8;
          border-bottom: 1px solid $highlight-background-color;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            padding: 0;
            margin: 0;
            a {
              position: relative;
              display: block;
              color: $navy-3;
              cursor: pointer;
              margin: 0 -1.5rem;
              padding: 0.8rem 1.5rem;
              text-decoration: none;
              .label {
                margin-left: 6px;
              }
              &:hover {
                color: $navy-1;
                background: $navy-11;
              }
            }
          }
        }
        p.more-result {
          color: $blue-5;
          margin: 0;
          a {
            color: $blue-5;
            margin: 0 -1.5rem;
            display: block;
            padding: 0.8rem 1.5rem;
            cursor: pointer;
            &:hover {
              color: $blue-4;
              background: $navy-11;
            }
          }
        }
      }
    }
    &.open {
      background: $sidebar-background-active;
      .sidebar-quicksearch-input {
        .fa {
          //color: $navy-2
        }
      }
      .sidebar-quicksearch-result {
        width: 500px;
      }
      .sidebar-button a {
        border-left: $active-item-border-size solid $sidebar-active;
      }
    }
  }

}

#content {
  @include transition(margin-left .1s);
  margin-left: 60px;
}

.page-step-1 {
  left: $sidebar-width;
}

.page-step-2 {
  left: $sidebar-width + 500px;
  .dataflow-page-head {
    left: $sidebar-width + 500px -1px;
  }
}

.page-step-1, .page-step-2, .dataflow-page-head {
  @include transition(left .1s);
}

.sidebar-fixed {
  #sidebar {
    width: $sidebar-width-large;
    app-navigation-search {
      height: 54px;
      .sidebar-quicksearch-input {
        display: block;
      }
      .sidebar-button {
        display: none;
      }

      .sidebar-quicksearch-result {
        left: $sidebar-width-large;
      }
    }

    .sidebar-header {
      .icon {
        left: 15px;
      }
      .sidebar-title {
        padding-left: 70px;
      }
    }
    .sidebar-item {
      .fa-chevron-right {
        color: $sidebar-color;
      }
    }
    .sidebar-user {
      ul.dropdown-menu {
        left: $sidebar-width-large - 10px;
      }
    }
  }
  #content {
    margin-left: $sidebar-width-large;
  }
  .dataflow-page-head {
    left: $sidebar-width-large;
  }
  .page-step-1 {
    left: $sidebar-width-large;
  }
  .page-step-2 {
    left: $sidebar-width-large + 500px;
    .dataflow-page-head {
      left: $sidebar-width-large + 500px -1px;
      app-page-head-back {
        display: none;
      }
    }
  }
}
