@import "../pui-variables";

.table {
  font-size: $table-font-size;
}

table.table {
  width: 100%;
  background-color: $table-bg;
  margin-bottom: ($base-unit*2);
  //HTML table reset
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  p {
    margin: 0;
  }

  //General Row
  tr {
    border-top: solid 1px $table-border-color;
    border-left: solid 1px $table-border-color;
    border-right: solid 1px $table-border-color;
    &:last-child {
      border-bottom: solid 1px $table-border-color;
    }
    &.tr-hover:hover {
      background-color: $table-bg-hover;
    }
  }
  //Table Header Cell
  th {
    font-weight: $table-header-font-weight;
    //Borders stack on HTML Tables so this needs to be 2px
    border-bottom: solid 2px $table-border-color;
  }
  //General Cell
  td, th {
    border-right: solid 1px $table-border-color;
    padding: $base-unit ($base-unit*2);
    text-align: inherit;
    &:last-child {
      border-right: none;
    }
  }
  p {
    margin: 0;
  }
  //HTML Hover on Tables
  &.tr-hover {
    tr:hover {
      background-color: $table-bg-hover;
    }
  }
  //HTML hover table cells
  &.td-hover {
    tr:hover {
      background-color: $table-bg;
    }
    tr td:hover {
      background-color: $table-bg-hover;
    }
  }
  //Borders
  //No cell borders in row
  tr.tr-no-h-borders {
    td, th {
      border-right: none;
    }
  }
  //Attached to .table
  &.tr-no-h-borders {
    td, th {
      border-right: none;
    }
  }
  //No External borders to a table
  &.table-no-ext-borders tr {
    border-left: none;
    border-right: none;
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  tr.table-no-ext-borders {
    border-left: none;
    border-right: none;
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  //No borders on table
  &.table-no-borders {
    tr,
    tr td,
    tr th {
      border: none;
    }
  }
}


table.table {
  table-layout: auto;
}
.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td {
  border-right: 0 none;
  border-left: 0 none;
}


table.table-actions, table.table-checkbox {
  td.table-actions {
    padding: 4px;
    text-align: center;

    div.actions {
      text-align: right;
    }
    div.actions-btn {
      white-space: nowrap;
      text-align: right;
      .btn {
        padding: 0 10px;
        .fa {
          margin-top: 6px;
        }
        .fa-ellipsis-h {
          margin-top: 10px;
        }
      }
    }
  }
}

table.table {
  border: 0 none;

  tr {
    border-left: 0 none;
    border-right: 0 none;
    &:first-child {
      border-top: 0 none;
    }
    &:last-child {
      border-bottom: 0 none;
    }
  }
  > thead > tr > th {
    border-bottom: 1px solid $navy-8;
  }
  tr.align-middle {
    td {
      vertical-align: middle;
    }
  }
}

table.table-checkbox {
  tbody tr td {
    vertical-align: middle;
  }
  thead tr th:first-child, tbody tr td:first-child {
    border-right: 0 none;
    padding-right: 0.2rem;
    padding-left: 1.5rem;
  }
}

table.table-styled-1 {
  tr {
    td:first-child {
      font-weight: bold;
    }
  }
  tr.created {
    td:first-child {
      color: #51A351;
    }
  }
  tr.error {
    color: $navy-6;
    td:first-child {
      color: #BD362F;
    }
    .error {
      color: #BD362F;
    }
  }
}
