<h1>{{ 'tools.title' | translate }}</h1>

<div class="clr-row">
  <div class="clr-col-lg-12 clr-col-md-12 clr-col-12" appRole appFeature="streams">
    <app-view-card
      [titleModal]="'tools.streams' | translate"
      keyContext="import-export"
      name="import-export"
      id="streams"
    >
      <ng-template>
        <div>
          <clr-icon shape="angle" style="transform: rotate(90deg)"></clr-icon>
          <a href="{{ baseApiUrl }}#" (click)="run('export-stream')">{{ 'tools.exportStreams' | translate }}</a>
        </div>
        <div [appRole]="['ROLE_CREATE']">
          <clr-icon shape="angle" style="transform: rotate(90deg)"></clr-icon>
          <a href="{{ baseApiUrl }}#" (click)="run('import-stream')">{{ 'tools.importStreams' | translate }}</a>
        </div>
      </ng-template>
    </app-view-card>
  </div>
  <div class="clr-col-lg-12 clr-col-md-12 clr-col-12" appRole appFeature="tasks">
    <app-view-card
      [titleModal]="'tools.cleanUp' | translate"
      keyContext="import-export"
      name="import-export"
      id="cleanup"
    >
      <ng-template>
        <div class="cleanUpGrid">
          <div class="cleanUpDays">
            <span>{{ 'tools.cleanUpDescription' | translate }}</span>
            <clr-input-container>
              <input
                clrInput
                placeholder="{{ 'tools.cleanUpDays' | translate }}"
                name="days"
                [(ngModel)]="days"
                pattern="[0-9]*"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
              />
            </clr-input-container>
          </div>
          <div>
            <div>
              <clr-icon shape="angle" style="transform: rotate(90deg)"></clr-icon>
              <a href="{{ baseApiUrl }}#" (click)="run('cleanup-all')">{{ 'tools.cleanUpAll' | translate }}</a>
            </div>
            <div>
              <clr-icon shape="angle" style="transform: rotate(90deg)"></clr-icon>
              <a href="{{ baseApiUrl }}#" (click)="run('cleanup-completed')">{{
                'tools.cleanUpCompleted' | translate
              }}</a>
            </div>
          </div>
        </div>
      </ng-template>
    </app-view-card>

    <app-view-card [titleModal]="'tools.tasks' | translate" keyContext="import-export" name="import-export" id="tasks">
      <ng-template>
        <div>
          <clr-icon shape="angle" style="transform: rotate(90deg)"></clr-icon>
          <a href="{{ baseApiUrl }}#" (click)="run('export-task')">{{ 'tools.exportTasks' | translate }}</a>
        </div>
        <div [appRole]="['ROLE_CREATE']">
          <clr-icon shape="angle" style="transform: rotate(90deg)"></clr-icon>
          <a href="{{ baseApiUrl }}#" (click)="run('import-task')">{{ 'tools.importTasks' | translate }}</a>
        </div>
      </ng-template>
    </app-view-card>
  </div>
</div>

<app-manage-stream-import #streamImportModal></app-manage-stream-import>
<app-manage-stream-export #streamExportModal></app-manage-stream-export>

<app-manage-task-export #taskExportModal></app-manage-task-export>
<app-manage-task-import #taskImportModal></app-manage-task-import>

<app-tools-cleanup #cleanupModal></app-tools-cleanup>
