<clr-vertical-nav *ngIf="!(shouldProtect|async)" [clrVerticalNavCollapsible]="true" [clr-nav-level]="1">

<!--  <a clrVerticalNavLink routerLink="dashboard" routerLinkActive="active">-->
<!--    <clr-icon shape="dashboard" clrVerticalNavIcon></clr-icon>-->
<!--    Dashboard-->
<!--  </a>-->

  <a clrVerticalNavLink routerLink="apps" routerLinkActive="active">
    <clr-icon shape="applications" class="is-solid" clrVerticalNavIcon></clr-icon>
    Applications
  </a>

  <clr-vertical-nav-group routerLinkActive="active"
                          clrVerticalNavGroupExpanded="true"
                          [appRole]="[]" appFeature="streams">
    <clr-icon shape="cloud-scale" clrVerticalNavIcon></clr-icon>
    Streams
    <clr-vertical-nav-group-children>
      <a
        clrVerticalNavLink
        routerLinkActive="active"
        routerLink="streams/list">
        Streams
      </a>
      <a
        clrVerticalNavLink
        routerLinkActive="active"
        routerLink="streams/runtime">
        Runtime
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <clr-vertical-nav-group routerLinkActive="active" clrVerticalNavGroupExpanded="true"
                          [appRole]="[]" appFeature="tasks">
    <clr-icon shape="blocks-group" clrVerticalNavIcon></clr-icon>
    Tasks / Jobs
    <clr-vertical-nav-group-children>
      <a
        clrVerticalNavLink
        routerLinkActive="active"
        routerLink="tasks-jobs/tasks">
        Tasks
      </a>
      <a
        clrVerticalNavLink
        routerLinkActive="active"
        routerLink="tasks-jobs/task-executions">
        Tasks executions
      </a>
      <a
        clrVerticalNavLink
        routerLinkActive="active"
        routerLink="tasks-jobs/job-executions">
        Jobs executions
      </a>
      <a
        clrVerticalNavLink
        routerLinkActive="active"
        routerLink="tasks-jobs/schedules"
        [appRole]="[]"
        appFeature="schedules">
        Schedules
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <clr-vertical-nav-group routerLinkActive="active"
                          clrVerticalNavGroupExpanded="false">
    <clr-icon shape="briefcase" clrVerticalNavIcon></clr-icon>
    Manage
    <clr-vertical-nav-group-children>
      <a
        clrVerticalNavLink
        routerLinkActive="active"
        routerLink="manage/records">
        Audit Records
      </a>
      <a
        clrVerticalNavLink
        routerLinkActive="active"
        routerLink="manage/import-export"
        [appRole]="[]"
        appFeature="streams,tasks">
        Import / Export
      </a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

</clr-vertical-nav>
