<div id="flo-container">
  <flo-editor (floApi)="editorContext = $event" [metamodel]="metamodelService" [renderer]="renderService" [editor]="editorService" [paletteSize]="paletteSize" [(dsl)]="dsl" [paperPadding]="20">
    <div class="flow-definition-container">
      <dsl-editor [(dsl)]="dsl" line-numbers="true" line-wrapping="true" (blur)="editorContext.graphToTextSync=true" (focus)="editorContext.graphToTextSync=false" placeholder="Enter stream definition..."></dsl-editor>
    </div>
  </flo-editor>
</div>
