<app-page>

  <app-page-head>
    <app-page-head-back [defaultUrl]="'/streams/definitions'"></app-page-head-back>
    <app-page-head-title><strong>Create a stream</strong></app-page-head-title>
  </app-page-head>

  <div id="flo-container" class="stream-editor" dataflowLayoutType type="full">
    <flo-editor (floApi)="setEditorContext($event)" [metamodel]="metamodelService" [renderer]="renderService"
                [editor]="editorService" [(paletteSize)]="editorService.STREAM_PALETTE_WIDTH"
                [paletteEntryPadding]="{width: 1.5, height: 1.5}"
                [(dsl)]="dsl" [paperPadding]="55" (contentValidated)="contentValidated=$event"
                (validationMarkers)="validationMarkers = $event"
                (onProperties)="renderService.handleLinkEvent(editorContext, 'options', $event)"
                searchFilterPlaceHolder="Applications">

      <div header class="flow-definition-container">
        <dsl-editor [(dsl)]="dsl" line-numbers="true" line-wrapping="true"
                    (focus)="editorContext.graphToTextSync=false" placeholder="Enter stream definition..."
                    (blur)="editorContext.graphToTextSync=true"
                    [hintOptions]="hintOptions" [lintOptions]="lintOptions"></dsl-editor>
      </div>

    </flo-editor>
    <div canvas class="flow-actions" [ngStyle]="{left: (editorService.STREAM_PALETTE_WIDTH + 20) + 'px'}">
      <button class="btn btn-default btn-fa-transparent" type="button" (click)="changeZoom(-25)"
              [disabled]="editorContext.zoomPercent <= 25">
        <i class="fa fa-search-minus"></i>
      </button>
      <div id="dropdown-zoom" class="dropdown" dropdown [dropup]="true">
        <span dropdownToggle class="form-control">
          <span class="dropdown-value">{{ editorContext.zoomPercent }}%</span>
          <span class="fa fa-chevron-down"></span>
        </span>
        <ul *dropdownMenu class="dropdown-menu dropdown-menu-up">
          <li *ngFor="let val of zoomValues" [class.active]="editorContext.zoomPercent === val">
            <a style="cursor: pointer" (click)="editorContext.zoomPercent = val">
              {{ val }}%
            </a>
          </li>
        </ul>
      </div>
      <button class="btn btn-default btn-fa-transparent" type="button" (click)="changeZoom(25)"
              [disabled]="editorContext.zoomPercent >= 150">
        <i class="fa fa-search-plus"></i>
      </button>
      <div class="divider"></div>
      <button (click)="arrangeAll()" class="btn btn-default" type="button">Fit to Content</button>
      <!--<input class="zoom-input" list="zoom" type="number" [(ngModel)]="editorContext.zoomPercent">-->
      <!--<datalist id="zoom">-->
      <!--<option value="25"></option>-->
      <!--<option value="50"></option>-->
      <!--<option value="75"></option>-->
      <!--<option value="100"></option>-->
      <!--<option value="125"></option>-->
      <!--<option value="150"></option>-->
      <!--<option value="175%">175</option>-->
      <!--<option value="200%">200</option>-->
      <!--</datalist>-->
      <!--<button (click)="editorContext.clearGraph()" class="btn btn-default" type="button">Clear</button>-->
      <!--<button class="btn" (click)="editorContext.autolink = !editorContext.autolink"-->
      <!--[ngClass]="{'btn-default-alt': !editorContext.autolink, 'btn-default': editorContext.autolink}">Auto-->
      <!--Link-->
      <!--</button>-->
      <!--<button class="btn" (click)="gridOn = !gridOn"-->
      <!--[ngClass]="{'btn-default-alt': !gridOn, 'btn-default': gridOn}">Grid-->
      <!--</button>-->
    </div>
    <div class="overlay-loader" *ngIf="!isReady">
      <div style="padding: 10px 0;">
        <app-loader></app-loader>
      </div>
    </div>
  </div>

  <app-page-actions>
    <button id="back-button" type="button" class="btn btn-default" routerLink="/streams">
      Cancel
    </button>
    <button (click)="createStreamDefs()" class="btn btn-primary" type="button">
      Create Stream(s)
    </button>
  </app-page-actions>

</app-page>
