<p [innerHTML]="'applications.add.uri.desc' | translate"></p>

<form role="form" (ngSubmit)="submit()" clrForm [formGroup]="form" clrLayout="horizontal" clrLabelSize="2">
  <clr-input-container>
    <label class="clr-col-1">URI</label>
    <input
      clrInput
      name="uri"
      id="uriInput"
      formControlName="uri"
      [dataflowFocus]="true"
      class="clr-col-6"
      style="width: 100%"
      placeholder="{{ 'applications.add.uri.placeholderUri' | translate }}"
    />
    <clr-control-helper
      >{{ 'applications.add.uri.eg' | translate }}: <code> {{ 'applications.add.uri.egValue' | translate }}</code>
    </clr-control-helper>
    <clr-control-error>{{ 'applications.add.uri.invalidUri' | translate }}</clr-control-error>
  </clr-input-container>
  <clr-checkbox-container>
    <clr-checkbox-wrapper>
      <input id="forceInput" formControlName="force" type="checkbox" clrCheckbox value="false" name="force" />
      <label>{{ 'applications.add.uri.force' | translate }}</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
  <div class="clr-accordion-footer">
    <button class="btn btn-secondary" type="button" (click)="back()">{{ 'commons.cancel' | translate }}</button>
    <button class="btn btn-primary" type="submit">{{ 'applications.add.uri.import' | translate }}</button>
  </div>
</form>
<clr-modal [(clrModalOpen)]="isImporting" *ngIf="isImporting" clrModalClosable="false" clrModalSize="md">
  <h3 class="modal-title">{{ 'applications.add.uri.force' | translate }}</h3>
  <div class="modal-body">
    <div><clr-spinner clrInline clrSmall></clr-spinner>&nbsp;{{ 'applications.add.uri.importing' | translate }}</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" [disabled]="true">{{ 'commons.cancel' | translate }}</button>
    </div>
  </div>
</clr-modal>
