<h1>
  Step Execution
  <span *ngIf="stepResource && execution">
    <strong>{{ stepResource.stepExecution.name }} ({{ stepResource.stepExecution.id }})</strong> - <ng-container i18n>Job execution</ng-container>
    <strong>{{ execution.name }} ({{ execution.jobExecutionId }})</strong>
  </span>
</h1>

<div *ngIf="!loading">
  <div class="datagrid-action-bar">
    <button type="button"
            class="btn btn-sm btn-secondary"
            (click)="refresh()"
            i18n>
      Refresh
    </button>
  </div>

  <div class="clr-row">
    <div class="clr-col-lg-6 clr-col-md-12 clr-col-12">
      <app-view-card titleModal="Information" keyContext="step" name="{{ stepResource.stepExecution.id }}" id="info">
        <ng-template>
          <div class="progress" *ngIf="stepProgress.percentageComplete < 1">
            <progress [value]="stepProgress.percentageComplete * 100" max="100"></progress>
          </div>

          <div *ngIf="!stepResource.stepExecution"><ng-container i18n>No Step Execution available.</ng-container></div>

          <div *ngIf="stepResource?.stepExecution" class="block card-block-keyvalue lg-key">
            <div class="row">
              <div class="key"><strong><ng-container i18n>Step Execution Id</ng-container></strong></div>
              <div class="value">{{ stepResource.stepExecution.id }}</div>
            </div>
            <div class="row">
              <div class="key"><strong><ng-container i18n>Job Execution Id</ng-container></strong></div>
              <div class="value">{{ stepResource.jobExecutionId }}</div>
            </div>
            <div class="row">
              <div class="key"><strong><ng-container i18n>Step Name</ng-container></strong></div>
              <div class="value">{{ stepResource.stepExecution.name }}</div>
            </div>
            <div class="row">
              <div class="key"><strong><ng-container i18n>Step Type</ng-container></strong></div>
              <div class="value">{{ stepResource.stepType }}</div>
            </div>
            <div class="row">
              <div class="key"><strong><ng-container i18n>Status</ng-container></strong></div>
              <div class="value">
                <span class="{{ stepResource.stepExecution.labelStatusClass() }}">
                  {{ stepResource.stepExecution.status }}</span
                >
              </div>
            </div>
            <div class="row">
              <div class="key"><strong><ng-container i18n>Commits</ng-container></strong></div>
              <div class="value">{{ stepResource.stepExecution.commitCount }}</div>
            </div>
            <div class="row">
              <div class="key"><strong><ng-container i18n>Duration</ng-container></strong></div>
              <div class="value">
                {{ stepResource.stepExecution.startTime | duration: stepResource.stepExecution.endTime }}
              </div>
            </div>
            <div class="row">
              <div class="key"><strong><ng-container i18n>Filter Count</ng-container></strong></div>
              <div class="value">{{ stepResource.stepExecution.filterCount }}</div>
            </div>
            <div class="row">
              <div class="key"><strong><ng-container i18n>Process Skips</ng-container></strong></div>
              <div class="value">{{ stepResource.stepExecution.processSkipCount }}</div>
            </div>
            <div class="row">
              <div class="key"><strong><ng-container i18n>Reads</ng-container></strong></div>
              <div class="value">{{ stepResource.stepExecution.readCount }}</div>
            </div>
            <div class="row">
              <div class="key"><strong><ng-container i18n>Read Skips</ng-container></strong></div>
              <div class="value">{{ stepResource.stepExecution.readSkipCount }}</div>
            </div>
            <div class="row">
              <div class="key"><strong><ng-container i18n>Rollbacks</ng-container></strong></div>
              <div class="value">{{ stepResource.stepExecution.rollbackCount }}</div>
            </div>
            <div class="row">
              <div class="key"><strong><ng-container i18n>Skips</ng-container></strong></div>
              <div class="value">{{ stepResource.stepExecution.skipCount }}</div>
            </div>
            <div class="row">
              <div class="key"><strong><ng-container i18n>Writes</ng-container></strong></div>
              <div class="value">{{ stepResource.stepExecution.writeCount }}</div>
            </div>
            <div class="row">
              <div class="key"><strong><ng-container i18n>Write Skips</ng-container></strong></div>
              <div class="value">{{ stepResource.stepExecution.writeSkipCount }}</div>
            </div>
          </div>
        </ng-template>
      </app-view-card>

      <app-view-card
        titleModal="Exit Description"
        keyContext="step"
        name="{{ stepResource.stepExecution.id }}"
        id="exit"
      >
        <ng-template>
          <div class="clr-log">
            <pre style="margin: 0">{{ stepResource?.stepExecution?.exitMessage || 'N/A' }}</pre>
          </div>
        </ng-template>
      </app-view-card>

      <app-view-card
        titleModal="Step Execution Context"
        keyContext="step"
        name="{{ stepResource.stepExecution.id }}"
        id="stepExecutionCount"
      >
        <ng-template>
          <div *ngIf="(stepResource.stepExecution.executionContext.values | keyvalue)?.length > 0">
            <div
              *ngFor="let item of stepResource.stepExecution.executionContext.values | keyvalue"
              class="block card-block-keyvalue lg-key"
            >
              <div class="row">
                <div class="key">
                  <strong>{{ item.key }}</strong>
                </div>
                <div class="value">{{ item.value }}</div>
              </div>
            </div>
          </div>
          <div *ngIf="(stepResource.stepExecution.executionContext.values | keyvalue)?.length === 0">
            <ng-container i18n>No step execution context</ng-container>
          </div>
        </ng-template>
      </app-view-card>

      <app-view-card
        titleModal="Step Execution History"
        keyContext="step"
        name="{{ stepResource.stepExecution.id }}"
        id="stepHistoryExecution"
      >
        <ng-template>
          <table
            *ngIf="stepProgress?.stepExecutionHistory"
            class="table table-noborder table-compact"
            style="margin: 0"
          >
            <thead>
              <tr>
                <th class="left"><ng-container i18n>Name</ng-container></th>
                <th class="left"><ng-container i18n>Count</ng-container></th>
                <th class="left"><ng-container i18n>Min</ng-container></th>
                <th class="left"><ng-container i18n>Max</ng-container></th>
                <th class="left"><ng-container i18n>Mean</ng-container></th>
                <th class="left"><ng-container i18n>Standard Deviation</ng-container></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="left"><strong><ng-container i18n>Commit Count</ng-container></strong></td>
                <td class="left">{{ stepProgress.stepExecutionHistory.commitCount.count }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.commitCount.min }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.commitCount.max }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.commitCount.mean }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.commitCount.standardDeviation }}</td>
              </tr>
              <tr>
                <td class="left"><strong><ng-container i18n>Duration</ng-container></strong></td>
                <td class="left">{{ stepProgress.stepExecutionHistory.duration.count }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.duration.min }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.duration.max }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.duration.mean }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.duration.standardDeviation }}</td>
              </tr>
              <tr>
                <td class="left"><strong><ng-container i18n>Duration per Read</ng-container></strong></td>
                <td class="left">{{ stepProgress.stepExecutionHistory.durationPerRead.count }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.durationPerRead.min }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.durationPerRead.max }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.durationPerRead.mean }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.durationPerRead.standardDeviation }}</td>
              </tr>
              <tr>
                <td class="left"><strong><ng-container i18n>Filter Count</ng-container></strong></td>
                <td class="left">{{ stepProgress.stepExecutionHistory.filterCount.count }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.filterCount.min }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.filterCount.max }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.filterCount.mean }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.filterCount.standardDeviation }}</td>
              </tr>
              <tr>
                <td class="left"><strong><ng-container i18n>Process Skip Count</ng-container></strong></td>
                <td class="left">{{ stepProgress.stepExecutionHistory.processSkipCount.count }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.processSkipCount.min }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.processSkipCount.max }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.processSkipCount.mean }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.processSkipCount.standardDeviation }}</td>
              </tr>
              <tr>
                <td class="left"><strong><ng-container i18n>Read Count</ng-container></strong></td>
                <td class="left">{{ stepProgress.stepExecutionHistory.readCount.count }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.readCount.min }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.readCount.max }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.readCount.mean }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.readCount.standardDeviation }}</td>
              </tr>
              <tr>
                <td class="left"><strong><ng-container i18n>Read Skip Count</ng-container></strong></td>
                <td class="left">{{ stepProgress.stepExecutionHistory.readSkipCount.count }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.readSkipCount.min }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.readSkipCount.max }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.readSkipCount.mean }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.readSkipCount.standardDeviation }}</td>
              </tr>
              <tr>
                <td class="left"><strong><ng-container i18n>Rollback Count</ng-container></strong></td>
                <td class="left">{{ stepProgress.stepExecutionHistory.rollbackCount.count }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.rollbackCount.min }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.rollbackCount.max }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.rollbackCount.mean }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.rollbackCount.standardDeviation }}</td>
              </tr>
              <tr>
                <td class="left"><strong><ng-container i18n>Write Count</ng-container></strong></td>
                <td class="left">{{ stepProgress.stepExecutionHistory.writeCount.count }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.writeCount.min }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.writeCount.max }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.writeCount.mean }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.writeCount.standardDeviation }}</td>
              </tr>
              <tr>
                <td class="left"><strong><ng-container i18n>Write Skip Count</ng-container></strong></td>
                <td class="left">{{ stepProgress.stepExecutionHistory.writeSkipCount.count }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.writeSkipCount.min }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.writeSkipCount.max }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.writeSkipCount.mean }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.writeSkipCount.standardDeviation }}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </app-view-card>
    </div>
    <div class="clr-col-lg-6 clr-col-md-12 clr-col-12">
      <app-view-card titleModal="Task" keyContext="job" name="{{ execution.jobExecutionId }}" id="task">
        <ng-template>
          <div *ngIf="!loadingTask">
            <div class="block card-block-keyvalue" *ngIf="task">
              <div class="row">
                <div class="key"><ng-container i18n>Name</ng-container></div>
                <div class="value">{{ task.name }}</div>
              </div>
              <div *ngIf="task.description" class="row">
                <div class="key"><ng-container i18n>Description</ng-container></div>
                <div class="value">{{ task.description }}</div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Definition</ng-container></div>
                <div class="value">
                  <span class="dsl-text">{{ task.dslText }}</span>
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Status</ng-container></div>
                <div class="value">
                  <span class="{{ task.labelStatusClass() }}">{{ task.status }}</span>
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Applications</ng-container></div>
                <div class="value">
                  <div *ngIf="!loadingApplications">
                    <div *ngFor="let app of applications">
                      <strong>{{ app.name }}</strong
                      >&nbsp;
                      <span class="label label-app {{ app.type }}">{{ app.origin }}</span>
                    </div>
                  </div>
                  <div *ngIf="loadingApplications">
                    <clr-spinner clrInline clrSmall></clr-spinner>
                    <ng-container i18n>Loading application(s)...</ng-container>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!task"><ng-container i18n>No task found.</ng-container></div>
          </div>
          <div *ngIf="loadingTask">
            <clr-spinner clrInline clrSmall></clr-spinner>
            <ng-container i18n>Loading task...</ng-container>
          </div>
        </ng-template>
        <div class="card-footer" *ngIf="task">
          <button class="btn btn-sm btn-secondary"
                  (click)="navigateTask()"
                  i18n>
            View task
          </button>
          <button type="button"
                  class="btn btn-sm btn-secondary"
                  (click)="relaunch()"
                  i18n>
            Relaunch Task
          </button>
        </div>
      </app-view-card>
      <app-view-card titleModal="Task execution" keyContext="job" name="{{ execution.jobExecutionId }}" id="execution">
        <ng-template>
          <div class="block card-block-keyvalue lg-key" *ngIf="!loadingExecution">
            <div *ngIf="taskExecution">
              <div class="row">
                <div class="key"><ng-container i18n>Execution Id</ng-container></div>
                <div class="value">{{ taskExecution.executionId }}</div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Arguments</ng-container></div>
                <div class="value">
                  <div *ngIf="taskExecution.getArgumentsToArray().length > 0">
                    <div *ngFor="let arg of taskExecution.getArgumentsToArray()">
                      {{ arg[0] }}:
                      <strong>{{ arg[1] }}</strong>
                    </div>
                  </div>
                  <div *ngIf="taskExecution.getArgumentsToArray().length === 0">N/A</div>
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>External Execution Id</ng-container></div>
                <div class="value">
                  <a
                    [routerLink]="'/tasks-jobs/job-executions/' + jobExecutionId"
                    *ngFor="let jobExecutionId of taskExecution.jobExecutionIds"
                  >
                    {{ jobExecutionId }}
                  </a>
                  <div *ngIf="taskExecution.jobExecutionIds?.length === 0">N/A</div>
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Batch Job</ng-container></div>
                <div class="value">
                  <clr-icon *ngIf="taskExecution.jobExecutionIds?.length > 0" shape="check"></clr-icon>
                  <clr-icon *ngIf="taskExecution.jobExecutionIds?.length === 0" shape="success-standard"></clr-icon>
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Job Execution Ids</ng-container></div>
                <div class="value">
                  {{ taskExecution.externalExecutionId || 'N/A' }}
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Start Time</ng-container></div>
                <div class="value">
                  {{ taskExecution.startTime | datetime }}
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>End Time</ng-container></div>
                <div class="value">
                  {{ taskExecution.endTime | datetime }}
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Duration</ng-container></div>
                <div class="value">
                  {{ taskExecution.startTime | duration: taskExecution.endTime }}
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Exit Code</ng-container></div>
                <div class="value">
                  {{ taskExecution.exitCode }}
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Exit Message</ng-container></div>
                <div class="value">
                  {{ taskExecution.exitMessage || 'N/A' }}
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Resource URL</ng-container></div>
                <div class="value">
                  {{ taskExecution.resourceUrl || 'N/A' }}
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Application Properties</ng-container></div>
                <div class="value">
                  <div *ngIf="taskExecution.getAppPropertiesToArray().length > 0">
                    <div *ngFor="let arg of taskExecution.getAppPropertiesToArray()">
                      {{ arg.key }}:
                      <strong>{{ arg.value }}</strong>
                    </div>
                  </div>
                  <div *ngIf="taskExecution.getAppPropertiesToArray().length === 0">N/A</div>
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Platform Properties</ng-container></div>
                <div class="value">
                  <div *ngIf="taskExecution.getDeploymentPropertiesToArray().length > 0">
                    <div *ngFor="let arg of taskExecution.getDeploymentPropertiesToArray()">
                      {{ arg[0] }}:
                      <strong>{{ arg[1] }}</strong>
                    </div>
                  </div>
                  <div *ngIf="taskExecution.getDeploymentPropertiesToArray().length === 0"><ng-container i18n>N/A</ng-container></div>
                </div>
              </div>
            </div>
            <div *ngIf="!taskExecution"><ng-container i18n>No execution yet.</ng-container></div>
          </div>
          <div *ngIf="loadingExecution">
            <clr-spinner clrInline clrSmall></clr-spinner>
            <ng-container i18n>Loading execution...</ng-container>
          </div>
        </ng-template>
        <div class="card-footer" *ngIf="execution">
          <button class="btn btn-sm btn-secondary"
                  (click)="navigateTaskExecution()"
                  i18n>
            View task execution
          </button>
          <button class="btn btn-sm btn-secondary"
                  (click)="viewLog()"
                  i18n>
            View log
          </button>
        </div>
      </app-view-card>
    </div>
  </div>
</div>

<div *ngIf="loading" style="padding: 1rem 0">
  <clr-spinner clrInline clrSmall></clr-spinner>
  <ng-container i18n>Loading job step execution...</ng-container>
</div>

<app-task-execution-log #logModal></app-task-execution-log>
