<h1>
  {{ 'jobs.step.title' | translate }}
  <span *ngIf="stepResource && execution">
    <strong>{{ stepResource.stepExecution.name }} ({{ stepResource.stepExecution.id }})</strong> -
    {{ 'jobs.execution.title' | translate }}
    <strong>{{ execution.name }} ({{ execution.jobExecutionId }})</strong>
  </span>
</h1>

<div *ngIf="!loading">
  <div class="datagrid-action-bar">
    <button type="button" class="btn btn-sm btn-secondary" (click)="refresh()">
      {{ 'commons.refresh' | translate }}
    </button>
  </div>

  <div class="clr-row">
    <div class="clr-col-lg-6 clr-col-md-12 clr-col-12">
      <app-view-card
        [titleModal]="'jobs.step.information' | translate"
        keyContext="step"
        name="{{ stepResource.stepExecution.id }}"
        id="info"
      >
        <ng-template>
          <div class="progress" *ngIf="stepProgress.percentageComplete < 1">
            <progress [value]="stepProgress.percentageComplete * 100" max="100"></progress>
          </div>

          <div *ngIf="!stepResource.stepExecution">{{ 'jobs.step.noStep' | translate }}</div>

          <div *ngIf="stepResource?.stepExecution" class="block card-block-keyvalue lg-key">
            <div class="row">
              <div class="key">
                <strong>{{ 'jobs.step.stepExecutionId' | translate }}</strong>
              </div>
              <div class="value">{{ stepResource.stepExecution.id }}</div>
            </div>
            <div class="row">
              <div class="key">
                <strong>{{ 'jobs.step.jobExecutionId' | translate }}</strong>
              </div>
              <div class="value">{{ stepResource.jobExecutionId }}</div>
            </div>
            <div class="row">
              <div class="key">
                <strong>{{ 'jobs.step.stepName' | translate }}</strong>
              </div>
              <div class="value">{{ stepResource.stepExecution.name }}</div>
            </div>
            <div class="row">
              <div class="key">
                <strong>{{ 'jobs.step.stepType' | translate }}</strong>
              </div>
              <div class="value">{{ stepResource.stepType }}</div>
            </div>
            <div class="row">
              <div class="key">
                <strong>{{ 'commons.status' | translate }}</strong>
              </div>
              <div class="value">
                <span class="{{ stepResource.stepExecution.labelStatusClass() }}">
                  {{ stepResource.stepExecution.status }}</span
                >
              </div>
            </div>
            <div class="row">
              <div class="key">
                <strong>{{ 'jobs.step.commits' | translate }}</strong>
              </div>
              <div class="value">{{ stepResource.stepExecution.commitCount }}</div>
            </div>
            <div class="row">
              <div class="key">
                <strong>{{ 'jobs.step.duration' | translate }}</strong>
              </div>
              <div class="value">
                {{ stepResource.stepExecution.startTime | duration: stepResource.stepExecution.endTime }}
              </div>
            </div>
            <div class="row">
              <div class="key">
                <strong>{{ 'jobs.step.filterCount' | translate }}</strong>
              </div>
              <div class="value">{{ stepResource.stepExecution.filterCount }}</div>
            </div>
            <div class="row">
              <div class="key">
                <strong>{{ 'jobs.step.processSkips' | translate }}</strong>
              </div>
              <div class="value">{{ stepResource.stepExecution.processSkipCount }}</div>
            </div>
            <div class="row">
              <div class="key">
                <strong>{{ 'jobs.step.reads' | translate }}</strong>
              </div>
              <div class="value">{{ stepResource.stepExecution.readCount }}</div>
            </div>
            <div class="row">
              <div class="key">
                <strong>{{ 'jobs.step.readSkips' | translate }}</strong>
              </div>
              <div class="value">{{ stepResource.stepExecution.readSkipCount }}</div>
            </div>
            <div class="row">
              <div class="key">
                <strong>{{ 'jobs.step.rollbacks' | translate }}</strong>
              </div>
              <div class="value">{{ stepResource.stepExecution.rollbackCount }}</div>
            </div>
            <div class="row">
              <div class="key">
                <strong>{{ 'jobs.step.skips' | translate }}</strong>
              </div>
              <div class="value">{{ stepResource.stepExecution.skipCount }}</div>
            </div>
            <div class="row">
              <div class="key">
                <strong>{{ 'jobs.step.writes' | translate }}</strong>
              </div>
              <div class="value">{{ stepResource.stepExecution.writeCount }}</div>
            </div>
            <div class="row">
              <div class="key">
                <strong>{{ 'jobs.step.writeSkips' | translate }}</strong>
              </div>
              <div class="value">{{ stepResource.stepExecution.writeSkipCount }}</div>
            </div>
          </div>
        </ng-template>
      </app-view-card>

      <app-view-card
        [titleModal]="'jobs.step.exitDescription' | translate"
        keyContext="step"
        name="{{ stepResource.stepExecution.id }}"
        id="exit"
      >
        <ng-template>
          <div class="clr-log">
            <pre style="margin: 0">{{ stepResource?.stepExecution?.exitMessage || 'N/A' }}</pre>
          </div>
        </ng-template>
      </app-view-card>

      <app-view-card
        [titleModal]="'jobs.step.stepExecutionContext' | translate"
        keyContext="step"
        name="{{ stepResource.stepExecution.id }}"
        id="stepExecutionCount"
      >
        <ng-template>
          <div *ngIf="(stepResource.stepExecution.executionContext.values | keyvalue)?.length > 0">
            <div
              *ngFor="let item of stepResource.stepExecution.executionContext.values | keyvalue"
              class="block card-block-keyvalue lg-key"
            >
              <div class="row">
                <div class="key">
                  <strong>{{ item.key }}</strong>
                </div>
                <div class="value">{{ item.value }}</div>
              </div>
            </div>
          </div>
          <div *ngIf="(stepResource.stepExecution.executionContext.values | keyvalue)?.length === 0">
            {{ 'jobs.step.noExecutionContext' | translate }}
          </div>
        </ng-template>
      </app-view-card>

      <app-view-card
        [titleModal]="'jobs.step.stepExecutionHistory' | translate"
        keyContext="step"
        name="{{ stepResource.stepExecution.id }}"
        id="stepHistoryExecution"
      >
        <ng-template>
          <table
            *ngIf="stepProgress?.stepExecutionHistory"
            class="table table-noborder table-compact"
            style="margin: 0"
          >
            <thead>
              <tr>
                <th class="left">{{ 'jobs.step.history.name' | translate }}</th>
                <th class="left">{{ 'jobs.step.history.count' | translate }}</th>
                <th class="left">{{ 'jobs.step.history.min' | translate }}</th>
                <th class="left">{{ 'jobs.step.history.max' | translate }}</th>
                <th class="left">{{ 'jobs.step.history.mean' | translate }}</th>
                <th class="left">{{ 'jobs.step.history.standardDeviation' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="left">
                  <strong>{{ 'jobs.step.history.commitCount' | translate }}</strong>
                </td>
                <td class="left">{{ stepProgress.stepExecutionHistory.commitCount.count }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.commitCount.min }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.commitCount.max }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.commitCount.mean }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.commitCount.standardDeviation }}</td>
              </tr>
              <tr>
                <td class="left">
                  <strong>{{ 'jobs.step.history.duration' | translate }}</strong>
                </td>
                <td class="left">{{ stepProgress.stepExecutionHistory.duration.count }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.duration.min }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.duration.max }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.duration.mean }}</td>
                <td class="left">{{ stepProgress.stepExecutionHistory.duration.standardDeviation }}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </app-view-card>
    </div>
    <div class="clr-col-lg-6 clr-col-md-12 clr-col-12">
      <app-view-card
        [titleModal]="'jobs.step.task' | translate"
        keyContext="job"
        name="{{ execution.jobExecutionId }}"
        id="task"
      >
        <ng-template>
          <div *ngIf="!loadingTask">
            <div class="block card-block-keyvalue" *ngIf="task">
              <div class="row">
                <div class="key">{{ 'commons.name' | translate }}</div>
                <div class="value">{{ task.name }}</div>
              </div>
              <div *ngIf="task.description" class="row">
                <div class="key">{{ 'commons.description' | translate }}</div>
                <div class="value">{{ task.description }}</div>
              </div>
              <div class="row">
                <div class="key">{{ 'commons.definition' | translate }}</div>
                <div class="value">
                  <span class="dsl-text">{{ task.dslText }}</span>
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'commons.status' | translate }}</div>
                <div class="value">
                  <span class="{{ task.labelStatusClass() }}">{{ task.status }}</span>
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'commons.applications' | translate }}</div>
                <div class="value">
                  <div *ngIf="!loadingApplications">
                    <div *ngFor="let app of applications">
                      <strong>{{ app.name }}</strong
                      >&nbsp;
                      <span class="label label-app {{ app.type }}">{{ app.origin }}</span>
                    </div>
                  </div>
                  <div *ngIf="loadingApplications">
                    <clr-spinner clrInline clrSmall></clr-spinner>
                    {{ 'commons.loading' | translate }}
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!task">{{ 'jobs.execution.noTaskFound' | translate }}</div>
          </div>
          <div *ngIf="loadingTask">
            <clr-spinner clrInline clrSmall></clr-spinner>
            {{ 'commons.loading' | translate }}
          </div>
        </ng-template>
        <div class="card-footer" *ngIf="task">
          <button class="btn btn-sm btn-secondary" (click)="navigateTask()">
            {{ 'jobs.execution.viewTask' | translate }}
          </button>
          <button type="button" class="btn btn-sm btn-secondary" (click)="relaunch()">
            {{ 'jobs.execution.relaunchTask' | translate }}
          </button>
        </div>
      </app-view-card>
      <app-view-card
        [titleModal]="'jobs.step.taskExecution' | translate"
        keyContext="job"
        name="{{ execution.jobExecutionId }}"
        id="execution"
      >
        <ng-template>
          <div class="block card-block-keyvalue lg-key" *ngIf="!loadingExecution">
            <div *ngIf="taskExecution">
              <div class="row">
                <div class="key">{{ 'executions.main.executionId' | translate }}</div>
                <div class="value">{{ taskExecution.executionId }}</div>
              </div>
              <div class="row">
                <div class="key">{{ 'jobs.main.schemaTarget' | translate }}</div>
                <div class="value">{{ taskExecution?.schemaTarget }}</div>
              </div>
              <div class="row">
                <div class="key">{{ 'executions.main.arguments' | translate }}</div>
                <div class="value">
                  <div *ngIf="taskExecution.getArgumentsToArray().length > 0">
                    <div *ngFor="let arg of taskExecution.getArgumentsToArray()">
                      {{ arg[0] }}:
                      <strong>{{ arg[1] }}</strong>
                    </div>
                  </div>
                  <div *ngIf="taskExecution.getArgumentsToArray().length === 0">N/A</div>
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'executions.main.jobExecutionIds' | translate }}</div>
                <div class="value">
                  <a
                    routerLink="/tasks-jobs/job-executions/{{ jobExecutionId }}/schemaTarget/{{
                      taskExecution.schemaTarget
                    }}"
                    *ngFor="let jobExecutionId of taskExecution.jobExecutionIds"
                  >
                    {{ jobExecutionId }}
                  </a>
                  <div *ngIf="taskExecution.jobExecutionIds?.length === 0">N/A</div>
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'executions.main.batchJob' | translate }}</div>
                <div class="value">
                  <clr-icon *ngIf="taskExecution.jobExecutionIds?.length > 0" shape="check"></clr-icon>
                  <clr-icon *ngIf="taskExecution.jobExecutionIds?.length === 0" shape="success-standard"></clr-icon>
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'executions.main.externalExecutionId' | translate }}</div>
                <div class="value">
                  {{ taskExecution.externalExecutionId || 'N/A' }}
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'executions.main.startTime' | translate }}</div>
                <div class="value">
                  {{ taskExecution.startTime | datetime }}
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'executions.main.endTime' | translate }}</div>
                <div class="value">
                  {{ taskExecution.endTime | datetime }}
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'executions.main.startTime' | translate }}</div>
                <div class="value">
                  {{ taskExecution.startTime | duration: taskExecution.endTime }}
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'executions.main.exitCode' | translate }}</div>
                <div class="value">
                  {{ taskExecution.exitCode }}
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'executions.main.exitMessage' | translate }}</div>
                <div class="value">
                  {{ taskExecution.exitMessage || 'N/A' }}
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'executions.main.resourceUrl' | translate }}</div>
                <div class="value">
                  {{ taskExecution.resourceUrl || 'N/A' }}
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'executions.main.applicationProperties' | translate }}</div>
                <div class="value">
                  <div *ngIf="taskExecution.getAppPropertiesToArray().length > 0">
                    <div *ngFor="let arg of taskExecution.getAppPropertiesToArray()">
                      {{ arg.key }}:
                      <strong>{{ arg.value }}</strong>
                    </div>
                  </div>
                  <div *ngIf="taskExecution.getAppPropertiesToArray().length === 0">N/A</div>
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'executions.main.platformProperties' | translate }}</div>
                <div class="value">
                  <div *ngIf="taskExecution.getDeploymentPropertiesToArray().length > 0">
                    <div *ngFor="let arg of taskExecution.getDeploymentPropertiesToArray()">
                      {{ arg[0] }}:
                      <strong>{{ arg[1] }}</strong>
                    </div>
                  </div>
                  <div *ngIf="taskExecution.getDeploymentPropertiesToArray().length === 0">N/A</div>
                </div>
              </div>
            </div>
            <div *ngIf="!taskExecution">{{ 'executions.main.noExecution' | translate }}</div>
          </div>
          <div *ngIf="loadingExecution">
            <clr-spinner clrInline clrSmall></clr-spinner>
            {{ 'commons.loading' | translate }}
          </div>
        </ng-template>
        <div class="card-footer" *ngIf="execution">
          <button class="btn btn-sm btn-secondary" (click)="navigateTaskExecution()">
            {{ 'executions.execution.viewExecution' | translate }}
          </button>
          <button class="btn btn-sm btn-secondary" (click)="viewLog()">
            {{ 'executions.execution.viewLog' | translate }}
          </button>
        </div>
      </app-view-card>
    </div>
  </div>
</div>

<div *ngIf="loading" style="padding: 1rem 0">
  <clr-spinner clrInline clrSmall></clr-spinner>
  {{ 'commons.loading' | translate }}
</div>

<app-task-execution-log #logModal></app-task-execution-log>
