<div *ngIf="builder$ | async as builder; else loading">
  <clr-alert *ngIf="task.composed && hasMigrations()" [clrAlertType]="info" [clrAlertClosable]="false">
    <clr-alert-item>
      <span class="alert-text"><ng-container i18n> There are properties which can be migrated. </ng-container></span>
      <div class="alert-actions">
        <clr-dropdown>
          <button class="dropdown-toggle" clrDropdownTrigger>
            <ng-container i18n>Actions</ng-container>
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu clrPosition="bottom-right">
            <a (click)="migrate()" class="dropdown-item" clrDropdownItem><ng-container i18n> Migrate</ng-container></a>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </clr-alert-item>
  </clr-alert>

  <form class="form-horizontal" novalidate (ngSubmit)="launchTask()">
    <div>
      <div class="tab-pane">
        <app-task-deploy-builder-errors [errors]="builder.errors" (removeError)="removeError($event)">
        </app-task-deploy-builder-errors>
        <div class="builder" [formGroup]="builder.formGroup">
          <!-- col 1 line info -->
          <div class="col-fixed col-key">
            <!-- 0 Empty header -->
            <div class="line-head"></div>

            <!-- 1 Platform header -->
            <div class="line-toggle">
              <a class="toggle" (click)="state.platform = !state.platform">
                <clr-icon shape="angle" [class.active]="state.platform"></clr-icon>
                <ng-container i18n>Platform</ng-container>
              </a>
            </div>

            <!-- 2 Platform selector -->
            <div class="line-body" *ngIf="state.platform">
              <div class="status" *ngIf="builder.formGroup.get('platform').invalid">
                <clr-tooltip>
                  <clr-icon clrTooltipTrigger shape="clr-validate-icon" size="24"></clr-icon>
                  <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
                    <span><ng-container i18n>The define platform is not valid (unknown).</ng-container></span>
                  </clr-tooltip-content>
                </clr-tooltip>
              </div>
              <div class="form-control form-control-label"><ng-container i18n> Platform</ng-container></div>
            </div>

            <!-- 3 Generic Deployer Properties header -->
            <div class="line-toggle">
              <a class="toggle" (click)="state.deployer = !state.deployer">
                <clr-icon shape="angle" [class.active]="state.deployer"></clr-icon>
                <ng-container i18n> Generic Deployer Properties</ng-container>
              </a>
            </div>

            <!-- 4 Generic Deployer Properties options -->
            <div *ngIf="state.deployer">
              <div class="line-body" *ngFor="let deployer of builder.taskLaunchConfig.deployers; let i = index">
                <div class="status" *ngIf="builder.deployers.controls[i].invalid">
                  <clr-tooltip>
                    <clr-icon clrTooltipTrigger shape="clr-validate-icon" size="24"></clr-icon>
                    <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
                      <div
                        [innerHtml]="tooltip(builder.taskLaunchConfig, builder.formGroup.get('deployers').controls[i])"
                      ></div>
                    </clr-tooltip-content>
                  </clr-tooltip>
                </div>

                <div class="form-control form-control-label">
                  {{ deployer.name }}
                </div>
              </div>
            </div>

            <!-- 5 Deployment Platform -->
            <div class="line-toggle">
              <div class="help"></div>

              <a class="toggle" (click)="state.specificPlatform = !state.specificPlatform">
                <clr-icon shape="angle" [class.active]="state.specificPlatform"></clr-icon>
                <ng-container i18n>Deployment Platform</ng-container>
              </a>
            </div>

            <!-- 6 Deployment Platform options -->
            <div *ngIf="state.specificPlatform">
              <div *ngIf="builder.builderDeploymentProperties.global.length > 0" class="line-body">
                <div class="form-control form-control-label"><ng-container i18n> Properties</ng-container></div>
              </div>
            </div>
            <div *ngIf="state.specificPlatform" formArrayName="specificPlatform">
              <div
                class="line-body"
                *ngFor="let f of builder.specificPlatformControls.controls; let i = index"
                [formGroupName]="i"
                [class.has-error]="builder.specificPlatformControls.controls[i].get('property').invalid"
              >
                <div class="status" *ngIf="builder.specificPlatformControls.controls[i].invalid">
                  <clr-tooltip>
                    <clr-icon clrTooltipTrigger shape="clr-validate-icon" size="24"></clr-icon>
                    <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
                      <div
                        [innerHtml]="tooltip(builder.taskLaunchConfig, builder.specificPlatformControls.controls[i])"
                      ></div>
                    </clr-tooltip-content>
                  </clr-tooltip>
                </div>

                <input
                  tabindex="{{ 210 + i * 10 }}"
                  placeholder="Enter a value"
                  class="clr-input"
                  formControlName="property"
                  type="text"
                />
              </div>
            </div>

            <!-- 7 Applications Properties -->
            <div class="line-toggle">
              <a class="toggle" (click)="state.app = !state.app">
                <clr-icon shape="angle" [class.active]="state.app"></clr-icon>
                <ng-container i18n>Applications Properties</ng-container>
              </a>
            </div>

            <!-- 8 Applications Properties options -->
            <div *ngIf="state.app">
              <div class="line-body">
                <div class="status" *ngIf="builder.formGroup.get('appsVersion').invalid">
                  <clr-tooltip>
                    <clr-icon clrTooltipTrigger shape="clr-validate-icon" size="24"></clr-icon>
                    <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
                      <div [innerHtml]="tooltip(builder.taskLaunchConfig, builder.formGroup.get('appsVersion'))"></div>
                    </clr-tooltip-content>
                  </clr-tooltip>
                </div>

                <div class="form-control form-control-label"><ng-container i18n>Version</ng-container></div>
              </div>
              <div class="line-body">
                <div class="form-control form-control-label"><ng-container i18n>Properties</ng-container></div>
              </div>
              <div formArrayName="global">
                <div
                  class="line-body"
                  *ngFor="let f of builder.globalControls.controls; let i = index"
                  [formGroupName]="i"
                  [class.has-error]="builder.globalControls.controls[i].get('property').invalid"
                >
                  <div class="status" *ngIf="builder.globalControls.controls[i].invalid">
                    <clr-tooltip>
                      <clr-icon clrTooltipTrigger shape="clr-validate-icon" size="24"></clr-icon>
                      <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
                        <div [innerHtml]="tooltip(builder.taskLaunchConfig, builder.globalControls.controls[i])"></div>
                      </clr-tooltip-content>
                    </clr-tooltip>
                  </div>

                  <input
                    tabindex="{{ 302 + i }}"
                    placeholder="Enter a value"
                    class="clr-input"
                    formControlName="property"
                    type="text"
                  />
                </div>
              </div>
            </div>

            <!-- 9 Ctr Properties -->
            <div class="line-toggle" *ngIf="task.composed && builder.ctrProperties.length > 0">
              <a class="toggle" (click)="state.ctr = !state.ctr">
                <clr-icon shape="angle" [class.active]="state.ctr"></clr-icon>
                <ng-container i18n>Ctr Properties</ng-container>
              </a>
            </div>

            <!-- 10 Ctr Properties options -->
            <div class="line-body" *ngIf="state.ctr && task.composed && builder.ctrProperties.length > 0">
              <div class="form-control form-control-label"><ng-container i18n>Properties</ng-container></div>
            </div>

            <!-- 11 Ctr Arguments -->
            <div class="line-toggle">
              <a class="toggle" (click)="state.arguments = !state.arguments">
                <clr-icon shape="angle" [class.active]="state.arguments"></clr-icon>
                <ng-container i18n>Arguments</ng-container>
              </a>
            </div>

            <!-- 12 Arguments options -->
            <div *ngIf="state.arguments">
              <div class="line-body"></div>
            </div>
          </div>

          <!-- col 2 global -->
          <div class="col-fixed global" *ngIf="task.composed">
            <!-- 0 Global header -->
            <div class="line-head"><ng-container i18n>Global</ng-container></div>

            <!-- 1 Platform header -->
            <div class="line-toggle"></div>

            <!-- 2 Platform selector -->
            <div
              class="line-body"
              *ngIf="state.platform"
              [class.has-error]="
                isErrorPlatform(builder.taskLaunchConfig.platform.values, builder.formGroup.get('platform').value)
              "
            >
              <div class="clr-select-wrapper">
                <select tabindex="1" formControlName="platform" class="clr-select">
                  <option value=""><ng-container i18n>Select a value</ng-container></option>
                  <option *ngFor="let platform of builder.taskLaunchConfig.platform.values" [value]="platform.key">
                    {{ platform.name }}
                    ({{ platform.type }})
                  </option>
                  <option
                    *ngIf="
                      isInvalidPlatform(
                        builder.taskLaunchConfig.platform.values,
                        builder.formGroup.get('platform').value
                      )
                    "
                    [value]="builder.formGroup.get('platform').value"
                  >
                    {{ builder.formGroup.get('platform').value }} <ng-container i18n>(invalid)</ng-container>
                  </option>
                </select>
              </div>
            </div>

            <!-- 3 Generic Deployer Properties header -->
            <div class="line-toggle"></div>

            <!-- 4 Generic Deployer Properties options -->
            <div formArrayName="deployers" *ngIf="state.deployer">
              <div
                [formGroupName]="i"
                class="line-body"
                *ngFor="let deployer of builder.taskLaunchConfig.deployers; let i = index"
                [class.has-error]="builder.deployers.controls[i].get('global').invalid"
              >
                <input
                  tabindex="{{ 2 + i }}"
                  placeholder="Enter a number"
                  formControlName="global"
                  class="clr-input"
                  [class.form-control-number]="deployer.suffix"
                  type="text"
                />
                <span class="placeholder-unit">{{ deployer.suffix }}</span>
              </div>
            </div>

            <!-- 5 Deployment Platform -->
            <div class="line-toggle"></div>

            <div
              class="line-body"
              *ngIf="state.specificPlatform && builder.builderDeploymentProperties.global.length > 0"
            >
              <div class="form-control form-control-label">
                <strong>{{ getDeploymentProperties(builder.builderDeploymentProperties).length }}</strong>
                <span> /</span> {{ builder.builderDeploymentProperties.global.length }} <ng-container i18n>properties</ng-container>
                <button
                  tabindex="{{ 201 }}"
                  type="button"
                  (click)="openDeploymentProperties(builder)"
                  class="btn btn-sm btn-secondary"
                 i18n>
                  Edit
                </button>
              </div>
            </div>

            <!-- 6 Deployment Platform options -->
            <div *ngIf="state.specificPlatform" formArrayName="specificPlatform">
              <div
                class="line-body"
                *ngFor="let f of builder.specificPlatformControls.controls; let i = index"
                [formGroupName]="i"
                [class.has-error]="builder.specificPlatformControls.controls[i].get('global').invalid"
              >
                <input
                  tabindex="{{ 211 + i * 10 }}"
                  placeholder="Enter a value"
                  class="clr-input"
                  formControlName="global"
                  type="text"
                />
              </div>
            </div>

            <!-- 7 Applications Properties -->
            <div class="line-toggle"></div>

            <!-- 8 Applications Properties options -->
            <div *ngIf="state.app">
              <div class="line-body"></div>
              <div class="line-body"></div>
              <div formArrayName="global">
                <div
                  class="line-body"
                  *ngFor="let f of builder.globalControls.controls; let i = index"
                  [formGroupName]="i"
                  [class.has-error]="builder.globalControls.controls[i].get('global').invalid"
                >
                  <input
                    tabindex="{{ 302 + i }}"
                    placeholder="Enter a value"
                    class="clr-input"
                    formControlName="global"
                    type="text"
                  />
                </div>
              </div>
            </div>

            <!-- 9 Ctr Properties -->
            <div class="line-toggle" *ngIf="task.composed && builder.ctrProperties.length > 0"></div>

            <!-- 10 Ctr Properties options -->
            <div class="line-body" *ngIf="state.ctr && task.composed && builder.ctrProperties.length > 0">
              <div
                class="form-control form-control-label"
                *ngIf="!builder.ctrPropertiesState.isLoading && !builder.ctrPropertiesState.isOnError"
              >
                <strong>{{ getCtrProperties(builder.ctrProperties).length }}</strong>
                <span> /</span> {{ builder.ctrProperties.length }} <ng-container i18n>properties</ng-container>
                <button
                  tabindex="{{ 401 }}"
                  type="button"
                  (click)="openCtrProperties(builder)"
                  class="btn btn-sm btn-secondary"
                >
                  Edit
                </button>
              </div>
              <div *ngIf="builder.ctrPropertiesState.isLoading" class="form-control form-control-label">
                <ng-container i18n>Loading ...</ng-container>
              </div>
              <div *ngIf="builder.ctrPropertiesState.isOnError" class="form-control form-control-label">
                <ng-container i18n>Error Loading</ng-container>
              </div>
            </div>

            <!-- 11 Ctr Arguments -->
            <div class="line-toggle"></div>

            <!-- 12 Arguments options -->
            <div *ngIf="state.arguments" formArrayName="argumentsControls">
              <div
                class="line-body"
                *ngFor="let f of builder.argumentsControls.controls; let i = index"
                [formGroupName]="i"
                [class.has-error]="builder.argumentsControls.controls[i].get('global').invalid"
              >
                <input
                  tabindex="{{ 500 + i * 10 }}"
                  placeholder="Enter a value"
                  class="clr-input"
                  formControlName="global"
                  type="text"
                />
              </div>
            </div>
          </div>

          <!-- col 3+-->
          <div class="scroll">
            <div class="col" *ngFor="let app of builder.taskLaunchConfig.apps; let colindex = index">
              <!-- 0 Apps header -->
              <div class="line-head">
                <strong>{{ app.name }}</strong>
                <br />
                <span class="label label-app {{ app.type }}">{{ app.origin }}</span>
              </div>

              <!-- 1 Platform header -->
              <div class="line-toggle"></div>

              <!-- 2 Platform selector-->
              <div class="line-body" *ngIf="state.platform && task.composed"></div>
              <div
                class="line-body"
                *ngIf="state.platform && !task.composed"
                [class.has-error]="
                  isErrorPlatform(builder.taskLaunchConfig.platform.values, builder.formGroup.get('platform').value)
                "
              >
                <clr-select-container style="margin-top: 0">
                  <select tabindex="1" formControlName="platform" clrSelect>
                    <option value=""><ng-container i18n>Select a value</ng-container></option>
                    <option *ngFor="let platform of builder.taskLaunchConfig.platform.values" [value]="platform.key">
                      {{ platform.name }}
                      ({{ platform.type }})
                    </option>
                    <option
                      *ngIf="
                        isInvalidPlatform(
                          builder.taskLaunchConfig.platform.values,
                          builder.formGroup.get('platform').value
                        )
                      "
                      [value]="builder.formGroup.get('platform').value"
                    >
                      {{ builder.formGroup.get('platform').value }} <ng-container i18n>(invalid)</ng-container>
                    </option>
                  </select>
                </clr-select-container>
              </div>

              <!-- 3 Generic Deployer Properties header -->
              <div class="line-toggle"></div>

              <!-- 4 Generic Deployer Properties options -->
              <div formArrayName="deployers" *ngIf="state.deployer">
                <div
                  [formGroupName]="i"
                  class="line-body"
                  *ngFor="let deployer of builder.taskLaunchConfig.deployers; let i = index"
                  [class.has-error]="builder.deployers.controls[i].get(app.name).invalid"
                >
                  <input
                    tabindex="{{ 2 + i }}"
                    placeholder="Enter a number"
                    [formControlName]="app.name"
                    class="clr-input"
                    [class.form-control-number]="deployer.suffix"
                    type="text"
                  />
                  <span class="placeholder-unit">{{ deployer.suffix }}</span>
                </div>
              </div>

              <!-- 5 Deployment Platform -->
              <div class="line-toggle"></div>

              <!-- 6 Deployment Platform options -->
              <!-- track visibility from global as those are same as per apps -->
              <div
                class="line-body"
                *ngIf="state.specificPlatform && builder.builderDeploymentProperties.global.length > 0"
              >
                <div class="form-control form-control-label">
                  <strong>{{ getDeploymentProperties(builder.builderDeploymentProperties, app.name).length }}</strong>
                  <span> /</span> {{ builder.builderDeploymentProperties.apps[app.name].length }} <ng-container i18n>properties</ng-container>
                  <button
                    tabindex="{{ 201 }}"
                    type="button"
                    (click)="openDeploymentProperties(builder, app.name)"
                    class="btn btn-sm btn-secondary"
                    i18n>
                    Edit
                  </button>
                </div>
              </div>

              <div *ngIf="state.specificPlatform" formArrayName="specificPlatform">
                <div
                  class="line-body"
                  *ngFor="let f of builder.specificPlatformControls.controls; let i = index"
                  [formGroupName]="i"
                  [class.has-error]="builder.specificPlatformControls.controls[i].get(app.name).invalid"
                >
                  <input
                    tabindex="{{ 212 + i * 10 + colindex }}"
                    placeholder="Enter a value"
                    class="clr-input"
                    [formControlName]="app.name"
                    type="text"
                  />
                </div>
              </div>

              <!-- 7 Applications Properties -->
              <div class="line-toggle"></div>

              <!-- 8 Applications Properties options -->
              <div *ngIf="state.app">
                <div class="line-body" [class.has-error]="app.optionsState.isInvalid">
                  <div formGroupName="appsVersion">
                    <div class="cell">
                      <clr-select-container style="margin-top: 0">
                        <select tabindex="{{ 300 }}" [formControlName]="app.name" clrSelect>
                          <option value="">{{ getLabelAppVersion(builder.taskLaunchConfig, app) }}</option>
                          <option *ngFor="let version of app.versions" [value]="version.version">
                            {{ version.version }}
                          </option>
                          <option
                            *ngIf="app.optionsState.isInvalid"
                            [value]="builder.formGroup.get('appsVersion').get(app.name).value"
                          >
                            {{ builder.formGroup.get('appsVersion').get(app.name).value }} <ng-container i18n>(invalid)</ng-container>
                          </option>
                        </select>
                      </clr-select-container>
                    </div>
                  </div>
                </div>
                <div class="line-body" [class.has-error]="app.optionsState.isInvalid">
                  <div
                    *ngIf="
                      app.options &&
                      !app.optionsState.isLoading &&
                      !app.optionsState.isOnError &&
                      !app.optionsState.isInvalid
                    "
                    class="form-control form-control-label"
                  >
                    <div *ngIf="app.options.length > 0">
                      <strong>{{ getAppProperties(builder.builderAppsProperties, app.name).length }}</strong>
                      <span> /</span> {{ app.options.length }} <ng-container i18n>properties</ng-container>
                      <button
                        tabindex="{{ 301 }}"
                        type="button"
                        (click)="openApp(builder, app)"
                        class="btn btn-sm btn-secondary"
                        i18n>
                        Edit
                      </button>
                    </div>
                    <div *ngIf="app.options.length === 0">
                      <strong><ng-container i18n>No properties</ng-container></strong>
                    </div>
                  </div>
                  <div *ngIf="app.optionsState.isLoading" class="form-control form-control-label"><ng-container i18n>Loading ...</ng-container></div>
                  <div *ngIf="app.optionsState.isOnError" class="form-control form-control-label"><ng-container i18n>Error loading</ng-container></div>
                  <div *ngIf="app.optionsState.isInvalid" class="form-control form-control-label"><ng-container i18n>Invalid version</ng-container></div>
                </div>
                <div formArrayName="global">
                  <div
                    class="line-body"
                    *ngFor="let f of builder.globalControls.controls; let i = index"
                    [formGroupName]="i"
                    [class.has-error]="builder.globalControls.controls[i].get(app.name).invalid"
                  >
                    <input
                      tabindex="{{ 302 + i }}"
                      placeholder="Enter a value"
                      class="clr-input"
                      [formControlName]="app.name"
                      type="text"
                    />
                  </div>
                </div>
              </div>

              <!-- 9 Ctr Properties -->
              <div class="line-toggle" *ngIf="task.composed && builder.ctrProperties.length > 0"></div>

              <!-- 10 Ctr Properties options -->
              <div class="line-body" *ngIf="state.ctr && task.composed && builder.ctrProperties.length > 0"></div>

              <!-- 11 Ctr Arguments -->
              <div class="line-toggle"></div>

              <!-- 12 Arguments options -->
              <div *ngIf="state.arguments">
                <div formArrayName="argumentsControls">
                  <div
                    class="line-body"
                    *ngFor="let f of builder.argumentsControls.controls; let i = index"
                    [formGroupName]="i"
                    [class.has-error]="builder.argumentsControls.controls[i].get(app.name).invalid"
                  >
                    <input
                      tabindex="{{ 501 + i * 10 + colindex }}"
                      placeholder="Enter a value"
                      class="clr-input"
                      [formControlName]="app.name"
                      type="text"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <a tabindex="600" id="btn-cancel" class="btn btn-default" routerLink="/tasks-jobs/tasks"><ng-container i18n>Cancel</ng-container></a>
          <button tabindex="600" id="btn-deploy-builder" type="submit" class="btn btn-primary">
            <span><ng-container i18n>Launch task</ng-container></span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<app-properties-dialog-content #appPropertiesModal></app-properties-dialog-content>
<app-properties-groups-dialog-content #groupsPropertiesModal></app-properties-groups-dialog-content>
<app-task-properties-dialog-content #ctrPropertiesModal></app-task-properties-dialog-content>

<ng-template #loading>
  <!--  <app-loader></app-loader>-->
</ng-template>
