@import '../../../../scss/pui-variables';

.properties-group-container .property-row {
  display: block;
}

.df-property-row {
  width: 100%;
  display:inline-table;
}

.df-property-label-cell {
  width: 30%;
}

.df-property-container {
  width: 100%
}

.df-property-control {
  width: 100%;
}

.modal-body.app-properties {
  max-height: 80vh;
  overflow-y: auto;
  padding: 10px;
}

label.df-property-control {
  margin-bottom: 0px;
}

.invalid-property-value .df-form-label {
  color: $error-3;
}

.invalid-property-value .df-property-control {
  outline-color: $error-3;
  border-color: $error-3;
  color: $error-3
}

.validation-error-block {
  color: $error-3;
}

.properties {

  .line-toggle {
    background: #F5F6F7;
    height: 42px;
    line-height: 42px;
    margin-top: 4px;
    margin-bottom: 4px;
    position: relative;

    .toggle {
      display: block;
      cursor: pointer;
      position: relative;
      padding-left: 40px;
      margin-right: 30px;
      color: #000;
      .fa-chevron-right, .fa-chevron-down {
        position: absolute;
        top: 12px;
        left: 15px;
      }
      .fa-chevron-right {
        top: 14px;
        left: 17px;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}
