<form clrForm (submit)="submit()">
  <p>{{ 'applications.add.websiteStarters.usePredefined' | translate }}.</p>
  <clr-radio-container>
    <clr-radio-wrapper>
      <input [(ngModel)]="value" type="radio" clrRadio value="stream.kafka.maven" name="type" />
      <label>{{ 'applications.add.websiteStarters.startersForKafkaMaven' | translate }}</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input [(ngModel)]="value" type="radio" clrRadio value="stream.kafka.docker" name="type" />
      <label>{{ 'applications.add.websiteStarters.startersForKafkaDocker' | translate }}</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input [(ngModel)]="value" type="radio" clrRadio value="stream.rabbitmq.maven" name="type" />
      <label>{{ 'applications.add.websiteStarters.startersForRabbitMQMaven' | translate }}</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input [(ngModel)]="value" type="radio" clrRadio value="stream.rabbitmq.docker" name="type" />
      <label>{{ 'applications.add.websiteStarters.startersForRabbitMQDocker' | translate }}</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input [(ngModel)]="value" type="radio" clrRadio value="task.maven" name="type" />
      <label>{{ 'applications.add.websiteStarters.startersForMaven' | translate }}</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input [(ngModel)]="value" type="radio" clrRadio value="task.docker" name="type" />
      <label>{{ 'applications.add.websiteStarters.startersForDocker' | translate }}</label>
    </clr-radio-wrapper>
  </clr-radio-container>
  <clr-checkbox-container>
    <clr-checkbox-wrapper>
      <input [(ngModel)]="force" type="checkbox" clrCheckbox value="false" name="force" />
      <label>{{ 'applications.add.websiteStarters.forceImport' | translate }}.</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
  <div class="clr-accordion-footer">
    <button class="btn btn-secondary" type="button" (click)="back()">{{ 'commons.cancel' | translate }}</button>
    <button class="btn btn-primary" type="submit">
      {{ 'applications.add.websiteStarters.importApplications' | translate }}
    </button>
  </div>
</form>

<clr-modal [(clrModalOpen)]="isImporting" *ngIf="isImporting" clrModalClosable="false" clrModalSize="md">
  <h3 class="modal-title">{{ 'applications.add.websiteStarters.importApplications' | translate }}</h3>
  <div class="modal-body">
    <div>
      <clr-spinner clrInline clrSmall></clr-spinner>&nbsp;
      {{ 'applications.add.websiteStarters.importingApplications' | translate }}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" [disabled]="true">{{ 'commons.cancel' | translate }}</button>
    </div>
  </div>
</clr-modal>
