<div *ngIf="application" id="app-versions">

  <div *ngIf="versions$ | async as versions; else loading">

    <div class="modal-header">
      <h4 class="modal-title pull-left">
        Manage versions of the application
        <strong>{{ application.name }}
          <app-type [application]="application"></app-type>
        </strong>
      </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body" *ngIf="!isRunning">

      <p>
        This section lists all the <strong>versions available for an application</strong>.
        You can <strong>unregister</strong> an app or <strong>switch the default version</strong> of the application.
      </p>

      <div style="text-align: center" *ngIf="isVersionOnError(versions)">
        <div class="alert alert-danger" style="display: inline-block">
          <strong>Application unavailable.</strong><br>
          You have to set a default version for this application.
        </div>
      </div>

      <table id="table-versions" class="table table-checkbox" *ngIf="application.versions">
        <thead>
        <tr>
          <th width="10px">&nbsp;</th>
          <th>
            <app-sort id="sort-version" [indeterminate]="false" (change)="applySort($event)" [value]="'version'"
                      [sort]="sort">
              Version
            </app-sort>
          <th>
            <app-sort id="sort-uri" [indeterminate]="false" (change)="applySort($event)" [value]="'uri'" [sort]="sort">
              Uri
            </app-sort>
          </th>
          <th [dataflowAppRoles]="['ROLE_DESTROY', 'ROLE_MODIFY']">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let version of versions | orderby:sort.sort:sort.order" [class.activeVersion]="version.defaultVersion">
          <td>
            <strong *ngIf="version.defaultVersion">
            <span placement="bottom" tooltip="Default version"
                  class="ico-current-version glyphicon glyphicon-star"></span>
            </strong>
          </td>
          <td nowrap="">
            <app-version-label [version]="version"></app-version-label>
          </td>
          <td>
            <code>{{ version?.uri }}</code>
          </td>
          <td class="table-actions" width="10px" nowrap="" [dataflowAppRoles]="['ROLE_DESTROY', 'ROLE_MODIFY']">
            <div class="actions-btn" role="group">
              <button type="button" (click)="makeDefaultVersion(versions, version)"
                      [dataflowAppRoles]="['ROLE_MODIFY']"
                      [disabled]="version.defaultVersion"
                      class="btn btn-default" title="Make default version">
                <span style="margin-top: 2px" class="fa fa-star"></span>
              </button>
              <button type="button" (click)="unregisterVersion(version)"
                      [dataflowAppRoles]="['ROLE_DESTROY']"
                      class="btn btn-default" title="Unregister">
                <span style="margin-top: 2px" class="fa fa-trash"></span>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div style="padding: 2rem;" *ngIf="isRunning">
      <app-loader></app-loader>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
    </div>
  </div>

  <ng-template #loading>
    <div style="padding: 2rem;">
      <app-loader></app-loader>
    </div>
  </ng-template>

</div>
