<clr-modal [(clrModalOpen)]="isOpen" [clrModalClosable]="!isRunning">
  <h3 class="modal-title">{{ 'tools.modal.cleanUp.title' | translate }}</h3>
  <div class="modal-body" *ngIf="!isRunning && !loading && form">
    {{ 'tools.modal.cleanUp.content' | translate }}
    <form
      role="form"
      (ngSubmit)="submit()"
      clrForm
      [formGroup]="form"
      clrLayout="horizontal"
      clrLabelSize="4"
      style="padding: 0; margin: 0"
    >
      <clr-checkbox-container>
        <clr-checkbox-wrapper>
          <input formControlName="onlyComplete" type="checkbox" clrCheckbox name="onlyComplete" />
          <label>{{ 'tools.modal.cleanUp.onlyComplete' | translate }}</label>
        </clr-checkbox-wrapper>
      </clr-checkbox-container>

      <div *ngIf="form.get('onlyComplete').value">
        <clr-checkbox-container>
          <clr-checkbox-wrapper>
            <input formControlName="activeDays" type="checkbox" clrCheckbox name="activeDays" />
            <label>{{ 'tools.modal.cleanUp.olderExecution' | translate }}</label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>

        <clr-input-container *ngIf="form.get('activeDays').value">
          <label class="clr-col-1">{{ 'tools.modal.cleanUp.days' | translate }}:</label>
          <input
            clrInput
            name="days"
            formControlName="days"
            class="clr-col-3"
            style="width: 100%"
            [dataflowFocus]="true"
            pattern="[0-9]*"
            placeholder="{{ 'tools.cleanUpDays' | translate }}"
          />
          <clr-control-error>{{ 'tools.modal.cleanUp.daysInvalid' | translate }}</clr-control-error>
        </clr-input-container>
      </div>
    </form>

  </div>
  <div class="modal-body" *ngIf="isRunning">
    <clr-spinner clrInline clrSmall></clr-spinner>
    {{ 'tools.modal.cleanUp.removingAll' | translate }}
  </div>
  <div class="modal-body" *ngIf="loading">
    <clr-spinner clrInline clrSmall></clr-spinner>
    {{ 'commons.loading' | translate }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="isOpen = false" [disabled]="isRunning">
      {{ 'commons.cancel' | translate }}
    </button>
    <button id="btn-stop" type="button" class="btn btn-danger" (click)="clean()" [disabled]="isRunning">
      <span>{{ 'tools.modal.cleanUp.cleanUp' | translate }}</span>
    </button>
  </div>
</clr-modal>
