<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 table-filter">
            <div class="col-md-4 col-md-offset-8">
                <input type="text" class="form-control" ng-model="filterQuery" id="filterTable"
                       placeholder="Quick filter">
            </div>
        </div>
    </div>
</div>
<table class="cluster-view table">
    <thead>
    <tr>
        <th>Module Id</th>
        <th>State</th>
        <th># of Instances</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="item in pageable.items | itemsPerPage: pageable.pageSize | filter:filterQuery" total-items="pageable.total" ng-show="!item.inactive">
        <td id="container-id">
            <a xd-popover=".containerDetails{{$index}}" rel="popover" data-original-title="Container Attributes">{{item.moduleDeploymentId}}</a>
            <div class="containerDetails{{$index}} hide">
            <table class="deployed-modules">
                <tr ng-repeat="moduleInstance in item.instances._embedded.moduleInstanceStatusResourceList | orderBy:'instanceId'">
                    <td class="input-group-addon">
                        {{moduleInstance.instanceId}}
                    </td>
                    <td class="input-group-addon">
                        {{moduleInstance.state}}
                    </td>
                    <td class="input-group-addon">
                       <table>
                           <tr ng-repeat="(key, value) in moduleInstance.attributes">
                               <td>{{key}}</td><td>{{value}}</td></tr>
                       </table>
                    </td>
                </tr>
            </table>
            </div>
        </td>
        <td>
            {{item.state}}
        </td>
        <td>
            {{item.instances._embedded.moduleInstanceStatusResourceList.length}}
        </td>
    </tr>
    </tbody>
</table>
<dir-pagination-controls template-url="scripts/directives/dirPagination.tpl.html"
                         on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
<div class="modal fade" xd-modal id="confirm-shutdown" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirm Shutdown Action</h4>
            </div>
            <div class="modal-body">
                <p>This action will shutdown the container <b>{{destroyItem}}</b>. Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="shutdownContainer(destroyItem)">Confirm Shutdown
                </button>
            </div>
        </div>
    </div>
</div>
