<clr-signpost>
  <a class="nav-link nav-icon" aria-label="settings" clrSignpostTrigger>
    <clr-icon shape="info-standard"></clr-icon>
  </a>
  <clr-signpost-content #signpost class="signpost-about" clrPosition="bottom-left" *clrIfOpen>
    <h3 style="margin-top: 0">{{ 'appRoot.fullName' | translate }}</h3>
    <p>
      {{ 'about.signpost.title' | translate }}<br />
      <strong>{{ 'about.signpost.name' | translate }}</strong
      >: {{ about.versions.implementation.name || 'n/a' }}<br />
      <strong>{{ 'about.signpost.version' | translate }}</strong
      >: {{ about.versions.implementation.version || 'n/a' }}<br />
      <button class="btn btn-sm btn-primary" (click)="more()">{{ 'about.signpost.moreInfo' | translate }}</button>
    </p>
    <ul>
      <ul>
        <li>
          <a target="_blank" href="https://cloud.spring.io/spring-cloud-dataflow/">{{
            'about.signpost.projectPage' | translate
          }}</a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/spring-cloud/spring-cloud-dataflow">{{
            'about.signpost.sourceCode' | translate
          }}</a>
        </li>
        <li>
          <a
            target="_blank"
            href="https://docs.spring.io/spring-cloud-dataflow/docs/{{
              about.versions.core.version
            }}/reference/htmlsingle/"
          >
            {{ 'about.signpost.documentation' | translate }}
          </a>
        </li>
        <li>
          <a
            target="_blank"
            href="https://docs.spring.io/spring-cloud-dataflow/docs/{{
              about.versions.core.version
            }}/reference/htmlsingle/#api-guide-resources"
          >
            {{ 'about.signpost.apiDocs' | translate }}
          </a>
        </li>
        <li>
          <a target="_blank" href="https://stackoverflow.com/questions/tagged/spring-cloud-dataflow">{{
            'about.signpost.supportForum' | translate
          }}</a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/spring-cloud/spring-cloud-dataflow/issues">{{
            'about.signpost.issueTracker' | translate
          }}</a>
        </li>
      </ul>
    </ul>
  </clr-signpost-content>
</clr-signpost>

<app-about-info #infoModal></app-about-info>
