ui/.bower_cache
ui/bower_components
ui/node
ui/node_modules
ui/app/lib/
ui/app/styles/main.css
ui/app/styles/main.css.map
ui/.tmp
ui/documentation/
ui/package-lock.json
ui/dist
ui/tmp
ui/out-tsc
ui/.c9/

ui/.sass-cache
ui/connect.lock
ui/coverage
ui/libpeerconnection.log
ui/npm-debug.log
ui/testem.log
ui/typings


src/main/resources/public/dashboard
target/
.classpath
.project
.settings/
.idea
*.iml
*.ipr
*.iws
npm-debug.log
.vscode
*.launch
*.sublime-workspace
.DS_Store
Thumbs.db

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
