ui/.bower_cache
ui/bower_components
ui/node
ui/node_modules
ui/app/lib/
ui/app/styles/main.css
ui/app/styles/main.css.map
ui/.tmp
ui/documentation/
ui/package-lock.json
src/main/resources/public/dashboard
target/
.classpath
.project
.settings/
.idea
*.iml
*.ipr
*.iws
npm-debug.log
.vscode
