sudo: required
services:
  - docker
cache:
  directories:
    - $HOME/.m2
dist: trusty
language: java
before_install:
  - nvm install 9.5.0
addons:
  chrome: stable
  hosts:
    - dataflow.local
jdk:
  - oraclejdk8
install: true
script:
  - '[ "${TRAVIS_PULL_REQUEST}" != "false" ] || ./mvnw package'
  - '[ "${TRAVIS_PULL_REQUEST}"  = "false" ] || ./mvnw package'
after_success:
  - bash <(curl -s https://codecov.io/bash)
deploy:
  local_dir: ui/documentation
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  on:
    branch: master
jobs:
  include:
    - stage: Maven
      script: ./run-maven-build.sh
    - stage: Unit Tests SauceLabs + BrowserStack
      script: ./run-npm-test-saucelabs.sh
    - script: ./run-npm-test-browserstack.sh
    - stage: E2E Local + SauceLabs + BrowserStack
      script: ./run-npm-e2e-saucelabs.sh
    - script: ./run-npm-e2e-browserstack.sh
