<div *ngIf="featureInfoLoaded">

  <app-navigation-search [force]="!isCollapsed" [dataflowAppRoles]="['ROLE_VIEW']"></app-navigation-search>
  <div class="sidebar-user" *ngIf="securityInfo.isAuthenticationEnabled" [dataflowAppRoles]="['ROLE_VIEW']">
    <div dropdown class="sidebar-item dropdown" *ngIf="securityInfo.isAuthenticated">
      <a class="dropdown-toggle" dropdownToggle>
        <i class="sidebar-fa fa fa-user"></i>
        <span class="text">{{ securityInfo.username | truncate: 20 }}</span>
        <span class="fa fa-chevron-right"></span>
      </a>
      <ul class="dropdown-menu" *dropdownMenu="">
        <li>
          <a routerLink="logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="sidebar-items" [dataflowAppRoles]="['ROLE_VIEW']">
    <div class="sidebar-item" routerLinkActive="active" [dataflowAppRoles]="['ROLE_VIEW']">
      <a routerLink="apps">
        <i class="sidebar-fa fa fa-tags"></i>
        <span class="text">Apps</span>
      </a>
    </div>
    <div class="sidebar-item" routerLinkActive="active" [dataflowAppRoles]="['ROLE_VIEW']" appFeature="streamsEnabled">
      <a routerLink="runtime/apps">
        <i class="sidebar-fa fa fa-terminal"></i>
        <span class="text">Runtime</span>
      </a>
    </div>
    <div class="sidebar-item" routerLinkActive="active" [dataflowAppRoles]="['ROLE_VIEW']" appFeature="streamsEnabled">
      <a routerLink="streams">
        <i class="sidebar-fa fa fa-cloud"></i>
        <span class="text">Streams</span>
      </a>
    </div>
    <div class="sidebar-item" routerLinkActive="active" [dataflowAppRoles]="['ROLE_VIEW']" appFeature="tasksEnabled">
      <a routerLink="tasks">
        <i class="sidebar-fa fa fa-tasks"></i>
        <span class="text">Tasks</span>
      </a>
    </div>
    <div class="sidebar-item" routerLinkActive="active" [dataflowAppRoles]="['ROLE_VIEW']" appFeature="tasksEnabled">
      <a routerLink="jobs">
        <i class="sidebar-fa fa fa-clock-o"></i>
        <span class="text">Jobs</span>
      </a>
    </div>
    <div class="sidebar-item" routerLinkActive="active" [dataflowAppRoles]="['ROLE_VIEW']">
      <a routerLink="audit-records">
        <i class="sidebar-fa fa fa-list-alt"></i>
        <span class="text">Audit Records</span>
      </a>
    </div>
  </div>

  <div class="sidebar-items sidebar-items-bottom" [dataflowAppRoles]="['ROLE_VIEW']">
    <div class="sidebar-item" routerLinkActive="active">
      <a routerLink="about">
        <i class="sidebar-fa fa fa-leaf"></i>
        <span class="text">About & Docs</span>
      </a>
    </div>
    <div class="sidebar-divider"></div>
    <div class="sidebar-item sidebar-item-collapser" *ngIf="!isSm">
      <a (click)="toggle()">
        <i [class.fa-rotate-180]="!isCollapsed" class="sidebar-fa fa fa-chevron-left"></i>
      </a>
    </div>
  </div>
</div>

<div *ngIf="!featureInfoLoaded">
  <div style="padding: 10px 15px;">
    <app-loader *ngIf="!isSm && isCollapsed"></app-loader>
    <app-loader *ngIf="isSm || !isCollapsed" [text]="''"></app-loader>
  </div>
</div>
