<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              [attr.aria-expanded]="!isCollapsed" (click)="toggleCollapse()" [ngClass]="{'collapsed': isCollapsed}">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="apps"><span></span></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse" [ngClass]="{'in': !isCollapsed}">
      <ul class="nav navbar-nav navbar-right" (click)="collapse()">
        <li routerLinkActive="active" [appRoles]="['ROLE_VIEW']"><a routerLink="apps">Apps</a></li>
        <li routerLinkActive="active" [appRoles]="['ROLE_VIEW']" appFeature="streamsEnabled"><a
          routerLink="runtime/apps">Runtime</a>
        </li>
        <li routerLinkActive="active" [appRoles]="['ROLE_VIEW']" appFeature="streamsEnabled"><a
          routerLink="streams">Streams</a></li>
        <li routerLinkActive="active" [appRoles]="['ROLE_VIEW']" appFeature="tasksEnabled"><a
          routerLink="tasks">Tasks</a>
        </li>
        <li routerLinkActive="active" [appRoles]="['ROLE_VIEW']" appFeature="tasksEnabled"><a routerLink="jobs">Jobs</a>
        </li>
        <li routerLinkActive="active" [appRoles]="['ROLE_VIEW']" appFeature="analyticsEnabled"><a
          routerLink="analytics">Analytics</a>
        </li>
        <li routerLinkActive="active" [appRoles]="['ROLE_VIEW']"><a routerLink="about">About</a></li>
        <li *ngIf="securityInfo.isAuthenticationEnabled"
            dropdown
            class="dropdown"><a class="dropdown-toggle" dropdownToggle (click)="false"><span
          class="glyphicon glyphicon-user"></span><b class="caret"></b></a>
          <ul *dropdownMenu class="dropdown-menu">
            <li *ngIf="securityInfo.isAuthenticated">{{ securityInfo.username }}</li>
            <li *ngIf="!securityInfo.isAuthenticated">Not logged in.</li>
            <li *ngIf="securityInfo.isAuthenticated"><a routerLink="logout">Logout</a></li>
            <li *ngIf="!securityInfo.isAuthenticated"><a routerLink="login">Login</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
