
.checkbox-inline {
  font-size: 16px;
}
p.checkbox-description {
  padding-left: 20px;
  font-size: 12px;
}

span.checkbox-description {
  font-weight: normal;
}

.dataflow-alert {
  min-width: 500px;
  ul {
    margin: 0;
    padding: 1rem 1rem 0.5rem 2.5rem;
  }
}

.form-group-line {
  border-top: 1px solid #DFE5E8;
  margin-top: 1rem;
  padding-top: 1.5rem;
}
