<div dataflowLayoutType type="full" *ngIf="stream$ | async as stream; else loading">

  <div class="list-bar" *ngIf="stream.history.length > 0">
    <button name="refresh" class="btn btn-default btn-fa" (click)="refresh()" title="Refresh" type="button">
      <span class="fa fa-refresh"></span>
      Refresh
    </button>
  </div>

  <table class="table table-actions table-hover" id="table-history" *ngIf="stream.history.length > 0">
    <thead>
    <tr>
      <th>Version</th>
      <th>Date</th>
      <th>Stream Status</th>
      <th>Description</th>
      <th>platformName</th>
      <th [dataflowAppRoles]="['ROLE_MODIFY']">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let history of stream.history;let i=index" class="align-middle">
      <td>
        <strong>{{ history.version }}</strong>
      </td>
      <td>{{ history.firstDeployed | date: 'short'}}</td>
      <td>
        <app-stream-history-status [status]="history.statusCode"></app-stream-history-status>
      </td>
      <td>{{ history.description}}</td>
      <td>{{ history.platformName}}</td>
      <td class="table-actions" width="10px" nowrap="" [dataflowAppRoles]="['ROLE_MODIFY']">
        <div class="actions">
          <button name="stream_rollback{{ i }}" type="button" (click)="rollback(history)"
                  class="btn btn-default" [disabled]="!canRollback(stream.stream, history)"
                  style="padding: 0 8px;" title="Rollback">
            <span class="fa fa-undo"></span>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div id="empty" *ngIf="stream.history.length == 0" class="dataflow-alert">
    <p>There is <strong>no history</strong>.</p>
    <p>
      You can <a (click)="refresh()">Refresh</a> the page.
    </p>
  </div>

</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
