.deployment-properties-key {
}

.deployment-properties-value {
}

.deployment-properties-app {
  padding-bottom: 0.6rem;
}

.deployment-properties-container {
  display: inline-table;
}

.table {
  background: white;
  td {
    padding: 5px 10px;
  }
}
