$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

/* You can add global styles to this file, and also import other style files */

@import '../node_modules/pui-css-variables-and-mixins/pui-variables';

//@import '../node_modules/pui-css-variables-and-mixins/mixins';

$navbar-inverse-bg: $navy-2;
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/typography/typography';
@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/buttons/buttons';
@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/colors/colors';
@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/iconography/iconography';
@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/panes/panes';
@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/backgrounds/backgrounds';
@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/select/select';
@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/forms/forms';
//@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/grids/grids';

.row-gutter-sm {
  margin-left: -$grid-gutter-width-small / 2;
  margin-right: -$grid-gutter-width-small / 2;

  > [class^="col"] {
    padding-left: $grid-gutter-width-small / 2;
    padding-right: $grid-gutter-width-small / 2;
  }
}

.row-gutter-md {
  margin-left: -$grid-gutter-width-md / 2;
  margin-right: -$grid-gutter-width-md / 2;

  > [class^="col"] {
    padding-left: $grid-gutter-width-md / 2;
    padding-right: $grid-gutter-width-md / 2;
  }
}

@media (min-width: $screen-xl-min) {
  @include make-grid(xl);
}

//~~~~~~~~~~~~~~~~~~~~~~grids

@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/tables/tables';
// @import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/tooltips/tooltips';
// @import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/pagination/pagination';
@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/tabs/tabs';

@import '../node_modules/tixif-ngx-busy/build/style/busy.css';

@import '../node_modules/ng2-toasty/bundles/style.css';
@import '../node_modules/ng2-toasty/bundles/style-bootstrap.css';

.help-block {
  position: unset;
}

@keyframes fade {
  0%  { opacity: 0; }
  100% { opacity: 1; }
}

.fade {
  animation: fade ease-in-out 1s;
  animation-fill-mode: forwards;
}

.vertical-center {
  background-color: #232b2f;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

body {
  background-color: #232b2f;
}

.ng-busy {
  margin-top: -20px;
}

.dataflow-main-container {
  padding-top: 20px;
  padding-bottom: 2em;
  background-color: #ffffff;
}

.glyphicon {
  line-height: inherit;
  margin-right: 2px;
}

#toasty {
  top: unset !important;
}
// Navbar

.navbar {
  //border-top: 4px solid @spring-green;
  //background-color: @spring-brown;
  //margin-bottom: 0px;
  //border-bottom: 0;
  //border-left: 0;
  //border-right: 0;
}

.navbar .container {
  padding-right: 0;
}
.navbar a.navbar-brand {
  background: url("assets/img/spring-logo-dataflow.png") -1px -1px no-repeat;
  margin: 12px 0 6px;
  width: 229px;
  height: 46px;
  display: inline-block;
  text-decoration: none;
  padding: 0;
}

.navbar a.navbar-brand span {
  display: block;
  width: 229px;
  height: 46px;
  background: url("assets/img/spring-logo-dataflow.png") -1px -48px no-repeat;
  opacity: 0;
  -moz-transition: opacity 0.12s ease-in-out;
  -webkit-transition: opacity 0.12s ease-in-out;
  -o-transition: opacity 0.12s ease-in-out;
}

.navbar a:hover.navbar-brand span {
  opacity: 1;
}

.navbar li > a, .navbar-text {
  font-family: "montserratregular", sans-serif;
  text-shadow: none;
  font-size: 16px;

/* line-height: 14px; */
  padding: 24px 8px;
  transition: all 0.15s;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -ms-transition: all 0.15s;
}

// ~~~~ responsive


@media (max-width: 768px) {
  .navbar-toggle {
    position:absolute;
    z-index: 9999;
    left:0px;
  top:0px;
  }

  .navbar a.navbar-brand {
    display: block;
    margin: 0 auto 0 auto;
    width: 148px;
    height: 50px;
    float: none;
    background: url("assets/img/spring-logo-dataflow-mobile.png") 0 center no-repeat;
  }

  .homepage-billboard .homepage-subtitle {
    font-size: 21px;
    line-height: 21px;
  }

  .navbar a.navbar-brand span {
    display: none;
  }

  .navbar {
    border-top-width: 0;
  }

  .dataflow-container {
    margin-top: 20px;
    margin-bottom: 30px;
  }

}
