$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

@import '../node_modules/pui-css-variables-and-mixins/pui-variables';

//@import '../node_modules/pui-css-variables-and-mixins/mixins';

$navbar-inverse-bg: $navy-2;
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/typography/typography';
@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/buttons/buttons';
@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/collapse/collapse';
@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/colors/colors';
@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/iconography/iconography';
@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/panes/panes';
@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/backgrounds/backgrounds';
@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/select/select';
@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/forms/forms';
//@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/grids/grids';
@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/tables/tables';
@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/tooltips/tooltips';
@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/pagination/pagination';
@import '../node_modules/pivotal-ui-git-clone/library/src/pivotal-ui/components/tabs/tabs';

.row-gutter-sm {
  margin-left: -$grid-gutter-width-small / 2;
  margin-right: -$grid-gutter-width-small / 2;

  > [class^='col'] {
    padding-left: $grid-gutter-width-small / 2;
    padding-right: $grid-gutter-width-small / 2;
  }
}

.row-gutter-md {
  margin-left: -$grid-gutter-width-md / 2;
  margin-right: -$grid-gutter-width-md / 2;

  > [class^='col'] {
    padding-left: $grid-gutter-width-md / 2;
    padding-right: $grid-gutter-width-md / 2;
  }
}

@media (min-width: $screen-xl-min) {
  @include make-grid(xl);
}

@import '../node_modules/tixif-ngx-busy/build/style/busy.css';

@import '../node_modules/ng2-toasty/bundles/style.css';
@import '../node_modules/ng2-toasty/bundles/style-bootstrap.css';

.help-block {
  position: unset;
}

@keyframes fade {
  0%  { opacity: 0; }
  100% { opacity: 1; }
}

.fade {
  animation: fade ease-in-out 1s;
  animation-fill-mode: forwards;
}

.vertical-center {
  background-color: #232b2f;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

body {
  background-color: #232b2f;
}

.ng-busy {
  margin-top: -20px;
}

.dataflow-main-container {
  background-color: #ffffff;
  padding-bottom: 2em;
  padding-top: 20px;
}

.glyphicon {
  line-height: inherit;
  margin-right: 2px;
}

#toasty {
  top: unset !important;
}

.navbar {

  .container {
    padding-right: 0;
  }

  a.navbar-brand {
    background: url('assets/img/spring-logo-dataflow.png') -1px -1px no-repeat;
    display: inline-block;
    height: 46px;
    margin: 12px 0 6px;
    padding: 0;
    text-decoration: none;
    width: 229px;

    span {
      -moz-transition: opacity .12s ease-in-out;
      -o-transition: opacity .12s ease-in-out;
      -webkit-transition: opacity .12s ease-in-out;
      background: url('assets/img/spring-logo-dataflow.png') -1px -48px no-repeat;
      display: block;
      height: 46px;
      opacity: 0;
      transition: opacity .12s ease-in-out;
      width: 229px;
    }
  }
  a:hover.navbar-brand span {
    opacity: 1;
  }

  li > a,
  .navbar-text {
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -o-transition: all .15s;
    -ms-transition: all .15s;
    font-family: 'montserratregular', sans-serif;
    font-size: 16px;
    // line-height: 14px;
    padding: 24px 8px;
    text-shadow: none;
    transition: all .15s;
  }
}

// ~~~~ responsive

@media (max-width: 768px) {
  .navbar-toggle {
    left: 10px;
    position: absolute;
    top: 5px;
    z-index: 9999;
  }

  .navbar {
    border-top-width: 0;

    a.navbar-brand {
      background: url('assets/img/spring-logo-dataflow-mobile.png') 0 center no-repeat;
      display: block;
      float: none;
      height: 50px;
      margin: 0 auto;
      width: 148px;

      span {
        display: none;
      }
    }
  }
}
