$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

@import '../node_modules/pivotal-ui-git-clone/src/css/pui-variables';
@import '../node_modules/pivotal-ui-git-clone/src/css/mixins';

$state-success-text:   $success-1;
$navbar-inverse-bg: $navy-2;
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

@import '../node_modules/pivotal-ui-git-clone/src/css/typography/typography';
@import '../node_modules/pivotal-ui-git-clone/src/css/buttons/buttons';
@import '../node_modules/pivotal-ui-git-clone/src/css/collapse/collapse';
@import '../node_modules/pivotal-ui-git-clone/src/css/colors/colors';
@import '../node_modules/pivotal-ui-git-clone/src/css/iconography/iconography';
@import '../node_modules/pivotal-ui-git-clone/src/css/panes/panes';
@import '../node_modules/pivotal-ui-git-clone/src/css/backgrounds/backgrounds';
@import '../node_modules/pivotal-ui-git-clone/src/css/select/select';
@import '../node_modules/pivotal-ui-git-clone/src/css/forms/forms';
//@import '../node_modules/pivotal-ui-git-clone/src/css/grids/grids';
@import '../node_modules/pivotal-ui-git-clone/src/css/tables/tables';
@import '../node_modules/pivotal-ui-git-clone/src/css/tooltips/tooltips';
@import '../node_modules/pivotal-ui-git-clone/src/css/pagination/pagination';
@import '../node_modules/pivotal-ui-git-clone/src/css/tabs/tabs';

// .row-gutter-sm {
//   margin-left: -$grid-gutter-width-small / 2;
//   margin-right: -$grid-gutter-width-small / 2;

//   > [class^='col'] {
//     padding-left: $grid-gutter-width-small / 2;
//     padding-right: $grid-gutter-width-small / 2;
//   }
// }

// .row-gutter-md {
//   margin-left: -$grid-gutter-width-md / 2;
//   margin-right: -$grid-gutter-width-md / 2;

//   > [class^='col'] {
//     padding-left: $grid-gutter-width-md / 2;
//     padding-right: $grid-gutter-width-md / 2;
//   }
// }

// @media (min-width: $screen-xl-min) {
//   @include make-grid(xl);
// }

@import '../node_modules/tixif-ngx-busy/build/style/busy.css';

@import '../node_modules/ng2-toasty/bundles/style.css';
@import '../node_modules/ng2-toasty/bundles/style-bootstrap.css';

@import '../node_modules/@compodoc/compodoc/src/resources/styles/font-awesome.min.css';

// PUI sets this to fixed which completely
// breaks table behaviour. With default setting
// we seem to get better predictable layout
// in all tables.
table.table {
  table-layout: auto;
}

.help-block {
  position: unset;
}

@keyframes fade {
  0%  { opacity: 0; }
  100% { opacity: 1; }
}

.fade {
  animation: fade ease-in-out 1s;
  animation-fill-mode: forwards;
}

.vertical-center {
  background-color: #232b2f;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

body {
  background-color: #232b2f;
}

.ng-busy {
  margin-top: -20px;
}

.ng-busy-no-margin  {
  position: absolute;
  margin-top: 30px;
}

.dataflow-main-container {
  background-color: #ffffff;
  padding-bottom: 2em;
  padding-top: 20px;
}

.glyphicon {
  line-height: inherit;
  margin-right: 2px;
}

#toasty {
  top: unset !important;
}

.navbar {

  .container {
    padding-right: 0;
  }

  a.navbar-brand {
    background: url('assets/img/spring-logo-dataflow.png') -1px -1px no-repeat;
    display: inline-block;
    height: 46px;
    margin: 12px 0 6px;
    padding: 0;
    text-decoration: none;
    width: 229px;

    span {
      -moz-transition: opacity .12s ease-in-out;
      -o-transition: opacity .12s ease-in-out;
      -webkit-transition: opacity .12s ease-in-out;
      background: url('assets/img/spring-logo-dataflow.png') -1px -48px no-repeat;
      display: block;
      height: 46px;
      opacity: 0;
      transition: opacity .12s ease-in-out;
      width: 229px;
    }
  }
  a:hover.navbar-brand span {
    opacity: 1;
  }

  li > a,
  .navbar-text {
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -o-transition: all .15s;
    -ms-transition: all .15s;
    font-family: 'montserratregular', sans-serif;
    font-size: 16px;
    // line-height: 14px;
    padding: 24px 8px;
    text-shadow: none;
    transition: all .15s;
  }
}

.form-control-feedback {
  top: 5px;
}
// ~~~~ responsive

@media (max-width: 768px) {
  .navbar-toggle {
    left: 10px;
    position: absolute;
    top: 5px;
    z-index: 9999;
  }

  .navbar {
    border-top-width: 0;

    a.navbar-brand {
      background: url('assets/img/spring-logo-dataflow-mobile.png') 0 center no-repeat;
      display: block;
      float: none;
      height: 50px;
      margin: 0 auto;
      width: 148px;

      span {
        display: none;
      }
    }
  }
}
