<form [formGroup]="formGroup" (submit)="deployStream()" dataflowLayoutType type="large">
  <p>Enter the list of properties into the text area field below. Alternatively, you can also select a file in your
    local file system, which is used to populate the text area field.</p>
  <div class="form-textarea">
    <div class="numbers">
      <ng-template ngFor let-item [ngForOf]="lines">
        <div class="number">
          <span [class.invalid]="!item.valid">{{ item.label }}</span>
        </div>
      </ng-template>
    </div>
    <textarea dataflowAutoResize [dataflowFocus]="true" formControlName="input"></textarea>
  </div>
  <div class="input-file">
    <label class="btn-file btn btn-default"
           tippy
           [tippyOptions]="{ content: 'Please provide a text file containing properties. This will be used to populate the text area above.', placement: 'right' }">
      <input formControlName="file" id="propertiesFile" name="propertiesFile" type="file"
             (change)="fileChange($event)"/>
      Import a local file
    </label>
  </div>
  <app-page-actions>
    <a id="btn-cancel" class="btn btn-default" routerLink="/streams">Cancel</a>
    <button id="btn-export" type="button" class="btn btn-default" (click)="exportProps()">
      Export
    </button>
    <button tabindex="200" id="btn-copy" type="button" class="btn btn-default" (click)="copyToClipboard()">
      Copy to Clipboard
    </button>
    <button id="btn-deploy" type="submit" class="btn btn-primary">
      <span *ngIf="!isDeployed">Deploy stream</span>
      <span *ngIf="isDeployed">Update stream</span>
    </button>
  </app-page-actions>
</form>
