<h1 [ngBusy]="busy">Application Details</h1>

<table class="table table-striped table-hover table-fixed" *ngIf="detailedAppRegistration">
  <tbody>
    <tr>
      <th>
        Name
      </th>
      <td>
        {{detailedAppRegistration.name}}
      </td>
    </tr>
    <tr>
      <th>
        Type
      </th>
      <td>
        {{detailedAppRegistration.type}}
      </td>
    </tr>
    <tr>
      <th>
        Uri
      </th>
      <td>
        {{detailedAppRegistration.uri}}
      </td>
    </tr>
  </tbody>
</table>

<div class="row" *ngIf="!detailedAppRegistration">
  <div class="col-md-12">
    No information available.
  </div>
</div>

<h2 *ngIf="detailedAppRegistration">Application Properties</h2>

<table class="table table-striped table-hover table-fixed" *ngIf="detailedAppRegistration?.options">
  <tbody>
    <tr *ngFor="let property of detailedAppRegistration.options">
      <th>
        {{property.name}} <span *ngIf="property.deprecated" class="label label-warning">Deprecation level: {{property.deprecation.level}}</span>
      </th>
      <td>
          <p>{{property.description ? property.description : '(No Description Available)'}}</p>
          <p class="type-block"><code>{{property.type}}</code> <span *ngIf="property.defaultValue">(Default value: <code>{{property.defaultValue}}</code>)</span></p>
      </td>
    </tr>
  </tbody>
</table>

<div class="row" *ngIf="detailedAppRegistration && (detailedAppRegistration.options || detailedAppRegistration?.options.length === 0)">No properties available.</div>

<div class="row">
  <div class="col-md-12 text-right"><button id="back-button"
    type="button" class="btn btn-default" (click)="goBack()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>Back</button></div>
</div>
