<clr-modal [(clrModalOpen)]="isOpen" class="modal-about">
  <h3 class="modal-title"><ng-container i18n>About Spring Cloud Data Flow</ng-container></h3>
  <div class="modal-body" #container>
    <div *ngIf="!loading && about">
      <h3 style="padding-top: 0"><ng-container i18n>Data Flow Server Implementation</ng-container></h3>
      <ul>
        <li><strong><ng-container i18n>Name</ng-container></strong>: {{ about.versions.implementation.name || 'n/a' }}</li>
        <li><strong><ng-container i18n>Version</ng-container></strong>: {{ about.versions.implementation.version || 'n/a' }}</li>
      </ul>
      <h3><ng-container i18n>Features</ng-container></h3>
      <ul id="enabledFeaturesTable">
        <li>
          <strong><ng-container i18n>Streams: </ng-container></strong>
          <clr-icon shape="check" *ngIf="about.features.streams"></clr-icon>
          <clr-icon shape="times" *ngIf="!about.features.streams"></clr-icon>
        </li>
        <li>
          <strong><ng-container i18n>Tasks: </ng-container></strong>
          <clr-icon shape="check" *ngIf="about.features.tasks"></clr-icon>
          <clr-icon shape="times" *ngIf="!about.features.tasks"></clr-icon>
        </li>
        <li>
          <strong><ng-container i18n>Schedules: </ng-container></strong>
          <clr-icon shape="check" *ngIf="about.features.schedules"></clr-icon>
          <clr-icon shape="times" *ngIf="!about.features.schedules"></clr-icon>
        </li>
        <li>
          <strong><ng-container i18n>Monitoring Dashboard: </ng-container></strong>
          <span *ngIf="about.features.monitoringDashboardType === 'GRAFANA'"><ng-container i18n>Grafana</ng-container></span>
          <span *ngIf="about.features.monitoringDashboardType === 'WAVEFRONT'"><ng-container i18n>Wavefront</ng-container></span>
          <clr-icon shape="times" *ngIf="about.features.monitoringDashboardType === 'NONE'"></clr-icon>
        </li>
      </ul>
      <h3><ng-container i18n>Security </ng-container></h3>
      <ul>
        <li>
          <strong><ng-container i18n>Authentication Enabled: </ng-container></strong>
          <clr-icon shape="check" *ngIf="about.security.isAuthentication"></clr-icon>
          <clr-icon shape="times" *ngIf="!about.security.isAuthentication"></clr-icon>
        </li>
        <li>
          <strong><ng-container i18n>Authenticated: </ng-container></strong>
          <clr-icon shape="check" *ngIf="about.security.isAuthenticated"></clr-icon>
          <clr-icon shape="times" *ngIf="!about.security.isAuthenticated"></clr-icon>
        </li>
        <li *ngIf="about.security.username"><strong><ng-container i18n>Username: </ng-container></strong> {{ about.security.username || 'N/A' }}</li>
        <li *ngIf="about.security.roles?.length > 0">
          <strong><ng-container i18n>Roles: </ng-container></strong>
          <ul>
            <li *ngFor="let role of about.security.roles">
              {{ role }}
            </li>
          </ul>
        </li>
      </ul>
      <h3><ng-container i18n>Versions</ng-container></h3>
      <ul>
        <li>
          <strong><ng-container i18n>Implementation Version:</ng-container> </strong> {{ about.versions.implementation.version }} ({{
            about.versions.implementation.name
          }})
        </li>
        <li><strong><ng-container i18n>Core:</ng-container> </strong> {{ about.versions.core.version }} ({{ about.versions.core.name }})</li>
        <li>
          <strong><ng-container i18n>Dashboard:</ng-container> </strong> {{ about.versions.dashboard.version }} ({{ about.versions.dashboard.name }})
        </li>
        <li><strong><ng-container i18n>Shell:</ng-container> </strong> {{ about.versions.shell.version }} ({{ about.versions.shell.name }})</li>
        <li *ngIf="about.versions.shell.checksumSha1">
          <strong><ng-container i18n>Shell Checksum Sha1:</ng-container> </strong> {{ about.versions.shell.checksumSha1 }}
        </li>
        <li *ngIf="about.versions.shell.checksumSha256">
          <strong><ng-container i18n>Shell Checksum Sha256:</ng-container> </strong> {{ about.versions.shell.checksumSha256 }}
        </li>
      </ul>
      <h3><ng-container i18n>Runtime Environment - Skipper Deployer</ng-container></h3>
      <ul>
        <li>
          <strong><ng-container i18n>Implementation Version:</ng-container> </strong>
          {{ about.runtimeEnvironment.appDeployer.deployerImplementationVersion }}
        </li>
        <li><strong><ng-container i18n>Name:</ng-container> </strong> {{ about.runtimeEnvironment.appDeployer.deployerName || 'N/A' }}</li>
        <li><strong><ng-container i18n>Spi Version:</ng-container> </strong> {{ about.runtimeEnvironment.appDeployer.deployerSpiVersion || 'N/A' }}</li>
        <li><strong><ng-container i18n>Java Version:</ng-container> </strong> {{ about.runtimeEnvironment.appDeployer.javaVersion || 'N/A' }}</li>
        <li>
          <strong><ng-container i18n>Platform Api Version:</ng-container> </strong> {{ about.runtimeEnvironment.appDeployer.platformApiVersion || 'N/A' }}
        </li>
        <li>
          <strong><ng-container i18n>Platform Client Version:</ng-container> </strong>
          {{ about.runtimeEnvironment.appDeployer.platformClientVersion || 'N/A' }}
        </li>
        <li>
          <strong><ng-container i18n>Platform Host Version:</ng-container> </strong>
          {{ about.runtimeEnvironment.appDeployer.platformHostVersion || 'N/A' }}
        </li>
        <li><strong><ng-container i18n>Platform Type:</ng-container> </strong> {{ about.runtimeEnvironment.appDeployer.platformType || 'N/A' }}</li>
        <li>
          <strong><ng-container i18n>Spring Boot Version:</ng-container> </strong> {{ about.runtimeEnvironment.appDeployer.springBootVersion || 'N/A' }}
        </li>
        <li><strong><ng-container i18n>Spring Version:</ng-container> </strong> {{ about.runtimeEnvironment.appDeployer.springVersion || 'N/A' }}</li>
      </ul>
      <h3><ng-container i18n>Platform-specific Information of the Skipper Deployer</ng-container></h3>
      <ul>
        <ng-template
          *ngIf="
            about.runtimeEnvironment.appDeployer.platformSpecificInfo &&
            (about.runtimeEnvironment.appDeployer.platformSpecificInfo | keyvalue).length > 0
          "
          ngFor
          let-item
          [ngForOf]="about.runtimeEnvironment.appDeployer.platformSpecificInfo | keyvalue"
        >
          <li>
            <strong>{{ item.key }}: </strong> {{ item.value }}
          </li>
        </ng-template>
        <li
          *ngIf="
            !about.runtimeEnvironment.appDeployer.platformSpecificInfo ||
            (about.runtimeEnvironment.appDeployer.platformSpecificInfo | keyvalue).length === 0
          "
        >
          <strong> <ng-container i18n>No platform-specific app deployer information available.</ng-container> </strong>
        </li>
      </ul>
      <div>
        <h3><ng-container i18n>Runtime Environment - Task Launcher</ng-container></h3>
        <div>
          <ul *ngIf="!about?.runtimeEnvironment?.taskLaunchers">
            <li><strong><ng-container i18n>No Task Launcher information is available.</ng-container></strong></li>
          </ul>
          <ul *ngIf="about?.runtimeEnvironment?.taskLaunchers" id="taskLauncherTable">
            <ng-template ngFor let-item [ngForOf]="about.runtimeEnvironment.taskLaunchers">
              <li><strong><ng-container i18n>Implementation Version:</ng-container> </strong> {{ item.deployerImplementationVersion }}</li>
              <li><strong><ng-container i18n>Name:</ng-container> </strong> {{ item.deployerName }}</li>
              <li><strong><ng-container i18n>Spi Version:</ng-container> </strong> {{ item.deployerSpiVersion }}</li>
              <li><strong><ng-container i18n>Java Version:</ng-container> </strong> {{ item.javaVersion }}</li>
              <li><strong><ng-container i18n>Platform Api Version:</ng-container> </strong> {{ item.platformApiVersion }}</li>
              <li><strong><ng-container i18n>Platform Client Version:</ng-container> </strong> {{ item.platformClientVersion }}</li>
              <li><strong><ng-container i18n>Platform Host Version:</ng-container> </strong> {{ item.platformHostVersion }}</li>
              <li><strong><ng-container i18n>Platform Type:</ng-container> </strong> {{ item.platformType }}</li>
              <li><strong><ng-container i18n>Spring Boot Version:</ng-container> </strong> {{ item.springBootVersion }}</li>
              <li><strong><ng-container i18n>Spring Version:</ng-container> </strong> {{ item.springVersion }}</li>
              <li>
                <strong><ng-container i18n>Platform-specific Information of the Task Launcher</ng-container></strong>
                <ul>
                  <ng-template
                    *ngIf="item.platformSpecificInfo && (item.platformSpecificInfo | keyvalue).length > 0"
                    ngFor
                    let-item
                    [ngForOf]="item.platformSpecificInfo | keyvalue"
                  >
                    <li>
                      <strong>{{ item.key }}: </strong> {{ item.value }}
                    </li>
                  </ng-template>
                  <li *ngIf="!item.platformSpecificInfo || (item.platformSpecificInfo | keyvalue).length === 0">
                    <strong> <ng-container i18n>No platform-specific task launcher information available.</ng-container> </strong>
                  </li>
                </ul>
              </li>
            </ng-template>
          </ul>
        </div>
      </div>
      <h3><ng-container i18n>Need Help or Found an Issue?</ng-container></h3>
      <ul>
        <li>
          <a target="_blank" href="https://cloud.spring.io/spring-cloud-dataflow/">
            <strong><ng-container i18n>Project Page</ng-container></strong>: <ng-container i18n>Quick overview of Spring Cloud Data Flow Project.</ng-container>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/spring-cloud/spring-cloud-dataflow">
            <strong><ng-container i18n>Source Code</ng-container></strong>: <ng-container i18n>Spring Cloud Data Flow Project is an Open Source Project.</ng-container>
          </a>
        </li>
        <li>
          <a
            target="_blank"
            href="https://docs.spring.io/spring-cloud-dataflow/docs/{{
              about.versions.core.version
            }}/reference/htmlsingle/"
          >
            <strong><ng-container i18n>Documentation</ng-container></strong>: <ng-container i18n>Learn more about the product features.</ng-container>
          </a>
        </li>
        <li>
          <a
            target="_blank"
            href="https://docs.spring.io/spring-cloud-dataflow/docs/{{
              about.versions.core.version
            }}/reference/htmlsingle/#api-guide-resources"
          >
            <strong><ng-container i18n>API Docs</ng-container></strong>: <ng-container i18n>Learn more about the REST-APIs.</ng-container>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://stackoverflow.com/questions/tagged/spring-cloud-dataflow">
            <strong><ng-container i18n>Support Forum</ng-container></strong>: <ng-container i18n>You need help?</ng-container>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/spring-cloud/spring-cloud-dataflow/issues">
            <strong><ng-container i18n>Issue Tracker</ng-container></strong>: <ng-container i18n>Report an issue or request for a new feature.</ng-container>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="copyToClipboard()"
            type="button"
            class="btn btn-primary"
            i18n>
      Copy Details to Clipboard
    </button>
  </div>
</clr-modal>
