<clr-modal [(clrModalOpen)]="isOpen" class="modal-about">
  <h3 class="modal-title">{{ 'about.info.title' | translate }}</h3>
  <div class="modal-body" #container>
    <div *ngIf="!loading && about">
      <h3 style="padding-top: 0">{{ 'about.info.serverImpTitle' | translate }}</h3>
      <ul>
        <li>
          <strong>{{ 'about.info.name' | translate }}</strong
          >: {{ about.versions.implementation.name || 'n/a' }}
        </li>
        <li>
          <strong>{{ 'about.info.version' | translate }}</strong
          >: {{ about.versions.implementation.version || 'n/a' }}
        </li>
      </ul>
      <h3>{{ 'about.info.features' | translate }}</h3>
      <ul id="enabledFeaturesTable">
        <li>
          <strong>{{ 'about.info.streams' | translate }}: </strong>
          <clr-icon shape="check" *ngIf="about.features.streams"></clr-icon>
          <clr-icon shape="times" *ngIf="!about.features.streams"></clr-icon>
        </li>
        <li>
          <strong>{{ 'about.info.tasks' | translate }}: </strong>
          <clr-icon shape="check" *ngIf="about.features.tasks"></clr-icon>
          <clr-icon shape="times" *ngIf="!about.features.tasks"></clr-icon>
        </li>
        <li>
          <strong>{{ 'about.info.schedules' | translate }}: </strong>
          <clr-icon shape="check" *ngIf="about.features.schedules"></clr-icon>
          <clr-icon shape="times" *ngIf="!about.features.schedules"></clr-icon>
        </li>
        <li>
          <strong>{{ 'about.info.monitoring' | translate }}: </strong>
          <span *ngIf="about.features.monitoringDashboardType === 'GRAFANA'">{{
            'about.info.grafana' | translate
          }}</span>
          <span *ngIf="about.features.monitoringDashboardType === 'WAVEFRONT'">{{
            'about.info.wavefront' | translate
          }}</span>
          <clr-icon shape="times" *ngIf="about.features.monitoringDashboardType === 'NONE'"></clr-icon>
        </li>
      </ul>
      <h3>{{ 'about.info.security' | translate }}</h3>
      <ul>
        <li>
          <strong>{{ 'about.info.authentificationEnabled' | translate }}: </strong>
          <clr-icon shape="check" *ngIf="about.security.isAuthentication"></clr-icon>
          <clr-icon shape="times" *ngIf="!about.security.isAuthentication"></clr-icon>
        </li>
        <li>
          <strong>{{ 'about.info.authenticated' | translate }}: </strong>
          <clr-icon shape="check" *ngIf="about.security.isAuthenticated"></clr-icon>
          <clr-icon shape="times" *ngIf="!about.security.isAuthenticated"></clr-icon>
        </li>
        <li *ngIf="about.security.username"><strong>Username: </strong> {{ about.security.username || 'N/A' }}</li>
        <li *ngIf="about.security.roles?.length > 0">
          <strong>{{ 'about.info.roles' | translate }}: </strong>
          <ul>
            <li *ngFor="let role of about.security.roles">
              {{ role }}
            </li>
          </ul>
        </li>
      </ul>
      <h3>{{ 'about.info.version' | translate }}</h3>
      <ul>
        <li>
          <strong>{{ 'about.info.impVersion' | translate }}: </strong> {{ about.versions.implementation.version }} ({{
            about.versions.implementation.name
          }})
        </li>
        <li>
          <strong>{{ 'about.info.core' | translate }}: </strong> {{ about.versions.core.version }} ({{
            about.versions.core.name
          }})
        </li>
        <li>
          <strong>{{ 'about.info.dashboard' | translate }}: </strong> {{ about.versions.dashboard.version }} ({{
            about.versions.dashboard.name
          }})
        </li>
        <li>
          <strong>{{ 'about.info.shell' | translate }}: </strong> {{ about.versions.shell.version }} ({{
            about.versions.shell.name
          }})
        </li>
        <li *ngIf="about.versions.shell.checksumSha1">
          <strong>{{ 'about.info.shellChecksumSha1' | translate }}: </strong> {{ about.versions.shell.checksumSha1 }}
        </li>
        <li *ngIf="about.versions.shell.checksumSha256">
          <strong>{{ 'about.info.shellChecksum256' | translate }}: </strong> {{ about.versions.shell.checksumSha256 }}
        </li>
      </ul>
      <h3>{{ 'about.info.runtimeSkipperDeployer' | translate }}</h3>
      <ul>
        <li>
          <strong>{{ 'about.info.impVersion' | translate }}: </strong>
          {{ about.runtimeEnvironment.appDeployer.deployerImplementationVersion }}
        </li>
        <li>
          <strong>{{ 'about.info.name' | translate }}: </strong>
          {{ about.runtimeEnvironment.appDeployer.deployerName || 'N/A' }}
        </li>
        <li>
          <strong>{{ 'about.info.spiVersion' | translate }}: </strong>
          {{ about.runtimeEnvironment.appDeployer.deployerSpiVersion || 'N/A' }}
        </li>
        <li>
          <strong>{{ 'about.info.javaVersion' | translate }}: </strong>
          {{ about.runtimeEnvironment.appDeployer.javaVersion || 'N/A' }}
        </li>
        <li>
          <strong>{{ 'about.info.platformApiVersion' | translate }}: </strong>
          {{ about.runtimeEnvironment.appDeployer.platformApiVersion || 'N/A' }}
        </li>
        <li>
          <strong>{{ 'about.info.platformClientVersion' | translate }}: </strong>
          {{ about.runtimeEnvironment.appDeployer.platformClientVersion || 'N/A' }}
        </li>
        <li>
          <strong>{{ 'about.info.platformHostVersion' | translate }}: </strong>
          {{ about.runtimeEnvironment.appDeployer.platformHostVersion || 'N/A' }}
        </li>
        <li>
          <strong>{{ 'about.info.platformType' | translate }}: </strong>
          {{ about.runtimeEnvironment.appDeployer.platformType || 'N/A' }}
        </li>
        <li>
          <strong>{{ 'about.info.springBootVersion' | translate }}: </strong>
          {{ about.runtimeEnvironment.appDeployer.springBootVersion || 'N/A' }}
        </li>
        <li>
          <strong>{{ 'about.info.springVersion' | translate }}: </strong>
          {{ about.runtimeEnvironment.appDeployer.springVersion || 'N/A' }}
        </li>
      </ul>
      <h3>{{ 'about.info.platformSkipperDeployer' | translate }}</h3>
      <ul>
        <ng-template
          *ngIf="
            about.runtimeEnvironment.appDeployer.platformSpecificInfo &&
            (about.runtimeEnvironment.appDeployer.platformSpecificInfo | keyvalue).length > 0
          "
          ngFor
          let-item
          [ngForOf]="about.runtimeEnvironment.appDeployer.platformSpecificInfo | keyvalue"
        >
          <li>
            <strong>{{ item.key }}: </strong> {{ item.value }}
          </li>
        </ng-template>
        <li
          *ngIf="
            !about.runtimeEnvironment.appDeployer.platformSpecificInfo ||
            (about.runtimeEnvironment.appDeployer.platformSpecificInfo | keyvalue).length === 0
          "
        >
          <strong>{{ 'about.info.noPlatform' | translate }}</strong>
        </li>
      </ul>
      <div>
        <h3>{{ 'about.info.runtimeTaskLauncher' | translate }}</h3>
        <div>
          <ul *ngIf="!about?.runtimeEnvironment?.taskLaunchers">
            <li>
              <strong>{{ 'about.info.noLauncher' | translate }}.</strong>
            </li>
          </ul>
          <ul *ngIf="about?.runtimeEnvironment?.taskLaunchers" id="taskLauncherTable">
            <ng-template ngFor let-item [ngForOf]="about.runtimeEnvironment.taskLaunchers">
              <li>
                <strong>{{ 'about.info.impVersion' | translate }}: </strong> {{ item.deployerImplementationVersion }}
              </li>
              <li>
                <strong>{{ 'about.info.name' | translate }}: </strong> {{ item.deployerName }}
              </li>
              <li>
                <strong>{{ 'about.info.spiVersion' | translate }}: </strong> {{ item.deployerSpiVersion }}
              </li>
              <li>
                <strong>{{ 'about.info.javaVersion' | translate }}: </strong> {{ item.javaVersion }}
              </li>
              <li>
                <strong>{{ 'about.info.platformApiVersion' | translate }}: </strong> {{ item.platformApiVersion }}
              </li>
              <li>
                <strong>{{ 'about.info.platformClientVersion' | translate }}: </strong> {{ item.platformClientVersion }}
              </li>
              <li>
                <strong>{{ 'about.info.platformHostVersion' | translate }}: </strong> {{ item.platformHostVersion }}
              </li>
              <li>
                <strong>{{ 'about.info.platformType' | translate }}: </strong> {{ item.platformType }}
              </li>
              <li>
                <strong>{{ 'about.info.springBootVersion' | translate }}: </strong> {{ item.springBootVersion }}
              </li>
              <li>
                <strong>{{ 'about.info.springVersion' | translate }}: </strong> {{ item.springVersion }}
              </li>
              <li>
                <strong>{{ 'about.info.platformTaskLauncher' | translate }}</strong>
                <ul>
                  <ng-template
                    *ngIf="item.platformSpecificInfo && (item.platformSpecificInfo | keyvalue).length > 0"
                    ngFor
                    let-item
                    [ngForOf]="item.platformSpecificInfo | keyvalue"
                  >
                    <li>
                      <strong>{{ item.key }}: </strong> {{ item.value }}
                    </li>
                  </ng-template>
                  <li *ngIf="!item.platformSpecificInfo || (item.platformSpecificInfo | keyvalue).length === 0">
                    <strong>{{ 'about.info.noPlatformTaskLauncher' | translate }}</strong>
                  </li>
                </ul>
              </li>
            </ng-template>
          </ul>
        </div>
      </div>
      <h3>{{ 'about.info.help' | translate }}</h3>
      <ul>
        <li>
          <a target="_blank" href="https://cloud.spring.io/spring-cloud-dataflow/">
            <strong>{{ 'about.signpost.projectPage' | translate }}</strong
            >: {{ 'about.info.projectPageDesc' | translate }}
          </a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/spring-cloud/spring-cloud-dataflow">
            <strong>{{ 'about.signpost.sourceCode' | translate }}</strong
            >: {{ 'about.info.sourceCodeDesc' | translate }}
          </a>
        </li>
        <li>
          <a
            target="_blank"
            href="https://docs.spring.io/spring-cloud-dataflow/docs/{{
              about.versions.core.version
            }}/reference/htmlsingle/"
          >
            <strong>{{ 'about.signpost.documentation' | translate }}</strong
            >: {{ 'about.info.documentationDesc' | translate }}
          </a>
        </li>
        <li>
          <a
            target="_blank"
            href="https://docs.spring.io/spring-cloud-dataflow/docs/{{
              about.versions.core.version
            }}/reference/htmlsingle/#api-guide-resources"
          >
            <strong>{{ 'about.signpost.apiDocs' | translate }}</strong
            >: {{ 'about.info.apiDocsDesc' | translate }}
          </a>
        </li>
        <li>
          <a target="_blank" href="https://stackoverflow.com/questions/tagged/spring-cloud-dataflow">
            <strong>{{ 'about.signpost.supportForum' | translate }}</strong
            >: {{ 'about.info.supportForumDesc' | translate }}
          </a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/spring-cloud/spring-cloud-dataflow/issues">
            <strong>{{ 'about.signpost.issueTracker' | translate }}</strong
            >: {{ 'about.info.issueTrackerDesc' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="copyToClipboard()" type="button" class="btn btn-primary">
      {{ 'about.info.copy' | translate }}
    </button>
  </div>
</clr-modal>
