<h1>Settings</h1>
<div>
  <form clrForm>

    <clr-select-container>
      <label>Theme</label>
      <select clrSelect
        name="theme"
        [value]="themeActiveSetting$ | async"
        (change)="themeActiveSettingOnChange($event.target.value)" >
        <option value="default">default</option>
        <option value="dark">dark</option>
      </select>
      <clr-control-helper>
        You can choose between dark and default theme
      </clr-control-helper>
    </clr-select-container>

  </form>
</div>