
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

h2 {
  font-size: 20px;
  margin: 3rem 0 1rem;
  padding: 0;
  font-weight: bold;
}

.box {
  position: relative;
  padding-left: 70px;
  margin: 1rem 0;
  >.fa {
    position: absolute;
    top: 5px;
    left: 2px;
    width: 60px;
    text-align: center;
    font-size: 36px;
    color: #C5CED3;
    padding: 0px;
    text-decoration: none;
    cursor: pointer;
  }
  >a.fa {
    position: absolute;
    top: 5px;
    left: 2px;
    width: 60px;
    text-align: center;
    font-size: 20px;
    color: #232B2F;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
  }
  >a.fa-chevron-down {
    top: 2px;
    left: 0px;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }

  .fa-check {
    color: green;
  }

  .fa-close {
    color: red;
  }
}

.infos {
  padding: 0.2rem 3rem;
  position: relative;
  margin: 1rem 0 0 0;
  .actions {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 100;
  }
}

ul.list-icons {
  margin: 0;
  list-style: none;
  padding: 0;
  @include clearfix;
  li {
    width: 50%;
    float: left;
    a {
      position: relative;
      padding: 10px 10px 10px 70px;
      color: #232B2F;
      text-decoration: none;
      border-radius: 3px;
      cursor: pointer;
      &:hover {
        background: #F5F6F7;
      }
    }
    strong, span, a {
      display: block;
    }
    strong {
      color: #179990;
    }
    img {
      position: absolute;
      top: 10px;
      left: 12px;
    }
  }
}

.shell {
  width: 900px;
  position: relative;
  height: 265px;
  margin: 2rem auto;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
  .shell-content {
    padding-left: 400px;
    padding-top: 5px;
    h2 {
      margin: 1.5rem 0 1rem;
    }
  }
}
hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

.show-more {
  padding: 0.5rem 0;
}

.infos-more {
  border-top: 1px solid #C5CED3;
  margin: 1rem 0;
  padding: 0.8rem 3rem;
}

.show-more-action {
  margin-left: 100px;
}

.properties {
  background-color: #F5F6F7;
  padding: 0.1rem 0 2rem;
}

.vmware {
  text-align: center;
  color: #63747e;
  .vmware-text {
    padding-top: 1rem;
  }
}
