.stream-details .flow-view {
  height: 800px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.stream-summary-row {
  padding-top: 1rem;
  padding-bottom: 0.3rem;
}

.stream-actions {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  text-align: right;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

table.table-apps {
  width: auto;
  min-width: 400px;
  background-color: white;

  td.table-actions {
    padding: 4px;
    text-align: center;
    div.actions {
      white-space: nowrap;
      .btn {
        margin: 0;
        padding: 0 10px;
      }
    }
  }

}

table.table {
  background-color: #fff;
}


.stream-summary-row-table {
  .table {
    width: auto;
  }
}

.log-toolbar {
  padding-bottom: 10px;
  .dropdown {
    display: inline;
    margin-right: 4px;
    ul li a {
      cursor: pointer;
    }
  }
}
