<h1>{{ 'jobs.main.title' | translate }}</h1>
<clr-datagrid (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading" *ngIf="isInit" #datagrid>
  <clr-dg-action-bar>
    <button type="button" class="btn btn-sm btn-secondary" (click)="refresh(state)">
      {{ 'commons.refresh' | translate }}
    </button>
  </clr-dg-action-bar>
  <clr-dg-column
    (clrDgColumnResize)="updateContext('sizeId', $event)"
    [style.width.px]="context.sizeId | datagridcolumn: datagrid : contextName | async"
  >
    <ng-container>{{ 'jobs.main.executionId' | translate }}</ng-container>
  </clr-dg-column>
  <clr-dg-column
    (clrDgColumnResize)="updateContext('sizeName', $event)"
    [style.width.px]="context.sizeName | datagridcolumn: datagrid : contextName | async"
  >
    <ng-container>{{ 'commons.name' | translate }}</ng-container>
    <clr-dg-filter style="display: none"></clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column
    (clrDgColumnResize)="updateContext('sizeTaskId', $event)"
    [style.width.px]="context.sizeTaskId | datagridcolumn: datagrid : contextName | async"
  >
    <ng-container>{{ 'jobs.main.taskId' | translate }}</ng-container>
    <clr-dg-filter style="display: none"></clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column
    (clrDgColumnResize)="updateContext('sizeInstanceId', $event)"
    [style.width.px]="context.sizeInstanceId | datagridcolumn: datagrid : contextName | async"
  >
    <ng-container>{{ 'jobs.main.instanceId' | translate }}</ng-container>
    <clr-dg-filter style="display: none"></clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column
    (clrDgColumnResize)="updateContext('sizeStart', $event)"
    [style.width.px]="context.sizeStart | datagridcolumn: datagrid : contextName | async"
  >
    <ng-container>{{ 'jobs.main.startTime' | translate }}</ng-container>
    <clr-dg-filter [clrDgFilter]="dateFilter">
      <app-clr-datagrid-date-filter property="dates" [value]="context.dates" #dateFilter>
      </app-clr-datagrid-date-filter>
    </clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column
    (clrDgColumnResize)="updateContext('sizeStepCount', $event)"
    [style.width.px]="context.sizeStepCount | datagridcolumn: datagrid : contextName | async"
  >
    <ng-container>{{ 'jobs.main.stepExecutionCount' | translate }}</ng-container>
    <clr-dg-filter style="display: none"></clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column
    (clrDgColumnResize)="updateContext('sizeStatus', $event)"
    [style.width.px]="context.sizeStatus | datagridcolumn: datagrid : contextName | async"
  >
    <ng-container>{{ 'commons.status' | translate }}</ng-container>
    <clr-dg-filter style="display: none"></clr-dg-filter>
  </clr-dg-column>
  <clr-dg-row *ngFor="let execution of page?.items" [clrDgItem]="execution">
    <clr-dg-cell>
      <a routerLink="/tasks-jobs/job-executions/{{ execution.jobExecutionId }}">{{ execution.jobExecutionId }}</a>
    </clr-dg-cell>
    <clr-dg-cell>
      <a routerLink="/tasks-jobs/job-executions/{{ execution.jobExecutionId }}">{{ execution.name }}</a>
    </clr-dg-cell>
    <clr-dg-cell>{{ execution.taskExecutionId }}</clr-dg-cell>
    <clr-dg-cell>{{ execution.jobInstanceId }}</clr-dg-cell>
    <clr-dg-cell>{{ execution.startTime | datetime }}</clr-dg-cell>
    <clr-dg-cell>{{ execution.stepExecutionCount }}</clr-dg-cell>
    <clr-dg-cell
      ><span class="{{ execution.labelStatusClass() }}">{{ execution.status }}</span></clr-dg-cell
    >
    <clr-dg-action-overflow>
      <button class="action-item" (click)="details(execution)">{{ 'commons.details' | translate }}</button>
      <button
        class="action-item"
        (click)="restart(execution)"
        [disabled]="execution.status !== 'FAILED' && execution.status !== 'STOPPED' && execution.status !== 'ERROR'"
      >
        {{ 'commons.restart' | translate }}
      </button>
      <button
        class="action-item"
        (click)="stop(execution)"
        [disabled]="execution.status === 'FAILED' || execution.status === 'ERROR' || execution.status === 'COMPLETED'"
      >
        {{ 'commons.stop' | translate }}
      </button>
      <button class="action-item" grafanaDashboardJobExecution [jobExecution]="execution">
        {{ 'commons.grafanaDashboard' | translate }}
      </button>
    </clr-dg-action-overflow>
  </clr-dg-row>
  <clr-dg-placeholder>{{ 'commons.noResultFound' | translate }}</clr-dg-placeholder>
  <clr-dg-footer>
    <clr-dg-pagination
      #pagination
      [clrDgTotalItems]="page?.total"
      [clrDgPageSize]="context.size"
      [clrDgPage]="context.current"
    >
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">{{
        'jobs.main.jobPerPage' | translate
      }}</clr-dg-page-size>
      <span
        [innerHTML]="
          'jobs.main.pagination'
            | translate: {first: pagination.firstItem + 1, last: pagination.lastItem + 1, total: page?.total}
        "
      ></span>
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<app-confirm
  #restartModal
  (onConfirmed)="restartJob()"
  [title]="'jobs.main.restartConfirmTitle' | translate"
  [yes]="'commons.restart' | translate"
>
  <div
    [innerHTML]="'jobs.main.restartConfirmContent' | translate: {name: selection?.name, id: selection?.jobExecutionId}"
  ></div>
</app-confirm>

<app-confirm
  #stopModal
  (onConfirmed)="stopJob()"
  [title]="'jobs.main.stopConfirmTitle' | translate"
  [yes]="'commons.stop' | translate"
>
  <div
    [innerHTML]="'jobs.main.stopConfirmContent' | translate: {name: selection?.name, id: selection?.jobExecutionId}"
  ></div>
</app-confirm>
