<clr-modal [(clrModalOpen)]="isOpen" *ngIf="streams" [clrModalClosable]="!isRunning">
  <h3 *ngIf="streams?.length === 1" class="modal-title">{{ 'streams.undeploy.title' | translate }}</h3>
  <h3 *ngIf="streams?.length > 1" class="modal-title">{{ 'streams.undeploy.title2' | translate }}</h3>
  <div class="modal-body" *ngIf="streams.length === 1 && !isRunning">
    <div [innerHTML]="'streams.undeploy.content' | translate: {name: streams[0].name}"></div>
  </div>
  <div class="modal-body" *ngIf="streams?.length > 1 && !isRunning">
    <div [innerHTML]="'streams.undeploy.content' | translate: {count: streams.length}"></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="left">{{ 'commons.name' | translate }}</th>
          <th class="left">{{ 'commons.definition' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stream of streams">
          <td class="left">
            <strong class="text-truncate" style="max-width: 230px">{{ stream.name }}</strong>
          </td>
          <td class="left">
            <span class="dsl-text dsl-truncate" style="max-width: 200px">
              <app-stream-dsl [dsl]="stream.dslText" [expandable]="false"></app-stream-dsl>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-body" *ngIf="isRunning">
    <clr-spinner clrInline clrSmall></clr-spinner>
    {{ 'streams.undeploy.undeploying' | translate }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="isOpen = false" [disabled]="isRunning">
      {{ 'commons.cancel' | translate }}
    </button>
    <button type="button" class="btn btn-primary" (click)="unregister()" [disabled]="isRunning">
      <span *ngIf="streams.length === 1">{{ 'streams.undeploy.undeploy' | translate }}</span>
      <span *ngIf="streams.length > 1">{{ 'streams.undeploy.undeploy2' | translate }}</span>
    </button>
  </div>
</clr-modal>
