<h1>Batch Jobs</h1>
<p ng-class="{ hide: !$state.includes('home.jobs.tabs.executions') }" class="index-page--subtitle">This section lists all the
    available batch job executions and provides the control to restart the job execution (if restartable).
</p>
<div id="xd-jobs" class="tab-pane active col-md-12">
    <ul class="nav nav-tabs">
       <li ng-class="{ active: $state.includes('home.jobs.tabs.executions') }"><a
                ui-sref="home.jobs.tabs.executions">Executions</a></li>
    </ul>
    <div class="tab-content">
        <div ui-view></div>
    </div>
</div>
