
.row-stream {
  border-top: 1px solid #e0e5e8;
  padding: 0.8rem 0;
  .form-group {
    margin-bottom: 0;
  }
  .control-empty {
    padding: 10px 0;
  }
}

.form-group {
  .control-label-sm {
    height: 32px;
    line-height: 24px;
  }
}

.row-stream-deploy {
  border-top: 1px solid #e0e5e8;
  padding: 1rem 0;
  .checkbox-inline {
    font-weight: bold;
  }
}
