@import '../../../../scss/pui-variables';

//@keyframes flash-stroke-width {
//  0%    { stroke-width: 1; }
//  50%   { stroke-width: 4; }
//  100%  { stroke-width: 1; }
//}

.deploying .stream-module {
  .flo-port {
    fill: $blue-3;
  }
}

.undeployed .stream-module {
  .flo-port {
    fill: $navy-7;
  }
}

.unknown .stream-module {

}

.deployed .stream-module {
  .flo-port {
    fill: #80b600;
  }
}
