<app-page *ngIf="params$ | async as params; else loading">

  <app-page-head>
    <app-page-head-title><strong>Tasks</strong></app-page-head-title>
    <app-page-head-actions [dataflowAppRoles]="['ROLE_CREATE']">
      <button class="btn btn-primary btn-fa" (click)="createTask()">
        <span class="fa fa-plus"></span>
        Create task(s)
      </button>
      <button name="task-grafana" type="button" *ngIf="grafanaEnabled"
              (click)="grafanaDashboard()" class="btn btn-primary btn-fa" title="Grafana Dashboard">
        <span class="icon-custom icon-custom-grafana white"></span>
        Grafana Dashboard
      </button>
      <button class="btn btn-default btn-fa btn-fa-utils" (click)="utils()">
        <span class="fa fa-ellipsis-v"></span>
        Utils
      </button>
    </app-page-head-actions>
  </app-page-head>

  <div class="page-tab">
    <div class="page-tab-head">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/tasks/definitions">
            Task
          </a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="/tasks/executions">
            Executions
          </a>
        </li>
        <li role="presentation" routerLinkActive="active" *ngIf="params.schedulesEnabled" [dataflowAppRoles]="['ROLE_SCHEDULE']">
          <a routerLink="/tasks/schedules">
            Schedules
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-pane in active">
        <ng-content></ng-content>
      </div>
    </div>
  </div>

</app-page>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
