<table class="cluster-view table">
    <thead>
    <tr>
        <th>App Id</th>
        <th>State</th>
        <th># of Instances</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="item in pageable.items | itemsPerPage: pageable.pageSize track by item.deploymentId" total-items="pageable.total" ng-show="!item.inactive">
        <td id="application-id">
            <a data-toggle="modal" data-target="#applicationDetails{{$index}}" data-original-title="Application Attributes">{{item.deploymentId}}</a>
            <div class="modal fade" dataflow-modal id="applicationDetails{{$index}}" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Instances for app <strong>{{item.deploymentId}}</strong></h4>
                        </div>
                        <div class="modal-body">
                            <div ng-repeat="appInstance in item.instances._embedded.appInstanceStatusResourceList | orderBy:'instanceId'">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h2>{{appInstance.instanceId}}</h2>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <p>Status: <strong>{{appInstance.state}}</strong></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="text-center">Attributes</h2>
                                        <div ng-repeat="(key, value) in appInstance.attributes">
                                            <h4>{{key}}</h4>
                                            <pre class="pre-scrollable">{{value}}</pre>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="text-center">Metrics</h2>
                                        <div ng-repeat="metric in metrics">
                                            <div ng-if="metric.guid == appInstance.attributes.guid">
                                              <div ng-repeat="(key, value) in metric.metrics">
                                                  <h3>{{key}}: {{value}}</h3>
                                              </div>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td>
            {{item.state}}
        </td>
        <td>
            {{item.instances._embedded.appInstanceStatusResourceList.length}}
        </td>
    </tr>
    </tbody>
</table>
<dir-pagination-controls template-url="scripts/directives/dirPagination.tpl.html"
                         on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
<div class="modal fade" dataflow-modal id="confirm-shutdown" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirm Shutdown Action</h4>
            </div>
            <div class="modal-body">
                <p>This action will shutdown the application <b>{{destroyItem}}</b>. Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="shutdownApplication(destroyItem)">Confirm Shutdown
                </button>
            </div>
        </div>
    </div>
</div>
