<app-tasks-tabulation id="tasks-list" *ngIf="taskDefinitions" #tasksTabulation>

  <div dataflowLayoutType type="full">
    <app-list-bar [params]="params" [page]="taskDefinitions" [countSelected]="countSelected()" #listBar
                  (refresh)="refresh()" (search)="search($event)" [actions]="tasksActions()"
                  (action)="applyAction($event.action)">
    </app-list-bar>

    <table *ngIf="taskDefinitions?.items && taskDefinitions.items.length > 0"
           class="table table-hover table-checkbox" id="taskDefinitionsTable">
      <thead>
      <tr>
        <th style="width: 30px" [dataflowAppRoles]="['ROLE_DESTROY']">
          <app-master-checkbox (change)="changeCheckboxes()" *ngIf="form?.checkboxes" [dataflowAppRoles]="['ROLE_CREATE']"
                               [items]="form.checkboxes"></app-master-checkbox>
        </th>
        <th style="width: 70px">
          <app-sort id="sort-name" (change)="applySort($event)" [value]="'taskName'" [sort]="params">
            Name
          </app-sort>
        </th>
        <th>
          <div class="head-dsl">
            <app-sort id="sort-dsl" (change)="applySort($event)" [value]="'dslText'" [sort]="params">
              Definitions
            </app-sort>
          </div>
        </th>
        <th nowrap="" style="width: 120px">
          Status
        </th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <ng-container
        *ngFor="let item of taskDefinitions.items | paginate: taskDefinitions.getPaginationInstance(); index as i">
        <tr>
          <td class="cell-checkbox" [dataflowAppRoles]="['ROLE_DESTROY']">
            <input [dataflowAppRoles]="['ROLE_CREATE']" type="checkbox" (change)="changeCheckboxes()"
                   [(ngModel)]="form.checkboxes[i]"/>
          </td>
          <td width="200px">
            <a style="cursor:pointer" [routerLink]="'/tasks/definitions/' + item.name">{{ item.name }}</a>
          </td>
          <td>
            <app-stream-dsl>{{ item.dslText | truncate: 120 }}</app-stream-dsl>
          </td>
          <td>
            <app-task-status [taskDefinition]="item"></app-task-status>
          </td>
          <td class="table-actions" width="10px" nowrap="">
            <app-list-row-actions [item]="item" (action)="applyAction($event.action, $event.args)"
                                  [actions]="taskActions(i)"></app-list-row-actions>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>

    <app-list-pagination [page]="taskDefinitions" [params]="params" (changed)="changePaginationPager($event)"
                         [item]="'task definition'" [items]="'task definitions'">
    </app-list-pagination>

    <app-list-empty [page]="taskDefinitions" [filters]="[params.q]">
      <p>There is <strong>no registered task</strong>, yet.</p>
      <div>
        <p [dataflowAppRoles]="['ROLE_CREATE']">
          You can <a (click)="createTask()">Create Task(s)</a> or <a (click)="refresh()">Refresh</a> the page
        </p>
      </div>
    </app-list-empty>

    <app-list-no-result [page]="taskDefinitions" [filters]="[params.q]">
      <p>
        No results found for
        <strong>'{{ params.q }}'</strong>
      </p>
      <p>
        You can <a (click)="listBar.clearSearch()">clear the search</a> or <a (click)="refresh()">Refresh</a> the page.
      </p>
    </app-list-no-result>
  </div>
</app-tasks-tabulation>
