@import '../../../scss/pui-variables';

$spring-green: #1BB3A8;
$spring-brown: #17232a;
$body-bg: inherit;
$btn-default-border: #DFE5E8;
$spring-light-grey: #EEEEEE;
$btn-default-color: white;
$btn-default-bg: #607580;
$flo-shape-fill-color: #f1f1f1;
$spring-grey: #DFE5E8;

$source-color: #0096ff;
$processor-color: #80b600;
$sink-color: #f5be00;
$app-color: #ff00de;
$other-color: #777777;

.stream-editor {
  position: relative;
  .canvas-controls-container {
    top: 12px;
  }
  .flow-actions {
    position: absolute;
    display: inline-flex;
    bottom: 10px;
    left: 5px;
    z-index: 2;
    .btn {
      margin-left: 2px;
    }
  }
}

.stream-editor #flow-view {
  height:625px;
  font-family: inherit;
}

.flow-definition-container {
  border: 1px solid;
  /*border-color: $spring-green;*/
  border-radius: 2px;
  margin-top: 3px;
  /*background-color: $body-bg;*/
  font-family: monospace;
  z-index: 2;
  width:100%;
  height:100px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.flow-definition {
  border: 5px;
  height:100%;
  width:100%;
  font-size: 16px;
  resize: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.flow-definition-container {
  border: 1px solid;
  border-color: /*$spring-green*/$btn-default-border;
  border-radius: 2px;
  margin-top: 3px;
  background-color: $body-bg;
  font-family: monospace;
  z-index: 2;
  width:100%;
  height:100px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.flow-definition {
  border: 5px;
  height:100%;
  width:100%;
  font-size: 16px;
  resize: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* Otherwise ports, link labels, embedded shapes get outline on focus */
svg * {
  outline: none;
}

.port-shape-group {
  cursor: pointer;
}

[magnet=true]:not(.element) {
  cursor: pointer;
}

//.joint-element.highlighted circle {
//  stroke: #34302d;
//  stroke-width: 3;
//}
//
//.joint-element.highlighted path {
//  stroke: #34302d;
//  stroke-width: 3;
//}
//
//.joint-link.highlighted path {
//  stroke-width: 3;
//}

// Make transparent the circle around the link-tools (cog) icon. It'll allow shape to have a circle clicking area
.link-tools .tool-options circle {
  fill: transparent;
  stroke: transparent;
}

.link-tools .tool-options path {
  fill: black;
  stroke: black;
}

.link-tools .tool-remove circle {
  fill: red;
  stroke: red;
}

.link-tools .tool-remove path {
  fill: white;
  stroke: white;
}

.link-tools-container {
  stroke-width: 0;
  fill: transparent;
}

.joint-link.joint-theme-default .marker-vertex {
  fill: #70A5D9;
  stroke: $spring-brown;
  stroke-width: 1;
}

.joint-link.joint-theme-default .marker-vertex:hover {
  fill: #4C7EA5;
  stroke: $spring-brown;
  stroke-width: 2;
}

.joint-link.joint-theme-default .marker-arrowhead {
  fill: #70A5D9;
  stroke: $spring-brown;
  stroke-width: 1;
}

.joint-link.joint-theme-default .marker-arrowhead:hover {
  fill: #4C7EA5;
  stroke: $spring-brown;
  stroke-width: 2;
}

.label1 {
  font-family: inherit;
}

.dsl-editor {
  border: 1px solid;
  border-color: $btn-default-border;
}

.property-code-editor {
  height: 180px;
}

.CodeMirror-lint-tooltip {
  z-index: 2000;
}

.dataflow-main-container .canvas {
  border-color: $btn-default-border;
}

.flow-view .canvas {
  border-color: $btn-default-border;
}

#palette-container {
  background-color: $spring-light-grey;
}

.stream-editor #palette-paper-container {
  height: calc(100% - 37px);
  width: 100%;
}

.palette-paper {
  background-color: white;
  border-color: $btn-default-border;
}

.palette-paper.joint-paper.joint-theme-default {
  background-color: white;
}

.flow-view .palette-filter {
  border-color: #ebf0f2;
  border-width: 2px;
  input[type=search] {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: normal;
  }
  ::placeholder {
    color: $navy-8;
  }
}

.stream-editor #sidebar-resizer {
  background-color: #dfe5e8;
  width: 1px;
}

.box {
  stroke: none;
  fill: $flo-shape-fill-color;
}

.sync-box {
  stroke: none;
  fill: $flo-shape-fill-color;
}


.validation-errors .box {
  fill: rgb(254, 227, 227);
}

.error-marker {
  display: none;
}

.validation-errors .error-marker {
  display: block;
}

.stream-module {
  .stream-label {
    fill: #AAAAAA;
    font-size: 15;
  }
  .name-label {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: normal;
    fill: #222;
  }
  .palette-entry-name-label {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: normal;
    fill: #222;
  }
  .type-label {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: normal;
    fill: white;
  }
}

.composed-task {
  .name-label {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: normal;
    fill: #222;
  }
  .palette-entry-name-label {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: normal;
    fill: #222;
  }
  .type-label {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: normal;
    fill: white;
  }

  .start-circle {
    fill: rgb(27, 41, 49);
    stroke: none;
  }
  .inner {
    fill: rgb(27, 41, 49);
    stroke: none;
  }
  .outer {
    fill: white;
    stroke: rgb(27, 41, 49);
    stroke-width: 1px;
  }
}

.default-name .stream-module .name-label {
  fill: #777777;
}

.type-label-bg {
  rx: 8;
  ry: 8;
  fill: black;
  stroke: none;
  fill: red;
}

.source-module .type-label-bg {
  fill: $source-color;
}

.processor-module .type-label-bg {
  fill: $processor-color;
}

.sink-module .type-label-bg {
  fill: $sink-color;
}

.app-module .type-label-bg {
  fill: $app-color;
}

.other-module .type-label-bg {
  fill: $other-color;
}

.composed-task .type-label-bg {
  fill: #FF5400;
}

.destination .box {
  stroke: none;
  fill: $flo-shape-fill-color;
}

.table .flow-view {
  height: 200px;
}

.CodeMirror pre.CodeMirror-placeholder {
  color: $spring-grey;
}

.dsl-editor-page {
  height: 400px;
}

.fail-cross {
  fill: $spring-green;
  stroke: $spring-green;
}

.connection.composed-task-graph-transition {
  stroke: #777777;
  stroke-dasharray: 1,5;
}

.marker-source.composed-task-graph-transition {
  stroke: #777777;
  fill: #777777;
}

.marker-target.composed-task-graph-transition {
  stroke: #777777;
  fill: #777777;
}


.connection.primary-output-from-app {
  stroke: #000000;
  stroke-dasharray: 1,0;
}

.marker-source.primary-output-from-app {
  stroke: #000000;
  fill: #000000;
}

.marker-target.primary-output-from-app {
  stroke: #000000;
  fill: #000000;
}

.connection.tapped-output-from-app {
  stroke-dasharray: 5,2;
}

.connection {
  stroke: #f1f1f1;
}

// Link Tools handle shows up on a link in Composed Task editor
.link-tool.composed-task .tool-options {
  display: block;
}

.link-tool.create-stream .tool-options {
  display: block;
}

.flo-port-label {
  fill: black;
}

.flo-port-label-bg {
  fill: lightblue;
  stroke: lightblue;
  stroke-width: 7px;
  rx: 3;
  ry: 3;
  refWidth: 1;
  refHeight: 1;
}

.joint-link:hover .link-channel-label {
  opacity: 1;
}

.link-channel-label {
  opacity: 0;
}



@keyframes flash-stroke-width {
  0%    { stroke-width: 1; }
  50%   { stroke-width: 4; }
  100%  { stroke-width: 1; }
}

// Stream modules DnD shape animation
.dnd-source-feedback .stream-module .box {
  animation: flash-stroke-width 2s linear infinite;
}
.dnd-target-feedback .stream-module .box {
  animation: flash-stroke-width 2s linear infinite;
}

// Stream modules DnD shape animation
.dnd-source-feedback .destination .box {
  animation: flash-stroke-width 2s linear infinite;
}
.dnd-target-feedback .destination .box {
  animation: flash-stroke-width 2s linear infinite;
}

// Composed Task DnD shape animation
.dnd-source-feedback .composed-task .border {
  animation: flash-stroke-width 2s linear infinite;
}
.dnd-target-feedback .composed-task .border {
  animation: flash-stroke-width 2s linear infinite;
}

// Ports DnD animation
.dnd-source-feedback.input-port {
  animation: flash-stroke-width 2s linear infinite;
}
.dnd-source-feedback.output-port {
  animation: flash-stroke-width 2s linear infinite;
}
.dnd-target-feedback.input-port {
  animation: flash-stroke-width 2s linear infinite;
}
.dnd-target-feedback.output-port {
  animation: flash-stroke-width 2s linear infinite;
}

// Links DnD feedback animation
.dnd-source-feedback .connection {
  animation: flash-stroke-width 2s linear infinite;
}
.dnd-target-feedback .connection {
  animation: flash-stroke-width 2s linear infinite;
}

.stream-deploying .box {
  animation: flash-stroke-width 2s linear infinite;
}

.instance-dot:hover {
  stroke-width: 3;
}

.joint-type-dataflow-instancedot.joint-element.deployed {
  stroke: $spring-green;
  fill: $flo-shape-fill-color;
}

.joint-type-dataflow-instancedot.joint-element {
  stroke: 'gray';
  fill: 'transparent';
}

table.zoom-canvas-control {
  tr {
    border: 0px;
  }
  tr:last-child {
    border: 0px;
  }
  td {
    border: 0px;
    padding: 0px;
  }
}

.dataflow-main-container .zoom-canvas-input {
  border: 0px;
  padding: 0px;
  font-size: 11px;
  background-color: transparent;
}

.tooltip {
  position: absolute;
}

.code-editor-host {
  height: 120px;
  width: 405px;
  border: 1px solid;
  border-color: $btn-default-border;
}

.connecting .flo-input-port {
  fill: $spring-green;
  r: 4;
}

.connecting .flo-output-port {
  fill: $spring-green;
  r: 4;
}

.connecting .label-group {
  display: block;
}

.label-group {
  display: none;
}

.flo-port {
  fill: rgb(24, 41, 50);
  stroke: white;
  stroke-width: 2px;
}

.validation-errors .flo-port {
  fill: red;
}

.flo-port-inner-circle {
  fill: white;
  stroke: none;
}

.available-magnet .flo-port {
  stroke: none;
}


.flo-input-multiport {
  fill: #777777;
  stroke-width: 1px;
  stroke: #34302d;
}

.flo-output-multiport {
  fill: #777777;
  stroke-width: 1px;
  stroke: #34302d;
}

.flo-port-label {
  fill: black;
}

.flo-port-label-bg {
  fill: lightblue;
  stroke: lightblue;
  stroke-width: 7px;
  rx: 3;
  ry: 3;
  refWidth: 1;
  refHeight: 1;
}

.select-1, .select-2, .select-3, .select-4, .select-5, .select-6 {
  fill: #fff;
  opacity: 0;
  stroke: #222
}

.select-outline {
  opacity: 0;
  fill: rgb(208, 231, 255);
  stroke: rgb(208, 231, 255);
  stroke-width: 1px;
}

.joint-element.highlighted .box {
  stroke: #222;
  stroke-width: 1px;
  fill: #fff;
}

.joint-element.highlighted .select-1, .joint-element.highlighted .select-2, .joint-element.highlighted .select-3,
.joint-element.highlighted .select-4, .joint-element.highlighted .select-5, .joint-element.highlighted .select-6 {
  opacity: 1;
  stroke-width: 1px;
}

.joint-element.highlighted .select-outline {
  opacity: 1;
  fill: rgb(208, 231, 255);
  stroke: rgb(208, 231, 255);
  stroke-width: 10px;
}

.handle-label {
  fill: rgb(116,116,116);
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: underline;
}

.handle-label:hover {
  font-weight: bolder;
}

// Error marker tooltip on the shape

.error-marker-tooltip .tooltip-inner {
  background-color: red;
  max-width: 400px;
  padding: 2px;
}

.tooltip.error-marker-tooltip .tooltip-arrow {
  border-top-color: red;
}

.marker-tooltip {

  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    border-bottom: 1px solid white;
    text-align: left;
  }

  li:last-child {
    border: none;
  }

}

.joint-type-palette-groupheader {
  .outer {
    fill: transparent;
  }
  .group-label-bg {
    rx: 8;
    ry: 8;
    fill: red;
  }
  .group-label-bg.source {
    fill: $source-color;
  }
  .group-label-bg.processor {
    fill: $processor-color;
  }
  .group-label-bg.sink {
    fill: $sink-color;
  }
  .group-label-bg.other {
    fill: $other-color;
  }
  .group-label-bg.app {
    fill: $app-color;
  }
  .group-label {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: normal;
    fill: white;
  }
  .group-line {
    stroke: #BBBBBB;
    stroke-width: 1px;
    stroke-linecap: round;
  }
}

.flo-handles {
  fill: rgb(116,116,116);
  font-size: 12px;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: underline;
  display: none;
  .handle {
    cursor: pointer;
    :hover {
      font-weight: bolder;
    }
  }

}

.joint-element.highlighted .flo-handles {
  display: block;
}




