<clr-modal [(clrModalOpen)]="isOpen" *ngIf="history" [clrModalClosable]="!isRunning">
  <h3 class="modal-title">{{ 'streams.rollback.title' | translate }}</h3>
  <div class="modal-body" *ngIf="!isRunning">
    <div [innerHTML]="'streams.rollback.content' | translate: {name: history.stream, version: history.version}"></div>
  </div>
  <div class="modal-body" *ngIf="isRunning">
    <clr-spinner clrInline clrSmall></clr-spinner>
    {{ 'streams.rollback.rollbacking' | translate }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="isOpen = false" [disabled]="isRunning">
      {{ 'commons.cancel' | translate }}
    </button>
    <button type="button" class="btn btn-primary" (click)="rollback()" [disabled]="isRunning">
      {{ 'streams.rollback.rollback' | translate }}
    </button>
  </div>
</clr-modal>
