<div *ngIf="!loading">
  <h1 class="page-title">
    <span class="text-truncate">
      Launch task <strong *ngIf="task">{{ task.name }}</strong>
    </span>
  </h1>
  <p style="margin-top: 0.6rem; margin-bottom: 0.6rem">
    <ng-container i18n>Please specify any optional deployment properties. You can either use the builder.</ng-container>
    <br />
    <ng-container i18n>Alternatively, you can point to an external properties file containing the deployment properties. For more
    information please see the Technical Documentation.</ng-container>
  </p>

  <clr-tabs *ngIf="!loading && task">
    <clr-tab>
      <button clrTabLink
              id="link1"
              i18n>
        Builder
      </button>
      <clr-tab-content id="content1" *clrIfActive="true">
        <app-task-launch-builder
          [task]="task"
          [properties]="properties"
          [arguments]="arguments"
          (exportProperties)="runPropertiesExport($event)"
          (copyProperties)="runPropertiesCopy($event)"
          (updateProperties)="updateProperties($event)"
          (updateArguments)="updateArguments($event)"
          (launch)="runLaunch($event.props, $event.args)"
        >
        </app-task-launch-builder>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button
        clrTabLink
        i18n>
        Freetext
      </button>
      <clr-tab-content *clrIfActive>
        <app-task-launch-free-text
          [task]="task"
          [properties]="properties"
          [arguments]="arguments"
          (exportProperties)="runPropertiesExport($event)"
          (exportArguments)="runArgumentsExport($event)"
          (copyProperties)="runPropertiesCopy($event)"
          (copyArguments)="runArgumentsCopy($event)"
          (updateProperties)="updateProperties($event)"
          (updateArguments)="updateArguments($event)"
          (launch)="runLaunch($event.props, $event.args)"
        >
        </app-task-launch-free-text>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>

  <clr-modal [(clrModalOpen)]="isLaunching" *ngIf="task" [clrModalClosable]="false">
    <h3 class="modal-title">Launch task</h3>
    <div class="modal-body" *ngIf="isLaunching">
      <clr-spinner clrInline clrSmall></clr-spinner>&nbsp;
      <span><ng-container i18n>Launching task ...</ng-container></span>
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btn-outline"
              [disabled]="true"
              i18n>
        Cancel
      </button>
    </div>
  </clr-modal>
</div>

<div *ngIf="loading">
  <clr-spinner clrInline clrSmall></clr-spinner>
  <ng-container i18n>Loading data ...</ng-container>
</div>
