<div *ngIf="!loading">
  <h1 class="page-title">
    <span class="text-truncate">
      Launch task <strong *ngIf="task">{{task.name}}</strong>
    </span>
  </h1>
  <p style="margin-top: .6rem;margin-bottom: .6rem">
    Please specify any optional deployment properties. You can either use the builder.
    <br/>
    Alternatively, you can point to an external properties file containing the deployment properties. For more
    information please see the Technical Documentation.
  </p>


  <clr-tabs *ngIf="!loading && task">
    <clr-tab>
      <button clrTabLink id="link1">Builder</button>
      <clr-tab-content id="content1" *clrIfActive="true">
        <app-task-launch-builder [task]="task"
                                  [properties]="properties"
                                  [arguments]="arguments"
                                  (exportProperties)="runPropertiesExport($event)"
                                  (copyProperties)="runPropertiesCopy($event)"
                                  (updateProperties)="updateProperties($event)"
                                  (updateArguments)="updateArguments($event)"
                                  (launch)="runLaunch($event.props, $event.args)">
        </app-task-launch-builder>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink>Freetext</button>
      <clr-tab-content *clrIfActive>
        <app-task-launch-free-text [task]="task"
                                    [properties]="properties"
                                    [arguments]="arguments"
                                    (exportProperties)="runPropertiesExport($event)"
                                    (exportArguments)="runArgumentsExport($event)"
                                    (copyProperties)="runPropertiesCopy($event)"
                                    (copyArguments)="runArgumentsCopy($event)"
                                    (updateProperties)="updateProperties($event)"
                                    (updateArguments)="updateArguments($event)"
                                    (launch)="runLaunch($event.props, $event.args)">
        </app-task-launch-free-text>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</div>

<div *ngIf="loading">
  <clr-spinner clrInline clrSmall></clr-spinner>
  Loading data ...
</div>
