<h1>
  <ng-container i18n>Job execution</ng-container> <strong *ngIf="!loading">{{ execution.name }} ({{ execution.jobExecutionId }})</strong>
</h1>
<div *ngIf="!loading">
  <div class="datagrid-action-bar">
    <button
      type="button"
      class="btn btn-sm btn-secondary"
      (click)="restart()"
      [disabled]="execution.status !== 'FAILED' && execution.status !== 'STOPPED' && execution.status !== 'ERROR'"
      i18n>
      Restart the job
    </button>
    <button
      type="button"
      class="btn btn-sm btn-secondary"
      (click)="stop()"
      [disabled]="execution.status === 'FAILED' || execution.status === 'ERROR' || execution.status === 'COMPLETED'"
      i18n>
      Stop the job
    </button>
    <button class="btn btn-sm btn-secondary"
            grafanaDashboardJobExecution
            [jobExecution]="execution"
            i18n>
      Grafana Dashboard
    </button>
  </div>

  <div class="clr-row">
    <div class="clr-col-lg-6 clr-col-md-12 clr-col-12">
      <app-view-card titleModal="Information" keyContext="job" name="{{ execution.jobExecutionId }}" id="info">
        <ng-template>
          <div class="block card-block-keyvalue lg-key" *ngIf="!loading">
            <div class="row">
              <div class="key"><ng-container i18n>Id</ng-container></div>
              <div class="value">{{ execution.jobExecutionId }}</div>
            </div>
            <div class="row">
              <div class="key"><ng-container i18n>Job Name</ng-container></div>
              <div class="value">{{ execution.name }}</div>
            </div>
            <div class="row">
              <div class="key"><ng-container i18n>Job Instance</ng-container></div>
              <div class="value">{{ execution.jobInstanceId }}</div>
            </div>
            <div class="row">
              <div class="key"><ng-container i18n>Task Execution Id</ng-container></div>
              <div class="value">
                <a routerLink="/tasks-jobs/task-executions/{{ execution.taskExecutionId }}">{{
                  execution.taskExecutionId
                }}</a>
              </div>
            </div>
            <div class="row">
              <div class="key"><ng-container i18n>Job Parameters</ng-container></div>
              <div class="value">{{ execution.jobParametersString }}</div>
            </div>
            <div class="row">
              <div class="key"><ng-container i18n>Start Time</ng-container></div>
              <div class="value">{{ execution.startTime | datetime }}</div>
            </div>
            <div class="row">
              <div class="key"><ng-container i18n>End Time</ng-container></div>
              <div class="value">{{ execution.endTime | datetime }}</div>
            </div>
            <div class="row">
              <div class="key"><ng-container i18n>Duration</ng-container></div>
              <div class="value">{{ execution.startTime | duration: execution.endTime }}</div>
            </div>
            <div class="row">
              <div class="key"><ng-container i18n>Status</ng-container></div>
              <div class="value">
                <span class="{{ execution.labelStatusClass() }}">{{ execution.status }}</span>
              </div>
            </div>
            <div class="row">
              <div class="key"><ng-container i18n>Exit Code</ng-container></div>
              <div class="value">
                <span class="{{ execution.labelExitCodeClass() }}">{{ execution.exitCode }}</span>
              </div>
            </div>
            <div class="row">
              <div class="key"><ng-container i18n>Exit Message</ng-container></div>
              <div class="value">{{ execution.exitMessage }}</div>
            </div>
            <div class="row">
              <div class="key"><ng-container i18n>Step Execution Count</ng-container></div>
              <div class="value">{{ execution.stepExecutionCount }}</div>
            </div>
          </div>
        </ng-template>
      </app-view-card>
    </div>
    <div class="clr-col-lg-6 clr-col-md-12 clr-col-12">
      <app-view-card titleModal="Task" keyContext="job" name="{{ execution.jobExecutionId }}" id="task">
        <ng-template>
          <div *ngIf="!loadingTask">
            <div class="block card-block-keyvalue" *ngIf="task">
              <div class="row">
                <div class="key"><ng-container i18n>Name</ng-container></div>
                <div class="value">{{ task.name }}</div>
              </div>
              <div *ngIf="task.description" class="row">
                <div class="key"><ng-container i18n>Description</ng-container></div>
                <div class="value">{{ task.description }}</div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Definition</ng-container></div>
                <div class="value">
                  <span class="dsl-text">{{ task.dslText }}</span>
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Status</ng-container></div>
                <div class="value">
                  <span class="{{ task.labelStatusClass() }}">{{ task.status }}</span>
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Applications</ng-container></div>
                <div class="value">
                  <div *ngIf="!loadingApplications">
                    <div *ngFor="let app of applications">
                      <strong>{{ app.name }}</strong
                      >&nbsp;
                      <span class="label label-app {{ app.type }}">{{ app.origin }}</span>
                    </div>
                  </div>
                  <div *ngIf="loadingApplications">
                    <clr-spinner clrInline clrSmall></clr-spinner>
                    <ng-container i18n>Loading application(s)...</ng-container>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!task"><ng-container i18n>No task found.</ng-container></div>
          </div>
          <div *ngIf="loadingTask">
            <clr-spinner clrInline clrSmall></clr-spinner>
            <ng-container i18n>Loading task...</ng-container>
          </div>
        </ng-template>
        <div class="card-footer" *ngIf="task">
          <button class="btn btn-sm btn-secondary"
                  (click)="navigateTask()"
                  i18n>
            View task
          </button>
          <button type="button"
                  class="btn btn-sm btn-secondary"
                  (click)="relaunch()"
                  i18n>
            Relaunch Task
          </button>
        </div>
      </app-view-card>
      <app-view-card titleModal="Task execution" keyContext="job" name="{{ execution.jobExecutionId }}" id="execution">
        <ng-template>
          <div class="block card-block-keyvalue lg-key" *ngIf="!loadingExecution">
            <div *ngIf="taskExecution">
              <div class="row">
                <div class="key"><ng-container i18n>Execution Id</ng-container></div>
                <div class="value">{{ taskExecution.executionId }}</div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Arguments</ng-container></div>
                <div class="value">
                  <div *ngIf="taskExecution.getArgumentsToArray().length > 0">
                    <div *ngFor="let arg of taskExecution.getArgumentsToArray()">
                      {{ arg[0] }}:
                      <strong>{{ arg[1] }}</strong>
                    </div>
                  </div>
                  <div *ngIf="taskExecution.getArgumentsToArray().length === 0">N/A</div>
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>External Execution Id</ng-container></div>
                <div class="value">
                  {{ taskExecution.externalExecutionId || 'N/A' }}
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Job Execution Ids</ng-container></div>
                <div class="value">
                  <a
                    [routerLink]="'/tasks-jobs/job-executions/' + jobExecutionId"
                    *ngFor="let jobExecutionId of taskExecution.jobExecutionIds"
                  >
                    {{ jobExecutionId }}
                  </a>
                  <div *ngIf="taskExecution.jobExecutionIds?.length === 0">N/A</div>
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Batch Job</ng-container></div>
                <div class="value">
                  <clr-icon *ngIf="taskExecution.jobExecutionIds?.length > 0" shape="check"></clr-icon>
                  <clr-icon *ngIf="taskExecution.jobExecutionIds?.length === 0" shape="success-standard"></clr-icon>
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Start Time</ng-container></div>
                <div class="value">
                  {{ taskExecution.startTime | datetime }}
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>End Time</ng-container></div>
                <div class="value">
                  {{ taskExecution.endTime | datetime }}
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Duration</ng-container></div>
                <div class="value">
                  {{ taskExecution.startTime | duration: taskExecution.endTime }}
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Exit Code</ng-container></div>
                <div class="value">
                  {{ taskExecution.exitCode }}
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Exit Message</ng-container></div>
                <div class="value">
                  {{ taskExecution.exitMessage || 'N/A' }}
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Resource URL</ng-container></div>
                <div class="value">
                  {{ taskExecution.resourceUrl || 'N/A' }}
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Application Properties</ng-container></div>
                <div class="value">
                  <div *ngIf="taskExecution.getAppPropertiesToArray().length > 0">
                    <div *ngFor="let arg of taskExecution.getAppPropertiesToArray()">
                      {{ arg.key }}:
                      <strong>{{ arg.value }}</strong>
                    </div>
                  </div>
                  <div *ngIf="taskExecution.getAppPropertiesToArray().length === 0">N/A</div>
                </div>
              </div>
              <div class="row">
                <div class="key"><ng-container i18n>Platform Properties</ng-container></div>
                <div class="value">
                  <div *ngIf="taskExecution.getDeploymentPropertiesToArray().length > 0">
                    <div *ngFor="let arg of taskExecution.getDeploymentPropertiesToArray()">
                      {{ arg[0] }}:
                      <strong>{{ arg[1] }}</strong>
                    </div>
                  </div>
                  <div *ngIf="taskExecution.getDeploymentPropertiesToArray().length === 0">N/A</div>
                </div>
              </div>
            </div>
            <div *ngIf="!taskExecution"><ng-container i18n>No execution yet.</ng-container></div>
          </div>
          <div *ngIf="loadingExecution">
            <clr-spinner clrInline clrSmall></clr-spinner>
            <ng-container i18n>Loading task...</ng-container>
          </div>
        </ng-template>
        <div class="card-footer" *ngIf="execution">
          <button class="btn btn-sm btn-secondary"
                  (click)="navigateTaskExecution()"
                  i18n>
            View task execution
          </button>
          <button class="btn btn-sm btn-secondary"
                  (click)="viewLog()"
                  *ngIf="hasLog()"
                  i18n>
            View log
          </button>
        </div>
      </app-view-card>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-lg-12 clr-col-md-12 clr-col-12">
      <app-view-card titleModal="Steps" keyContext="job" name="{{ execution.jobExecutionId }}" id="steps">
        <ng-template>
          <table class="table table-noborder table-compact" style="margin: 0">
            <thead>
              <tr>
                <th class="left"><ng-container i18n>Step Id</ng-container></th>
                <th class="left"><ng-container i18n>Step Name</ng-container></th>
                <th class="left"><ng-container i18n>Reads</ng-container></th>
                <th class="left"><ng-container i18n>Writes</ng-container></th>
                <th class="left"><ng-container i18n>Commits</ng-container></th>
                <th class="left"><ng-container i18n>Rollbacks</ng-container></th>
                <th class="left"><ng-container i18n>Duration</ng-container></th>
                <th class="left"><ng-container i18n>Status</ng-container></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let step of execution.stepExecutions">
                <td class="left">
                  <a routerLink="/tasks-jobs/job-executions/{{ execution.jobExecutionId }}/{{ step.id }}">{{
                    step.id
                  }}</a>
                </td>
                <td class="left">
                  <a routerLink="/tasks-jobs/job-executions/{{ execution.jobExecutionId }}/{{ step.id }}">{{
                    step.name
                  }}</a>
                </td>
                <td class="left">{{ step.readCount }}</td>
                <td class="left">{{ step.writeCount }}</td>
                <td class="left">{{ step.commitCount }}</td>
                <td class="left">{{ step.rollbackCount }}</td>
                <td class="left">{{ step.startTime | duration: step.endTime }}</td>
                <td class="left">
                  <span class="{{ step.labelStatusClass() }}">{{ step.status }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </app-view-card>
    </div>
  </div>
</div>

<div *ngIf="loading" style="padding: 1rem 0">
  <clr-spinner clrInline clrSmall></clr-spinner>
  <ng-container i18n>Loading job execution...</ng-container>
</div>

<app-confirm #restartModal (onConfirmed)="restartJob()" title="Confirm restart the job execution" yes="Restart">
  <ng-container i18n>This action will restart the steps failed of the job execution</ng-container>
  <strong>{{ execution?.name }} ({{ execution?.jobExecutionId }})</strong>.<br />
  <ng-container i18n>Are you sure?</ng-container>
</app-confirm>

<app-confirm #stopModal (onConfirmed)="stopJob()" title="Confirm stop the job execution" yes="Stop">
  <ng-container i18n>This action will stop the job execution</ng-container>
  <strong>{{ execution?.name }} ({{ execution?.jobExecutionId }})</strong>.<br />
  <ng-container i18n>Are you sure?</ng-container>
</app-confirm>

<app-task-execution-log #logModal></app-task-execution-log>
