<table class="table-hover table-condensed container-details-table">
    <tbody>
    <tr>
        <td class="text-left"><strong>Guid</strong></td>
        <td>{{moduleInstanceData.properties['spring.cloud.application.guid']}}</td>
    </tr>
    <tr ng-if="moduleInstanceData.properties['spring.cloud.dataflow.stream.app.type'] !== 'source'">
        <td class="text-left"><strong>Incoming</strong></td>
        <td>{{moduleInstanceData.computed.inputMean}}</td>
    </tr>
    <tr ng-if="moduleInstanceData.properties['spring.cloud.dataflow.stream.app.type'] !== 'sink'">
        <td class="text-left"><strong>Outgoing</strong></td>
        <td>{{moduleInstanceData.computed.outputMean}}</td>
    </tr>
    </tbody>
</table>
