<div>
    <div ng-if="cell.attr('metadata/name')">
        <span><strong>{{cell.attr('metadata/name') | uppercase}}</strong></span>
        <span><strong>{{'(' + (cell.attr('metadata/group') | capitalize) + ')'}}</strong></span>
    </div>
    <div ng-if="description">
        <span>{{description}}</span>
    </div>
    <table class="table-condensed" ng-if="cell.attr('props') && !cell.attr('metadata/metadata/hide-tooltip-options')">
        <tbody>
            <tr ng-repeat="property in keys(cell.attr('props')).sort()">
                <td nowrap class="text-left tooltip-property-key"><strong ng-bind="property"></strong></td>
                <td class="text-left tooltip-property-value" ng-class="{'tooltip-property-value-code': isCode(property)}" ng-bind="getPropertyValue(property)"></td>
            </tr>
        </tbody>
    </table>
</div>
