<table class="table-hover table-condensed container-details-table">
    <tbody>
    <tr>
        <td class="text-left"><strong>Groups</strong></td>
        <td>{{containerInfo().groups}}</td>
    </tr>
    <tr>
        <td class="text-left"><strong>Host</strong></td>
        <td>{{containerInfo().host}}</td>
    </tr>
    <tr>
        <td class="text-left"><strong>IP</strong></td>
        <td>{{containerInfo().ip}}</td>
    </tr>
    <tr>
        <td class="text-left"><strong>Port</strong></td>
        <td>{{containerInfo().managementPort}}</td>
    </tr>
    <tr>
        <td class="text-left"><strong>Pid</strong></td>
        <td>{{containerInfo().pid}}</td>
    </tr>
    </tbody>
</table>
