<div id="flo-container">
	<flo-editor disable-properties="true" palette-size="170" paper-padding="50" metamodel-service-name="StreamMetamodelServiceXD"
				editor-service-name="xdFloEditorService" render-service-name="xdFloRenderService">
		<div class="row no-user-selection">
			<div class="col-md-12">
				<div class="col-md-12 table-filter">
					<button ng-click="createStreamDefs()" class="btn btn-default" ng-disabled="!definition.text">Create Stream</button>
					<button ng-click="flo.clearGraph()" class="btn btn-default">Clear</button>
					<button ng-click="flo.performLayout(); flo.fitToPage();" class="btn btn-default">Layout</button>
				<span class="btn btn-default">
					<label>Zoom: </label>
					<input class="btn btn-default flo-toolbar" type="text" ng-model="flo.zoomPercent" ng-model-options="{ getterSetter: true, updateOn: 'blur change' }" size="3"></input>
					<label>%</label>
					<span>
					<input type="range" ng-model="flo.zoomPercent" ng-model-options="{ getterSetter: true }" step="{{flo.getZoomStep()}}" max="{{flo.getMaxZoom()}}" min="{{flo.getMinZoom()}}" data-type="range" name="range" class="range flo-toolbar"/>
					</span>
				</span>
				<span class="btn btn-default">
                    <input type="checkbox" ng-model="flo.autolink">Auto Link</input>
				</span>
                <span class="btn btn-default">
                    <input type="checkbox" ng-model="gridOn" ng-model-options="{ getterSetter: true }">Grid</input>
				</span>
				</div>
			</div>
		</div>
		<div class="flow-definition-container">
			<textarea dsl-editor id="flow-definition" class="flow-definition" ng-model="definition.text" content-assist-service-name="xdStreamContentAssistService"></textarea>
		</div>
	</flo-editor>
</div>