<form name="streamForm" ng-submit="submitStreams()" dataflow-form-autofocus>
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Confirm Stream(s) Creation</h4>
    </div>
    <div class="modal-body">
        <div ng-if="errors && errors.length" class="dialog-validation">
            <div ng-repeat="error in errors">
                <label class="glyphicon glyphicon-exclamation-sign dialog-error-sign"></label>
                <label>{{error}}</label>
            </div>
        </div>
        <div ng-if="!(errors && errors.length) && warnings && warnings.length" class="dialog-validation">
            <div ng-repeat="warning in warnings">
                <label class="glyphicon glyphicon-warning-sign dialog-warning-sign"></label>
                <label>{{warning}}</label>
            </div>
        </div>
        <p>This action will create stream(s):</p>
        <table class="table table-striped table-hover table-fixed table-compact">
            <col width="300px"/>
            <col width="auto"/>
            <tbody>
            <tr ng-repeat="def in streamdefs" ng-if="!def.created" ng-class="streamForm['stream-' + $index].$invalid ? 'has-warning has-feedback' : ''">
                <td>
                    <input class="form-control" name="{{'stream-' + $index}}" type="text" placeholder="<Stream Name>" ng-model-options="{ debounce: 250 }"
                           ng-model="def.name" ng-pattern="/^\s*[\w\-]+\s*$/" ng-trim="true" required unique-field-values="stream-" unique-stream-name/>
                    <p ng-show="streamForm['stream-' + $index].$error.required" class="help-block validation-block">Stream name is required!</p>
                    <p ng-show="streamForm['stream-' + $index].$error.uniqueStreamName" class="help-block validation-block">Stream name is already taken!</p>
                    <p ng-show="streamForm['stream-' + $index].$error.pattern" class="help-block validation-block">Invalid stream name!</p>
                    <p ng-show="streamForm['stream-' + $index].$error.uniqueFieldValues" class="help-block validation-block">Duplicate stream name on the form!</p>
                </td>
                <td>
                    <label class="control-label">{{def.def}}</label>
                </td>
            </tr>
            </tbody>
        </table>
        <label class="dialog-control"><input type="checkbox" ng-model="deploy"/>Deploy stream(s)</label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-disabled="!canSubmit()">Create</button>
    </div>
</form>
