<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 table-filter">
            <table class="col-lg-12 tab-content-header">
                <tr>
                    <td class="col-xs-8">
                        <button type="button" ng-click="expandPage();"
                                class="btn btn-default"
                        ><span class="glyphicon glyphicon-collapse-down"></span>
                            Expand All
                        </button>
                        <button type="button" ng-click="collapsePage();"
                                class="btn btn-default"
                        ><span class="glyphicon glyphicon-expand"></span>
                            Collapse All
                        </button>
                    </td>
                    <td>
                        <input type="text" class="form-control" ng-model="pageable.filterQuery" id="filterTable"
                               ng-model-options='{ debounce: 1000 }' ng-change="searchChanged()"
                               placeholder="Filter definitions">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<table class="table table-double-striped table-hover">
    <thead>
    <tr>
        <th></th>
        <th table-sort sort-property="['DEFINITION_NAME', 'DEFINITION']" sort-state="pageable" sort-order-change-handler="sortChanged">Name</th>
        <th table-sort sort-property="['DEFINITION','DEFINITION_NAME']"  sort-state="pageable" sort-order-change-handler="sortChanged">Definition</th>
        <th>Status <a class="status-help" dataflow-popover=".status-help-content" title="Available Deployment Statuses"><span class="glyphicon glyphicon-question-sign"></span></a></th>
        <th colspan="4" class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr dir-paginate-start="item in pageable.items | itemsPerPage: pageable.pageSize" total-items="pageable.total" ng-show="!item.inactive">
        <td>
            <button class="collapse-handle-button" ng-click="toggleExpanded(item.name)" ng-class="{on:isExpanded(item.name)}"></button>
        </td>
        <td>{{item.name}}</td>
        <td>{{item.dslText}}</td>
        <td>{{item.status}}</td>
        <td class="action-column">
            <button type="button" ng-click="detailed(item)" class="btn btn-default">
                <span class="glyphicon glyphicon-info-sign"></span> Details
            </button>
        </td>
        <td class="action-column">
            <button type="button" ng-click="undeployStream(item)" roles="['ROLE_CREATE']"
                    ng-disabled="item.status === 'deploying' || item.status === 'undeployed'"
                    class="btn btn-default"
                    ><span class="glyphicon glyphicon-stop"></span> Undeploy
            </button>
        </td>
        <td class="action-column">
            <button type="button" ng-click="deployStream(item)" roles="['ROLE_CREATE']"
                    ng-disabled="item.status === 'deploying' || item.status === 'deployed' || item.status === 'incomplete' || item.status === 'failed'"
                    class="btn btn-default"
                    ><span class="glyphicon glyphicon-play"></span> Deploy
            </button>
        </td>
        <td class="action-column">
            <button type="button" ng-click="clickModal(item)" roles="['ROLE_CREATE']"
                    class="btn btn-default" data-toggle="modal" data-target="#confirm-destroy"
                    ><span class="glyphicon glyphicon-remove"></span> Destroy
            </button>
        </td>
    </tr>
    <tr dir-paginate-end ng-show="!item.inactive">
        <td ng-if="isExpanded(item.name)" colspan="7" ng-class="{undeployed: item.status !== 'deployed'}">
            <flo-editor ng-controller="StreamController" init-read-only-canvas="true" metamodel-service-name="StreamMetamodelService" render-service-name="StreamRenderService" init-read-only-canvas="true"
                        ng-init="paperPadding=65; definition.text=item.dslText; flo.noPalette=true; canvasControls={zoom:true};"></flo-editor>
        </td>
    </tr>
    </tbody>
</table>
<dir-pagination-controls template-url="scripts/directives/dirPagination.tpl.html"
                         on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
<div class="modal fade" dataflow-modal id="confirm-destroy" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirm Destroy Action</h4>
            </div>
            <div class="modal-body">
                <p>This action will undeploy and delete the stream <b>{{destroyItem.name}}</b>. Are you sure?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-disabled="destroyItem.inactive"
                        ng-click="destroyStream(destroyItem)">Confirm Destroy
                </button>
            </div>
        </div>
    </div>
</div>

<div class="status-help-content hide">
  <table class="table-hover table-condensed status-help-content-table">
    <tbody>
      <tr><td><strong>deploying</strong></td><td>Deployment has been initiated</td></tr>
      <tr><td><strong>deployed</strong></td><td>Fully deployed based on each of the stream's apps' count properties</td></tr>
      <tr><td><strong>incomplete</strong></td><td>At least 1 of each app, but 1 or more of them not at requested capacity</td></tr>
      <tr><td><strong>failed</strong></td><td>1 or more of the apps does not have even a single instance deployed</td></tr>
      <tr><td><strong>undeployed</strong></td><td>Intentionally undeployed, or created but not yet deployed</td></tr>
    </tbody>
  </table>
</div>
