<h1 class="no-user-selection">Streams</h1>
<p ng-class="{ hide: !$state.includes('home.streams.tabs.definitions') }" class="index-page--subtitle no-user-selection"> This section
    lists all the stream definitions and provides the ability to deploy/undeploy or destroy streams.
</p>
<p ng-class="{ hide: !$state.includes('home.streams.tabs.create') }" class="index-page--subtitle no-user-selection">Create a stream using text based input or
the visual editor.
</p>
<div class="tab-pane active col-md-12">
    <ul class="nav nav-tabs no-user-selection">
        <li ng-class="{ active: $state.includes('home.streams.tabs.definitions') }"><a
                ui-sref="home.streams.tabs.definitions">Definitions</a>
        </li>
        <li ng-class="{ active: $state.includes('home.streams.tabs.create') }"><a
                ui-sref="home.streams.tabs.create">Create Stream</a>
    </ul>
    <div class="tab-content">
        <div ui-view></div>
    </div>
</div>
