<h1>Register Applications</h1>
<p>Register one or more applications by entering a <strong>Name</strong>, <strong>Type</strong> and <strong>URI</strong> of the application Jar. The URI is typically provided using the Maven coordinates of the Jar (e.g. <code>maven://io.spring.cloud:scdf-sample-app:jar:exec:1.0.0.BUILD-SNAPSHOT</code>), but can be a local file or a docker image URI.</p>
<hr/>
<form name="registerAppsForm" role="form" ng-submit="register()" novalidate>
    <table class="table form-table">
        <col width="20%">
        <col width="10%">
        <col width="57%">
        <col width="8%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>URI</th>
                <th>
                    <span>
                        <input type="checkbox" ng-model="toggleAllForce" ng-model-options="{ getterSetter: true }" ui-indeterminate="someForceButNotAll()"/>
                        Force
                        <a dataflow-popover=".force-help-content" title="Force"><span class="glyphicon glyphicon-question-sign"></span></a>
                    </span>
                </th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr id="{{$index}}" ng-repeat="app in apps">
                <td>
                    <div ng-class="registerAppsForm[$index + '_name'].$invalid ? 'has-warning has-feedback' : ''">
                        <input type="text" id="{{$index + '_name'}}" name="{{$index + '_name'}}" class="form-control" placeholder="<Application Name>" required ng-model="app.name" ng-pattern="namePattern">
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="registerAppsForm[$index + '_name'].$invalid"></span>
                    </div>
                </td>
                <td>
                    <select id="{{$index + '_type'}}" name="{{$index + '_type'}}" class="form-control full-cell-select-input" ng-model="app.type" ng-options="type | capitalize for type in types">
                </td>
                <td>
                    <div ng-class="registerAppsForm[$index + '_uri'].$invalid ? 'has-warning has-feedback' : ''">
                        <input type="text" id="{{$index + '_uri'}}" name="{{$index + '_uri'}}" class="form-control" placeholder="<maven://io.spring.cloud:scdf-sample-app:jar:exec:1.0.0.BUILD-SNAPSHOT>" required ng-model="app.uri" ng-pattern="uriPattern">
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="registerAppsForm[$index + '_uri'].$invalid"></span>
                    </div>
                </td>
                <td class="text-center">
                    <input type="checkbox" id="{{$index + '_force'}}" name="{{$index + '_force'}}" ng-model="app.force">
                </td>
                <td class="action-column">
                    <button type="button" ng-click="addApp($index)"
                            class="btn btn-sm btn-default"
                            title="Add"
                    ><span class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>
                <td class="action-column">
                    <button type="button" ng-click="removeApp($index)"
                            ng-disabled="apps.length <= 1"
                            class="btn btn-sm btn-default"
                            title="Remove"
                    ><span class="glyphicon glyphicon-minus"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-6 text-right"><button id="back-button"   type="button" class="btn btn-default" ng-click="close()">Cancel</button></div>
        <div class="col-md-6 text-left"><button  id="submit-button" type="submit" class="btn btn-default" ng-disabled="registerAppsForm.$invalid">Register</button></div>
    </div>
</form>

<div class="force-help-content hide">
    <span class="force-help-content">By checking <strong>force</strong>, the application will be installed even if it already exists but only if not being used already.</span>
</div>
