<h1>Register Applications</h1>
<p>Register one or more applications by entering <strong>Name</strong>, <strong>Type</strong> and <strong>URI</strong> of the application JAR. The URI is typically Maven coordinates of the JAR, but can be local file or docker image URI.</p>
<hr/>
<form name="registerModulesForm" role="form" ng-submit="register()" novalidate>
    <table class="table form-table">
        <col width="20%">
        <col width="10%">
        <col width="58%">
        <col width="7%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>URI</th>
                <th>
                    <span>
                        <input type="checkbox" ng-model="toggleAllForce" ng-model-options="{ getterSetter: true }" ui-indeterminate="someForceButNotAll()"/>
                        Force
                    </span>
                </th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr id="{{$index}}" ng-repeat="module in modules">
                <td>
                    <div ng-class="registerModulesForm[$index + '_name'].$invalid ? 'has-warning has-feedback' : ''">
                        <input type="text" id="{{$index + '_name'}}" name="{{$index + '_name'}}" class="form-control" placeholder="<Application Name>" required ng-model="module.name" ng-pattern="namePattern">
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="registerModulesForm[$index + '_name'].$invalid"></span>
                    </div>
                </td>
                <td>
                    <select id="{{$index + '_type'}}" name="{{$index + '_type'}}" class="form-control full-cell-select-input" ng-model="module.type" ng-options="type | capitalize for type in types">
                </td>
                <td>
                    <div ng-class="registerModulesForm[$index + '_uri'].$invalid ? 'has-warning has-feedback' : ''">
                        <input type="text" id="{{$index + '_uri'}}" name="{{$index + '_uri'}}" class="form-control" placeholder="<Application URI>" required ng-model="module.uri" ng-pattern="uriPattern">
                        <span class="glyphicon glyphicon-warning-sign form-control-feedback" ng-show="registerModulesForm[$index + '_uri'].$invalid"></span>
                    </div>
                </td>
                <td class="text-center">
                    <input type="checkbox" id="{{$index + '_force'}}" name="{{$index + '_force'}}" ng-model="module.force">
                </td>
                <td class="action-column">
                    <button type="button" ng-click="addModule($index)"
                            class="btn btn-sm btn-default"
                    ><span class="glyphicon glyphicon-plus"></span>
                    </button>
                </td>
                <td class="action-column">
                    <button type="button" ng-click="removeModule($index)"
                            ng-disabled="modules.length <= 1"
                            class="btn btn-sm btn-default"
                    ><span class="glyphicon glyphicon-minus"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-6 text-right"><button id="back-button"   type="button" class="btn btn-default" ng-click="close()">Cancel</button></div>
        <div class="col-md-6 text-left"><button  id="submit-button" type="submit" class="btn btn-default" ng-disabled="registerModulesForm.$invalid">Register</button></div>
    </div>
</form>
