<clr-modal [(clrModalOpen)]="isOpen" *ngIf="tasks" [clrModalClosable]="!isRunning">
  <h3 *ngIf="tasks?.length === 1" class="modal-title"><ng-container i18n>Clone Task</ng-container></h3>
  <h3 *ngIf="tasks?.length > 1" class="modal-title"><ng-container i18n>Clone Tasks</ng-container></h3>
  <div class="modal-body" *ngIf="!isRunning && !loading">
    <form
      clrForm
      clrLayout="horizontal"
      (submit)="submit()"
      [formGroup]="form"
      clrLabelSize="4"
      style="padding: 0; margin: 0"
    >
      <div style="margin-bottom: 0"><ng-container i18n>This action will create the following</ng-container> <strong><ng-container i18n>task(s)</ng-container></strong>:</div>
      <div class="alert alert-danger" *ngIf="form?.hasError('uniqueTaskNames')">
        <div class="alert-items">
          <div class="alert-item static">
            <div class="alert-icon-wrapper">
              <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
            </div>
            <div class="alert-text"><ng-container i18n>Duplicate task name, please check input names.</ng-container></div>
          </div>
        </div>
      </div>
      <div *ngFor="let task of tasks; let i = index" class="card" style="padding: 10px 0">
        <div class="card-block">
          <div class="clr-form-control clr-row" style="margin-top: 0; height: 42px">
            <label class="clr-control-label clr-col-12 clr-col-md-2"><ng-container i18n>Definition</ng-container>:</label>
            <div class="clr-control-container form-control input-sm clr-col-md-10 clr-col-12">
              <span class="dsl-text dsl-truncate">{{ task.dslText }}</span>
            </div>
          </div>
          <clr-input-container style="margin-top: 0">
            <label class="clr-col-12 clr-col-md-2"><ng-container i18n>Name</ng-container></label>
            <input
              clrInput
              name="name"
              id="name"
              formControlName="{{ task.name }}"
              [dataflowFocus]="true"
              class="clr-col-12 clr-col-md-10"
              style="width: 100%"
            />
            <clr-control-error *clrIfError="'required'"><ng-container i18n>Task name is required.</ng-container></clr-control-error>
            <clr-control-error *clrIfError="'pattern'">
              <ng-container i18n>Invalid task name (no space or special charaters).</ng-container>
            </clr-control-error>
            <clr-control-error *clrIfError="'maxLength'">
              <ng-container i18n>Task name must be less than 255 characters long.</ng-container>
            </clr-control-error>
            <clr-control-error *clrIfError="'uniqueTaskName'"> <ng-container i18n>Task name is already taken.</ng-container> </clr-control-error>
          </clr-input-container>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-body" *ngIf="isRunning">
    <clr-spinner clrInline clrSmall></clr-spinner>
    <ng-container i18n>Loading...</ng-container>
  </div>
  <div class="modal-body" *ngIf="isRunning">
    <clr-spinner clrInline clrSmall></clr-spinner>
    <ng-container i18n>Cloning task(s)...</ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="isOpen = false" [disabled]="isRunning">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="submit()" [disabled]="isRunning">
      <span *ngIf="tasks.length === 1"><ng-container i18n>Clone the task</ng-container></span>
      <span *ngIf="tasks.length > 1"><ng-container i18n>Clone the tasks</ng-container></span>
    </button>
  </div>
</clr-modal>
