<clr-modal [(clrModalOpen)]="isOpen" *ngIf="executions" [clrModalClosable]="!isRunning">
  <h3 class="modal-title">{{ 'executions.cleanup.title' | translate }}</h3>
  <div class="modal-body" *ngIf="executions.length === 1 && !isRunning">
    <p
      [innerHTML]="
        'executions.cleanup.description'
          | translate: {executionId: executions[0].executionId, taskName: executions[0].taskName}
      "
    ></p>
  </div>
  <div class="modal-body" *ngIf="executions.length > 1 && !isRunning">
    <p [innerHTML]="'executions.cleanup.description2' | translate: {count: executions.length}"></p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="left">{{ 'executions.main.executionId' | translate }}</th>
          <th class="left">{{ 'executions.main.taskName' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let execution of executions">
          <td class="left">{{ execution.executionId }}</td>
          <td class="left">{{ execution.taskName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-body" *ngIf="isRunning">
    <clr-spinner clrInline clrSmall></clr-spinner>
    {{ 'executions.cleanup.removing' | translate }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="isOpen = false" [disabled]="isRunning">
      {{ 'commons.cancel' | translate }}
    </button>
    <button
      data-cy="cleanup"
      id="btn-stop"
      type="button"
      class="btn btn-danger"
      (click)="clean()"
      [disabled]="isRunning"
    >
      <span *ngIf="executions.length === 1">{{ 'executions.cleanup.cleanupExecution' | translate }}</span>
      <span *ngIf="executions.length > 1">{{ 'executions.cleanup.cleanupExecutions' | translate }}</span>
    </button>
  </div>
</clr-modal>
