<clr-modal [(clrModalOpen)]="isOpen" *ngIf="schedules" [clrModalClosable]="!isRunning">
  <h3 *ngIf="schedules?.length === 1" class="modal-title">{{ 'schedules.destroy.title' | translate }}</h3>
  <h3 *ngIf="schedules?.length > 1" class="modal-title">{{ 'schedules.destroy.title2' | translate }}</h3>
  <div class="modal-body" *ngIf="schedules.length === 1 && !isRunning">
    <div [innerHTML]="'schedules.destroy.description' | translate: {name: schedules[0].name}"></div>
  </div>
  <div class="modal-body" *ngIf="schedules?.length > 1 && !isRunning">
    <div [innerHTML]="'schedules.destroy.description2' | translate: {count: schedules.length}"></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="left">{{ 'schedules.main.name' | translate }}</th>
          <th class="left">{{ 'schedules.main.taskName' | translate }}</th>
          <th class="left">{{ 'schedules.main.platform' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let schedule of schedules">
          <td class="left">
            <strong>{{ schedule.name }}</strong>
          </td>
          <td class="left">{{ schedule.taskName }}</td>
          <td class="left">{{ schedule.platform }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-body" *ngIf="isRunning">
    <clr-spinner clrInline clrSmall></clr-spinner>
    {{ 'schedules.destroy.deleting' | translate }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="isOpen = false" [disabled]="isRunning">
      {{ 'commons.cancel' | translate }}
    </button>
    <button type="button" class="btn btn-danger" (click)="destroy()" [disabled]="isRunning">
      <span *ngIf="schedules.length === 1">{{ 'schedules.destroy.delete' | translate }}</span>
      <span *ngIf="schedules.length > 1">{{ 'schedules.destroy.delete2' | translate }}</span>
    </button>
  </div>
</clr-modal>
