<h1>Bulk Define Tasks</h1>
<p>
    Define tasks in bulk. Type in tasks definitions in the text box or simply browse to a local <strong>task definitions
    file</strong>.
</p>
<hr/>

<form class="form-horizontal tab-pane col-md-12" name="bulkDefineTasksForm" role="form" ng-submit="defineTasks(dsl)"
      novalidate>
    <div class="row" style="margin-bottom: 1em;">
        <p>
            Enter Tasks definitions in the DSL editor.
        </p>
    </div>
    <fieldset id="bulkDefine">
        <div class="form-group">
            <div class="dsl-editor dsl-editor-page">
                <textarea id="taskDefinitions" autofocus ng-trim="false"
                          class="form-control" generic-dsl-editor dsl="dsl" debounce="300" line-wrapping=true"
                          line-numbers="true"
                          content-assist-service-name="TaskDslContentAssistService"
                          lint-service-name="TaskDslLintService" placeholder="TODO: Example Task Definition DSL goes here"></textarea>
                <span class="glyphicon glyphicon-warning-sign form-control-feedback"
                      ng-show="bulkDefineTasksForm.taskDefinitions.$invalid"></span>
            </div>
            <p class="text-right" style="margin-top:1em;">
                Select a file from local file system to import its contents into the DSL editor.
                <label type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-file"></span>
                    <input type="file" on-read-file="displayFileContents(contents)" style="display:none;"/>
                    Import File
                </label>
            </p>
        </div>
    </fieldset>
    <div class="row" style="margin-bottom: 2em;">
        <div class="col-md-6 text-right">
            <button id="back-button" type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
        <div class="col-md-6 text-left">
            <button id="submit-button" type="submit" class="btn btn-default" ng-disabled="bulkDefineTasksForm.$invalid">
                <span class="glyphicon glyphicon-import" aria-hidden="true"></span> Create
            </button>
        </div>
    </div>
</form>