<div class="row">
	<div class="col-md-12">
		<div class="col-md-12 table-filter">
			<div class="col-md-4 col-md-offset-8">
				<input type="text" class="form-control" ng-model="filterQuery" id="filterTable" placeholder="Quick filter">
			</div>
		</div>
	</div>
</div>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Execution Id</th><th>Task Name</th><th>Start Time</th>
			<th>End Time</th><th>Exit Code</th>
		</tr>
	</thead>
	<tbody>
		<tr dir-paginate="item in pageable.items | itemsPerPage: pageable.pageSize | filter:filterQuery" total-items="pageable.total"
		    ng-show="!item.inactive">
			<td>{{item.executionId}}</td>
			<td>{{item.taskName}}</td>
			<td dataflow-date-time="{{item.startTime}}"></td>
			<td dataflow-date-time="{{item.endTime}}"></td>
			<td>{{item.exitCode}}</td>
		</tr>
	</tbody>
</table>
<dir-pagination-controls template-url="scripts/directives/dirPagination.tpl.html"
                         on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
