<button type="button" class="btn btn-default pull-right" ng-click="closeTaskExecutionDetails()">Back</button>
<div class="row hidden-xs" ng-show="taskExecutionDetails">
  <div class="col-sm-12">
    <h1>Task Execution Details - Execution ID: {{taskExecutionDetails.executionId}}</h1>
  </div>
</div>
<div class="visible-xs" ng-show="taskExecutionDetails">
  <div class="row">
    <div class="col-xs-12">
      <h1>Task Execution Details</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>Execution ID: {{taskExecutionDetails.executionId}}</h1>
    </div>
  </div>
</div>

<h4 ng-show="taskExecutionDetailsNotFound">The Task Execution Details for Execution ID {{executionId}} could not be found.</h4>

<table class="table table-striped table-hover" ng-show="taskExecutionDetails">
  <thead>
    <tr>
      <th class="col-md-2">Property</th><th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Id</td>
      <td>{{taskExecutionDetails.executionId}}</td>
    <tr>
    <tr>
      <td>Task Name</td>
      <td>{{taskExecutionDetails.taskName}}</td>
    <tr>
    <tr>
      <td>Arguments</td>
      <td>{{taskExecutionDetails.arguments || 'N/A'}}</td>
    <tr>
    <tr>
      <td>External Execution Id</td>
      <td>{{jobExecutionDetails.externalExecutionId || 'N/A'}}</td>
    <tr>
    <tr>
      <td>Start Time</td>
      <td dataflow-date-time="{{taskExecutionDetails.startTime}}"></td>
    <tr>
    <tr>
      <td>End Time</td>
      <td dataflow-date-time="{{taskExecutionDetails.endTime}}"></td>
    <tr>
    <tr>
      <td>Batch Job</td>
      <td>
        <span ng-show="taskExecutionDetails.jobExecutionIds.length > 0" class="glyphicon glyphicon-ok text-info" aria-hidden="true"></span>
        <span ng-hide="taskExecutionDetails.jobExecutionIds.length > 0" class="glyphicon glyphicon-remove"       aria-hidden="true"></span>
      </td>
    <tr>
    <tr>
      <td>Job Execution Ids</td>
      <td><span ng-repeat="jobExecutionId in taskExecutionDetails.jobExecutionIds"><button type="button" class="btn btn-default" ng-click="viewJobExecutionDetails(jobExecutionId)" title="Details">{{jobExecutionId}}</button>{{$last ? '' : '&nbsp;'}}</span></td>
    <tr>
    <tr>
      <td>Start Time</td>
      <td dataflow-date-time="{{taskExecutionDetails.startTime}}"></td>
    <tr>
    <tr>
      <td>End Time</td>
      <td dataflow-date-time="{{taskExecutionDetails.endTime}}"></td>
    <tr>
    <tr>
      <td>Duration</td>
      <td dataflow-duration start='taskExecutionDetails.startTime' end='taskExecutionDetails.endTime'></td>
    <tr>
    <tr>
      <td>Exit Code</td>
      <td>{{taskExecutionDetails.exitCode}}</td>
    <tr>
    <tr>
      <td>Exit Message</td>
      <td>{{taskExecutionDetails.exitMessage || 'N/A'}}</td>
    <tr>
  </tbody>
</table>

