<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th table-sort sort-property="['TASK_EXECUTION_ID']" sort-state="pageable" sort-order-change-handler="sortChanged">Execution Id</th>
			<th table-sort sort-property="['TASK_NAME',  'TASK_EXECUTION_ID']" sort-state="pageable" sort-order-change-handler="sortChanged">Task Name</th>
			<th table-sort sort-property="['START_TIME', 'TASK_EXECUTION_ID']" sort-state="pageable" sort-order-change-handler="sortChanged">Start Time</th>
			<th table-sort sort-property="['END_TIME',   'TASK_EXECUTION_ID']" sort-state="pageable" sort-order-change-handler="sortChanged">End Time</th>
			<th table-sort sort-property="['EXIT_CODE',  'TASK_EXECUTION_ID']" sort-state="pageable" sort-order-change-handler="sortChanged">Exit Code</th>
			<th class="text-center">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr dir-paginate="item in pageable.items | itemsPerPage: pageable.pageSize" total-items="pageable.total"
		    ng-show="!item.inactive">
			<td>{{item.executionId}}</td>
			<td>{{item.taskName}}</td>
			<td dataflow-date-time="{{item.startTime}}"></td>
			<td dataflow-date-time="{{item.endTime}}"></td>
			<td>{{item.exitCode}}</td>
			<td class="action-column"><button type="button" class="btn btn-default" ng-click="viewTaskExecutionDetails(item)" title="Details"><span class="glyphicon glyphicon-search"></span></button></td>
		</tr>
	</tbody>
</table>
<dir-pagination-controls template-url="scripts/directives/dirPagination.tpl.html"
                         on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
