<h1>Launch - Task Parameters for Task {{taskLaunchRequest.taskName}}</h1>

<form class="form-horizontal" name="launchTaskForm" role="form" ng-submit="launchTask(taskLaunchRequest)" novalidate>
	<fieldset id="taskParameters" ng-form="taskParameterForm" ng-repeat="taskParam in taskLaunchRequest.taskParameters" ng-if="taskLaunchRequest.taskParameters.length">
		<div class="row" ng-show="!$first">
			<div class="col-xs-12">
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				<button data-id="" type="button" class="btn btn-warning" data-dismiss="modal" ng-click="removeParameter(taskParam)"><span class="glyphicon glyphicon-remove"></span></button>
			</div>
			<div class="col-xs-10">
				<div class="form-group">
					<div class="col-xs-10 col-sm-5" ng-class="taskParameterForm.key.$invalid && taskParameterForm.key.$touched ? 'has-warning has-feedback' : ''">
						<input type="text" name="key" class="form-control" placeholder="Parameter Key" ng-model="taskParam.key" required>
						<span class="glyphicon glyphicon-warning-sign form-control-feedback"
								ng-show="taskParameterForm.key.$invalid && taskParameterForm.key.$touched"></span>
						<p class="help-block" ng-show="taskParameterForm.key.$error.required && taskParameterForm.key.$touched">You must provide a key.</p>
					</div>
					<div class="col-xs-10 col-sm-5" ng-class="taskParameterForm.value.$invalid && taskParameterForm.value.$touched ? 'has-warning has-feedback' : ''">
						<input type="text" name="value" class="form-control" placeholder="Parameter Value" ng-model="taskParam.value" required>
						<span class="glyphicon glyphicon-warning-sign form-control-feedback"
								ng-show="taskParameterForm.value.$invalid && taskParameterForm.value.$touched"></span>
						<p class="help-block" ng-show="taskParameterForm.value.$error.required && taskParameterForm.value.$touched">You must provide a value.</p>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset id="taskParameters3" ng-if="!taskLaunchRequest.taskParameters.length">
		<div class="row">
			<div class="col-md-12 text-center">
				No parameters added. If needed, please add a task parameter before launching the task.
			</div>
		</div>
	</fieldset>
	<div class="row" style="margin-top: 1em;">
		<div class="col-md-3 text-left"><button type="button" class="btn btn-default add-task-param" ng-click="addParameter()">
		<span class="glyphicon glyphicon-plus"></span> Param</button></div>
		<div class="col-md-3 text-right"><button type="button" class="btn btn-default" ng-click="cancelTaskLaunch(taskLaunchRequest)">Back</button></div>
		<div class="col-md-6 text-left"><button type="submit" class="btn btn-primary launch-task"
		ng-disabled="launchTaskForm.$invalid">Launch Task <span class="glyphicon glyphicon-play"></span></button></div>
	</div>
</form>

