<h1>Launch Task '{{taskLaunchRequest.taskName}}'</h1>

<form class="form-horizontal" name="launchTaskForm" role="form" ng-submit="launchTask(taskLaunchRequest)" novalidate>

	<div class="row" style="margin-top: 1em;">
		<div class="col-xs-6 text-left">
			<h2>Task Arguments</h2>
		</div>
		<div class="col-xs-6 text-right"><button type="button" class="btn btn-default add-task-param" ng-click="addArgument()">
			<span class="glyphicon glyphicon-plus"></span> Argument</button></div>
	</div>
	<hr>
	<fieldset id="taskAguments" ng-form="launchTaskForm" ng-repeat="taskArgument in taskLaunchRequest.taskArguments" ng-if="taskLaunchRequest.taskArguments.length">
		<div class="row" ng-show="!$first">
			<div class="col-xs-12">
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				<button data-id="" type="button" class="btn btn-warning" data-dismiss="modal" ng-click="removeArgument(taskArgument)"><span class="glyphicon glyphicon-remove"></span></button>
			</div>
			<div class="col-xs-10">
				<div class="form-group">
					<div class="col-xs-10 col-sm-5" ng-class="launchTaskForm.key.$invalid && launchTaskForm.key.$touched ? 'has-warning has-feedback' : ''">
						<input type="text" name="key" class="form-control" placeholder="Argument Key" ng-model="taskArgument.key" required>
						<span class="glyphicon glyphicon-warning-sign form-control-feedback"
							  ng-show="launchTaskForm.key.$invalid && launchTaskForm.key.$touched"></span>
						<p class="help-block" ng-show="launchTaskForm.key.$error.required && launchTaskForm.key.$touched">You must provide a key.</p>
					</div>
					<div class="col-xs-10 col-sm-5" ng-class="launchTaskForm.value.$invalid && launchTaskForm.value.$touched ? 'has-warning has-feedback' : ''">
						<input type="text" name="value" class="form-control" placeholder="Argument Value" ng-model="taskArgument.value" required>
						<span class="glyphicon glyphicon-warning-sign form-control-feedback"
							  ng-show="launchTaskForm.value.$invalid && launchTaskForm.value.$touched"></span>
						<p class="help-block" ng-show="launchTaskForm.value.$error.required && launchTaskForm.value.$touched">You must provide a value.</p>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset id="taskArguments3" ng-if="!taskLaunchRequest.taskArguments.length">
		<div class="row">
			<div class="col-xs-12 text-center">
				No Arguments added. If needed, please add a task arguments before launching the task.
			</div>
		</div>
	</fieldset>
	<div class="row" style="margin-top: 1em;">
		<div class="col-xs-6 text-left">
			<h2>Task Properties</h2>
		</div>
		<div class="col-xs-6 text-right"><button type="button" class="btn btn-default add-task-param" ng-click="addProperty()">
			<span class="glyphicon glyphicon-plus"></span> Property</button></div>
	</div>
	<hr>
	<fieldset id="taskProperties" ng-form="taskPropertyForm" ng-repeat="taskProperty in taskLaunchRequest.taskProperties" ng-if="taskLaunchRequest.taskProperties.length">
		<div class="row" ng-show="!$first">
			<div class="col-xs-12">
				<hr>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2">
				<button data-id="" type="button" class="btn btn-warning" data-dismiss="modal" ng-click="removeProperty(taskProperty)"><span class="glyphicon glyphicon-remove"></span></button>
			</div>
			<div class="col-xs-10">
				<div class="form-group">
					<div class="col-xs-10 col-sm-5" ng-class="taskPropertyForm.key.$invalid && taskPropertyForm.key.$touched ? 'has-warning has-feedback' : ''">
						<input type="text" name="key" class="form-control" placeholder="Parameter Key" ng-model="taskProperty.key" required>
						<span class="glyphicon glyphicon-warning-sign form-control-feedback"
								ng-show="taskPropertyForm.key.$invalid && taskPropertyForm.key.$touched"></span>
						<p class="help-block" ng-show="taskPropertyForm.key.$error.required && taskPropertyForm.key.$touched">You must provide a key.</p>
					</div>
					<div class="col-xs-10 col-sm-5" ng-class="taskPropertyForm.value.$invalid && taskPropertyForm.value.$touched ? 'has-warning has-feedback' : ''">
						<input type="text" name="value" class="form-control" placeholder="Parameter Value" ng-model="taskProperty.value" required>
						<span class="glyphicon glyphicon-warning-sign form-control-feedback"
								ng-show="taskPropertyForm.value.$invalid && taskPropertyForm.value.$touched"></span>
						<p class="help-block" ng-show="taskPropertyForm.value.$error.required && taskPropertyForm.value.$touched">You must provide a value.</p>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset id="taskProperty3" ng-if="!taskLaunchRequest.taskProperties.length">
		<div class="row">
			<div class="col-xs-12 text-center">
				No properties added. If needed, please add a task property before launching the task.
			</div>
		</div>
	</fieldset>
	<div class="row" style="margin-top: 1em;">
		<div class="col-xs-6 text-right"><button type="button" class="btn btn-default" ng-click="cancelTaskLaunch(taskLaunchRequest)">Back</button></div>
		<div class="col-xs-6 text-left"><button type="submit" class="btn btn-primary launch-task"
		ng-disabled="launchTaskForm.$invalid">Launch Task <span class="glyphicon glyphicon-play"></span></button></div>
	</div>
</form>

