<form [formGroup]="formGroup" (submit)="deployStream()">
  <p [innerHTML]="'streams.deploy.freetext.description' | translate"></p>
  <div class="form-textarea">
    <div class="numbers">
      <ng-template ngFor let-item [ngForOf]="lines">
        <div class="number">
          <span [class.invalid]="!item.valid">{{ item.label }}</span>
        </div>
      </ng-template>
    </div>
    <textarea dataflowAutoResize [dataflowFocus]="true" formControlName="input"></textarea>
  </div>
  <div class="bar">
    <div class="btn-group">
      <clr-tooltip>
        <button
          clrTooltipTrigger
          type="button"
          class="btn btn-sm btn-file btn btn-secondary"
          (click)="propertiesFile.click()"
          style="border-right: 0"
        >
          <input
            formControlName="file"
            id="propertiesFile"
            name="propertiesFile"
            type="file"
            #propertiesFile
            (change)="fileChange($event)"
          />
          {{ 'commons.importFile' | translate }}
        </button>
        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
          <span [innerHTML]="'streams.deploy.freetext.tooltip' | translate"></span>
        </clr-tooltip-content>
      </clr-tooltip>

      <button id="btn-export" type="button" class="btn btn-sm btn btn-secondary" (click)="exportProps()">
        {{ 'streams.deploy.main.export' | translate }}
      </button>
      <button id="btn-copy" type="button" class="btn btn-sm btn btn-secondary" (click)="copyToClipboard()">
        {{ 'streams.deploy.main.copy' | translate }}
      </button>
    </div>
  </div>

  <div>
    <a id="btn-cancel" class="btn btn-default" routerLink="/streams/list">{{ 'commons.cancel' | translate }}</a>
    <button id="btn-deploy" type="submit" class="btn btn-primary">
      <span *ngIf="!isDeployed">{{ 'streams.deploy.freetext.deploy' | translate }}</span>
      <span *ngIf="isDeployed">{{ 'streams.deploy.freetext.update' | translate }}</span>
    </button>
  </div>
</form>
