<form [formGroup]="formGroup" (submit)="deployStream()">
  <p>
    <ng-container i18n>Enter the list of properties into the text area field below. Alternatively, you can also select a file in your local
    file system, which is used to populate the text area field.</ng-container>
  </p>
  <div class="form-textarea">
    <div class="numbers">
      <ng-template ngFor let-item [ngForOf]="lines">
        <div class="number">
          <span [class.invalid]="!item.valid">{{ item.label }}</span>
        </div>
      </ng-template>
    </div>
    <textarea dataflowAutoResize [dataflowFocus]="true" formControlName="input"></textarea>
  </div>
  <div class="bar">
    <div class="btn-group">
      <clr-tooltip>
        <button
          clrTooltipTrigger
          type="button"
          class="btn btn-sm btn-file btn btn-secondary"
          (click)="propertiesFile.click()"
          style="border-right: 0"
        >
          <input
            formControlName="file"
            id="propertiesFile"
            name="propertiesFile"
            type="file"
            #propertiesFile
            (change)="fileChange($event)"
          />
          <ng-container i18n>Import a local file</ng-container>
        </button>
        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
          <span>
            <ng-container i18n>Please provide a text file containing properties. This will be used to populate the text area above.</ng-container>
          </span>
        </clr-tooltip-content>
      </clr-tooltip>

      <button id="btn-export"
              type="button"
              class="btn btn-sm btn btn-secondary"
              (click)="exportProps()"
              i18n>
        Export
      </button>
      <button id="btn-copy"
              type="button"
              class="btn btn-sm btn btn-secondary"
              (click)="copyToClipboard()"
              i18n>
        Copy to Clipboard
      </button>
    </div>
  </div>

  <div>
    <a id="btn-cancel" class="btn btn-default" routerLink="/streams/list"><ng-container i18n>Cancel</ng-container></a>
    <button id="btn-deploy" type="submit" class="btn btn-primary">
      <span *ngIf="!isDeployed"><ng-container i18n>Deploy the stream</ng-container></span>
      <span *ngIf="isDeployed"><ng-container i18n>Update the stream</ng-container></span>
    </button>
  </div>
</form>
