$border-color: #CCC;
$border-separator-color: #637885;

.properties-box {
  border-left: 3px solid $border-color;
  padding: 1rem;
  font-family: Menlo, Consolas, "Courier New", monospace;
  font-size: 14px;
  .property {
    position: relative;
    padding-left: 25px;
    &.invalid {
      color: #CC1F27;
      span.key {
        color: #CC1F27;
      }
    }
    .fa {
      position: absolute;
      top: 5px;
      left: 5px;
      display: block;
      z-index: 99;
      font-size: 15px;
    }
    span.value {
      font-weight: bold;
    }
    span.key {
      color: #3777ae;
    }
  }
}

.tab-pane {
  background: #fff;
}

.builder {
  display: flex;
  padding-bottom: 20px;
  padding-top: 10px;
  .col-fixed {
    flex: 0 0 250px;
    border-right: 1px solid $border-color;
    padding-bottom: 20px;
    .line-body {
      padding-left: 35px;
    }
    &.global {
      flex: 0 0 250px;
      border-right: 1px solid $border-separator-color;
      .line-body {
        padding-left: 4px;
      }
    }
  }
  .scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    .col {
      width: 250px;
      flex: 0 0 auto;
      border-right: 1px solid $border-color;
      padding-bottom: 20px;
    }
  }

  .line-head {
    height: 60px;
    text-align: center;
  }
  .line-toggle {
    background: #F5F6F7;
    height: 42px;
    line-height: 42px;
    margin-top: 4px;
    position: relative;
  }
  .line-body {
    position: relative;
    height: 42px;
    padding: 4px;
    .status {
      position: absolute;
      left: 7px;
      top: 10px;
      color: #CC1F27;
    }
    .placeholder-unit {
      display: block;
      position: absolute;
      top: 10px;
      right: 15px;
      color: #758b98;
    }
  }

  .form-control {
    height: 36px;
    padding: 4px 12px;
    &.form-control-number {
      padding-right: 60px;
    }
  }

  .col-key {
    .form-control-label {
      background: #F5F6F7;
      color: rgba(0, 0, 0, .65);
    }
  }

  .form-control-label {
    position: relative;
    .btn {
      position: absolute;
      top: 2px;
      right: 2px;
      padding: 5px 8px;
      height: 30px;
    }
  }

  select {
    height: 36px;
    font-size: 16px;
    padding-left: 12px;
  }

  .help {
    color: #1B78B3;
    position: absolute;
    right: 8px;
    top: 1px;
    cursor: pointer;
  }

  .toggle {
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 40px;
    margin-right: 30px;
    color: #000;
    .fa-chevron-right, .fa-chevron-down {
      position: absolute;
      top: 12px;
      left: 15px;
    }
    .fa-chevron-right {
      top: 14px;
      left: 17px;
    }
    &:hover {
      text-decoration: none;
    }
  }
}
