<clr-modal [(clrModalOpen)]="isOpen" *ngIf="task" [clrModalClosable]="!isRunning">
  <h3 class="modal-title">{{ 'tasks.cleanup.title' | translate }}</h3>
  <div class="modal-body" *ngIf="!isRunning && !loading && count.completed === count.all">
    <p [innerHTML]="'tasks.cleanup.confirmContent' | translate: {count: count.all}"></p>
  </div>
  <div class="modal-body" *ngIf="!isRunning && !loading && count.completed !== count.all">
    <p style="padding-bottom: 8px">{{ 'tasks.cleanup.selectContent' | translate }}</p>
    <clr-radio-wrapper>
      <input type="radio" clrRadio [(ngModel)]="status" value="all" name="options" />
      <label>{{ 'tasks.cleanup.all' | translate: {all: count.all} }}</label>
    </clr-radio-wrapper>
    <clr-radio-wrapper>
      <input type="radio" clrRadio [(ngModel)]="status" value="completed" name="options" />
      <label>{{ 'tasks.cleanup.completed' | translate: {completed: count.completed} }}</label>
    </clr-radio-wrapper>
  </div>
  <div class="modal-body" *ngIf="isRunning">
    <clr-spinner clrInline clrSmall></clr-spinner>
    {{ 'tasks.cleanup.removingAll' | translate }}
  </div>
  <div class="modal-body" *ngIf="loading">
    <clr-spinner clrInline clrSmall></clr-spinner>
    {{ 'tasks.cleanup.commons.loading' | translate }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="isOpen = false" [disabled]="isRunning">
      {{ 'commons.cancel' | translate }}
    </button>
    <button
      data-cy="cleanup"
      id="btn-stop"
      type="button"
      class="btn btn-danger"
      (click)="clean()"
      [disabled]="isRunning"
    >
      <span>{{ 'tasks.cleanup.cleanup' | translate }}</span>
    </button>
  </div>
</clr-modal>
