
.label {
  border-radius: 12px;
  font-size: 12px;
  background: #87939f;
  position: relative;
  padding-left: 24px;
  i.fa {
    position: absolute;
    top: 6px;
    left: 7px;
  }
  i.fa-cloud {
    top: 5px;
  }
}
