<app-page>
  <app-page-head>
    <app-page-head-title><strong>Analytics</strong></app-page-head-title>
  </app-page-head>
  <div class="page-tab">
    <div class="page-tab-head">
      <div class="page-tab-head-content">
        <p [hidden]="!router.isActive('/analytics/dashboard', true)">
          This section displays dashboard for the metrics data from various counter apps.
        </p>
        <p [hidden]="!router.isActive('/analytics/counters', true)">
          This section displays counters and their values.
        </p>
      </div>
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active"><a routerLink="dashboard">Dashboard</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="counters">Counters</a></li>
      </ul>
    </div>
    <div class="tab-pane">
      <router-outlet></router-outlet>
    </div>
  </div>
</app-page>
