<h1>{{ 'streams.multiDeploy.title' | translate }}</h1>

<div *ngIf="!isLoading" class="multi-deploy">
  <form clrForm clrLayout="horizontal" (submit)="runDeploy()" spellcheck="false">
    <div class="card" *ngFor="let streamConfig of streamConfigs; let i = index" [formGroup]="form[i]">
      <div class="card-header">
        <span class="text-truncate">
          <span *ngIf="streamConfig.stream.status === 'UNDEPLOYED'">{{ 'commons.deploy' | translate }}</span>
          <span *ngIf="streamConfig.stream.status !== 'UNDEPLOYED'">{{ 'commons.update' | translate }}</span>
          <strong>&nbsp;{{ streamConfig.stream.name }}</strong>
        </span>
      </div>
      <div class="card-block">
        <div class="card-text">
          <div class="clr-form-control clr-row">
            <div class="clr-col-md-1 clr-control-label">{{ 'commons.definition' | translate }}</div>
            <div class="clr-col-10">
              <span class="dsl-text">
                <app-stream-dsl [dsl]="streamConfig.stream.dslText" [expandable]="false"></app-stream-dsl>
              </span>
            </div>
          </div>
          <div class="clr-form-control clr-row">
            <div class="clr-col-md-1 clr-control-label">{{ 'commons.description' | translate }}</div>
            <div class="clr-col-10">
              {{ streamConfig.stream.description }}
            </div>
          </div>
          <div class="clr-form-control clr-row">
            <div class="clr-col-md-1 clr-control-label">{{ 'commons.status' | translate }}</div>
            <div class="clr-col-10">
              <span class="label label-{{ streamConfig.stream.labelStatusClass() }}">{{
                streamConfig.stream.status
              }}</span>
            </div>
          </div>
          <clr-select-container *ngIf="platforms.length > 1">
            <label class="clr-col-md-1">{{ 'commons.platform' | translate }}</label>
            <select clrSelect tabindex="1" formControlName="platform" [dataflowFocus]="i === 0">
              <option *ngFor="let platform of platforms" [value]="platform.name">
                {{ platform.name }}
                ({{ platform.type }})
              </option>
            </select>
            <clr-control-error>{{ 'streams.multiDeploy.invalidPlatform' | translate }}</clr-control-error>
          </clr-select-container>

          <clr-control-container class="key-value-wrapper">
            <label class="clr-col-md-1">{{ 'commons.properties' | translate }}</label>
            <app-key-value
              clrControl
              formControlName="properties"
              [kvFocus]="i === 0 && platforms.length < 2"
            ></app-key-value>
            <clr-control-error>
              <span [innerHTML]="'streams.multiDeploy.invalidProperties' | translate"></span>
            </clr-control-error>
          </clr-control-container>
        </div>
      </div>
    </div>

    <div class="actions">
      <button class="btn btn-secondary" type="button" (click)="back()">{{ 'commons.cancel' | translate }}</button>
      <button class="btn btn-primary" type="submit">{{ 'streams.multiDeploy.deployStreams' | translate }}</button>
    </div>
  </form>
</div>

<clr-modal [(clrModalOpen)]="isRunning" [clrModalClosable]="false">
  <h3 class="modal-title">{{ 'streams.multiDeploy.deployModal' | translate }}</h3>
  <div class="modal-body">
    <clr-spinner clrInline clrSmall></clr-spinner>
    {{ 'streams.multiDeploy.deploying' | translate }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" [disabled]="true">{{ 'commons.cancel' | translate }}</button>
  </div>
</clr-modal>
