<h1><ng-container i18n>Deploy Streams</ng-container></h1>

<div *ngIf="!isLoading" class="multi-deploy">
  <form clrForm clrLayout="horizontal" (submit)="runDeploy()" spellcheck="false">
    <div class="card" *ngFor="let streamConfig of streamConfigs; let i = index" [formGroup]="form[i]">
      <div class="card-header">
        <span class="text-truncate">
          <span *ngIf="streamConfig.stream.status === 'UNDEPLOYED'"><ng-container i18n>Deploy</ng-container></span>
          <span *ngIf="streamConfig.stream.status !== 'UNDEPLOYED'"><ng-container i18n>Update</ng-container></span>
          <strong>&nbsp;{{ streamConfig.stream.name }}</strong>
        </span>
      </div>
      <div class="card-block">
        <div class="card-text">
          <div class="clr-form-control clr-row">
            <div class="clr-col-md-1 clr-control-label"><ng-container i18n>DSL Text</ng-container></div>
            <div class="clr-col-10">
              <span class="dsl-text">
                <app-stream-dsl [dsl]="streamConfig.stream.dslText" [expandable]="false"></app-stream-dsl>
              </span>
            </div>
          </div>
          <div class="clr-form-control clr-row">
            <div class="clr-col-md-1 clr-control-label"><ng-container i18n>Description</ng-container></div>
            <div class="clr-col-10">
              {{ streamConfig.stream.description }}
            </div>
          </div>
          <div class="clr-form-control clr-row">
            <div class="clr-col-md-1 clr-control-label"><ng-container i18n>Status</ng-container></div>
            <div class="clr-col-10">
              <span class="label label-{{ streamConfig.stream.labelStatusClass() }}">{{
                streamConfig.stream.status
              }}</span>
            </div>
          </div>
          <clr-select-container *ngIf="platforms.length > 1">
            <label class="clr-col-md-1"> Platform </label>
            <select clrSelect tabindex="1" formControlName="platform" [dataflowFocus]="i === 0">
              <option *ngFor="let platform of platforms" [value]="platform.name">
                {{ platform.name }}
                ({{ platform.type }})
              </option>
            </select>
            <clr-control-error> <ng-container i18n>Select a platform.</ng-container> </clr-control-error>
          </clr-select-container>

          <clr-control-container class="key-value-wrapper">
            <label class="clr-col-md-1"><ng-container i18n>Properties</ng-container></label>
            <app-key-value
              clrControl
              formControlName="properties"
              [kvFocus]="i === 0 && platforms.length < 2">
            </app-key-value>
            <clr-control-error>
              <ng-container i18n>One or more arguments are invalid.</ng-container><br /><ng-container i18n>Example:</ng-container> <code>myarg=myvalue</code>.
            </clr-control-error>
          </clr-control-container>
        </div>
      </div>
    </div>

    <div class="actions">
      <button class="btn btn-secondary"
              type="button"
              (click)="back()"
              i18n>
        Cancel
      </button>
      <button class="btn btn-primary"
              type="submit"
              i18n>
        Deploy the streams
      </button>
    </div>
  </form>
</div>

<clr-modal [(clrModalOpen)]="isRunning" [clrModalClosable]="false">
  <h3 class="modal-title"><ng-container i18n>Deploy streams</ng-container></h3>
  <div class="modal-body">
    <clr-spinner clrInline clrSmall></clr-spinner>
    <ng-container i18n>Deploying streams...</ng-container>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline"
            [disabled]="true"
            i18n>
      Cancel
    </button>
  </div>
</clr-modal>
