<div>
  <div class="heading">
    <div class="description">
      <h1>Bulk Import Application(s)</h1>
      <p>
        Import and register application(s) in bulk. Simply provide a <strong>URI</strong> that points to
        the location of the <strong>properties file</strong> where the keys are formatted as
        <strong>type.name</strong> and the values are the URIs of the apps.
        For convenience, a list of out-of-the-box Stream and Task app starters is provided below, as well.
      </p>
    </div>
  </div>
  <hr/>

  <div class="tab-simple">
    <ul class="nav nav-tabs">
      <li role="presentation" routerLinkActive="active"><a routerLink="uri">From HTTP</a></li>
      <li role="presentation" routerLinkActive="active"><a routerLink="properties">From Properties</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane in active">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>
