<h1>Welcome on Spring Cloud Data Flow UI</h1>

<div class="dashboard">
  <div>
    <h2>Activity</h2>
    <div class="clr-row">
      <div class="clr-col-6">
        <div class="card">
          <div class="card-header">
            Latest 7 days
          </div>
          <div class="card-block">
            <div class="card-title">
              Block
            </div>
          </div>
        </div>
      </div>
      <div class="clr-col-6">
        <div class="card">
          <div class="card-header">
            Latest 30 days
          </div>
          <div class="card-block">
            <div class="card-title">
              Block
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div>
    <h2>Statistics</h2>
    <div class="clr-row">
      <div class="clr-col-4">
        <div class="card">
          <div class="card-header">
            Applications
          </div>
          <div class="card-block">
            <div class="card-title">
              Block
            </div>
          </div>
        </div>
      </div>
      <div class="clr-col-4">
        <div class="card">
          <div class="card-header">
            Streams
          </div>
          <div class="card-block">
            <div class="card-title">
              Block
            </div>
          </div>
        </div>
      </div>
      <div class="clr-col-4">
        <div class="card">
          <div class="card-header">
            Tasks
          </div>
          <div class="card-block">
            <div class="card-title">
              Block
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
