<div *ngIf="taskExecutions">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm Task Executions cleanup</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="taskExecutions.length == 1">
    <p>This action will remove the data of the task execution with the id
      <strong>{{ taskExecutions[0].executionId }}</strong>.
      Are you sure?</p>
  </div>
  <div class="modal-body" *ngIf="taskExecutions.length > 1">
    <p>
      This action will remove the data of the <strong>{{ taskExecutions.length }} task executions</strong> listed below.
      Are you sure?
    </p>
    <br/>
    <table id="table-tasks" class="table table-striped">
      <thead>
      <tr>
        <th>Task Execution ID</th>
        <th>Task Definition</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of taskExecutions">
        <td>{{ item.executionId }}</td>
        <td>{{ item.taskName }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer" style="text-align:center">
    <button id="btn-cancel" type="button" class="btn btn-default" (click)="cancel()">No</button>
    <button id="btn-destroy" type="button" class="btn btn-primary" (click)="destroy()">
      Clean up Task Execution(s)
    </button>
  </div>
</div>
