<h1 [ngBusy]="busy">Apps</h1>
<p>
  This section lists all the available applications and provides the control to register/unregister them (if applicable).
</p>

<button id="registerApplicationButton" type="button" (click)="registerApps()"
        class="btn btn-default" [appRoles]="['ROLE_CREATE']"
><span class="glyphicon glyphicon-plus"></span>
  <span class="hidden-xs">Register Application(s)</span>
</button>

<app-tri-state-button *ngIf="appRegistrations?.items" class="toggle-all" [appRoles]="['ROLE_CREATE']"
                      [items]="appRegistrations.getItemsAsObservable()"
                      (eventHandler)="unregisterMultipleApps(appRegistrations.items)"
                      noneSelectedLabel="No app selected to unregister"
                      oneSelectedLabel="Unregister {selectedCount} selected app"
                      manySelectedLabel="Unregister {selectedCount} selected apps"
                      allSelectedLabel="Unregister all {selectedCount} selected apps"
></app-tri-state-button>

<button id="bulkImportAppsButton" type="button" (click)="bulkImportApps()" [appRoles]="['ROLE_CREATE']"
        class="btn btn-default"
><span class="glyphicon glyphicon-import"></span>
  <span class="hidden-xs">Bulk Import Applications</span>
</button>
<label *ngIf="appRegistrations" class="control">
  <input type="text" class="input" placeholder="Filter items" [(ngModel)]="appRegistrations.filter" >
</label>
<button id="refreshAppRegistrationsButton" type="button" (click)="loadAppRegistrations(true)"
        class="btn btn-default"
><span class="glyphicon glyphicon-refresh"></span></button>

<table *ngIf="appRegistrations?.items && appRegistrations.items.length > 0" class="table table-hover">
  <thead>
    <tr>
        <th style="width: 30px">
          <app-tri-state-checkbox *ngIf="appRegistrations?.items" [appRoles]="['ROLE_CREATE']" class="toggle-all" [items]="appRegistrations.getItemsAsObservable()"></app-tri-state-checkbox>
        </th>
        <th style="width: 200px">Name</th>
        <th style="width: 100px">Type</th>
        <th>URI</th>
        <th style="width: 130px" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of appRegistrations.items | paginate: appRegistrations.getPaginationInstance(); index as i">
    <td><input type="checkbox" [(ngModel)]="item.isSelected"  /></td>
    <td>{{item.name}}</td>
    <td>{{item.type}}</td>
    <td>{{item.uri}}</td>
    <td class="action-column">
        <button type="button" (click)="viewDetails(item)"
                class="btn btn-default" title="Details"
        ><span class="glyphicon glyphicon-search"></span>
        </button>
        <button roles="['ROLE_CREATE']" type="button" (click)="unregisterSingleApp(item)" [appRoles]="['ROLE_CREATE']"
                class="btn btn-default" style="margin-left: 0;" title="Unregister"
        ><span class="glyphicon glyphicon-trash"></span>
        </button>
    </td>
  </tr>
  </tbody>
</table>
<pagination-controls *ngIf="appRegistrations?.items && appRegistrations.items.length > 0" (pageChange)="getPage($event)"></pagination-controls>

<div class="row" *ngIf="!appRegistrations || appRegistrations.items.length === 0" style="margin-top: 1em;">
  <div class="text-center col-md-14 col-md-offset-5">
    <p><strong>No registered apps.</strong></p>
    <div [appRoles]="['ROLE_CREATE']">
      <p>You can register apps by clicking:</p>
      <button type="button" (click)="registerApps()"
              class="btn btn-default" style="margin-bottom: 1em;"
      ><span class="glyphicon glyphicon-plus"></span>
          Register Application(s)
      </button>
      <p>Alternatively, using the <i>Data Flow Shell</i> application,
      you can register new apps with the <strong>app register</strong> and <strong>app import</strong> commands.</p>
    </div>
  </div>
</div>
<div bsModal #unregisterSingleAppModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Confirm Unregister Application</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelUnregisterSingleApp()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="appRegistrationToUnregister">
          <p>This action will unregister and delete application
            <u><strong>{{appRegistrationToUnregister.name}}</strong></u>
            of type <u><strong>{{appRegistrationToUnregister.type}}</strong></u>.
            Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="cancelUnregisterSingleApp()">No</button>
        <button type="button" class="btn btn-primary" (click)="proceedToUnregisterSingleAppRegistration(appRegistrationToUnregister)">Yes</button>
      </div>
    </div>
  </div>
</div>

<div bsModal #unregisterMultipleAppsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Confirm Unregister Applications</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelUnregisterMultipleApps()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="appRegistrationsToUnregister">
        <p>
          This action will unregister and delete the {{appRegistrationsToUnregister.length}}
          application{{appRegistrationsToUnregister.length > 1 ? 's' : ''}} listed below. Are you sure?
        </p>
        <br/>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of appRegistrationsToUnregister">
                <td>{{item.name}}</td>
                <td>{{item.type}}</td>
            </tr>
            </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="cancelUnregisterMultipleApps()">No</button>
        <button type="button" class="btn btn-primary" (click)="proceedToUnregisterMultipleAppRegistrations(appRegistrationsToUnregister)">Yes</button>
      </div>
    </div>
  </div>
</div>
