<h1 [ngBusy]="busy">Bulk Import Applications</h1>
<p>
    Import and register applications in bulk. Simply provide a URI that points to
    the location of the <strong>properties file</strong> where the keys are formatted as
    <strong>type.name</strong> and the values are the URIs of the apps.
    For convenience, a list of out-of-the-box Stream and Task app starters is provided below, as well.
</p>
<hr/>

<form class="form-horizontal" role="form" (ngSubmit)="bulkImportApps()" #form="ngForm" novalidate>
    <fieldset id="importAppsViaUri">
        <div class="form-group" [class.has-error]="uri.invalid && uri.touched">
            <label for="uri" class="col-sm-6 control-label">Uri</label>
            <div class="col-sm-14">
                <input #uri="ngModel" type="text" name="uri" autofocus [(ngModel)]="model.uri"
                       class="form-control" [pattern]="uriPattern" placeholder="http://url.to.properties">
                <span class="help-block" *ngIf="uri.invalid && uri.touched">Please provide a valid URI pointing to the respective properties file.</span>
            </div>
        </div>
    </fieldset>
    <h2 class="text-center">OR</h2>
    <div class="row" style="margin-bottom: 1em;">
        <div class="col-md-12 col-md-offset-6">
            <p>
               Enter the list of properties into the text area field below. Alternatively, you can also select a
               file in your local file system, which is used to populate the text area field.
            </p>
        </div>
    </div>

    <fieldset id="importAppsViaUpload">
        <div class="form-group">
            <label for="appsProperties" class="col-sm-6 control-label">Apps as Properties</label>
            <div class="col-sm-14">
            <textarea id="appsProperties" name="appsProperties" autofocus
                [ngModel]="getAppsPropertiesAsString()"
                (ngModelChange) = "parseTextArea($event)"
                rows="5"
                class="form-control" placeholder="Example:
task.timestamp=maven://o.s.cloud.task.app:timestamp-task:1.2.3.RELEASE
task.spark-client=maven://o.s.cloud.task.app:spark-client-task:1.2.3.RELEASE"
            ></textarea>
                <p class="help-block">Please provide a valid properties where the keys are formatted as
                    <strong>type.name</strong> and the values are the URIs of the apps.</p>
            </div>
        </div>
        <div class="form-group">
            <label for="propertiesFile" class="col-sm-6 control-label">Select Properties File</label>
            <div class="col-sm-14">
                <input id="propertiesFile" name="propertiesFile" type="file" (change)="displayFileContents($event)" />
                <p class="help-block">Please provide a text file containing properties. This will be used
                to populate the text area above.</p>
            </div>
        </div>
    </fieldset>

    <div class="form-group">
        <div class="col-sm-14 col-sm-offset-6">
        <input name="force" type="checkbox"  [(ngModel)]="model.force"/>
        Force
        <a #childPopover="bs-popover"
        [popover]="popTemplate"
        placement="bottom"
        (clickOutside)="closePopOver()"
        title="Force"><span class="glyphicon glyphicon-question-sign"></span></a>
        </div>
    </div>

    <div class="row" style="margin-bottom: 2em;">
        <div class="col-md-12 text-right"><button id="back-button"   type="button" class="btn btn-default" (click)="goBack()">Cancel</button></div>
        <div class="col-md-12 text-left"><button  id="submit-button" type="submit" class="btn btn-default" [disabled]="form.invalid"><span class="glyphicon glyphicon-import" aria-hidden="true"></span> Import</button></div>
    </div>
</form>

<ng-template #popTemplate>By checking <strong>force</strong>, the applications will be imported and installed
        even if it already exists but only if not being used already.</ng-template>

