<p [innerHTML]="'applications.add.register.desc' | translate"></p>

<form clrForm clrLayout="horizontal" (submit)="register()">
  <div class="clr-row">
    <div [formGroup]="forms[i]" *ngFor="let form of forms; let i = index" class="clr-col-6 app-group">
      <div class="register-item">
        <div
          class="clr-form-control clr-row"
          [class.clr-error]="submitted && form.get('name').invalid && !isFormEmpty(form)"
        >
          <label class="clr-col-2 clr-control-label" for="name{{ i }}">{{
            'applications.main.name' | translate
          }}</label>
          <div class="clr-control-container clr-col-10">
            <div class="clr-input-wrapper">
              <input
                id="name{{ i }}"
                name="name{{ i }}"
                formControlName="name"
                [dataflowFocus]="true"
                class="clr-input"
                style="width: 100%"
              />
            </div>
            <div class="clr-subtext" *ngIf="submitted && form.get('name').invalid && !isFormEmpty(form)">
              {{ 'applications.add.register.invalidName' | translate }}
            </div>
          </div>
        </div>
        <div
          class="clr-form-control clr-row"
          [class.clr-error]="submitted && form.get('type').invalid && !isFormEmpty(form)"
        >
          <label class="clr-col-2 clr-control-label" for="type{{ i }}">{{
            'applications.main.type' | translate
          }}</label>
          <div class="clr-control-container clr-col-10">
            <div class="clr-select-wrapper">
              <select name="type{{ i }}" id="type{{ i }}" formControlName="type" class="clr-select">
                <option value="">Please select a type...</option>
                <option *ngFor="let typeKey of applicationTypes.getKeys()" value="{{ typeKey }}">
                  {{ applicationTypes[typeKey] }}
                </option>
              </select>
            </div>
            <div class="clr-subtext" *ngIf="submitted && form.get('type').invalid && !isFormEmpty(form)">
              {{ 'applications.add.register.invalidType' | translate }}
            </div>
          </div>
        </div>
        <div
          class="clr-form-control clr-row"
          [class.clr-error]="submitted && form.get('bootVersion').invalid && !isFormEmpty(form)"
        >
          <label class="clr-col-2 clr-control-label" for="type{{ i }}">{{
            'applications.main.bootVersion' | translate
          }}</label>
          <div class="clr-control-container clr-col-10">
            <div class="clr-select-wrapper">
              <select
                name="bootVersion{{ i }}"
                id="bootVersion{{ i }}"
                formControlName="bootVersion"
                class="clr-select"
              >
                <option value="">{{ 'applications.add.register.bootVersionPlaceholder' | translate }}</option>
                <option *ngFor="let bootVersionKey of bootVersions.getKeys()" value="{{ bootVersionKey }}">
                  {{ bootVersions[bootVersionKey] }}
                </option>
              </select>
            </div>
            <div class="clr-subtext" *ngIf="submitted && form.get('type').invalid && !isFormEmpty(form)">
              {{ 'applications.add.register.invalidType' | translate }}
            </div>
          </div>
        </div>
        <div
          class="clr-form-control clr-row"
          [class.clr-error]="submitted && form.get('uri').invalid && !isFormEmpty(form)"
        >
          <label class="clr-col-2 clr-control-label" for="uri{{ i }}">{{ 'applications.main.uri' | translate }}</label>
          <div class="clr-control-container clr-col-10">
            <div class="clr-input-wrapper">
              <input
                id="uri{{ i }}"
                name="uri{{ i }}"
                formControlName="uri"
                class="clr-input"
                placeholder="maven://io.spring.cloud:scdf-sample-app:jar:1.0.0"
                style="width: 100%"
              />
            </div>
            <div class="clr-subtext" *ngIf="submitted && form.get('uri').invalid && !isFormEmpty(form)">
              {{ 'applications.add.register.invalidUri' | translate }}
            </div>
          </div>
        </div>
        <div
          class="clr-form-control clr-row"
          [class.clr-error]="submitted && form.get('metaDataUri').invalid && !isFormEmpty(form)"
        >
          <label class="clr-col-2 clr-control-label" for="metaDataUri{{ i }}">{{
            'applications.main.metadataURI' | translate
          }}</label>
          <div class="clr-control-container clr-col-10">
            <div class="clr-input-wrapper">
              <input
                id="metaDataUri{{ i }}"
                name="metaDataUri{{ i }}"
                formControlName="metaDataUri"
                class="clr-input"
                placeholder="maven://io.spring.cloud:scdf-sample-app:jar:metadata:1.0.0 [OPTIONAL]"
                style="width: 100%"
              />
            </div>
            <div class="clr-subtext" *ngIf="submitted && form.get('metaDataUri').invalid && !isFormEmpty(form)">
              {{ 'applications.add.register.invalidMetadataURI' | translate }}
            </div>
          </div>
        </div>
        <clr-checkbox-container>
          <clr-checkbox-wrapper>
            <input formControlName="force" type="checkbox" clrCheckbox value="false" name="force" />
            <label>{{ 'applications.add.register.force' | translate }}</label>
          </clr-checkbox-wrapper>
        </clr-checkbox-container>
        <div class="form-group">
          <div style="margin-left: 8px">
            <button
              type="button"
              (click)="removeForm(i)"
              [disabled]="forms.length <= 1"
              class="btn btn-sm btn-secondary"
              title="Remove"
            >
              {{ 'commons.remove' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="clr-col-6">
      <div class="register-item-empty">
        <button
          type="button"
          name="add-form"
          (click)="newForm()"
          class="btn btn-sm btn-secondary"
          itle="Add application"
        >
          {{ 'applications.add.register.newApp' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="clr-accordion-footer">
    <button name="cancel" type="button" class="btn btn-default" (click)="cancel()">
      {{ 'commons.cancel' | translate }}
    </button>
    <button name="register" type="submit" class="btn btn-primary">
      {{ 'applications.add.register.import' | translate }}
    </button>
  </div>
</form>

<clr-modal [(clrModalOpen)]="isImporting" *ngIf="isImporting" clrModalClosable="false" clrModalSize="md">
  <h3 class="modal-title">{{ 'applications.add.register.register' | translate }}</h3>
  <div class="modal-body">
    <div>
      <clr-spinner clrInline clrSmall></clr-spinner>&nbsp; {{ 'applications.add.register.registering' | translate }}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" [disabled]="true">{{ 'commons.cancel' | translate }}</button>
    </div>
  </div>
</clr-modal>
