<div class="modal-header">
  <h4 class="modal-title pull-left">Confirm Task Creation</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="handleCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<form (submit)="handleCreate()" class="form-horizontal" [formGroup]="form">

  <div class="modal-body">

    <div *ngIf="errors && errors.length > 0" class="alert alert-error">
      <div *ngFor="let error of errors">• {{ error }}</div>
    </div>

    <div *ngIf="!(errors && errors.length) && warnings && warnings.length > 0" class="alert alert-warning">
      <div *ngFor="let warning of warnings">{{ warning }}</div>
    </div>

    <p>This action will create a task:</p>

    <div class="row-task">
      <div class="form-group">
        <label class="control-label col-sm-4">Definition</label>
        <div class="col-sm-18">
          <div class="control-empty">
            <app-stream-dsl>{{ dsl }}</app-stream-dsl>
          </div>
        </div>
      </div>

      <div class="form-group" [class.has-error]="form.controls.taskName.errors">
        <label for="name" class="control-label col-sm-4 control-label-sm">
          Name <em class="required">*</em>
        </label>
        <div class="col-sm-16">
          <input class="form-control input-sm" id="name"
                 name="name" formControlName="taskName"
                 type="text" placeholder="<Task Name>"
                 [dataflowFocus]="true"/>
          <span *ngIf="form.controls.taskName.errors"
                class="help-block validation-block">
            The format of your task name is invalid. {{ form.controls.taskName.errors.validateTaskName.reason }}
          </span>
        </div>
      </div>

    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="handleCancel()">Cancel</button>
    <button type="submit" class="btn btn-primary">Create the task</button>
  </div>

</form>
