.app-blocker {
  display: none;
}

body.blocked {
  overflow: hidden;
  .app-blocker {
    background: rgba(255, 255, 255, .5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    display: block;
  }
}
