
$btn-default-color: $navy-11;
$btn-default-color-focus: $navy-9;
$btn-default-color-hover: $navy-9;
$btn-light: $navy-1;

.btn {
  text-transform: none;
  letter-spacing: 0;
  height: 34px;
  line-height: 32px;
  font-weight: normal;
  font-size: 15px;
  span.fa {
    font-size: 18px;
  }
}

//Fa Button
//---------------------------------------
.btn {
  &.btn-fa {
    position: relative;
    padding-left: 34px;
    span.fa {
      position: absolute;
      line-height: 32px;
      left: 8px;
      top: 0;
      width: 20px;
      text-align: center;
    }
  }
}


//Default Button
//---------------------------------------
.btn.btn-default {
  background-color: $btn-default-color;
  color: $btn-light;
  border-color: $btn-default-color;
  .icon {
    fill: $btn-light;
  }

  //Spinner
  .icon-spinner-lg,
  .icon-spinner-md,
  .icon-spinner-sm {
    .ring {
      stroke: $btn-light;
    }
    .path {
      stroke: $btn-light;
    }
  }
}

.btn.btn-default:focus {
  background-color: $btn-default-color-focus;
  border-color: $btn-default-color-focus;
  outline: none;
}

.btn.btn-default:hover,
.btn.btn-default:focus:hover {
  background-color: $btn-default-color-hover;
  border-color: $btn-default-color-hover;
  outline: none;
}

.btn.btn-default:active,
.btn.btn-default:focus:active {
  box-shadow: none;
  background-color: $navy-8;
  border-color: $navy-8;
  color: $navy-1;
}


.btn.btn-primary:active,
.btn.btn-primary:focus:active {
  box-shadow: none;
  background-color: darken($brand-primary, 25%);
  border-color: darken($brand-primary, 25%);
  color: #FFF;
}

.btn.btn-danger:active,
.btn.btn-danger:focus:active {
  box-shadow: none;
  background-color: darken(#B31B22, 15%);
  border-color: darken(#B31B22, 15%);
  color: #FFF;
}
