<h1 [ngBusy]="busy">About</h1>
<p>
  Spring Cloud Data Flow is a unified, distributed, and extensible system for data ingestion,
  real time analytics, batch processing, and data export. The project's goal is to
  simplify the development of big data applications.
</p>

<h2 *ngIf="dataflowVersionInfo">Data Flow Server Implementation</h2>

<h2 *ngIf="!dataflowVersionInfo" class="text-warning" id="serverWarningError">Obtaining about info from server.</h2>

<table id="dataFlowVersionTable" class="table table-hover" *ngIf="dataflowVersionInfo">
  <tbody>
  <tr>
    <td>Name</td><td>{{dataflowVersionInfo ? dataflowVersionInfo.versionInfo.implementation.name : 'N/A'}}</td>
  </tr>
  <tr>
    <td>Version</td><td>{{dataflowVersionInfo ? dataflowVersionInfo.versionInfo.implementation.version : 'N/A'}}</td>
  </tr>
  </tbody>
</table>

<button id="showAboutDetailsButton" type="button" (click)="goToDetails() " *ngIf="dataflowVersionInfo"
        class="btn btn-default"
><span class="glyphicon glyphicon-search"></span>
    Show Details
</button>

<h2 style="margin-top: 1em;" *ngIf="dataflowVersionInfo">Get the Spring Cloud Data Flow Shell</h2>

<p *ngIf="dataflowVersionInfo" class="index-page--subtitle">As an alternative to the Dashboard UI, you can also
   <a href="{{dataflowVersionInfo.versionInfo.shell.url}}"
      target="_blank">download the compatible version of the Shell</a> ({{dataflowVersionInfo.versionInfo.shell.version}}).</p>

<h2 *ngIf="dataflowVersionInfo">Need Help or Found an Issue?</h2>

<table id="dataFlowVersionLinksTable" class="table table-hover" *ngIf="dataflowVersionInfo">
  <tbody>
    <tr>
      <td>Project Page</td><td><a target="_blank" href="http://cloud.spring.io/spring-cloud-dataflow/">http://cloud.spring.io/spring-cloud-dataflow/</a></td>
    </tr>
    <tr>
      <td>Sources</td><td><a target="_blank" href="https://github.com/spring-cloud/spring-cloud-dataflow">https://github.com/spring-cloud/spring-cloud-dataflow</a></td>
    </tr>
    <tr>
      <td>Documentation</td><td><a target="_blank" href="http://docs.spring.io/spring-cloud-dataflow/docs/{{dataflowVersionInfo.versionInfo.core.version}}/reference/htmlsingle/">http://docs.spring.io/spring-cloud-dataflow/docs/{{dataflowVersionInfo.versionInfo.core.version}}/reference/htmlsingle/</a></td>
    </tr>
    <tr>
      <td>API Docs</td><td><a target="_blank" href="http://docs.spring.io/spring-cloud-dataflow/docs/{{dataflowVersionInfo.versionInfo.core.version}}/api/">http://docs.spring.io/spring-cloud-dataflow/docs/{{dataflowVersionInfo.versionInfo.core.version}}/api/</a></td>
    </tr>
    <tr>
      <td>Support Forum</td><td><a target="_blank" href="http://stackoverflow.com/questions/tagged/spring-cloud-dataflow">http://stackoverflow.com/questions/tagged/spring-cloud-dataflow</a></td>
    </tr>
    <tr>
      <td>Issue Tracker</td><td><a target="_blank" href="https://github.com/spring-cloud/spring-cloud-dataflow/issues">https://github.com/spring-cloud/spring-cloud-dataflow/issues</a></td>
    </tr>
  </tbody>
</table>
