<div class="row">
  <div class="col-md-24">
    <div class="col-md-24 table-filter">
      <table class="col-lg-24 tab-content-header" [ngBusy]="busy">
        <tr>
          <td class="col-xs-12">
            <button type="button" (click)="expandPage()"
                    class="btn btn-default"  id="expandAll">
              <span class="glyphicon glyphicon-collapse-down"></span>
              <span class="hidden-xs">Expand All</span>
            </button>
            <button type="button" (click)="collapsePage()"
                    class="btn btn-default"  id="collapseAll">
              <span class="glyphicon glyphicon-expand"></span>
              <span class="hidden-xs">Collapse All</span>
            </button>
          </td>
          <td>
            <label *ngIf="streamDefinitions" class="control">Filter Stream Definitions
              <input type="text" class="input" placeholder="Filter definitions" [(ngModel)]="streamDefinitions.filter">
            </label>
            <button *ngIf="streamDefinitions" type="button" (click)="loadStreamDefinitions()"
                    class="btn btn-default">
              <span class="glyphicon glyphicon-refresh"></span></button>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="col-xs-12 col-actions" height="45px">
            <app-tri-state-button *ngIf="streamDefinitions?.items" class="toggle-all" [appRoles]="['ROLE_CREATE']"
                                  [items]="streamDefinitions.getItemsAsObservable()"
                                  (eventHandler)="deployMultipleStreamDefinitions(streamDefinitions.items)"
                                  noneSelectedLabel="No stream selected to deploy"
                                  oneSelectedLabel="Deploy {selectedCount} selected stream"
                                  manySelectedLabel="Deploy {selectedCount} selected streams"
                                  allSelectedLabel="Deploy all {selectedCount} selected streams"
                                  icon="play"
                                  [filter]="filterDeployable"
            ></app-tri-state-button>

            <app-tri-state-button *ngIf="streamDefinitions?.items" class="toggle-all" [appRoles]="['ROLE_CREATE']"
                                  [items]="streamDefinitions.getItemsAsObservable()"
                                  (eventHandler)="undeployMultipleStreamDefinitions(streamDefinitions.items)"
                                  noneSelectedLabel="No stream selected to undeploy"
                                  oneSelectedLabel="Undeploy {selectedCount} selected stream"
                                  manySelectedLabel="Undeploy {selectedCount} selected streams"
                                  allSelectedLabel="Undeploy all {selectedCount} selected streams"
                                  icon="stop"
                                  [filter]="filterUndeployable"
            ></app-tri-state-button>

            <app-tri-state-button *ngIf="streamDefinitions?.items" class="toggle-all" [appRoles]="['ROLE_CREATE']"
                                  [items]="streamDefinitions.getItemsAsObservable()"
                                  (eventHandler)="destroyMultipleStreams(streamDefinitions.items)"
                                  noneSelectedLabel="No stream selected to destroy"
                                  oneSelectedLabel="Destroy {selectedCount} selected stream"
                                  manySelectedLabel="Destroy {selectedCount} selected streams"
                                  allSelectedLabel="Destroy all {selectedCount} selected streams"
                                  icon="remove"
            ></app-tri-state-button>

          </td>

        </tr>
      </table>
    </div>
  </div>
</div>
<div *ngIf="!streamDefinitions">No streams available.</div>
<table *ngIf="streamDefinitions?.items" class="table table-hover" id="streamDefinitionsTable">
  <thead>
    <tr>
      <th style="width: 30px">
        <app-tri-state-checkbox *ngIf="streamDefinitions?.items" [appRoles]="['ROLE_CREATE']" class="toggle-all" [items]="streamDefinitions.getItemsAsObservable()"></app-tri-state-checkbox>
      </th>

      <th style="width: 32px"></th>
      <th style="width: 70px"><a (click)="toggleDefinitionNameSort()"><span style="margin-right: 5px">Name</span></a><i class="fa" [ngClass]="{'fa-sort': definitionNameSort === undefined, 'fa-sort-asc': definitionNameSort === false, 'fa-sort-desc': definitionNameSort === true }" aria-hidden="true"></i></th>
      <th><a (click)="toggleDefinitionSort()"><span style="margin-right: 5px">Definitions</span></a><i class="fa" [ngClass]="{'fa-sort': definitionSort === undefined, 'fa-sort-asc': definitionSort === false, 'fa-sort-desc': definitionSort === true }" aria-hidden="true"></i></th>
      <th style="width: 50px" nowrap="">Status
        <a #childPopover="bs-popover"
        [popover]="popTemplate"
        placement="bottom"
        (appClickOutside)="closePopOver()"
        title="Available Deployment Statuses"><span class="glyphicon glyphicon-question-sign"></span></a>
      </th>
      <th style="width: 240px" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-item [ngForOf]="streamDefinitions.items | paginate: streamDefinitions.getPaginationInstance()">
      <tr>
        <td><input type="checkbox" [(ngModel)]="item.isSelected"/></td>
        <td>
          <button class="glyphicon glyphicon-expand"
                  (click)="item.toggleIsExpanded()"
                  [ngClass]="{'glyphicon-expand': !item.isExpanded, 'glyphicon-collapse-down': item.isExpanded}"></button>
        </td>
        <td>{{item.name}}</td>
        <td>{{item.dslText}}</td>
        <td>{{item.status}}</td>
        <td class="action-column">
          <button type="button" (click)="details(item)"
                  class="btn btn-default" title="Details">
            <span class="glyphicon glyphicon-info-sign"></span>
          </button>
          <button type="button" [appRoles]="['ROLE_CREATE']" [disabled]="(item.status==='undeployed'  || item.status==='incomplete')" (click)="undeploy(item)"
                  class="btn btn-default" style="margin-left: 0;" title="Undeploy">
            <span class="glyphicon glyphicon-stop"></span>
          </button>
          <button type="button" [appRoles]="['ROLE_CREATE']" [disabled]="(item.status==='deployed' || item.status==='deploying')" (click)="deploy(item)"
                  class="btn btn-default" style="margin-left: 0;" title="Deploy">
            <span class="glyphicon glyphicon-play"></span>
          </button>
          <button type="button" [appRoles]="['ROLE_CREATE']" (click)="destroy(item)"
                  class="btn btn-default" style="margin-left: 0;" title="Destroy">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </td>
      </tr>
      <tr *ngIf="item.isExpanded">
        <td colspan="6">
          <app-stream-graph-definition [stream]="item" [metrics]="metricsForStream(item.name)"></app-stream-graph-definition>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
<pagination-controls *ngIf="streamDefinitions?.items" (pageChange)="getPage($event)" [id]="streamDefinitions.getPaginationInstance().id"></pagination-controls>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Confirm Destroy Action</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="streamDefinitionToDestroy">
          <p>This action will undeploy and delete the stream
            <strong>{{streamDefinitionToDestroy.name}}</strong>.
            Are you sure?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="cancel()">No</button>
        <button type="button" class="btn btn-primary" (click)="proceed(streamDefinitionToDestroy)">Yes</button>
      </div>
    </div>
  </div>
</div>

<ng-template #popTemplate>
  <div class="status-help-content">
    <table class="table-hover table-condensed status-help-content-table">
      <tbody>
        <tr><td><strong>deploying</strong></td><td>Deployment has been initiated</td></tr>
        <tr><td><strong>deployed</strong></td><td>Fully deployed based on each of the stream's apps' count properties</td></tr>
        <tr><td><strong>incomplete</strong></td><td>At least 1 of each app, but 1 or more of them not at requested capacity</td></tr>
        <tr><td><strong>failed</strong></td><td>1 or more of the apps does not have even a single instance deployed</td></tr>
        <tr><td><strong>undeployed</strong></td><td>Intentionally undeployed, or created but not yet deployed</td></tr>
      </tbody>
    </table>
  </div>
</ng-template>

<div id="destroyMultipleStreamDefinitionsModal" bsModal #destroyMultipleStreamDefinitionsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Confirm Destroy Stream Definitions</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelDestroyMultipleStreamDefinitions()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="streamDefinitionsToDestroy">
        <p>
          This action will destroy the {{streamDefinitionsToDestroy.length}}
          stream definition{{streamDefinitionsToDestroy.length > 1 ? 's' : ''}} listed below. Are you sure?
        </p>
        <br/>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Definition</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of streamDefinitionsToDestroy">
            <td>{{item.name}}</td>
            <td>{{item.dslText}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="cancelDestroyMultipleStreamDefinitions()">No</button>
        <button type="button" class="btn btn-primary" (click)="proceedToDestroyMultipleStreamDefinitions(streamDefinitionsToDestroy)">Yes</button>
      </div>
    </div>
  </div>
</div>

<div id="deployMultipleStreamDefinitionsModal" bsModal #deployMultipleStreamDefinitionsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content" *ngIf="!selectStreamDefinition">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Confirm Deployment of Stream Definitions</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelDeployMultipleStreamDefinitions()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="streamDefinitionsToDeploy">
        <p>
          This action will deploy the <strong>{{streamDefinitionsToDeploy.length}}
          stream definition{{streamDefinitionsToDeploy.length > 1 ? 's' : ''}}</strong> listed below.
          Optionally, you can add deployment properties for each stream definition.
        </p>
        <br/>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Definition</th>
            <th>Deployment properties</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of streamDefinitionsToDeploy">
            <td>{{item.name}}</td>
            <td>{{item.dslText}}</td>
            <td width="10" nowrap="">
              <div *ngIf="(item.deploymentProperties | keyvalues)?.length > 0">
                <p style="padding-bottom: 6px"><strong>{{(item.deploymentProperties | keyvalues)?.length}} propert{{(item.deploymentProperties | keyvalues)?.length > 1 ? 'ies' : 'y'}}</strong></p>
                <a class="btn btn-sm btn-default" (click)="deployAddDeploymentProperties(item)">
                  <span class="glyphicon glyphicon-edit"></span>
                  Edit deployment properties
                </a>
              </div>
              <div *ngIf="(item.deploymentProperties | keyvalues)?.length == 0">
                <a class="btn btn-sm btn-default" (click)="deployAddDeploymentProperties(item)">
                  <span class="glyphicon glyphicon-plus"></span>
                  Add deployment properties
                </a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="cancelDeployMultipleStreamDefinitions()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="proceedToDeployMultipleStreamDefinitions(streamDefinitionsToDeploy)">Deploy</button>
      </div>
    </div>

    <div class="modal-content" *ngIf="selectStreamDefinition">
        <app-stream-deployment-properties [stream]="selectStreamDefinition"
          (submit)="backDeployMultipleStreamDefinitions()" (cancel)="backDeployMultipleStreamDefinitions()">
        </app-stream-deployment-properties>
    </div>

  </div>
</div>

<div id="undeployMultipleStreamDefinitionsModal" bsModal #undeployMultipleStreamDefinitionsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Confirm Undeploy Stream Definitions</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelUndeployMultipleStreamDefinitions()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="streamDefinitionsToUndeploy">
        <p>
          This action will undeploy the {{streamDefinitionsToUndeploy.length}}
          stream definition{{streamDefinitionsToUndeploy.length > 1 ? 's' : ''}} listed below. Are you sure?
        </p>
        <br/>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Definition</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of streamDefinitionsToUndeploy">
            <td>{{item.name}}</td>
            <td>{{item.dslText}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="cancelUndeployMultipleStreamDefinitions()">No</button>
        <button type="button" class="btn btn-primary" (click)="proceedToUndeployMultipleStreamDefinitions(streamDefinitionsToUndeploy)">Yes</button>
      </div>
    </div>
  </div>
</div>
