<app-tasks-tabulation #tasksTabulation>

  <div id="schedules-list" *ngIf="isLoaded && taskSchedules" dataflowLayoutType type="full">

    <app-list-bar [params]="params" [page]="taskSchedules" [countSelected]="countSelected()" #listBar
                  (refresh)="refresh()" (search)="search($event)" [actions]="schedulesActions()"
                  (action)="applyAction($event.action)">
    </app-list-bar>

    <table *ngIf="taskSchedules && (taskSchedules.items | filterSchedules: q).length > 0"
           class="table table-hover table-checkbox" id="taskSchedulesTable">
      <thead>
      <tr>
        <th style="width: 30px">
          <app-master-checkbox (change)="changeCheckboxes()" *ngIf="form?.checkboxes" [dataflowAppRoles]="['ROLE_CREATE']"
                               [items]="form.checkboxes"></app-master-checkbox>
        </th>
        <th>
          Schedule Name
        </th>
        <th>
          Task Name
        </th>
        <th nowrap="">
          Cron Expression
        </th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <ng-container
        *ngFor="let item of taskSchedules.items | filterSchedules: q; index as i">
        <tr>
          <td class="cell-checkbox">
            <input [dataflowAppRoles]="['ROLE_CREATE']" type="checkbox" (change)="changeCheckboxes()"
                   [(ngModel)]="form.checkboxes[i]"/>
          </td>
          <td>
            <a class="link-schedule" (click)="details(item)" style="cursor: pointer">{{ item.name }}</a>
          </td>
          <td>
            <a class="link-task" (click)="taskDetails(item)" style="cursor: pointer">{{ item.taskName }}</a>
          </td>
          <td>
            {{ item.cronExpression }}
          </td>
          <td class="table-actions" width="10px" nowrap="">
            <app-list-row-actions [item]="item" (action)="applyAction($event.action, $event.args)"
                                  [actions]="scheduleActions(i)"></app-list-row-actions>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>

    <app-list-empty [page]="taskSchedules" [filters]="[params.q]">
      <p>There is <strong>no task schedule</strong>.</p>
      <p [dataflowAppRoles]="['ROLE_CREATE']">
        You can <a (click)="refresh()">Refresh</a> the page
      </p>
    </app-list-empty>

    <app-list-no-result [page]="taskSchedules" [filters]="[params.q]">
      <p>
        No results found for
        <strong>'{{ params.q }}'</strong>
      </p>
      <p>
        You can <a (click)="listBar.clearSearch()">clear the search</a> or <a (click)="refresh()">Refresh</a> the page.
      </p>
    </app-list-no-result>

  </div>

</app-tasks-tabulation>
