<clr-modal [(clrModalOpen)]="isOpen" *ngIf="runtimeApp" [clrModalSize]="'lg'">
  <h3 class="modal-title">
    <ng-container i18n>Instances for app</ng-container>
    <strong>{{ runtimeApp.deploymentId }}</strong>&nbsp;
    <span class="{{ runtimeApp.stateColor() }}">{{ runtimeApp.state }}</span>
    <button class="btn btn-sm btn-secondary"
            grafanaDashboardRuntimeApp
            [runtimeApp]="runtimeApp"
            i18n>
      Grafana dashboard
    </button>
    <button class="btn btn-sm btn-secondary"
            wavefrontDashboardRuntimeApp
            [runtimeApp]="runtimeApp"
            i18n>
      Wavefront dashboard
    </button>
  </h3>
  <div class="modal-body">
    <ng-template ngFor let-item [ngForOf]="runtimeApp.appInstances">
      <div>
        <h4>
          <ng-container i18n>Instance</ng-container>
          <strong>{{ item.instanceId }}</strong>&nbsp;
          <span class="{{ item.stateColor() }}">{{ item.state }}</span>
          <button class="btn btn-sm btn-secondary"
                  grafanaDashboardRuntimeInstance
                  [instance]="item"
                  i18n>
            Grafana dashboard
          </button>
          <button class="btn btn-sm btn-secondary"
                  wavefrontDashboardRuntimeInstance
                  [instance]="item"
                  i18n>
            Wavefront dashboard
          </button>
        </h4>
        <ng-template ngFor let-item [ngForOf]="item.attributes | keyvalue">
          <div class="clr-row">
            <div class="clr-col-5">
              <strong>{{ item.key }}</strong>
            </div>
            <div class="clr-col-7">
              <input type="text" readonly [value]="item.value" />
            </div>
          </div>
        </ng-template>
      </div>
    </ng-template>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline"
            (click)="isOpen = false"
            i18n>
      Close
    </button>
  </div>
</clr-modal>
