<app-page *ngIf="task$ | async as task; else loading">

  <app-page-head>
    <app-page-head-back [defaultUrl]="'/tasks/definitions'"
                        [isNotRegex]="'^(\/tasks\/definitions\/)'"></app-page-head-back>
    <app-page-head-title>Task <strong>{{ task.definition.name }}</strong></app-page-head-title>
    <app-page-head-subtitle>
      <app-task-status [taskDefinition]="task.definition"></app-task-status>
    </app-page-head-subtitle>
    <app-page-head-actions>
      <button name="stream-stop" type="button" id="task-launch" [dataflowAppRoles]="['ROLE_DEPLOY']"
              (click)="launch(task.definition)" class="btn btn-primary btn-fa" title="Launch">
        <span class="fa fa-play"></span>
        Launch task
      </button>
      <button *ngIf="task.schedulesEnabled" id="task-schedule" type="button" [dataflowAppRoles]="['ROLE_SCHEDULE']"
              (click)="schedule(task.definition)" class="btn btn-primary btn-fa" title="Schedule">
        <span class="fa fa-clock-o"></span>
        Schedule
      </button>
      <button name="stream-remove" type="button" (click)="destroy(task.definition)" id="task-remove"
              class="btn btn-danger btn-fa" title="Destroy" [dataflowAppRoles]="['ROLE_DESTROY']">
        <span class="fa fa-trash"></span>
        Destroy task
      </button>
    </app-page-head-actions>
  </app-page-head>
  <div class="page-tab">
    <div class="page-tab-head">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active"><a routerLink="summary">Summary</a></li>
        <li role="presentation" routerLinkActive="active"><a routerLink="graph">Graph</a></li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="executions">
            Executions
            <span *ngIf="counters$ | async as counters;">
            <span class="label label-count label-primary"
                  *ngIf="counters.executions">{{counters.executions}}</span>
          </span>
          </a>
        </li>
        <li role="presentation" routerLinkActive="active" *ngIf="task.schedulesEnabled">
          <a routerLink="schedules">
            Schedules
            <span *ngIf="counters$ | async as counters;">
            <span class="label label-count label-primary"
                  *ngIf="counters.schedules">{{counters.schedules}}</span>
          </span>
          </a>
        </li>
      </ul>

    </div>
    <div class="tab-content">
      <div class="tab-pane in active">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</app-page>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
