<div *ngIf="executions$ | async as executions; else loading" id="executions-list" dataflowLayoutType type="full">

  <app-list-bar [params]="executions.params" [page]="executions.page" [countSelected]="countSelected()" #listBar
                (refresh)="refresh(executions.params)" [hideSearch]="true" [actions]="executionsActions()"
                (action)="applyAction($event.action, null, executions.params, executions.page)">
  </app-list-bar>

  <table *ngIf="executions.page?.items && executions.page.items.length > 0"
         class="table table-hover table-actions" id="taskExecutionsTable">
    <thead>
    <tr>
      <th style="width: 30px" [dataflowAppRoles]="['ROLE_DESTROY']">
        <app-master-checkbox (change)="changeCheckboxes(executions.page)" *ngIf="form?.checkboxes"
                             [dataflowAppRoles]="['ROLE_CREATE']" [items]="form.checkboxes"></app-master-checkbox>
      </th>
      <th style="width: 140px">
        <app-sort id="sort-id" (change)="applySort(executions.params, $event)" [value]="'TASK_EXECUTION_ID'"
                  [sort]="executions.params">
          Execution Id
        </app-sort>
      </th>
      <th nowrap="">
        <app-sort id="sort-startdate" (change)="applySort(executions.params, $event)" [value]="'START_TIME'"
                  [sort]="executions.params">
          Start Date
        </app-sort>
      </th>
      <th nowrap="">
        <app-sort id="sort-enddate" (change)="applySort(executions.params, $event)" [value]="'END_TIME'"
                  [sort]="executions.params">
          End Date
        </app-sort>
      </th>
      <th nowrap="">
        <app-sort id="sort-exitcode" (change)="applySort(executions.params, $event)" [value]="'EXIT_CODE'"
                  [sort]="executions.params">
          Exit Code
        </app-sort>
      </th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <ng-container
      *ngFor="let item of executions.page.items | paginate: executions.page.getPaginationInstance(); index as i">
      <tr>
        <td class="cell-checkbox" [dataflowAppRoles]="['ROLE_DESTROY']">
          <input [dataflowAppRoles]="['ROLE_CREATE']" type="checkbox" (change)="changeCheckboxes(executions.page)"
                 [(ngModel)]="form.checkboxes[i]" *ngIf="!item.parentExecutionId"/>
        </td>
        <td>
          <a (click)="details(item)" style="cursor: pointer">
            #{{ item.executionId }}
          </a>
        </td>
        <td>
          {{ item.startTime | dataflowDateTime }}
        </td>
        <td>
          {{ item.endTime | dataflowDateTime }}
        </td>
        <td>
          {{ item.exitCode }}
        </td>

        <td class="table-actions" width="10px" nowrap="">
          <app-list-row-actions [item]="item"
                                (action)="applyAction($event.action, $event.args, executions.params, executions.page)"
                                [actions]="executionActions(item, i)"></app-list-row-actions>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>

  <app-list-pagination [page]="executions.page" [params]="executions.params"
                       (changed)="changePaginationPager(executions.params, $event)" [item]="'task execution'"
                       [items]="'task executions'">
  </app-list-pagination>

  <app-list-empty [page]="executions.page" [filters]="[]">
    <p>There is <strong>no task executed</strong> for this task, yet.</p>
    <p>
      You can <a (click)="refresh(executions.params)">Refresh</a> the page
    </p>
  </app-list-empty>

</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
