<div *ngIf="executions$ | async as executions; else loading" id="executions-list" dataflowLayoutType type="full">

  <div class="list-bar" *ngIf="!(executions.page.totalPages < 2 && executions.page.items.length === 0)">
    <button class="btn btn-default btn-fa" (click)="refresh(executions.params)" title="Refresh" type="button">
      <span class="fa fa-refresh"></span>
      Refresh
    </button>
  </div>

  <table *ngIf="executions.page?.items && executions.page.items.length > 0"
         class="table table-hover table-actions" id="taskExecutionsTable">
    <thead>
    <tr>
      <th style="width: 140px">
        <app-sort id="sort-id" (change)="applySort(executions.params, $event)" [value]="'TASK_EXECUTION_ID'"
                  [sort]="executions.params">
          Execution Id
        </app-sort>
      </th>
      <th nowrap="">
        <app-sort id="sort-startdate" (change)="applySort(executions.params, $event)" [value]="'START_TIME'"
                  [sort]="executions.params">
          Start Date
        </app-sort>
      </th>
      <th nowrap="">
        <app-sort id="sort-enddate" (change)="applySort(executions.params, $event)" [value]="'END_TIME'"
                  [sort]="executions.params">
          End Date
        </app-sort>
      </th>
      <th nowrap="">
        <app-sort id="sort-exitcode" (change)="applySort(executions.params, $event)" [value]="'EXIT_CODE'"
                  [sort]="executions.params">
          Exit Code
        </app-sort>
      </th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <ng-container
      *ngFor="let item of executions.page.items | paginate: executions.page.getPaginationInstance(); index as i">
      <tr>
        <td>
          <a (click)="details(item)" style="cursor: pointer">
            #{{ item.executionId }}
          </a>
        </td>
        <td>
          {{ item.startTime | dataflowDateTime }}
        </td>
        <td>
          {{ item.endTime | dataflowDateTime }}
        </td>
        <td>
          {{ item.exitCode }}
        </td>
        <td class="table-actions" width="10px" nowrap="">
          <div class="actions-btn" role="group">
            <button type="button" name="task-details{{ i }}" (click)="details(item)" class="btn btn-default"
                    title="Details">
              <span class="fa fa-info-circle"></span>
            </button>
          </div>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>

  <app-list-pagination [page]="executions.page" [params]="executions.params"
                       (changed)="changePaginationPager(executions.params, $event)" [item]="'task execution'"
                       [items]="'task executions'">
  </app-list-pagination>

  <app-list-empty [page]="executions.page" [filters]="[]">
    <p>There is <strong>no task executed</strong> for this task, yet.</p>
    <p>
      You can <a (click)="refresh(executions.params)">Refresh</a> the page
    </p>
  </app-list-empty>

</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
