<h1 class="page-title">
  <span class="text-truncate">
    {{ 'applications.details.title' | translate }} <strong>{{ app.name }}</strong
    >&nbsp;
    <span class="{{ app.labelTypeClass() }}">{{ app.type }}</span>
    <span *ngIf="defaultApp" class="label">{{ defaultApp.version }}</span>
  </span>
</h1>

<div *ngIf="!loading">
  <div class="datagrid-action-bar" [appRole]="['ROLE_DESTROY']">
    <button id="btnUnregister" type="button" class="btn btn-sm btn-outline-danger" (click)="unregister()">
      {{ 'applications.details.unregister' | translate }}
    </button>
    <button
      id="btnVersion"
      type="button"
      class="btn btn-sm btn-secondary"
      (click)="manageVersions()"
      *ngIf="versions?.length > 1"
    >
      {{ 'applications.details.manageVersions' | translate }}
    </button>
  </div>

  <div class="title-select" *ngIf="detailedApp && versions?.length > 1">
    {{ 'applications.main.version' | translate }}
    <clr-dropdown>
      <button class="btn btn-sm btn-secondary" clrDropdownTrigger>
        {{ detailedApp.version }}&nbsp;
        <span *ngIf="detailedApp.defaultVersion">({{ 'applications.details.default' | translate | uppercase }})</span>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen>
        <button
          [class.active]="version.version === detailedApp.version"
          *ngFor="let version of versions"
          clrDropdownItem
          (click)="getProperties(version)"
        >
          {{ version.version }}&nbsp;
          <span *ngIf="version.defaultVersion">({{ 'applications.details.default' | translate | uppercase }})</span>
        </button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>

  <div class="clr-row">
    <div class="clr-col-lg-6 clr-col-md-12 clr-col-12">
      <app-view-card
        [titleModal]="'applications.details.information' | translate"
        name="{{ app.name }}.{{ app.type }}"
        keyContext="app"
        id="info"
      >
        <ng-template>
          <div *ngIf="!loadingProperties">
            <div class="block card-block-keyvalue lg-key">
              <div class="row">
                <div class="key">{{ 'applications.main.type' | translate }}</div>
                <div class="value">
                  <span class="{{ app.labelTypeClass() }}">{{ app.type }}</span>
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'applications.main.version' | translate }}</div>
                <div class="value">
                  <span *ngIf="defaultApp" class="label">{{ defaultApp.version }}</span>
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'applications.main.bootVersion' | translate }}</div>
                <div class="value">
                  <span *ngIf="defaultApp" class="label">{{
                    'applications.main.bootVersions.' + defaultApp.bootVersion | translate
                  }}</span>
                </div>
              </div>
              <div *ngIf="detailedApp.uri" class="row">
                <div class="key">{{ 'applications.main.uri' | translate }}</div>
                <div class="value">{{ detailedApp.uri }}</div>
              </div>
              <div class="row">
                <div class="key">{{ 'applications.main.metadataURI' | translate }}</div>
                <div class="value">{{ detailedApp.metaDataUri || 'N/A' }}</div>
              </div>
              <div class="row" *ngIf="versions">
                <div class="key">{{ 'applications.main.version' | translate }}(s)</div>
                <div class="value">{{ versions.length }}</div>
              </div>
            </div>
          </div>
          <div *ngIf="loadingProperties">
            <clr-spinner clrInline clrSmall></clr-spinner>
            {{ 'commons.loading' | translate }}
          </div>
        </ng-template>
      </app-view-card>
    </div>
  </div>

  <div>
    <div class="clr-row">
      <div class="clr-col-lg-12 clr-col-md-12 clr-col-12">
        <app-view-card
          [titleModal]="'applications.details.appProperties' | translate"
          name="{{ app.name }}.{{ app.type }}"
          keyContext="app"
          id="props"
        >
          <ng-template>
            <div *ngIf="!loadingProperties">
              <div class="block card-block-keyvalue" *ngIf="detailedApp.options?.length > 0">
                <div
                  *ngIf="tooManyProperties && !showAllProperties"
                  class="alert alert-info"
                  role="alert"
                  style="margin-top: 8px"
                >
                  <div class="alert-items">
                    <div class="alert-item static">
                      <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                      </div>
                      <div class="alert-text">
                        {{ 'applications.details.tooManyProperties' | translate }}<br />
                        {{ 'applications.details.tooManyProperties2' | translate }}
                      </div>
                    </div>
                    <div class="alert-item static">
                      <div class="alert-item static">
                        <div class="alert-icon-wrapper"></div>
                      </div>
                      <div class="alert-text">
                        <button class="btn btn-primary btn-sm" (click)="showAllProperties = true">
                          {{ 'applications.details.showAll' | translate }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div *ngIf="showAllProperties">
                  <table>
                    <tbody>
                      <tr *ngFor="let property of detailedApp.options | orderby: 'name':'ASC'">
                        <td class="key">
                          {{ getReadableId(property.id) }}
                          <div *ngIf="property.isDeprecated">
                            <span class="label label-warning"
                              >{{ 'applications.details.deprecatedLevel' | translate }}:
                              {{ property.deprecation.level }}</span
                            >
                          </div>
                        </td>
                        <td class="value">
                          <div class="value">
                            <div *ngIf="property.description">{{ property.description }}</div>
                            <div *ngIf="!property.description">
                              ({{ 'applications.details.noDescription' | translate }})
                            </div>
                            <div class="type-block">
                              <code>{{ property.type }}</code
                              >&nbsp;<span *ngIf="property.defaultValue"
                                >({{ 'applications.details.defaultValue' | translate }}:
                                <code>{{ property.defaultValue }}</code
                                >)</span
                              >
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div *ngIf="!(detailedApp.options?.length > 0)">{{ 'applications.details.noProperty' | translate }}</div>
            </div>
            <div *ngIf="loadingProperties">
              <clr-spinner clrInline clrSmall></clr-spinner>
              {{ 'commons.loading' | translate }}
            </div>
          </ng-template>
        </app-view-card>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading" style="padding: 1rem 0">
  <clr-spinner clrInline clrSmall></clr-spinner>
  {{ 'commons.loading' | translate }}
</div>

<app-unregister #unregisterModal (onUnregistered)="back()"></app-unregister>
<app-version #versionModal (onChange)="getVersions()"></app-version>
