<p>
  {{ 'applications.add.props.desc' | translate }}<br />
  {{ 'applications.add.props.desc2' | translate }}
</p>

<form role="form" (ngSubmit)="submit()" clrForm [formGroup]="form" clrLayout="horizontal" clrLabelSize="4">
  <clr-control-container class="key-value-wrapper">
    <label class="clr-col-md-2">{{ 'applications.add.props.appsAsProperties' | translate }}</label>
    <app-key-value [validators]="validators" clrControl formControlName="properties" [kvFocus]="true"></app-key-value>
    <clr-control-helper>
      {{ 'applications.add.props.example' | translate }}:<br />
      <pre><code>{{ 'applications.add.props.example1' | translate }}
{{ 'applications.add.props.example2' | translate }}</code></pre>
    </clr-control-helper>
    <clr-control-error>
      {{ 'applications.add.props.requiredApp' | translate }}<br />
      {{ 'applications.add.props.example' | translate }}:
      <code>{{ 'applications.add.props.example1' | translate }}</code>
    </clr-control-error>
  </clr-control-container>

  <clr-checkbox-container>
    <clr-checkbox-wrapper>
      <input formControlName="force" type="checkbox" clrCheckbox value="false" name="force" />
      <label>{{ 'applications.add.props.force' | translate }}</label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
  <div class="clr-accordion-footer">
    <button class="btn btn-secondary" type="button" (click)="back()">{{ 'commons.cancel' | translate }}</button>
    <button class="btn btn-primary" type="submit">{{ 'applications.add.props.import' | translate }}</button>
  </div>
</form>

<clr-modal [(clrModalOpen)]="isImporting" *ngIf="isImporting" clrModalClosable="false" clrModalSize="md">
  <h3 class="modal-title">{{ 'applications.add.props.import' | translate }}</h3>
  <div class="modal-body">
    <div><clr-spinner clrInline clrSmall></clr-spinner>&nbsp; {{ 'applications.add.props.importing' | translate }}</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" [disabled]="true">{{ 'commons.cancel' | translate }}</button>
    </div>
  </div>
</clr-modal>
