<app-page *ngIf="taskExecution$ | async as taskExecution; else loading">

  <app-page-head>
    <app-page-head-back [defaultUrl]="'/tasks/executions'"
                        [isNotRegex]="'^(\/tasks\/executions\/)'"></app-page-head-back>
    <app-page-head-title>
      Task Execution Details - <strong>Execution ID: {{ taskExecution.executionId }}</strong>
    </app-page-head-title>
    <app-page-head-actions>

      <button name="task-view" type="button" id="task-view"
              (click)="detailsTask(taskExecution.taskName)" class="btn btn-primary btn-fa" title="View details task">
        <span class="fa fa-info-circle"></span>
        View task details
      </button>
      <button name="task-launch" type="button" id="task-launch"
              (click)="launch(taskExecution.taskName)" class="btn btn-primary btn-fa" title="Relaunch the task"
              [dataflowAppRoles]="['ROLE_CREATE']">
        <span class="fa fa-play"></span>
        Relaunch task
      </button>
    </app-page-head-actions>
  </app-page-head>

  <div dataflowLayoutType type="large">
    <table *ngIf="taskExecution" class="table table-hover">
      <thead>
      <tr>
        <th style="width: 200px">Property</th>
        <th style="width: 200px">Value</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Execution Id</td>
        <td>{{ taskExecution.executionId }}</td>
      </tr>
      <tr>
        <td>Task Name</td>
        <td>
          <a [routerLink]="'/tasks/definitions/' + taskExecution.taskName">{{ taskExecution.taskName }}</a>
        </td>
      </tr>
      <tr>
        <td>Arguments</td>
        <td>
          <div *ngIf="taskExecution.arguments">
            <div *ngFor="let arg of getArguments(taskExecution.arguments)">
              {{ arg[0] }}:
              <strong>{{ arg[1] }}</strong>
            </div>
          </div>
          <div *ngIf="!taskExecution.arguments">
            N/A
          </div>
        </td>
      </tr>
      <tr>
        <td>External Execution Id</td>
        <td>{{ taskExecution.externalExecutionId || 'N/A' }}</td>
      </tr>
      <tr>
        <td>Batch Job</td>
        <td>
          <span *ngIf="taskExecution.jobExecutionIds.length > 0" class="glyphicon glyphicon-ok text-info"></span>
          <span *ngIf="taskExecution.jobExecutionIds.length == 0" class="glyphicon glyphicon-remove text-danger"></span>
        </td>
      </tr>
      <tr>
        <td>Job Execution Ids</td>
        <td *ngIf="taskExecution.jobExecutionIds.length > 0" id="jobExecutionIds">
          <a [routerLink]="'/jobs/executions/' + jobExecutionId"
             *ngFor="let jobExecutionId of taskExecution.jobExecutionIds">
            {{ jobExecutionId }}
          </a>
        </td>
        <td *ngIf="taskExecution.jobExecutionIds.length == 0">
          N/A
        </td>
      </tr>
      <tr>
        <td>Start Time</td>
        <td>{{ taskExecution.startTime | dataflowDateTime }}</td>
      </tr>
      <tr>
        <td>End Time</td>
        <td>{{ taskExecution.endTime | dataflowDateTime }}</td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>{{ taskExecution.startTime | dataflowDuration: taskExecution.endTime }}</td>
      </tr>
      <tr>
        <td>Exit Code</td>
        <td>{{ taskExecution.exitCode }}</td>
      </tr>
      <tr>
        <td>Exit Message</td>
        <td>{{ taskExecution.exitMessage || 'N/A' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</app-page>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
