<app-page *ngIf="taskExecution$ | async as task; else loading">
  <app-page-head>
    <app-page-head-back [defaultUrl]="'/tasks/executions'"
                        [isNotRegex]="'^(\/tasks\/executions\/)'"></app-page-head-back>
    <app-page-head-title>
      Task Execution Details - <strong>Execution ID: {{ task.task.executionId }}</strong>
    </app-page-head-title>
    <app-page-head-actions>

      <button name="task-view" type="button" id="task-view"
              (click)="detailsTask(task.task.taskName)" class="btn btn-primary btn-fa" title="View details task">
        <span class="fa fa-info-circle"></span>
        Details
      </button>
      <button name="task-launch" type="button" id="task-launch"
              (click)="launch(task.task.taskName)" class="btn btn-primary btn-fa" title="Relaunch the task"
              [dataflowAppRoles]="['ROLE_CREATE']">
        <span class="fa fa-play"></span>
        Relaunch
      </button>
      <button name="task-launch" type="button" id="task-stop"
              (click)="stop(task.task)" class="btn btn-primary btn-fa" title="Stop the task execution"
              [dataflowAppRoles]="['ROLE_CREATE']" [disabled]="!isRunning(task.task)">
        <span class="fa fa-stop"></span>
        Stop
      </button>
      <button name="stream-remove" type="button" (click)="destroy(task.task)" id="task-remove"
              class="btn btn-danger btn-fa" title="Destroy" [dataflowAppRoles]="['ROLE_DESTROY']"
              *ngIf="!task.task.parentExecutionId">
        <span class="fa fa-trash"></span>
        Cleanup
      </button>
    </app-page-head-actions>
  </app-page-head>

  <div dataflowLayoutType type="large">
    <table *ngIf="task.task" class="table table-hover">
      <thead>
      <tr>
        <th style="width: 200px">Property</th>
        <th style="width: 200px">Value</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Execution Id</td>
        <td>{{ task.task.executionId }}</td>
      </tr>
      <tr>
        <td>Task Name</td>
        <td>
          <a [routerLink]="'/tasks/definitions/' + task.task.taskName">{{ task.task.taskName }}</a>
        </td>
      </tr>
      <tr>
        <td>Arguments</td>
        <td>
          <div *ngIf="task.task.arguments">
            <div *ngFor="let arg of getArguments(task.task.arguments)">
              {{ arg[0] }}:
              <strong>{{ arg[1] }}</strong>
            </div>
          </div>
          <div *ngIf="!task.task.arguments">
            N/A
          </div>
        </td>
      </tr>
      <tr>
        <td>External Execution Id</td>
        <td>{{ task.task.externalExecutionId || 'N/A' }}</td>
      </tr>
      <tr>
        <td>Batch Job</td>
        <td>
          <span *ngIf="task.task.jobExecutionIds.length > 0" class="glyphicon glyphicon-ok text-info"></span>
          <span *ngIf="task.task.jobExecutionIds.length == 0" class="glyphicon glyphicon-remove text-danger"></span>
        </td>
      </tr>
      <tr>
        <td>Job Execution Ids</td>
        <td *ngIf="task.task.jobExecutionIds.length > 0" id="jobExecutionIds">
          <a [routerLink]="'/jobs/executions/' + jobExecutionId"
             *ngFor="let jobExecutionId of task.task.jobExecutionIds">
            {{ jobExecutionId }}
          </a>
        </td>
        <td *ngIf="task.task.jobExecutionIds.length == 0">
          N/A
        </td>
      </tr>
      <tr>
        <td>Start Time</td>
        <td>{{ task.task.startTime | dataflowDateTime }}</td>
      </tr>
      <tr>
        <td>End Time</td>
        <td>{{ task.task.endTime | dataflowDateTime }}</td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>{{ task.task.startTime | dataflowDuration: task.task.endTime }}</td>
      </tr>
      <tr>
        <td>Exit Code</td>
        <td>{{ task.task.exitCode }}</td>
      </tr>
      <tr>
        <td>Exit Message</td>
        <td>{{ task.task.exitMessage || 'N/A' }}</td>
      </tr>
      <tr>
        <td>Resource URL</td>
        <td>{{ task.task.resourceUrl || 'N/A' }}</td>
      </tr>
      <tr>
        <td>Application Properties</td>
        <td>
          <div *ngIf="(task.task.appProperties | keyvalue)?.length > 0">
            <div *ngFor="let arg of (task.task.appProperties | keyvalue)">
              {{ arg.key }}:
              <strong>{{ arg.value }}</strong>
            </div>
          </div>
          <div *ngIf="(task.task.appProperties | keyvalue)?.length === 0">
            N/A
          </div>
        </td>
      </tr>
      <tr>
        <td>Platform Properties</td>
        <td>
          <div *ngIf="(task.task.deploymentProperties | keyvalue)?.length > 0">
            <div *ngFor="let arg of (task.task.deploymentProperties | keyvalue)">
              {{ arg.key }}:
              <strong>{{ arg.value }}</strong>
            </div>
          </div>
          <div *ngIf="(task.task.deploymentProperties | keyvalue)?.length === 0">
            N/A
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div *ngIf="task.logs">
      <h2 style="padding-bottom: 12px;">Logs</h2>
      <div class="pui-log">
        <pre><code>{{ task.logs }}</code></pre>
      </div>
    </div>

  </div>
</app-page>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
