// PUI sets this to fixed which completely
// breaks table behaviour. With default setting
// we seem to get better predictable layout
// in all tables.

.help-block {
  position: unset;
}

.app-spinner {
  background-color: #f5f6f7;
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

body {
  background-color: #fff;
  font-size: 15px;
}

.dataflow-main-container {
  background-color: #ffffff;
  padding-bottom: 2em;
  padding-top: 20px;
}

.glyphicon {
  line-height: inherit;
  margin-right: 2px;
}

.form-control-feedback {
  top: 5px;
}

.filter-input {
  max-width: 125px;
}

.btn-dropdown {
  padding-right: 30px;
  .caret {
    position: absolute;
    top: 13px;
    right: 15px;
  }
}

.btn.btn-icon {
  margin: 0;
  padding: 0 10px;
}

.btn-line {
  margin: 0;
  padding: 0 10px;
}

.tooltip {
  position: absolute;
}

#footer {
  background-color: #f5f6f7;
  padding: 4rem 0;
}

.ico-current-version {
  color: #ff7e00;
  margin-left: 5px;
}

div.tooltip-version {
  text-align: left;
  margin: 0;
  padding: 0;
}

.input-sm, .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
  height: 32px;
}

.form-control {
  box-shadow: none;
  &:focus, &:active {
    box-shadow: none;
  }
}

.has-error .form-control {
  box-shadow: none;
  &:focus, &:active {
    box-shadow: none;
  }
}

.status {
  .tooltip {
    .tooltip-inner {
      max-width: none;
      white-space: nowrap;
      text-align: left;
      .btn {
        margin: 0;
        padding: 0 10px;
      }
      .btn + .btn {
        margin-left: 4px;
      }
    }
  }
}

.label-count {
  border-radius: 10px;
  margin-left: 6px;
  vertical-align: top;
}

/*
 * Used in conjunction with the
 * TruncatorWidthProviderDirective. Particularly relevant for Firefox
 * (Does not seem apply word breaks correctly for span elements).
 */
.dataflow-truncator-width {
  overflow-wrap: break-word;
  word-break: break-all;
}

.ngx-pagination {
  margin: 0;
  padding: 0;
  li a, .current {
    border-radius: 3px;
  }

}

.sidebar-fixed #content {
  position: relative;
}

.dataflow-alert {
  background: #fff3e9;
  border-left: 4px solid #ff7800;
  padding: 1.5rem 2.5rem 1.5rem 2rem;
  margin: 1rem 0;
  display: inline-block;
  p {
    display: block;
    margin: 0;
    padding: 0rem;
  }
  a {
    cursor: pointer;
  }
  &.dataflow-alert-info {
    background: #f5f6f7;
    border-left-color: #45968f;
  }
}

.dataflow-page {
  padding-top: 60px;
}

.dataflow-page-head {
  position: fixed;
  top: 0;
  right: 0;
  left: 60px;
  height: 60px;
  padding: 0 3rem;
  border-bottom: 1px solid #dfe5e8;
  @include transition(left .1s);
  background: $navy-11;
  z-index: 100;
  h1.dataflow-page-head-title {
    font-size: 20px;
    padding: 16px 0;
    line-height: 26px;
    strong {
      font-weight: 600;
    }
  }
  app-page-head-title, app-page-head-actions, app-page-head-back, app-page-head-subtitle {
    float: left;
  }
  app-page-head-actions {
    margin: 14px 0 14px 2rem;
    padding-left: 2rem;
    border-left: 1px solid #dfe5e8;
  }
  app-page-head-back {
    margin-left: -15px;
    a {
      color: $navy-1;
      display: block;
      padding: 12px 15px;
      line-height: 24px;
      margin: 6px 4px 6px 4px;
      cursor: pointer;
      &:hover {
        color: $brand-primary;
      }
    }
  }
  app-page-head-subtitle {
    padding: 14px 0 14px 15px;
    line-height: 32px;
  }
}

app-list-row-actions {
  white-space: nowrap;
  .btn, .btn + .btn {
    margin: 2px 4px 2px 0;
    padding: 0 8px;
    height: 32px;
    &:last-child {
      margin-right: 0;
    }
    span.fa-ellipsis-h {
      margin-top: 6px;
    }
    span.fa-pause, span.fa-play {
      font-size: 16px;
    }
  }
  .btn-group {
    display: inline-block;
    .btn {
      margin-right: 0;
    }
  }
  ul.dropdown-menu {
    li {
      a {
        position: relative;
        padding-left: 40px;
        padding-right: 40px;
        cursor: pointer;
        .fa {
          position: absolute;
          top: 8px;
          left: 12px;
        }
        &.disabled {
          color: #999;
          cursor: not-allowed;
          &:hover {
            background: white;
          }
        }
      }
      &.divider {
        margin: 4px 0;
      }
    }
  }
}

.page-tab {
  .page-tab-head {
    background: $navy-11;
    margin: -20px -3rem 0 -3rem;
  }
  .page-tab-head-content {
    padding: 0.5rem 3rem 0 3rem;
    p {
      margin: 0;
      padding: 0.5rem 0;
    }
  }
  ul.nav-tabs {
    padding: 11px 3rem 0;
    border-bottom: 1px solid #DFE5E8;
    li {
      a {
        border-radius: 0;
        border-left: 0 none;
        border-right: 0 none;
        border-top: 3px solid transparent;
        color: #686868;
        padding: 8px 16px;
        cursor: pointer;
        &:hover {
          color: $navy-1;
        }
      }
      .label {
        padding: .1rem .6rem .2rem;
      }
      &.active {
        a, a:active, a:hover {
          color: $navy-1;
          background: white;
          border-left: 0 none;
          border-right: 0 none;
          border-top: 3px solid #45968f;
        }
      }
    }
  }
  .tab-pane {
    padding: 16px 0;
  }
}

.page-step {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 240px;
  width: 500px;
  border-right: 1px solid $navy-9;
  .page-step-content {
    padding: 2rem 3rem;
  }
  ul.step {
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid $navy-9;
    li {
      position: relative;
      margin: 0;
      border-top: 1px solid $navy-9;
      border-right: 1px solid $navy-9;
      margin-right: -1px;
      background-color: $navy-11;
      a {
        display: block;
        padding: 1.5rem 3rem 1.5rem 5rem;
        color: $navy-3;
        &:hover, &:active, &:focus {
          text-decoration: none;
          color: $navy-1;
        }
        &:hover {
          color: $blue-4;
        }
        input {
          position: absolute;
          top: 50%;
          left: 24px;
          margin-top: -6px;
        }
      }
      &.active {
        background-color: #fff;
        border-right: 1px solid #fff;
        a {
          color: $navy-1;
        }
      }
    }
  }
}

.page-step-2 {
  position: fixed;
  left: 240px + 500px;
  right: 0;
  width: auto;
  top: 60px;
  bottom: 0;
  overflow: auto;
  z-index: 888;
  .dataflow-page-head {
    position: fixed;
    top: 0;
    left: 240px + 500px -1px;
    height: 60px;
    border-left: 1px solid $navy-9;
    min-width: 400px;
    app-page-head-back {
      display: none;
    }
    /*h1 {
      font-size: 20px;
      padding: 16px 3rem;
      line-height: 26px;
      font-weight: 600;
    }*/
  }
}

.form-group label {
  font-size: 15px;
  padding-bottom: 5px;
}

em.required {
  font-size: 20px;
  color: #ff7200;
  font-style: normal;
  position: absolute;
  top: 5px;
  margin-left: 5px;
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 12px;
}

.label-warning {
  background-color: #f5be00;
  color: #FFF;
}

.label-info {
  background-color: #0096ff;
  color: rgba(255, 255, 255, .9);
}

.label-success {
  background-color: #80b600;
  color: rgba(255, 255, 255, .9);
}

.label-danger {
  background-color: #ff5400;
  color: rgba(255, 255, 255, .9);
}

.label-error {
  background-color: #FF0000;
  color: rgba(255, 255, 255, .9);
}

.label-apptype, .label-stream-status, .label-task-status, .label-job-status {
  padding: .25em 0.8em .3em;
  &.label-default {
    background-color: #87939f;
  }
}

.input-file {
  position: relative;
  display: block;
  clear: both;
  //margin-left: auto;
  width: 220px;
  .btn-file {
    height: 34px;
    line-height: 30px;
    margin-right: 0;
    margin-top: 8px;
    font-weight: normal;
    input {
      display: none;
    }
  }
}

.dataflow-page-actions {
  border-top: 1px solid $navy-9;
  margin-top: 15px;
  margin-left: -3rem;
  margin-right: -3rem;
  padding: 15px 3rem 0;
  .btn {
    height: 42px;
    padding: 0 30px;
    line-height: 38px;
  }
}

.list-pagination {
  height: 60px;
  div.app-pagination {
    display: inline-block;
    height: 28px;
    border-right: 1px solid $navy-9;
    padding-right: 1.5rem;
    margin-right: 1.5rem;
  }
  app-pager {
    .app-pager {
      display: inline-block;
      padding-top: 2px;
    }
  }
  .list-pagination-wrap {
    padding: 1.5rem 3rem 0 3rem;
    margin: 1rem -3rem 0 -3rem;
    border-top: 1px solid $navy-9;
    background-color: #FFF;

  }
  .list-pagination-fixed {
    position: fixed;
    bottom: 0;
    left: 240px;
    right: 0;
    padding-bottom: 2rem;
    margin: 0;
  }
}

.form-control::placeholder {
  color: $navy-8;
}
