<div *ngIf="loggedinUser$ | async as user; else logIn" class="header-actions">
  <clr-dropdown>
    <button class="nav-text nav-icon-text" clrDropdownTrigger aria-label="open user profile">
      {{ user }}
      <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
      <a (click)="logout()" clrDropdownItem>{{ 'about.user.logOut' | translate }}</a>
    </clr-dropdown-menu>
  </clr-dropdown>
</div>

<ng-template #logIn>
  <div>
    <a href="{{ baseApiUrl }}login" class="nav-link nav-icon-text">{{ 'about.user.logIn' | translate }}</a>
  </div>
</ng-template>
