<div class="modal-header">
  <h4 class="modal-title pull-left">
    Properties for <strong>{{ name }}</strong>
    <span class="label label-version" *ngIf="version"><span>{{ version }}</span></span>
    <span class="label label-apptype label-{{getTypeClass()}}">{{ type }}</span>
  </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="handleCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form name="app-properties" (submit)="handleOk()">

  <div *ngIf="propertiesGroupModel && !propertiesGroupModel.isLoading">

    <label class="modal-search">
      <span class="search-wrapper">
        <input type="search" class="form-control" placeholder="Search properties ..." [(ngModel)]="searchFilterText" [ngModelOptions]="{standalone: true}"/>
        <span class="fa fa-search"></span>
      </span>
    </label>
    <div class="modal-body app-properties">
      <div *ngIf="propertiesGroupModel.getControlsModels().length > 50 && !showProperties"
           class="dataflow-alert dataflow-alert-info" style="display: block">
        <p style="padding-bottom: 5px;">
          There are <strong>more than 50 properties</strong> to display, the UI can be slow.<br>Do you want to
          <strong>display all the properties</strong> ?
        </p>
        <button class="btn btn-primary" (click)="showProperties = true">Show all the properties</button>
      </div>

      <div *ngIf="propertiesGroupModel.getControlsModels().length <= 50 || showProperties">

        <properties-group *ngIf="propertiesGroupModel" [propertiesGroupModel]="propertiesGroupModel"
                          [form]="propertiesFormGroup" [filter]="propertiesFilter"></properties-group>
      </div>
    </div>
  </div>


  <div class="modal-body app-properties" *ngIf="!propertiesGroupModel || propertiesGroupModel.isLoading">
    <div style="padding-bottom: 20px;padding-left:10px;padding-top: 10px;">
      <app-loader></app-loader>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="handleCancel()">Cancel</button>
    <button type="submit" class="btn btn-primary">Update</button>
  </div>

</form>
