@import '../../../../scss/pui-variables';

@media (min-width: 700px) {
  .modal-properties {
    width: auto;
    min-width: 600px;
    max-width: 850px;
    .modal-body {
      padding: 24px 42px 24px 24px;
      max-height: 70vh;
      overflow-y: auto;
    }
  }
}

.properties-group-container .property-row {
  display: block;
}

.df-property-row {
  width: 100%;
  display: inline-table;
}

.df-property-label-cell {
  width: 30%;
}

.df-property-container {
  width: 100%
}

.df-property-control {
  width: 100%;
}

//
//.modal-body.app-properties {
//  max-height: 80vh;
//  overflow-y: auto;
//  padding: 10px;
//}

label.df-property-control {
  margin-bottom: 0px;
}

.invalid-property-value .df-form-label {
  color: $error-3;
}

.invalid-property-value .df-property-control {
  outline-color: $error-3;
  border-color: $error-3;
  color: $error-3
}

.validation-error-block {
  color: $error-3;
}

.modal-title {
  .label {
    margin: 0 2px;
  }

  .label-version {
    background: #999;
  }
  strong {
    margin-right: 12px;
  }
}

.modal-properties {

  input.df-property-control, select.df-property-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 4px 12px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    font-size: 14px;
    background-color: #fff;
    border: 1px solid $input-border;
    border-radius: 3px;
    -webkit-appearance: none;
    box-shadow: none;
    box-sizing: border-box;
    color: $dark-2;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    outline: none;
    &:focus {
      border-color: #607580;
      box-shadow: none;
    }
    &::placeholder {
      color: $navy-8;
    }
    &::-ms-expand {
      display: none;
    }
  }

  .help-block {
    font-size: 14px;
    padding: 2px 0;
    line-height: 24px;
  }

  input[type=checkbox] {
    margin-right: 4px;
  }
}

.property-row {
  border-bottom: 1px solid $navy-10;
  margin-bottom: 20px;
  &:last-child {
    border-bottom: 0 none;
    margin-bottom: 0;
  }
}

.modal-search {
  display: block;
  background-color: #f2f2f2;
  border-bottom: 1px solid $input-border;
  padding: 8px 5rem;
  input.form-control {
    display: block;
    border-radius: 17px;
    height: 34px;
    font-weight: normal;
    padding: 5px 15px;
  }
  span.fa {
    position: absolute;
    right: 14px;
    top: 8px;
    color: #888;
  }
  span.search-wrapper {
    display: block;
    position: relative;
  }
}
