.metrics-table select {
  -webkit-appearance: menulist-button;
  //background-color: inherit;
  width: 100%;
}

.metrics-table > tbody > tr > td {
  vertical-align: middle;
}

.bar-chart {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.bar-chart rect {
  stroke: white;
  fill: steelblue;
}

.bar-chart text.bar {
  fill: white;
}

.pie-chart path {
  stroke: #fff;
}

.chart-slider input[type="range"] {
  width: 300px;
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
}

.inline-graph-chart {
  width: 600px;
}

.inline-gauge-chart {
  width: 130px;
}

.tick line{
  opacity: 0.2;
}

.tick text{
  font-size: 12px;
  font-family: Helvetica, Arial, Sans-Serif;
  stroke: none;
  fill: black;
}