<app-page *ngIf="jobExecutions">

  <app-page-head>
    <app-page-head-title><strong>Batch Job Executions</strong></app-page-head-title>
  </app-page-head>

  <div dataflowLayoutType type="full">
    <p>
      This section lists all available batch job executions and provides the control to restart a job execution (if
      restartable).
    </p>

    <div class="list-bar" *ngIf="!(jobExecutions.totalPages < 2 && jobExecutions.items.length === 0)">
      <button class="btn btn-default btn-fa" (click)="refresh()" title="Refresh" type="button">
        <span class="fa fa-refresh"></span>
        Refresh
      </button>
    </div>

    <table id="tableJobs" *ngIf="jobExecutions?.items && jobExecutions.items.length > 0"
           class="table table-hover table-actions">
      <thead>
      <tr>
        <th style="width: 100px">Execution Id</th>
        <th>Name</th>
        <th style="width: 100px">Task Id</th>
        <th style="width: 100px">Instance Id</th>
        <th style="width: 200px">Job Start Time</th>
        <th style="width: 150px" nowrap="">Step Execution Count</th>
        <th style="width: 100px">Status</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of jobExecutions.items | paginate: jobExecutions.getPaginationInstance(); index as i">
        <td>
          {{ item.jobExecutionId }}
        </td>
        <td>
          <a style="cursor: pointer;margin-right:10px;" (click)="viewJob(item)">{{ item.name }}</a>
          <app-definition-status [jobExecution]="item"></app-definition-status>
        </td>
        <td>
          <a style="cursor: pointer" (click)="viewTask(item)">{{ item.taskExecutionId }}</a>
        </td>
        <td>{{ item.jobInstanceId }}</td>
        <td>{{ item.startTimeFormatted }}</td>
        <td>{{ item.stepExecutionCount }}</td>
        <td>
          <app-job-execution-status [status]="item.status"></app-job-execution-status>
        </td>
        <td class="table-actions" width="80px" nowrap="">
          <app-list-row-actions [item]="item" (action)="applyAction($event.action, $event.args)"
                                [actions]="jobActions(item, i)"></app-list-row-actions>
        </td>
      </tr>
      </tbody>
    </table>

    <app-list-pagination [page]="jobExecutions" [params]="params" (changed)="changePaginationPager($event)"
                         [item]="'job execution'" [items]="'job executions'">
    </app-list-pagination>

    <app-list-empty [page]="jobExecutions" [filters]="[]">
      <p>There are <strong>no batch job executions</strong> currently available.</p>
      <p>
        You can <a (click)="refresh()">Refresh</a> the page.
      </p>
    </app-list-empty>
  </div>
</app-page>
