@import '../../../../shared/flo/flo';

.instance-dot:hover circle {
  stroke: $navy-6;
}

.joint-type-dataflow-instancedot.joint-element {
  .deployed {
    // stroke: $spring-green;
    stroke: #80b600;
  }
  .failed {
    // stroke: red;
    stroke: #ff5400;
  }
  stroke: 'gray';
  fill: 'transparent';
  cursor: initial;
}
