<svg:g class="root" [tooltip]="dotTooltip" placement="bottom" container="body"
       [ngClass]="{deployed: state == 'deployed', failed: state == 'failed'}" [delay]="300">
  <svg:rect class="instance-dot"/>
</svg:g>

<ng-template #dotTooltip>
  <table *ngIf="instance; else noData" class="table-hover table-condensed container-details-table">
    <tbody>
    <tr>
      <td nowrap class="text-left tooltip-property-key"><strong>Guid</strong></td>
      <td class="text-left tooltip-property-value">{{ guid }}</td>
    </tr>
    <tr>
      <td nowrap class="text-left tooltip-property-key"><strong>State</strong></td>
      <td class="text-left tooltip-property-value">{{ state }}</td>
    </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #noData>
  <span>App instance either is down or not deployed</span>
</ng-template>
