$color-active: #243641;
$color-hover: #1F8ACC;

.dsl {
  display: inline-block;
  background: #EAEDEF;
  padding: 0.2rem .8rem;
  font-weight: normal;
  border-radius: 2px;
  font-size: 14px;
  color: #232B2F;
}
