<app-page id="applications-list">
  <app-page-head>
    <app-page-head-title><strong>Applications</strong></app-page-head-title>
    <app-page-head-actions [dataflowAppRoles]="['ROLE_CREATE']">
      <button class="btn btn-primary btn-fa" (click)="addApps()">
        <span class="fa fa-plus"></span>
        Add Application(s)
      </button>
    </app-page-head-actions>
  </app-page-head>

  <div dataflowLayoutType type="full">
    <p>
      This section lists all the available applications and provides the control to register/unregister them (if
      applicable).
    </p>

    <app-list-bar-app [params]="params" [page]="appRegistrations" [countSelected]="countSelected()" #listBar
                      (refresh)="refresh()" (search)="search($event)" [actions]="applicationsActions()"
                      (action)="applyAction($event.action)">
    </app-list-bar-app>

    <table id="table" *ngIf="appRegistrations?.items && appRegistrations.items.length > 0"
           class="table-checkbox table table-hover">
      <thead>
      <tr>
        <th style="width: 30px" [dataflowAppRoles]="['ROLE_DESTROY']">
          <app-master-checkbox (change)="changeCheckboxes()" *ngIf="form?.checkboxes"
                               [items]="form.checkboxes"></app-master-checkbox>
        </th>
        <th style="width: 200px">
          <app-sort [indeterminate]="true" (change)="applySort($event)" [value]="'name'" [sort]="params"
                    id="sort-name">Name
          </app-sort>
        </th>
        <th style="width: 100px">
          <app-sort [indeterminate]="true" (change)="applySort($event)" [value]="'type'" [sort]="params"
                    id="sort-type">Type
          </app-sort>
        </th>
        <th>
          <app-sort [indeterminate]="true" (change)="applySort($event)" [value]="'uri'" [sort]="params"
                    id="sort-uri">Uri
          </app-sort>
        </th>
        <th>Versions</th>
        <th class="text-center">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of appRegistrations.items | paginate: appRegistrations.getPaginationInstance(); index as i">
        <td class="cell-checkbox" [dataflowAppRoles]="['ROLE_DESTROY']">
          <input type="checkbox" (change)="changeCheckboxes()"
                 [(ngModel)]="form.checkboxes[i]"/>
        </td>
        <td>
          <a style="cursor: pointer" (click)="view(item)">{{ item.name }}</a>
        </td>
        <td>
          <app-type [application]="item"></app-type>
        </td>
        <td class="dataflow-truncator-width">
          {{ item.uri }}
        </td>
        <td class="cell-version">
          <app-version-label [isClickable]="true" (labelClick)="versions(item)"
                             [application]="item"></app-version-label>
        </td>
        <td class="table-actions" width="10px" nowrap="">
          <app-list-row-actions [item]="item" (action)="applyAction($event.action, $event.args)"
                                [actions]="applicationActions(i)"></app-list-row-actions>
        </td>
      </tr>
      </tbody>
    </table>

    <app-list-pagination [page]="appRegistrations" [params]="params" (changed)="changePaginationPager($event)"
                         [item]="'application'" [items]="'applications'">
    </app-list-pagination>

    <app-list-empty [page]="appRegistrations" [filters]="[params.q, params.type]">
      <p>There is <strong>no application registered</strong>, yet.</p>
      <p [dataflowAppRoles]="['ROLE_CREATE']">
        You can: <a (click)="addApps()">Add Application(s)</a> or <a (click)="refresh()">Refresh</a> the page.
      </p>
    </app-list-empty>

    <app-list-no-result [page]="appRegistrations" [filters]="[params.q, params.type]">
      <p>
        No results found for
        <strong *ngIf="params.q != ''">'{{ params.q }}'</strong><span *ngIf="params.q != '' && params.type">, </span>
        <strong *ngIf="params.type">'{{ params.type }}'</strong>.
      </p>
      <p>
        You can <a id="search-clear" (click)="listBar.clearSearch()">clear the search</a> or <a (click)="refresh()">Refresh</a>
        the page.
      </p>
    </app-list-no-result>
  </div>
</app-page>
