<clr-modal [(clrModalOpen)]="isOpen" *ngIf="apps" [clrModalClosable]="!isRunning">
  <h3 *ngIf="apps?.length === 1" class="modal-title">
    {{ 'applications.unregister.title' | translate }}
  </h3>
  <h3 *ngIf="apps?.length > 1" class="modal-title">
    {{ 'applications.unregister.title2' | translate }}
  </h3>
  <div class="modal-body" *ngIf="apps.length === 1 && !isRunning">
    {{ 'applications.unregister.content' | translate }}
    <u
      ><strong>{{ apps[0].name }}</strong></u
    >
    {{ 'commons.ofType' | translate }} <span class="{{ apps[0].labelTypeClass() }}">{{ apps[0].type }}</span
    >. {{ 'commons.areYouSure' | translate }}
  </div>
  <div class="modal-body" *ngIf="apps?.length > 1 && !isRunning">
    {{ 'applications.unregister.content2' | translate }}
    <u
      ><strong
        >{{ apps.length }} {{ 'applications.main.application' | translate }}{{ apps?.length > 1 ? 's' : '' }}</strong
      ></u
    >
    {{ 'commons.listedBelow' | translate }}.<br />{{ 'commons.areYouSure' | translate }}
    <br />
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="left">{{ 'applications.main.name' | translate }}</th>
          <th class="left">{{ 'applications.main.type' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let app of apps">
          <td class="left">
            <strong>{{ app.name }}</strong>
          </td>
          <td class="left">
            <span class="{{ app.labelTypeClass() }}">{{ app.type }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-body" *ngIf="isRunning">
    <clr-spinner clrInline clrSmall></clr-spinner>
    {{ 'applications.unregister.unregistering' | translate }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" [disabled]="isRunning" (click)="isOpen = false">
      {{ 'commons.cancel' | translate }}
    </button>
    <button data-cy="unregister" type="button" class="btn btn-danger" (click)="unregister()" [disabled]="isRunning">
      <span *ngIf="apps.length === 1">{{ 'applications.unregister.unregister' | translate }}</span>
      <span *ngIf="apps.length > 1">{{ 'applications.unregister.unregister2' | translate }}</span>
    </button>
  </div>
</clr-modal>
