<svg:g>
  <ng-container *ngIf="isPalette(); then paletteShape else canvasShape"></ng-container>
</svg:g>

<ng-template #paletteShape>
  <svg:g class="stream-module">
    <svg:g class="shape" [tooltip]="paletteNodeTooltip" container="body" placement="bottom" containerClass="app-tooltip"
           [isDisabled]="isDisabled || !canShowPaletteNodeTooltip" [delay]="300">
      <svg:rect class="box"/>
      <svg:image class="type-icon"/>
      <svg:text class="palette-entry-name-label"/>
    </svg:g>
  </svg:g>
</ng-template>

<ng-template #canvasShape>
  <svg:g class="stream-module">
    <svg:rect class="select-outline"/>
    <svg:g class="shape" [tooltip]="canvasNodeTooltip" container="body" placement="bottom" containerClass="app-tooltip"
           [isDisabled]="isDisabled || !canShowCanvasNodeTooltip" [delay]="300">
      <svg:rect class="box"/>
      <svg:image class="type-icon"/>
      <svg:g>
        <svg:rect class="type-label-bg"/>
        <svg:text class="name-label"/>
        <svg:text class="type-label"/>
      </svg:g>
    </svg:g>
    <svg:image class="error-marker" xlink:href="assets/img/error.svg" [tooltip]="markerTooltip" placement="top"
               containerClass="error-marker-tooltip" container="body" [isDisabled]="isDisabled"/>
    <svg:text class="stream-label"/>
    <svg:g class="input-port-group" *ngIf="isSingleIntputPort(); else inputPortsTemplate">
      <svg:g class="input-port" tooltip="Input Port" container="body" [isDisabled]="!isCanvas() || isDisabled"
             [delay]="300">
        <svg:circle class="port-outer-circle-input"/>
        <svg:circle class="port-inner-circle-input"/>
      </svg:g>
    </svg:g>
    <svg:g class="output-port-group" *ngIf="isSingleOutputPort(); else outputPortsTemplate">
      <svg:g class="output-port" tooltip="Output Port" container="body" [isDisabled]="!isCanvas() || isDisabled"
             [delay]="300">
        <svg:circle class="port-outer-circle-output"/>
        <svg:circle class="port-inner-circle-output"/>
      </svg:g>
    </svg:g>
    <svg:g class="flo-handles">
      <svg:text class="options-handle handle" (click)="showOptions()"></svg:text>
      <svg:text class="handle-separator" (click)="showOptions()"></svg:text>
      <svg:text class="delete-handle handle" (click)="delete()"></svg:text>
    </svg:g>
  </svg:g>
</ng-template>

<ng-template #inputPortsTemplate>
  <svg:g [ngClass]="'input-port-group-' + channel" *ngFor="let channel of metadata.inputChannels">
    <svg:g [ngClass]="'input-port-' + channel" [tooltip]="channel" container="body"
           [isDisabled]="!isCanvas() || isDisabled">
      <svg:circle [ngClass]="'port-outer-circle-' + channel"/>
      <svg:circle [ngClass]="'port-inner-circle-' + channel"/>
    </svg:g>
    <svg:g class="label-group">
      <svg:rect [ngClass]="channel + '-label-bg'"/>
      <svg:text [ngClass]="channel + '-label'"></svg:text>
    </svg:g>
  </svg:g>
</ng-template>

<ng-template #outputPortsTemplate>
  <svg:g [ngClass]="'output-port-group-' + channel" *ngFor="let channel of metadata.outputChannels">
    <svg:g [ngClass]="'output-port-' + channel" [tooltip]="channel" container="body"
           [isDisabled]="!isCanvas() || isDisabled">
      <svg:circle [ngClass]="'port-outer-circle-' + channel"/>
      <svg:circle [ngClass]="'port-inner-circle-' + channel"/>
    </svg:g>
    <svg:g class="label-group">
      <svg:rect [ngClass]="channel + '-label-bg'"/>
      <svg:text [ngClass]="channel + '-label'"></svg:text>
    </svg:g>
  </svg:g>
</ng-template>

<ng-template #paletteNodeTooltip>
  <div ng-if="cell.attr('metadata/name')">
    <span>{{ metaName | uppercase }}</span>&nbsp;<span>{{ '(' + (metaGroup | capitalize) + ')' }}</span>
  </div>
  <div *ngIf="description">
    <span>{{ description }}</span>
  </div>
</ng-template>

<ng-template #canvasNodeTooltip>
  <div ng-if="cell.attr('metadata/name')">
    <span>{{ metaName | uppercase }}</span>&nbsp;<span>{{ '(' + (metaGroup | capitalize) + ')' }}</span>
  </div>
  <div *ngIf="description">
    <span>{{ description }}</span>
  </div>
  <table class="table-condensed" *ngIf="allProperties && isPropertiesShown">
    <tbody>
    <tr *ngFor="let property of keys(allProperties).sort()">
      <td class="tooltip-property-key"><strong>{{ property }}</strong></td>
      <td class="tooltip-property-value" [ngClass]="{'tooltip-property-value-code': isCode(property)}">{{
        getPropertyValue(property) }}
      </td>
    </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #markerTooltip>
  <ul class="marker-tooltip">
    <li *ngFor="let msg of getErrorMessages()">{{ msg }}</li>
  </ul>
</ng-template>
