<h1 [ngBusy]="busy">Task Executions</h1>
<p>
  This section lists all the available task executions.
</p>

<div class="row">
  <div class="col-md-24 text-right">
    <button id="refreshTaskExecutionsButton" type="button" (click)="loadTaskExecutions()"
            class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span></button>
  </div>
</div>
<div *ngIf="!taskExecutions">No task executions available.</div>
<table *ngIf="taskExecutions?.items" class="table table-hover">
  <thead>
    <tr>
      <th style="width: 200px"><a (click)="toggleExecutionIdSort()"><span style="margin-right: 5px">Execution Id</span></a><i class="fa" [ngClass]="{'fa-sort': executionIdSort === undefined, 'fa-sort-asc': executionIdSort === false, 'fa-sort-desc': executionIdSort === true }" aria-hidden="true"></i></th>
      <th style="width: 100px"><a (click)="toggleTaskNameSort()"><span style="margin-right: 5px">Task Name</span></a><i class="fa" [ngClass]="{'fa-sort': taskNameSort === undefined, 'fa-sort-asc': taskNameSort === false, 'fa-sort-desc': taskNameSort === true }" aria-hidden="true"></i></th>
      <th style="width: 100px"><a (click)="toggleStartTimeSort()"><span style="margin-right: 5px">Start Time</span></a><i class="fa" [ngClass]="{'fa-sort': startTimeSort === undefined, 'fa-sort-asc': startTimeSort === false, 'fa-sort-desc': startTimeSort === true }" aria-hidden="true"></i></th>
      <th style="width: 100px"><a (click)="toggleEndTimeSort()"><span style="margin-right: 5px">End Time</span></a><i class="fa" [ngClass]="{'fa-sort': endTimeSort === undefined, 'fa-sort-asc': endTimeSort === false, 'fa-sort-desc': endTimeSort === true }" aria-hidden="true"></i></th>
      <th style="width: 100px"><a (click)="toggleExitCodeSort()"><span style="margin-right: 5px">Exit Code</span></a><i class="fa" [ngClass]="{'fa-sort': exitCodeSort === undefined, 'fa-sort-asc': exitCodeSort === false, 'fa-sort-desc': exitCodeSort === true }" aria-hidden="true"></i></th>
        <th style="width: 130px" class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of taskExecutions.items | paginate: taskExecutions.getPaginationInstance()">
    <td>{{item.executionId}}</td>
    <td>{{item.taskName}}</td>
    <td>{{item.startTime}}</td>
    <td>{{item.endTime}}</td>
    <td>{{item.exitCode}}</td>
    <td class="action-column">
        <button type="button" (click)="details(item)"
                class="btn btn-default" title="Details"
        ><span class="glyphicon glyphicon-search"></span>
        </button>
    </td>
  </tr>
  </tbody>
</table>
<pagination-controls *ngIf="taskExecutions?.items" (pageChange)="getPage($event)" [id]="taskExecutions.getPaginationInstance().id"></pagination-controls>
