<app-tasks-tabulation id="executions-list" *ngIf="taskExecutions" #tasksTabulation>

  <div dataflowLayoutType type="full">
    <div class="list-bar" *ngIf="!(taskExecutions?.totalPages < 2 && taskExecutions.items.length === 0)">
      <button class="btn btn-default btn-fa" (click)="refresh()" title="Refresh" type="button">
        <span class="fa fa-refresh"></span>
        Refresh
      </button>
    </div>

    <table *ngIf="taskExecutions?.items && taskExecutions.items.length > 0"
           class="table table-hover table-actions" id="taskExecutionsTable">
      <thead>
      <tr>
        <th style="width: 140px">
          <app-sort id="sort-id" (change)="applySort($event)" [value]="'TASK_EXECUTION_ID'" [sort]="params">
            Execution Id
          </app-sort>
        <th>
          <app-sort id="sort-task" (change)="applySort($event)" [value]="'TASK_NAME'" [sort]="params">
            Task Name
          </app-sort>
        </th>
        <th nowrap="">
          <app-sort id="sort-startdate" (change)="applySort($event)" [value]="'START_TIME'" [sort]="params">
            Start Date
          </app-sort>
        </th>
        <th nowrap="">
          <app-sort id="sort-enddate" (change)="applySort($event)" [value]="'END_TIME'" [sort]="params">
            End Date
          </app-sort>
        </th>
        <th nowrap="">
          <app-sort id="sort-exitcode" (change)="applySort($event)" [value]="'EXIT_CODE'" [sort]="params">
            Exit Code
          </app-sort>
        </th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <ng-container
        *ngFor="let item of taskExecutions.items | paginate: taskExecutions.getPaginationInstance(); index as i">
        <tr>
          <td>
            <a (click)="details(item)" style="cursor:pointer;">#{{ item.executionId }}</a>
          </td>
          <td>
            <a [routerLink]="'/tasks/definitions/' + item.taskName">{{ item.taskName }}</a>
          </td>
          <td>
            {{ item.startTime | dataflowDateTime }}
          </td>
          <td>
            {{ item.endTime | dataflowDateTime }}
          </td>
          <td>
            {{ item.exitCode }}
          </td>
          <td class="table-actions" width="10px" nowrap="">
            <app-list-row-actions [item]="item" (action)="applyAction($event.action, $event.args)"
                                  [actions]="executionActions(item, i)"></app-list-row-actions>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>

    <app-list-pagination [page]="taskExecutions" [params]="params" (changed)="changePaginationPager($event)"
                         [item]="'task execution'" [items]="'task executions'">
    </app-list-pagination>

    <app-list-empty [page]="taskExecutions" [filters]="[]">
      <p>There is <strong>no task executed</strong>, yet.</p>
      <p>
        You can <a (click)="refresh()">Refresh</a> the page
      </p>
    </app-list-empty>
  </div>
</app-tasks-tabulation>
