<h1>{{ 'schedules.main.title' | translate }}</h1>

<clr-datagrid
  (clrDgRefresh)="refresh($event)"
  [clrDgLoading]="loading"
  [(clrDgSelected)]="!grouped ? null : selected"
  *ngIf="isInit"
  #datagrid
>
  <clr-dg-action-bar *ngIf="grouped">
    <button type="button" class="btn btn-sm btn-secondary" (click)="setMode(false)">
      {{ 'commons.cancel' | translate }}
    </button>
    <button
      type="button"
      [disabled]="selected?.length === 0"
      class="btn btn-sm btn-outline-danger"
      (click)="destroySchedules(selected)"
    >
      {{ 'schedules.main.deleteSchedules' | translate }}
    </button>
  </clr-dg-action-bar>
  <clr-dg-action-bar *ngIf="!grouped">
    <button type="button" class="btn btn-sm btn-secondary" (click)="setMode(true)">
      {{ 'commons.groupActions' | translate }}
    </button>
    <button type="button" class="btn btn-sm btn-secondary" (click)="refresh(state)">
      {{ 'commons.refresh' | translate }}
    </button>
  </clr-dg-action-bar>
  <clr-dg-column
    (clrDgColumnResize)="updateContext('sizeName', $event)"
    [style.width.px]="context.sizeName | datagridcolumn: datagrid:contextName | async"
  >
    <ng-container>{{ 'commons.name' | translate }}</ng-container>
  </clr-dg-column>
  <clr-dg-column
    (clrDgColumnResize)="updateContext('sizeTaskName', $event)"
    [style.width.px]="context.sizeTaskName | datagridcolumn: datagrid:contextName | async"
  >
    <ng-container>{{ 'schedules.main.taskName' | translate }}</ng-container>
    <clr-dg-filter style="display: none"></clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column
    (clrDgColumnResize)="updateContext('sizePlatform', $event)"
    [style.width.px]="context.sizePlatform | datagridcolumn: datagrid:contextName | async"
  >
    <ng-container>{{ 'commons.platform' | translate }}</ng-container>
    <clr-dg-filter [clrDgFilter]="platformFilter">
      <app-clr-datagrid-platform-filter [value]="context.platform" #platformFilter></app-clr-datagrid-platform-filter>
    </clr-dg-filter>
  </clr-dg-column>
  <clr-dg-column
    (clrDgColumnResize)="updateContext('sizeCronExpression', $event)"
    [style.width.px]="context.sizeCronExpression | datagridcolumn: datagrid:contextName | async"
  >
    <ng-container>{{ 'schedules.main.cronExpression' | translate }}</ng-container>
    <clr-dg-filter style="display: none"></clr-dg-filter>
  </clr-dg-column>
  <clr-dg-row *ngFor="let schedule of page?.items" [clrDgItem]="schedule">
    <clr-dg-cell
      ><a routerLink="/tasks-jobs/schedules/{{ schedule.name }}/{{ schedule.platform }}">{{
        schedule.name
      }}</a></clr-dg-cell
    >
    <clr-dg-cell
      ><a [routerLink]="'/tasks-jobs/tasks/' + schedule.taskName">{{ schedule.taskName }}</a></clr-dg-cell
    >
    <clr-dg-cell>{{ schedule.platform || 'N/A' }}</clr-dg-cell>
    <clr-dg-cell>{{ schedule.cronExpression || 'N/A' }}</clr-dg-cell>
    <clr-dg-action-overflow *ngIf="!grouped">
      <button class="action-item" (click)="details(schedule)">{{ 'commons.details' | translate }}</button>
      <button class="action-item" (click)="taskDetails(schedule)">
        {{ 'schedules.main.taskDetails' | translate }}
      </button>
      <button class="action-item" (click)="createSchedule(schedule)">
        {{ 'schedules.main.addNewSchedule' | translate }}
      </button>
      <button class="action-item" (click)="destroySchedules([schedule])">
        {{ 'commons.destroy' | translate }}
      </button>
    </clr-dg-action-overflow>
  </clr-dg-row>
  <clr-dg-placeholder>{{ 'commons.noResultFound' | translate }}</clr-dg-placeholder>
  <clr-dg-footer>{{ 'schedules.main.pagination' | translate: {count: page?.total} }}</clr-dg-footer>
</clr-datagrid>

<app-schedule-destroy #destroyModal (onDestroyed)="refresh(state)"></app-schedule-destroy>
