<form [formGroup]="formGroup" (submit)="launchTask()">
  <p>{{ 'tasks.launch.freetext.propertiesDescription' | translate }}</p>
  <div class="form-textarea">
    <div class="numbers">
      <ng-template ngFor let-item [ngForOf]="plines">
        <div class="number">
          <span [class.invalid]="!item.valid">{{ item.label }}</span>
        </div>
      </ng-template>
    </div>
    <textarea dataflowAutoResize [dataflowFocus]="true" formControlName="pinput"></textarea>
  </div>
  <div class="bar">
    <div class="btn-group">
      <clr-tooltip>
        <button
          clrTooltipTrigger
          type="button"
          class="btn btn-sm btn-file btn btn-secondary"
          (click)="propertiesFile.click()"
          style="border-right: 0"
        >
          <input
            formControlName="pfile"
            id="propertiesFile"
            name="propertiesFile"
            type="file"
            #propertiesFile
            (change)="propertiesFileChange($event)"
          />
          {{ 'commons.importFile' | translate }}
        </button>
        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
          <span>{{ 'tasks.launch.freetext.propertiesTooltip' | translate }}</span>
        </clr-tooltip-content>
      </clr-tooltip>

      <button id="btn-export" type="button" class="btn btn-sm btn btn-secondary" (click)="exportProps()">
        {{ 'tasks.launch.main.export' | translate }}
      </button>
      <button id="btn-copy" type="button" class="btn btn-sm btn btn-secondary" (click)="copyPropsToClipboard()">
        {{ 'commons.copyToClipboard' | translate }}
      </button>
    </div>
  </div>

  <p>{{ 'tasks.launch.freetext.argumentsDescription' | translate }}</p>
  <div class="form-textarea">
    <div class="numbers">
      <ng-template ngFor let-item [ngForOf]="alines">
        <div class="number">
          <span [class.invalid]="!item.valid">{{ item.label }}</span>
        </div>
      </ng-template>
    </div>
    <textarea dataflowAutoResize formControlName="ainput"></textarea>
  </div>
  <div class="bar">
    <div class="btn-group">
      <clr-tooltip>
        <button
          clrTooltipTrigger
          type="button"
          class="btn btn-sm btn-file btn btn-secondary"
          (click)="argumentsFile.click()"
          style="border-right: 0"
        >
          <input
            formControlName="afile"
            id="argumentsFile"
            name="argumentsFile"
            type="file"
            #argumentsFile
            (change)="argumentsFileChange($event)"
          />
          {{ 'commons.importFile' | translate }}
        </button>
        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
          <span>{{ 'tasks.launch.freetext.argumentsTooltip' | translate }}</span>
        </clr-tooltip-content>
      </clr-tooltip>

      <button id="btn-export" type="button" class="btn btn-sm btn btn-secondary" (click)="exportArgs()">
        {{ 'tasks.launch.main.export' | translate }}
      </button>
      <button id="btn-copy" type="button" class="btn btn-sm btn btn-secondary" (click)="copyArgsToClipboard()">
        {{ 'commons.copyToClipboard' | translate }}
      </button>
    </div>
  </div>

  <div>
    <a id="btn-cancel" class="btn btn-default" routerLink="/tasks-jobs/tasks">{{ 'commons.cancel' | translate }}</a>
    <button id="btn-deploy" type="submit" class="btn btn-primary">
      <span>{{ 'tasks.launch.freetext.launch' | translate }}</span>
    </button>
  </div>
</form>
