<form [formGroup]="formGroup" (submit)="launchTask()">
  <p><ng-container i18n>Enter the list of properties into the text area field below.</ng-container></p>
  <div class="form-textarea">
    <div class="numbers">
      <ng-template ngFor let-item [ngForOf]="plines">
        <div class="number">
          <span [class.invalid]="!item.valid">{{ item.label }}</span>
        </div>
      </ng-template>
    </div>
    <textarea dataflowAutoResize [dataflowFocus]="true" formControlName="pinput"></textarea>
  </div>
  <div class="bar">
    <div class="btn-group">
      <clr-tooltip>
        <button
          clrTooltipTrigger
          type="button"
          class="btn btn-sm btn-file btn btn-secondary"
          (click)="propertiesFile.click()"
          style="border-right: 0"
        >
          <input
            formControlName="pfile"
            id="propertiesFile"
            name="propertiesFile"
            type="file"
            #propertiesFile
            (change)="propertiesFileChange($event)" />
          <ng-container i18n>Import a local file</ng-container>
        </button>
        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
          <span>
            <ng-container i18n>Please provide a text file containing properties. This will be used to populate the text area above.</ng-container>
          </span>
        </clr-tooltip-content>
      </clr-tooltip>

      <button id="btn-export"
              type="button"
              class="btn btn-sm btn btn-secondary"
              (click)="exportProps()"
              i18n>
        Export
      </button>
      <button id="btn-copy"
              type="button"
              class="btn btn-sm btn btn-secondary"
              (click)="copyPropsToClipboard()"
              i18n>
        Copy to Clipboard
      </button>
    </div>
  </div>

  <p><ng-container i18n>Enter the list of arguments into the text area field below.</ng-container></p>
  <div class="form-textarea">
    <div class="numbers">
      <ng-template ngFor let-item [ngForOf]="alines">
        <div class="number">
          <span [class.invalid]="!item.valid">{{ item.label }}</span>
        </div>
      </ng-template>
    </div>
    <textarea dataflowAutoResize formControlName="ainput"></textarea>
  </div>
  <div class="bar">
    <div class="btn-group">
      <clr-tooltip>
        <button
          clrTooltipTrigger
          type="button"
          class="btn btn-sm btn-file btn btn-secondary"
          (click)="argumentsFile.click()"
          style="border-right: 0"
        >
          <input
            formControlName="afile"
            id="argumentsFile"
            name="argumentsFile"
            type="file"
            #argumentsFile
            (change)="argumentsFileChange($event)"
          />
          <ng-container i18n>Import a local file</ng-container>
        </button>
        <clr-tooltip-content clrPosition="top-right" clrSize="lg" *clrIfOpen>
          <span>
            <ng-container i18n>Please provide a text file containing arguments. This will be used to populate the text area above.</ng-container>
          </span>
        </clr-tooltip-content>
      </clr-tooltip>

      <button id="btn-export" type="button"
              class="btn btn-sm btn btn-secondary"
              (click)="exportProps()"
              i18n>
        Export
      </button>
      <button id="btn-copy"
              type="button"
              class="btn btn-sm btn btn-secondary"
              (click)="copyArgsToClipboard()"
              i18n>
        Copy to Clipboard
      </button>
    </div>
  </div>

  <div>
    <a id="btn-cancel"
       class="btn btn-default"
       routerLink="/tasks-jobs/tasks">
      <ng-container i18n>Cancel</ng-container>
    </a>
    <button id="btn-deploy" type="submit" class="btn btn-primary">
      <span><ng-container i18n>Launch Task</ng-container></span>
    </button>
  </div>
</form>
