<clr-main-container>
  <clr-header class="header header-7">
    <div class="branding">
      <a href="/" class="nav-link">
        <app-logo></app-logo>
        <span class="title">Data Flow</span>
      </a>
    </div>
    <app-search></app-search>
    <div class="header-actions">
      <a routerLink="about" class="nav-link nav-icon" aria-label="settings">
        <clr-icon shape="info-standard"></clr-icon>
      </a>
    </div>
    <!--    <app-user-header-action class="header-actions"></app-user-header-action>-->
  </clr-header>
  <div class="content-container">
    <clr-vertical-nav>
      <!--      <clr-vertical-nav-group routerLinkActive="active" clrVerticalNavGroupExpanded="true">-->
      <!--        <clr-icon shape="dashboard" clrVerticalNavIcon></clr-icon>-->
      <!--        Dashboards-->
      <!--        <clr-vertical-nav-group-children>-->
      <!--          <a-->
      <!--            clrVerticalNavLink-->
      <!--            routerLinkActive="active"-->
      <!--            routerLink="dashboard/my-dashboard">-->
      <!--            My Dashboard-->
      <!--          </a>-->
      <!--        </clr-vertical-nav-group-children>-->
      <!--      </clr-vertical-nav-group>-->
      <clr-vertical-nav-group routerLinkActive="active" clrVerticalNavGroupExpanded="true"
                              appRole appFeature="streams">
        <clr-icon shape="cloud-scale" clrVerticalNavIcon></clr-icon>
        Streams
        <clr-vertical-nav-group-children>
          <a
            clrVerticalNavLink
            routerLinkActive="active"
            routerLink="streams/list">
            Streams
          </a>
          <a
            clrVerticalNavLink
            routerLinkActive="active"
            routerLink="streams/runtime">
            Runtime
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active" clrVerticalNavGroupExpanded="true"
                              appRole appFeature="tasks">
        <clr-icon shape="blocks-group" clrVerticalNavIcon></clr-icon>
        Tasks / Jobs
        <clr-vertical-nav-group-children>
          <a
            clrVerticalNavLink
            routerLinkActive="active"
            routerLink="tasks-jobs/tasks">
            Tasks
          </a>
          <a
            clrVerticalNavLink
            routerLinkActive="active"
            routerLink="tasks-jobs/task-executions">
            Tasks executions
          </a>
          <a
            clrVerticalNavLink
            routerLinkActive="active"
            routerLink="tasks-jobs/job-executions">
            Jobs executions
          </a>
          <a
            clrVerticalNavLink
            routerLinkActive="active"
            routerLink="tasks-jobs/scheduler"
            appRole
            appFeature="schedules">
            Scheduler
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active" clrVerticalNavGroupExpanded="false">
        <clr-icon shape="cog" clrVerticalNavIcon></clr-icon>
        Manage
        <clr-vertical-nav-group-children>
          <a
            clrVerticalNavLink
            routerLinkActive="active"
            routerLink="manage/apps">
            Applications
          </a>
          <a
            clrVerticalNavLink
            routerLinkActive="active"
            routerLink="manage/records">
            Records
          </a>
          <a
            clrVerticalNavLink
            routerLinkActive="active"
            routerLink="manage/import-export"
            appRole
            appFeature="streams,tasks">
            Import / Export
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <div class="clr-vertical-nav-bottom">
        <button class="btn btn-sm btn-link" (click)="toggleDarkTheme()">
          <clr-icon shape="sun" *ngIf="darkThemeIsActive"></clr-icon>
          <clr-icon shape="moon" *ngIf="!darkThemeIsActive"></clr-icon>
          {{!darkThemeIsActive ? 'Dark' : 'Light'}}
        </button>
      </div>
    </clr-vertical-nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>
