<div class="login-wrapper" *ngIf="shouldProtect | async; else main">
  <form class="login">
    <section class="title">
      <h3 class="welcome"><ng-container i18n>Welcome to </ng-container></h3>
      <ng-container i18n>Data Flow UI</ng-container>
      <h5 class="hint"><ng-container i18n>You have to log in to access the application.</ng-container></h5>
    </section>
    <div style="padding-bottom: 50px">
      <a href="{{ baseApiUrl }}login" class="btn btn-primary"><ng-container i18n> Log In </ng-container></a>
    </div>
  </form>
</div>

<ng-template #main>
  <clr-main-container>
    <clr-header class="header header-7">
      <div class="branding">
        <a routerLink="/" class="logo-and-title">
          <app-logo></app-logo>
          <span class="title"><ng-container i18n>Data Flow</ng-container></span>
        </a>
      </div>
      <app-search></app-search>
      <div class="header-actions">
        <a (click)="openSettings()" style="cursor: pointer" class="nav-link nav-icon" aria-label="settings">
          <clr-icon shape="cog"></clr-icon>
        </a>
        <span class="divider"></span>
        <app-user *ngIf="securityEnabled | async"></app-user>
        <span class="divider" *ngIf="securityEnabled | async"></span>
        <app-about-signpost></app-about-signpost>
      </div>
    </clr-header>
    <div class="content-container">
      <app-nav></app-nav>
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
    </div>
  </clr-main-container>
</ng-template>
