<app-page *ngIf="schedule$ | async as schedule; else loading">

  <app-page-head>
    <app-page-head-back [defaultUrl]="'/tasks/definitions'"></app-page-head-back>
    <app-page-head-title>Create <strong>schedule(s)</strong></app-page-head-title>
  </app-page-head>

  <div dataflowLayoutType type="large">
    <div class="dataflow-alert dataflow-alert-info">
      Create a schedule for a task, simply provide a <strong>name</strong> and a <strong>CRON expression</strong>.
      <br>Optionally, you can add <strong>properties</strong> and <strong>arguments</strong>.
    </div>

    <form class="schedule-form task-create" [formGroup]="form" name="form" (submit)="submit(schedule)">
      <div>
        <h2>Setup the schedule</h2>
        <div *ngIf="schedule.taskDefinitions.length == 1">
          <div class="row" style="margin-bottom: 12px">
            <div class="col-xs-4">
              <label>Task Name:</label>
            </div>
            <div class="col-xs-20">
              <a style="cursor: pointer" (click)="detailsTask(schedule.taskDefinitions[0])">
                {{ schedule.taskDefinitions[0] }}</a>
            </div>
          </div>
          <div class="row form-group" [class.has-error]="submitted && form.get('names').controls[0].invalid">
            <div class="col-xs-4">
              <label class="control-label" for="name">Schedule name:</label>
            </div>
            <div class="col-xs-10">
              <div formArrayName="names">
                <input id="name" name="name" [formControl]="form.get('names').controls[0]"
                       class="form-control input-sm"/>
                <div class="errors-name" *ngIf="submitted && form.get('names.0').invalid">
                  <div *ngIf="form.get('names.0').errors?.required" class="help-block">The name is required.</div>
                  <div *ngIf="form.get('names.0').errors?.exist" class="help-block">The name already exists.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="schedule.taskDefinitions.length > 1">
          <div class="row form-group">
            <div class="col-xs-4">
              <label class="control-label">Tasks:</label>
            </div>
            <div class="col-xs-10">
              <div class="alert alert-danger" style="max-width: 700px"
                   *ngIf="submitted && form.get('names').errors?.notUnique">
                Duplicate schedule name on the form.
              </div>
              <table class="table table-form table-form-stripped" style="max-width: 700px">
                <thead>
                <tr>
                  <th style="padding-top: 4px" width="50%">Task</th>
                  <th style="padding-top: 4px" width="50%">Schedule name</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of schedule.taskDefinitions; index as i">
                  <td class="td-label"><a style="cursor: pointer" (click)="detailsTask(item)">{{ item }}</a></td>
                  <td>
                    <div [class.has-error]="submitted && form.get('names.' + i).invalid">
                      <input [formControl]="form.get('names').controls[i]" type="text" class="form-control input-sm"/>
                      <div *ngIf="submitted && form.get('names.' + i).invalid">
                        <div *ngIf="form.get('names.' + i).errors?.required" class="help-block">The name is required.
                        </div>
                        <div *ngIf="form.get('names.' + i).errors?.exist" class="help-block">The name already exists.
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="row form-group" [class.has-error]="submitted && form.get('cron').invalid">
          <div class="col-xs-4">
            <label class="control-label" for="cron">Cron Expression:</label>
          </div>
          <div class="col-xs-20">
            <div style="max-width: 260px">
              <input id="cron" name="cron" formControlName="cron" class="form-control input-sm"/>
              <div class="errors-cron" *ngIf="submitted && form.get('cron').invalid">
                <span class="help-block"
                      *ngIf="form.get('cron').errors?.required">The cron expression is required.</span>
                <span class="help-block"
                      *ngIf="submitted && form.get('cron').errors?.formatError">The cron expression is not valid.</span>
              </div>
            </div>
          </div>
        </div>

        <h2>Task Arguments and Properties</h2>

        <div class="row form-group" [class.has-error]="form.get('args').invalid && submitted">
          <div class="col-xs-4">
            <label class="control-label">
              Arguments:
              <a #childPopover="bs-popover" containerClass="task-help-popover" [popover]="popArguments" placement="bottom"
                 [outsideClick]="true" title="Help for arguments" style="cursor: pointer">
                <span class="fa fa-question-circle"></span></a>
            </label>
          </div>
          <div class="col-xs-12">
            <app-kv-rich-text [validators]="kvValidators.args" [formControl]="form.get('args')"
                              placeholder="--myarg=myvalue"></app-kv-rich-text>
            <span class="help-block" *ngIf="form.get('args').invalid && submitted">
            One or more arguments are invalid.<br/>Example: <code>myarg=myvalue</code>.
          </span>
          </div>

        </div>

        <div class="row form-group" [class.has-error]="form.get('props').invalid && submitted">
          <div class="col-xs-4">
            <label class="control-label">
              Parameters:
              <a #childPopover="bs-popover" containerClass="task-help-popover" [popover]="popParameters" placement="bottom"
                 [outsideClick]="true" title="Help for parameters" style="cursor: pointer">
                <span class="fa fa-question-circle"></span></a>
            </label>
          </div>
          <div class="col-xs-12">
            <app-kv-rich-text [validators]="kvValidators.props" [formControl]="form.get('props')"
                              placeholder="app.myparam=myvalue"></app-kv-rich-text>
            <span class="help-block" *ngIf="form.get('props').invalid && submitted">
          One or more parameters are invalid.<br/>Example: <code>app.myarg=myvalue</code>.
          </span>
          </div>
        </div>
      </div>
      <app-page-actions>
        <button (click)="cancel()" type="button" class="btn btn-default">Cancel</button>
        <button id="btn-submit" type="submit" class="btn btn-primary">Schedule the task</button>
      </app-page-actions>
    </form>
  </div>
</app-page>

<ng-template #popArguments>
  <div class="task-help-content">
    Arguments can be prefixed by <code>--</code> (optional).<br/>
    Example:<br/>
    <pre><code>--myarg1=value1
--myarg2=value2</code></pre>
  </div>
</ng-template>

<ng-template #popParameters>
  <div class="task-help-content">
    Parameters should start with an <code>app.</code> or <code>deployer.</code>.<br/>
    Example:<br/>
    <pre><code>app.myparam=value1
deployer.myparam2=value2</code></pre>
  </div>
</ng-template>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
