<app-page-head class="step2">
  <app-page-head-back [defaultUrl]="'/tasks/utils'" [isNotRegex]="'^(\/tasks\/utils\/)'"></app-page-head-back>
  <app-page-head-title><strong>Import your tasks</strong></app-page-head-title>
</app-page-head>

<div dataflowLayoutType type="medium">
  <div>

    <div id="import-file" *ngIf="view === 'file'">

      <div class="dataflow-alert dataflow-alert-info">
        <p>You can import your tasks from a <strong>JSON file</strong>.</p>
        <p>The file needs to be modified for sensitive properties before importing.</p>
      </div>


      <div class="form-group">
        <label>JSON file</label>
        <label class="control-file" for="file">
          <span class="filename">{{ file?.name }}</span>
          <span class="button">Select a file</span>
          <input name="file" id="file" type='file' (change)="fileChanged($event)">
        </label>
      </div>
      <div class="form-group form-group-options">
        <div class="options-title">
          <strong>Options:</strong>
        </div>
        <div>
          <label class="checkbox-inline">
            <input type="checkbox" [(ngModel)]="options.excludeChildren"/>
            Exclude children from composed task
          </label>
        </div>
      </div>
    </div>

    <div *ngIf="view === 'loading'">
      <app-loader></app-loader>
    </div>

    <div id="import-result" *ngIf="view === 'result'" style="padding-bottom: 16px;">

      <div>
        <p>
          File: <strong>{{ file?.name }}</strong><br/>
          Duration: <strong>{{ result.duration }}s</strong>
        </p>
      </div>

      <div *ngIf="result.error.length > 0">
        <h3 class="error" *ngIf="result.error.length > 1">{{ result.error.length }} errors</h3>
        <h3 class="error" *ngIf="result.error.length === 1">1 error</h3>
        <table class="table table-styled-1">
          <tbody>
          <ng-container *ngFor="let item of result.error; index as i">
            <tr class="error">
              <td width="10px" nowrap="">
                <span class="fa fa-times fa-rotate-270"></span>
              </td>
              <td>
                <div>
                  <strong>{{ item.name }}</strong><br/>
                  <app-stream-dsl>{{ item.dslText }}</app-stream-dsl>
                </div>
                <div class="error">
                  Message: {{ item.message}}<br/>
                  Index: {{ i }}
                </div>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>

      <div *ngIf="result.success.length > 0">
        <h3 *ngIf="result.success.length > 1">{{ result.success.length }} tasks created</h3>
        <h3 *ngIf="result.success.length === 1">1 task created</h3>
        <table class="table table-styled-1">
          <tbody>
          <ng-container *ngFor="let item of result.success; index as i">
            <tr class="created">
              <td width="10px" nowrap="">
                <span class="fa fa-check"></span>
              </td>
              <td>
                <strong>{{ item.name }}</strong><br/>
                <app-stream-dsl>{{ item.dslText }}</app-stream-dsl>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>

    <div class="dataflow-page-actions-sticky" *ngIf="view === 'file'" style="padding-top: 16px;">
      <app-page-actions>
        <button name="cancel" type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        <button id="btn-import" name="import" type="button" (click)="submit()" class="btn btn-primary">
          Import the file
        </button>
      </app-page-actions>
    </div>

    <div class="dataflow-page-actions-sticky" *ngIf="view === 'result'">
      <app-page-actions>
        <button name="cancel" type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        <button name="new-import" type="button" class="btn btn-default" (click)="newImport()">New import</button>
      </app-page-actions>
    </div>


  </div>

</div>
