<form id="filters" class="list-bar list-bar-audit" *ngIf="page && params && !isEmpty()" #auditRecordsForm="ngForm"
      name="auditRecordsForm" role="form" (ngSubmit)="doSearch()" novalidate>
  <div class="list-bar-filter">
    <span>
      <input class="form-control" autocomplete="off" placeholder="Date Range"
             name="daterange" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="form.dateRange">
    </span>
    <div class="list-bar-dropdown">
      <div dropdown class="dropdown">
        <a class="filter-dropdown-toggle" dropdownToggle>
              <span *ngIf="form.operation == null">
                All operations
              </span>
          <span *ngIf="form.operation != null">
            Operation: <strong>{{ form.operation.name }}</strong>
          </span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu="">
          <li [class.active]="form.operation == '' || form.operation == null"><a (click)="form.operation = null">All Operations</a></li>
          <li *ngFor="let operationType of operationTypes | async"
              [class.active]="form.operation != null && form.operation.key == operationType.key"><a (click)="form.operation = operationType">{{operationType.name}}</a></li>
        </ul>
      </div>
    </div>
    <div class="list-bar-dropdown">
      <div dropdown class="dropdown">
        <a class="filter-dropdown-toggle" dropdownToggle>
              <span *ngIf="form.action == null">
                All actions
              </span>
          <span *ngIf="form.action != null">
            Action: <strong>{{ form.action.name }}</strong>
          </span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu="">
          <li [class.active]="form.action == '' || form.action == null"><a (click)="form.action = null">All Actions</a></li>
          <li *ngFor="let actionType of actionTypes | async"
              [class.active]="form.action != null && form.action.key == actionType.key"><a (click)="form.action = actionType">{{actionType.name}}</a></li>
        </ul>
      </div>
    </div>
    <button id="search-submit" [disabled]="!isSearchActive()" type="submit" class="list-bar-submit btn btn-default">
      <span class="fa fa-search"></span>
    </button>
  </div>
  <div class="list-bar-divider"></div>
  <div class="list-bar-right">
    <button (click)="doRefresh()" name="app-refresh" type="button" class="btn btn-default btn-fa" title="Refresh">
      <span class="fa fa-refresh"></span>
      Refresh
    </button>
  </div>
</form>
