<div *ngIf="stream$ | async as stream; else loading">

  <div dataflowLayoutType type="large">
    <div *ngIf="stream.streamDefinition.description.length > 0" class="row stream-summary-row">
      <div class="col-md-3">
        <strong>Description:</strong>
      </div>
      <div class="col-md-21">
          {{ stream.streamDefinition.description }}
      </div>
    </div>
    <div class="row stream-summary-row">
      <div class="col-md-3">
        <strong>Definition:</strong>
      </div>
      <div class="col-md-21">
        <app-stream-dsl>
          {{ stream.streamDefinition.dslText }}
        </app-stream-dsl>
      </div>
    </div>
    <div class="row stream-summary-row">
      <div class="col-md-3">
        <strong>Status:</strong>
      </div>
      <div class="col-md-21">
        <app-stream-status [streamDefinition]="stream.streamDefinition"></app-stream-status>
      </div>
    </div>
    <div class="row stream-summary-row">
      <div class="col-md-3">
        <strong>Applications:</strong>
      </div>
      <div class="col-md-21">
        <table class="table table-apps table-hover table-actions">
          <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let app of stream.apps">
            <td>
              <strong>{{ app.name }}</strong>
              <span *ngIf="app.origin !== app.name">
                  ({{ app.origin }})
                </span>
            </td>
            <td>
              <app-type [application]="app"></app-type>
            </td>
            <td class="table-actions" width="10px" nowrap="">
              <div class="actions-btn" role="group">
                <a routerLink="/apps/{{ app.type }}/{{ app.origin }}" class="btn btn-default" title="Details">
                  <span class="fa fa-info-circle"></span>
                </a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="canShowDeploymentInfo(stream.streamDefinition)">
      <div class="row stream-summary-row">
        <div class="col-md-3">
          <strong>Deployment Info:</strong>
        </div>
        <div class="col-md-21 stream-summary-row-table">
          <app-stream-deployment-properties-info [streamDefinition]="stream.streamDefinition">
          </app-stream-deployment-properties-info>
        </div>
      </div>
    </div>

    <div class="row stream-summary-row" *ngIf="stream.runtimes.length > 0">
      <div class="col-md-3">
        <strong>Runtimes:</strong>
      </div>
      <div class="col-md-21">
        <table id="table" class="table table-apps table-actions">
          <thead>
          <tr>
            <th>App Id</th>
            <th># of Instances</th>
          </tr>
          </thead>
          <tbody>
          <ng-template ngFor let-runtimeApp [ngForOf]="stream.runtimes">
            <tr class="align-middle">
              <td>
                {{ runtimeApp.deploymentId }}
              </td>
              <td>
                {{ runtimeApp.instances.length }}
                <span *ngIf="runtimeApp.instances.length == 1">
                  instance
                </span>
                <span *ngIf="runtimeApp.instances.length > 1">
                  instances
                </span>
              </td>
            </tr>
          </ng-template>
          </tbody>
        </table>
      </div>

      <div class="row stream-summary-row">
        <div class="col-md-3">
          <strong>Logs:</strong>
        </div>
        <div class="col-md-21">
          <div class="log-toolbar">
            <div dropdown class="dropdown">
              <a class="btn btn-default btn-dropdown" dropdownToggle>
                <strong>{{ stream.logs[logSelectedIndex].deploymentId }}</strong>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" *dropdownMenu>
                <ng-template ngFor let-runtimeApp [ngForOf]="stream.runtimes" let-i="index">
                  <li [class.active]="stream.logs[logSelectedIndex].deploymentId === runtimeApp.deploymentId">
                    <a (click)="changeLog(i)">{{ runtimeApp.deploymentId }}</a>
                  </li>
                </ng-template>
              </ul>
            </div>
            <button type="button" class="btn btn-primary" (click)="refresh()">
              Refresh
            </button>
          </div>
          <div class="pui-log" *ngIf="stream.logs[logSelectedIndex].log">
            <pre><code>{{ stream.logs[logSelectedIndex].log }}</code></pre>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
