<clr-modal [(clrModalOpen)]="isOpen" [clrModalClosable]="!isRunning" clrModalSize="lg">
  <h3 class="modal-title"><ng-container i18n>Manage versions</ng-container></h3>
  <div class="modal-body" *ngIf="versions?.length > 1 && !isRunning && !loading">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="left">&nbsp;</th>
          <th class="left"><ng-container i18n>Name</ng-container></th>
          <th class="left"><ng-container i18n>Type</ng-container></th>
          <th class="left">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let app of versions">
          <td class="left">
            <clr-icon *ngIf="app.defaultVersion" shape="star" class="is-solid"></clr-icon>
          </td>
          <td class="left">
            <span class="label">{{ app.version }}</span>
          </td>
          <td class="left">
            <span style="word-break: break-all">
              {{ app.uri }}
            </span>
          </td>
          <td nowrap="">
            <button type="button"
                    class="btn btn-sm btn-secondary"
                    (click)="unregisterConfirm(app)"
                    i18n>
              Unregister
            </button>
            <button
              type="button"
              [disabled]="app.defaultVersion"
              (click)="makeDefaultConfirm(app)"
              class="btn btn-sm btn-secondary"
              i18n>
              Set default
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-body" *ngIf="loading">
    <clr-spinner clrInline clrSmall></clr-spinner>
    <ng-container i18n>Loading versions(s) ...</ng-container>
  </div>
  <div class="modal-body" *ngIf="isRunning">
    <clr-spinner clrInline clrSmall></clr-spinner>
    <ng-container i18n>Unregistering application(s) ...</ng-container>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline"
            [disabled]="isRunning"
            (click)="isOpen = false"
            i18n>
      Cancel
    </button>
  </div>
</clr-modal>

<app-confirm #unregisterModal (onConfirmed)="unregister()" title="Confirm unregister version" yes="Unregister">
  <ng-container i18n>This action will unregister the</ng-container> <strong><ng-container i18n>version</ng-container> {{ selected?.version }}</strong> <ng-container i18n>of the application</ng-container>
  <strong>{{ selected?.name }}</strong
  >&nbsp;<span class="{{ selected?.labelTypeClass() }}">{{ selected?.type }}</span
  >.
  <br />
  <ng-container i18n>Are you sure?</ng-container>
</app-confirm>

<app-confirm #makeDefaultModal (onConfirmed)="makeDefault()" title="Confirm make default version" yes="Make default">
  <ng-container i18n>This action will make the version</ng-container> <strong>{{ selected?.version }}</strong> <ng-container i18n>as the default version for the application</ng-container>
  <strong>{{ selected?.name }}</strong
  >&nbsp; <span class="{{ selected?.labelTypeClass() }}">{{ selected?.type }}</span
  >.
  <br />
  <ng-container i18n>Are you sure?</ng-container>
</app-confirm>
