<clr-modal [(clrModalOpen)]="isOpen" [clrModalClosable]="!isRunning" clrModalSize="lg">
  <h3 class="modal-title">{{ 'applications.version.manageVersions' | translate }}</h3>
  <div class="modal-body" *ngIf="versions?.length > 1 && !isRunning && !loading">
    <table data-cy="tableVersions" class="table table-striped">
      <thead>
        <tr>
          <th class="left">&nbsp;</th>
          <th class="left">{{ 'applications.main.name' | translate }}</th>
          <th class="left">{{ 'applications.main.type' | translate }}</th>
          <th class="left">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let app of versions; let i = index">
          <td class="left">
            <clr-icon *ngIf="app.defaultVersion" shape="star" class="is-solid"></clr-icon>
          </td>
          <td class="left">
            <span class="label">{{ app.version }}</span>
          </td>
          <td class="left">
            <span style="word-break: break-all">
              {{ app.uri }}
            </span>
          </td>
          <td nowrap="">
            <button
              data-cy="unregister"
              type="button"
              class="btn btn-sm btn-secondary"
              (click)="unregisterConfirm(app)"
            >
              {{ 'applications.main.unregister' | translate }}
            </button>
            <button
              type="button"
              data-cy="setDefault"
              [disabled]="app.defaultVersion"
              (click)="makeDefaultConfirm(app)"
              class="btn btn-sm btn-secondary"
            >
              {{ 'commons.makeDefault' | translate }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-body" *ngIf="loading">
    <clr-spinner clrInline clrSmall></clr-spinner>
    {{ 'applications.unregister.loadingVersions' | translate }}
  </div>
  <div class="modal-body" *ngIf="isRunning">
    <clr-spinner clrInline clrSmall></clr-spinner>
    {{ 'applications.unregister.unregisteringApplications' | translate }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" [disabled]="isRunning" (click)="isOpen = false">
      {{ 'commons.cancel' | translate }}
    </button>
  </div>
</clr-modal>

<app-confirm #unregisterModal (onConfirmed)="unregister()" title="Confirm unregister version" yes="Unregister">
  {{ 'applications.version.loadingVersions' | translate }}
  <strong>{{ 'applications.version.version' | translate }} {{ selected?.version }}</strong>
  {{ 'applications.version.ofTheApplication' | translate }} <strong>{{ selected?.name }}</strong
  >&nbsp;<span class="{{ selected?.labelTypeClass() }}">{{ selected?.type }}</span
  >.
  <br />
  {{ 'commons.areYouSure' | translate }}
</app-confirm>

<app-confirm #makeDefaultModal (onConfirmed)="makeDefault()" title="Confirm make default version" yes="Make default">
  {{ 'applications.version.thisActionWillMakeTheVersion' | translate }} <strong>{{ selected?.version }}</strong>
  {{ 'applications.version.asTheDefaultVersion' | translate }} <strong>{{ selected?.name }}</strong
  >&nbsp; <span class="{{ selected?.labelTypeClass() }}">{{ selected?.type }}</span
  >.
  <br />
  {{ 'commons.areYouSure' | translate }}
</app-confirm>
