.error-marker-tooltip .tooltip-inner {
  background-color: red;
  max-width: 400px;
  padding: 2px;
}

.tooltip.error-marker-tooltip .tooltip-arrow {
  border-right-color: red;
}

.marker-tooltip {

  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    border-bottom: 1px solid white;
    text-align: left;
  }

  li:last-child {
    border: none;
  }

}
