<div *ngIf="schedules$ | async as schedules; else loading" dataflowLayoutType type="full">

  <div id="schedules-list">

    <app-list-bar [params]="schedules.params" [page]="schedules.page" [countSelected]="countSelected()" #listBar
                  (refresh)="refresh(schedules.params)" [hideSearch]="true"
                  [actions]="schedulesActions()" (action)="applyAction($event.action, schedules.page)">
    </app-list-bar>

    <table *ngIf="schedules.page?.items && schedules.page.items.length > 0"
           class="table table-checkbox table-hover" id="taskSchedulesTable">
      <thead>
      <tr>
        <th style="width: 30px">
          <app-master-checkbox (change)="changeCheckboxes(schedules.page)" *ngIf="form?.checkboxes"
                               [dataflowAppRoles]="['ROLE_CREATE']" [items]="form.checkboxes"></app-master-checkbox>
        </th>
        <th>
          Schedule Name
        </th>
        <th nowrap="">
          Cron Expression
        </th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <ng-container
        *ngFor="let item of schedules.page.items | paginate: schedules.page.getPaginationInstance(); index as i">
        <tr>
          <td class="cell-checkbox">
            <input [dataflowAppRoles]="['ROLE_CREATE']" type="checkbox" (change)="changeCheckboxes(schedules.page)"
                   [(ngModel)]="form.checkboxes[i]"/>
          </td>
          <td>
            <a class="link-schedule" (click)="details(item)" style="cursor: pointer">{{ item.name }}</a>
          </td>
          <td>
            {{ item.cronExpression }}
          </td>
          <td class="table-actions" width="50px" nowrap="">
            <app-list-row-actions [item]="item" (action)="applyAction($event.action, $event.args)"
                                  [actions]="scheduleActions(item, i)"></app-list-row-actions>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>

    <app-list-empty [page]="schedules.page" [filters]="[]">
      <p>There is <strong>no task schedule</strong>.</p>
      <p [dataflowAppRoles]="['ROLE_CREATE']">
        You can <a (click)="refresh(schedules.params)">Refresh</a> the page
      </p>
    </app-list-empty>

    <!--
    <div *ngIf="schedules.page" id="empty" style="padding-top:1.5rem">
      <div *ngIf="isSchedulesEmpty(schedules.page)" class="text-center">
        <div class="alert alert-warning" style="display:inline-block;margin:0 auto">
          <strong>No associate schedule.</strong>
        </div>
      </div>
    </div>
    -->

  </div>
</div>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
