
.app-pager {
  vertical-align: top;
  text-align: right;

  .dropdown-menu {
    min-width: 70px;
  }
  .btn-group {
    margin-left: 10px;
  }
}

.app-pager-divider {
  display: inline-block;
  height: 22px;
  vertical-align: top;
  margin: 2px 10px;
  border-left: 1px solid #ccc;
  width: 1px;
}

.app-pager-text {
  display: inline-block;
  height: 22px;
  vertical-align: top;
}

.dropdown-item {
  cursor: pointer;
}

.dropup .caret {
  border-bottom: 0;
  border-top: 4px dashed;
}
