<app-page id="audit-record-details-list">

  <app-page-head>
    <app-page-head-back [defaultUrl]="'/audit-records'" [isNotRegex]="'^(\/audit-records\/)'"></app-page-head-back>
    <app-page-head-title>Audit Records Details (<strong>{{ auditRecord.auditRecordId }}</strong>)</app-page-head-title>
  </app-page-head>


  <div dataflowLayoutType type="large">

    <div class="row audit-summary-row">
      <div class="col-md-3">
        <strong>Id:</strong>
      </div>
      <div class="col-md-21">
        {{ auditRecord.auditRecordId }}
      </div>
    </div>
    <div class="row audit-summary-row">
      <div class="col-md-3">
        <strong>Created On:</strong>
      </div>
      <div class="col-md-21">
        {{ auditRecord.createdOn | dataflowDateTime }}
      </div>
    </div>
    <div class="row audit-summary-row">
      <div class="col-md-3">
        <strong>Action:</strong>
      </div>
      <div class="col-md-21">
        <app-audit-record-action [auditRecord]="auditRecord"></app-audit-record-action>
      </div>
    </div>
    <div class="row audit-summary-row">
      <div class="col-md-3">
        <strong>Operation:</strong>
      </div>
      <div class="col-md-21">
        <app-audit-record-operation [auditRecord]="auditRecord"></app-audit-record-operation>
      </div>
    </div>
    <div class="row audit-summary-row">
      <div class="col-md-3">
        <strong>Operation Id:</strong>
      </div>
      <div class="col-md-21">
        <strong>{{ auditRecord.correlationId }}</strong>
      </div>
    </div>
    <div class="row audit-summary-row">
      <div class="col-md-3">
        <strong>Created By:</strong>
      </div>
      <div class="col-md-21">
        {{ auditRecord.createdBy ? auditRecord.createdBy : 'N/A' }}
      </div>
    </div>
    <div class="row audit-summary-row">
      <div class="col-md-3">
        <strong>Data:</strong>
      </div>
      <div class="col-md-21">
        <pre class="audit-pre">{{ auditRecord.auditData | json }}</pre>
      </div>
    </div>
    <div class="row audit-summary-row">
      <div class="col-md-3">
        <strong>Platform Name:</strong>
      </div>
      <div class="col-md-21">
        {{ auditRecord.platformName ? auditRecord.platformName : 'N/A' }}
      </div>
    </div>
  </div>

</app-page>
