<app-page dataflowLayoutType type="full" id="page">

  <app-page-head>
    <app-page-head-title><strong>Runtime applications</strong></app-page-head-title>
  </app-page-head>

  <div dataflowLayoutType type="full">
    <p>
      This section shows the list of all running apps.
    </p>

    <div *ngIf="runtimeStreams$ | async as runtimeStreams; else loading">

      <div class="list-bar" *ngIf="!(runtimeStreams?.totalPages < 2 && runtimeStreams.items.length === 0)">
        <button name="refresh" class="btn btn-default btn-fa" (click)="loadRuntimeStreams()" title="Refresh"
                type="button">
          <span class="fa fa-refresh"></span>
          Refresh
        </button>
      </div>

      <div *ngIf="runtimeStreams.items.length > 0" class="table table-actions table-hover" id="list">
        <ng-template ngFor let-runtimeStream
                     [ngForOf]="runtimeStreams.items | paginate: runtimeStreams.getPaginationInstance()">
          <div class="runtime-stream">
            <h2>Stream <strong>{{ runtimeStream.name }}</strong></h2>
            <div class="runtime-apps">
              <ng-template ngFor let-runtimeApp [ngForOf]="runtimeStream.apps">
                <a class="runtime-app" (click)="view(runtimeApp)">
                  <h3>
                    {{ runtimeApp.deploymentId }}
                    <app-stream-status [streamDefinition]="{status: runtimeApp.state}"></app-stream-status>
                  </h3>
                  <p>
                    {{ runtimeApp.appInstances.length }}
                    <span *ngIf="runtimeApp.appInstances.length > 1">instances</span>
                    <span *ngIf="!(runtimeApp.appInstances.length > 1)">instance</span>
                  </p>
                </a>
              </ng-template>
            </div>
          </div>
        </ng-template>
      </div>

      <app-list-pagination [page]="runtimeStreams" [params]="pagination" (changed)="changePaginationPager($event)"
                           [item]="'stream definition'" [items]="'stream definitions'">
      </app-list-pagination>

      <app-list-empty [page]="runtimeStreams" [filters]="[]">
        <p>There are <strong>no running applications</strong> currently available.</p>
        <p>
          You can <a (click)="loadRuntimeStreams()">Refresh</a> the page.
        </p>
      </app-list-empty>

    </div>
  </div>
  <ng-template #loading>
    <app-loader></app-loader>
  </ng-template>

</app-page>
