<form clrForm>
  <clr-modal [(clrModalOpen)]="isOpen" clrModalSize="xs">
    <h3 class="modal-title">{{ 'settings.title' | translate }}</h3>
    <div class="modal-body">
      <clr-select-container *ngIf="languageActive && languages?.length > 1">
        <label class="clr-col-md-4">{{ 'settings.language' | translate }}</label>
        <select
          clrSelect
          name="language"
          class="clr-col-md-8"
          [value]="languageActive.value"
          (change)="languageActiveSettingOnChange($event.target.value)"
        >
          <option value="{{ lang }}" *ngFor="let lang of languages" [selected]="lang === languageActive.value">
            {{ 'settings.' + lang | translate }}
          </option>
        </select>
        <clr-control-helper>{{ 'settings.languageDescription' | translate }}</clr-control-helper>
      </clr-select-container>
      <clr-select-container *ngIf="themeActive">
        <label class="clr-col-md-4">{{ 'settings.theme' | translate }}</label>
        <select
          clrSelect
          name="theme"
          class="clr-col-md-8"
          [value]="themeActive.value"
          (change)="themeActiveSettingOnChange($event.target.value)"
        >
          <option value="default">{{ 'settings.defaultTheme' | translate }}</option>
          <option value="dark">{{ 'settings.darkTheme' | translate }}</option>
        </select>
        <clr-control-helper>{{ 'settings.themeDescription' | translate }}</clr-control-helper>
      </clr-select-container>

      <clr-select-container *ngIf="resultsPerPage">
        <label class="clr-col-md-4">{{ 'settings.results' | translate }}</label>
        <select
          clrSelect
          name="theme"
          class="clr-col-md-8"
          [value]="resultsPerPage.value"
          (change)="resultPerPageSettingOnChange($event.target.value)"
        >
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <clr-control-helper>
          {{ 'settings.resultsDescription' | translate }}
        </clr-control-helper>
      </clr-select-container>
      <clr-toggle-container>
        <label class="clr-col-md-4">{{ 'settings.reverseProxyFix' | translate }}</label>
        <clr-toggle-wrapper>
          <input
            type="checkbox"
            clrToggle
            name="reverseProxyFix"
            class="clr-col-md-8"
            [checked]="reverseProxyFix.value === 'true'"
            (change)="reverseProxyFixOnChange($event.target.checked + '')"
          />
          <label>{{ 'settings.reverseProxyFixActive' | translate }}</label>
        </clr-toggle-wrapper>
        <clr-control-helper>
          {{ 'settings.reverseProxyFixDescription' | translate }}
        </clr-control-helper>
      </clr-toggle-container>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="isOpen = false" translate>settings.close</button>
    </div>
  </clr-modal>
</form>
