<form clrForm>
  <clr-modal [(clrModalOpen)]="isOpen" clrModalSize="xs">
    <h3 class="modal-title"><ng-container i18n>Settings</ng-container></h3>
    <div class="modal-body">
      <!-- <clr-select-container *ngIf="languageActive">
        <label><ng-container i18n>Language</ng-container></label>
        <select
          clrSelect
          name="language"
          [value]="languageActive.value"
          (change)="languageActiveSettingOnChange($event.target.value)"
        >
          <option value="en"><ng-container i18n>english</ng-container></option>
          <option value="de"><ng-container i18n>german</ng-container></option>
        </select>
        <clr-control-helper>
          <ng-container i18n>You can choose your preferred language</ng-container>
        </clr-control-helper>
      </clr-select-container> -->
      <clr-select-container *ngIf="themeActive">
        <label><ng-container i18n>Theme</ng-container></label>
        <select
          clrSelect
          name="theme"
          [value]="themeActive.value"
          (change)="themeActiveSettingOnChange($event.target.value)"
        >
          <option value="default"><ng-container i18n>default</ng-container></option>
          <option value="dark"><ng-container i18n>dark</ng-container></option>
        </select>
        <clr-control-helper>
          <ng-container i18n>You can choose between dark and default theme</ng-container>
        </clr-control-helper>
      </clr-select-container>

      <clr-select-container *ngIf="resultsPerPage">
        <label><ng-container i18n>Results</ng-container></label>
        <select
          clrSelect
          name="theme"
          [value]="resultsPerPage.value"
          (change)="resultPerPageSettingOnChange($event.target.value)"
        >
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <clr-control-helper>
          <ng-container i18n>You can choose the number of results per page.</ng-container>
        </clr-control-helper>
      </clr-select-container>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="isOpen = false" i18n>Close</button>
    </div>
  </clr-modal>
</form>
