<app-page *ngIf="taskSchedule$ | async as taskSchedule; else loading">

  <app-page-head>
    <app-page-head-back [defaultUrl]="'/tasks/schedules'"
                        [isNotRegex]="'^(\/tasks\/schedules\/)'"></app-page-head-back>
    <app-page-head-title>Schedule <strong>{{ taskSchedule.name }}</strong></app-page-head-title>
    <app-page-head-actions [dataflowAppRoles]="['ROLE_CREATE']">
      <button id="schedule-remove" name="schedule-remove" type="button" [dataflowAppRoles]="['ROLE_CREATE']"
              (click)="destroy(taskSchedule)" class="btn btn-danger btn-fa" title="Destroy">
        <span class="fa fa-trash"></span>
        Delete
      </button>
    </app-page-head-actions>
  </app-page-head>

  <p>This section shows the details of a schedule.</p>

  <div class="tab-simple">
    <ul class="nav nav-tabs">
      <li role="presentation" routerLinkActive="active">
        <a routerLink="summary" id="btn-schedule-summary">Summary</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane in active">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</app-page>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
