<clr-modal [(clrModalOpen)]="isOpen" clrModalSize="lg" class="modal-fixed modal-properties modal-properties-task">
  <div class="modal-title">
    <h3 *ngIf="app" style="margin-top: 0.2rem">
      Properties for <strong>{{ app.name }}</strong>
      <span class="{{ app.labelTypeClass() }}">{{ typeString }}</span>
      <span class="label" *ngIf="app.version"
        ><span>{{ app.version }}</span></span
      >
    </h3>
    <label class="modal-search" *ngIf="propertiesGroupModel && !hasWriterReader && !propertiesGroupModel?.isLoading">
      <span class="search-wrapper">
        <input
          type="search"
          class="clr-input"
          placeholder="Search properties ..."
          [(ngModel)]="searchFilterText"
          [ngModelOptions]="{standalone: true}"
        />
        <clr-icon shape="search"></clr-icon>
      </span>
    </label>
  </div>

  <div class="modal-body" *ngIf="propertiesGroupModel && !hasWriterReader && !propertiesGroupModel?.isLoading">
    <form name="app-properties" clrForm clrLayout="horizontal" (submit)="handleOk()">
      <ng-container *ngFor="let group of propertiesGroupModels">
        <div class="properties" *ngIf="controlModelsToDisplay(group).length > 0">
          <div class="line-toggle">
            <a class="toggle" (click)="collapse(group.title)">
              <clr-icon [class.open]="state[group.title]" shape="angle"></clr-icon>
              {{ group.title || 'General' }}
              <span class="label label-warning" style="margin-left: 10px; padding: 2px 9px; display: inline">{{
                controlModelsToDisplay(group).length
              }}</span>
            </a>
          </div>
          <div *ngIf="state[group.title]">
            <clr-properties-group
              [propertiesGroupModel]="group"
              [form]="propertiesFormGroup"
              [filter]="propertiesFilter"
            >
            </clr-properties-group>
          </div>
        </div>
      </ng-container>
    </form>
  </div>

  <div class="modal-body" *ngIf="propertiesGroupModel && hasWriterReader && !propertiesGroupModel?.isLoading">
    <div class="content-container">
      <nav class="sidenav">
        <section class="sidenav-content">
          <section class="nav-group">
            <ul class="nav-list">
              <li>
                <a class="nav-link" [class.active]="!paneSelected" (click)="changePane()">App properties</a>
              </li>
              <li>
                <a class="nav-link" [class.active]="paneSelected === 'readers'" (click)="changePane('readers')"
                  >Reader properties
                  <clr-icon *ngIf="statusError.readers" shape="exclamation-circle"></clr-icon>
                </a>
              </li>
              <li>
                <a class="nav-link" [class.active]="paneSelected === 'writers'" (click)="changePane('writers')"
                  >Writer properties <clr-icon *ngIf="statusError.writers" shape="exclamation-circle"></clr-icon
                ></a>
              </li>
            </ul>
          </section>
        </section>
      </nav>
      <div class="content-area">
        <label class="modal-search">
          <span class="search-wrapper">
            <input
              type="search"
              class="clr-input"
              placeholder="Search properties ..."
              [(ngModel)]="searchFilterText"
              [ngModelOptions]="{standalone: true}"
            />
            <clr-icon shape="search"></clr-icon>
          </span>
        </label>
        <div [style.maxHeight]="heightModal" class="modal-wrapper">
          <form name="app-properties" (submit)="handleOk()">
            <input type="submit" style="display: none" />
            <div *ngIf="propertiesGroupModel && !propertiesGroupModel.isLoading">
              <div clrForm>
                <div
                  *ngIf="propertiesGroupModel.getControlsModels().length > 50 && !showProperties"
                  class="dataflow-alert dataflow-alert-info"
                  style="display: block"
                >
                  <p style="padding-bottom: 5px">
                    There are <strong>more than 50 properties</strong> to display, the UI can be slow.<br />Do you want
                    to <strong>display all the properties</strong> ?
                  </p>
                  <button class="btn btn-primary" (click)="showProperties = true">Show all the properties</button>
                </div>

                <div *ngIf="propertiesGroupModel.getControlsModels().length <= 50 || showProperties">
                  <clr-properties-group
                    *ngIf="propertiesGroupModel"
                    [propertiesGroupModel]="propertiesGroupModel"
                    [form]="propertiesFormGroup"
                    [filter]="propertiesFilter"
                  ></clr-properties-group>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="modal-body">
      <form name="app-properties" (submit)="handleOk()">
        <input type="submit" style="display: none" />
        <div *ngIf="propertiesGroupModel && !propertiesGroupModel.isLoading">
          <div clrForm>
            <div *ngIf="propertiesGroupModel.getControlsModels().length > 50 && !showProperties"
                 class="dataflow-alert dataflow-alert-info" style="display: block">
              <p style="padding-bottom: 5px;">
                There are <strong>more than 50 properties</strong> to display, the UI can be slow.<br>Do you want to
                <strong>display all the properties</strong> ?
              </p>
              <button class="btn btn-primary" (click)="showProperties = true">Show all the properties</button>
            </div>

            <div *ngIf="propertiesGroupModel.getControlsModels().length <= 50 || showProperties">

              <clr-properties-group *ngIf="propertiesGroupModel" [propertiesGroupModel]="propertiesGroupModel"
                                    [form]="propertiesFormGroup" [filter]="propertiesFilter"></clr-properties-group>
            </div>
          </div>
        </div>
      </form>
    </div> -->

  <div class="modal-body app-properties" *ngIf="!propertiesGroupModel || propertiesGroupModel.isLoading">
    <div style="padding: 10px 0"><clr-spinner clrSmall clrInline></clr-spinner>&nbsp; Loading...</div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="handleCancel()">Cancel</button>
    <button type="submit" class="btn btn-primary" (click)="handleOk()">Update</button>
  </div>
</clr-modal>
