<h1 [ngBusy]="busy">Register Applications</h1>
<p>
    Register one or more applications by entering a <strong>Name</strong>,
    <strong>Type</strong> and <strong>App URI</strong> of the application Jar.
    You can also provide an optional <strong>metadata artifact URI</strong>.
    The App URI &amp; the Metadata Artifact URI are typically provided using the Maven coordinates of the Jar
    (e.g. <code>maven://io.spring.cloud:scdf-sample-app:jar:1.0.0.BUILD-SNAPSHOT</code>),
    but can be a local file or a docker image URI.
</p>
<hr/>
<form #registerAppsForm="ngForm" name="registerAppsForm" role="form" (ngSubmit)="register()" novalidate>
    <table class="table form-table">
        <thead>
            <tr>
                <th style="width: 200px">Name</th>
                <th style="width: 200px">Type</th>
                <th>App URI &amp; optional Metadata URI</th>
                <th style="width: 90px">
                  <span>
                    <app-tri-state-checkbox class="toggle-all" [items]="getItemsAsObservable()"></app-tri-state-checkbox>
                    Force
                    <a #childPopover="bs-popover"
                      [popover]="popTemplate"
                      placement="bottom"
                      (appClickOutside)="closePopOver()"
                      title="Force"><span class="glyphicon glyphicon-question-sign"></span></a>
                  </span>
                </th>
                <th colspan="2" style="width: 150px">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr id="{{index}}" *ngFor="let item of model; index as index; trackBy: trackModel">
                <td [class.has-error]="name.invalid && name.touched">
                  <input #name="ngModel" type="text" name="name_{{index}}" autofocus [(ngModel)]="item.name" required [pattern]="namePattern"
                         class="form-control" placeholder="&lt;Application Name&gt;">
                  <span class="help-block" *ngIf="name.invalid && name.touched">Please provide a valid name for the app.</span>
                </td>
                <td [class.has-error]="type.invalid && type.touched">
                  <select #type="ngModel" name="type_{{index}}" [(ngModel)]="item.type" required>
                    <option [ngValue]="item.type" disabled="disabled">Please select a type...</option>
                    <option *ngFor="let applicationTypeKey of applicationType.getKeys()" [ngValue]="applicationTypeKey">{{applicationType[applicationTypeKey] | capitalize}}</option>
                  </select>
                  <span class="help-block" *ngIf="type.invalid && type.touched">Please provide a valid type.</span>
                </td>
                <td>
                  <div [class.has-error]="uri.invalid && uri.touched">
                    <input #uri="ngModel" type="text" name="uri_{{index}}" autofocus [(ngModel)]="item.uri" required
                           class="form-control" placeholder="&lt;maven://io.spring.cloud:scdf-sample-app:jar:1.0.0&gt;" [pattern]="uriPattern">
                    <span class="help-block" *ngIf="uri.invalid && uri.touched">Please provide a valid URI pointing to the respective properties file.</span>
                  </div>
                  <div [class.has-error]="metaDataUri.invalid && metaDataUri.touched">
                    <input #metaDataUri="ngModel" type="text" name="metaDataUri_{{index}}" [(ngModel)]="item.metaDataUri"
                           class="form-control" placeholder="&lt;maven://io.spring.cloud:scdf-sample-app:jar:metadata:1.0.0&gt; [OPTIONAL]" [pattern]="uriPattern">
                    <span class="help-block" *ngIf="metaDataUri.invalid && metaDataUri.touched">Please provide a valid URI pointing to the respective properties file.</span>
                  </div>
                </td>
                <td>
                  <input type="checkbox" #isSelected="ngModel" name="isSelected_{{index}}" [(ngModel)]="item.isSelected">
                </td>
                <td class="action-column"
                  ><button type="button" (click)="addApp(index)"
                          class="btn btn-default"
                          title="Add"
                    ><span class="glyphicon glyphicon-plus"></span></button></td>
                <td class="action-column">
                  <button type="button" (click)="removeApp(index)"
                          [disabled]="model.length <= 1"
                          class="btn btn-default"
                          title="Remove"
                  ><span class="glyphicon glyphicon-minus"></span>
                  </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-xs-12 text-right"><button id="back-button"   type="button" class="btn btn-default" (click)="goBack()">Cancel</button></div>
        <div class="col-xs-12 text-left"><button  id="submit-button" type="submit" class="btn btn-primary" [disabled]="registerAppsForm.invalid">Register</button></div>
    </div>
</form>

<ng-template #popTemplate>By checking <strong>force</strong>, the applications will be imported and installed
        even if it already exists but only if not being used already.</ng-template>

