
.form-horizontal {
  padding: 2rem 0;
  border-bottom: 1px solid #e0e5e8;
  .form-group {
    margin-bottom: 5px;
  }
}

.control-label-sm {
  height: 32px;
  line-height: 24px;
}

.actions {
  text-align: center;
  padding: 2rem 0;
}
