<clr-modal [(clrModalOpen)]="isOpen" *ngIf="tasks" [clrModalClosable]="!isRunning">
  <h3 *ngIf="tasks?.length === 1" class="modal-title">{{ 'tasks.destroy.destroyTitle' | translate }}</h3>
  <h3 *ngIf="tasks?.length > 1" class="modal-title">{{ 'tasks.destroy.destroyTitle2' | translate }}</h3>
  <div class="modal-body" *ngIf="tasks.length === 1 && !isRunning">
    <div [innerHTML]="'tasks.destroy.content' | translate: {name: tasks[0].name}"></div>
  </div>
  <div class="modal-body" *ngIf="tasks?.length > 1 && !isRunning">
    <div [innerHTML]="'tasks.destroy.content2' | translate: {count: tasks?.length}"></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="left">{{ 'commons.name' | translate }}</th>
          <th class="left">{{ 'commons.type' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td class="left">
            <strong class="text-truncate" style="max-width: 230px"
              ><strong>{{ task.name }}</strong></strong
            >
          </td>
          <td class="left">
            <span class="dsl-text dsl-truncate" style="max-width: 200px">
              {{ task.dslText }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-body" *ngIf="isRunning">
    <clr-spinner clrInline clrSmall></clr-spinner>
    {{ 'tasks.destroy.destroying' | translate }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="isOpen = false" [disabled]="isRunning">
      {{ 'commons.cancel' | translate }}
    </button>
    <button type="button" class="btn btn-danger" (click)="destroy()" [disabled]="isRunning">
      <span *ngIf="tasks.length === 1">{{ 'tasks.destroy.destroy' | translate }}</span>
      <span *ngIf="tasks.length > 1">{{ 'tasks.destroy.destroy2' | translate }}</span>
    </button>
  </div>
</clr-modal>
