<h1>
  {{ 'executions.execution.title' | translate }}: <strong *ngIf="execution">{{ execution?.executionId }}</strong>
</h1>

<div *ngIf="!loading">
  <div class="datagrid-action-bar">
    <button
      type="button"
      class="btn btn-sm btn-secondary"
      (click)="relaunch()"
      [disabled]="!task"
      [appRole]="['ROLE_DEPLOY']"
    >
      {{ 'executions.execution.relaunch' | translate }}
    </button>
    <button
      type="button"
      class="btn btn-sm btn-secondary"
      (click)="stop()"
      [disabled]="execution.taskExecutionStatus === 'ERROR' || execution.taskExecutionStatus === 'COMPLETE'"
      [appRole]="['ROLE_DEPLOY']"
    >
      {{ 'executions.execution.stop' | translate }}
    </button>
    <button
      type="button"
      class="btn btn-sm btn-outline-danger"
      (click)="cleanup()"
      *ngIf="!execution.parentExecutionId"
      [appRole]="['ROLE_DESTROY']"
    >
      {{ 'executions.execution.cleanup' | translate }}
    </button>
    <button type="button" class="btn btn-sm btn-secondary" grafanaDashboardTaskExecution [taskExecution]="execution">
      {{ 'commons.grafanaDashboard' | translate }}
    </button>
    <button type="button" class="btn btn-sm btn-secondary" wavefrontDashboardTaskExecution [taskExecution]="execution">
      {{ 'commons.wavefrontDashboard' | translate }}
    </button>
  </div>

  <div class="clr-row">
    <div class="clr-col-lg-6 clr-col-md-12 clr-col-12">
      <app-view-card
        [titleModal]="'commons.information' | translate"
        keyContext="execution"
        name="{{ execution?.executionId }}"
        id="info"
      >
        <ng-template>
          <div class="block card-block-keyvalue lg-key">
            <div *ngIf="execution">
              <div class="row">
                <div class="key">{{ 'executions.main.executionId' | translate }}</div>
                <div class="value">{{ execution.executionId }}</div>
              </div>
              <div class="row">
                <div class="key">{{ 'executions.main.arguments' | translate }}</div>
                <div class="value">
                  <div *ngIf="execution.getArgumentsToArray().length > 0">
                    <div *ngFor="let arg of execution.getArgumentsToArray()">
                      {{ arg[0] }}:
                      <strong>{{ arg[1] }}</strong>
                    </div>
                  </div>
                  <div *ngIf="execution.getArgumentsToArray().length === 0">N/A</div>
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'executions.main.externalExecutionId' | translate }}</div>
                <div class="value">
                  {{ execution.externalExecutionId || 'N/A' }}
                </div>
              </div>
              <div class="row">
                <div class="key">Batch Job</div>
                <div class="value">
                  <clr-icon *ngIf="execution.jobExecutionIds?.length > 0" shape="success-standard"></clr-icon>
                  <clr-icon *ngIf="execution.jobExecutionIds?.length === 0" shape="times-circle"></clr-icon>
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'executions.main.jobExecutionIds' | translate }}</div>
                <div class="value">
                  <a
                    [routerLink]="'/tasks-jobs/job-executions/' + jobExecutionId"
                    *ngFor="let jobExecutionId of execution.jobExecutionIds"
                  >
                    {{ jobExecutionId }}
                  </a>
                  <div *ngIf="execution.jobExecutionIds?.length === 0">N/A</div>
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'executions.main.startTime' | translate }}</div>
                <div class="value">
                  {{ execution.startTime | datetime }}
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'executions.main.endTime' | translate }}</div>
                <div class="value">
                  {{ execution.endTime | datetime }}
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'executions.main.duration' | translate }}</div>
                <div class="value">
                  {{ execution.startTime | duration: execution.endTime }}
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'executions.main.exitCode' | translate }}</div>
                <div class="value">
                  {{ execution.exitCode }}
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'executions.main.exitMessage' | translate }}</div>
                <div class="value">
                  {{ execution.exitMessage || 'N/A' }}
                </div>
              </div>
              <div class="row" *ngIf="this.execution.externalExecutionId || execution.resourceUrl">
                <div class="key">{{ 'executions.main.resourceUrl' | translate }}</div>
                <div class="value">
                  {{ execution.resourceUrl || 'N/A' }}
                </div>
              </div>
              <div
                class="row"
                *ngIf="this.execution.externalExecutionId || execution.getAppPropertiesToArray().length > 0"
              >
                <div class="key">{{ 'executions.main.applicationProperties' | translate }}</div>
                <div class="value">
                  <div *ngIf="execution.getAppPropertiesToArray().length > 0">
                    <div *ngFor="let arg of execution.getAppPropertiesToArray()">
                      {{ arg.key }}:
                      <strong>{{ arg.value }}</strong>
                    </div>
                  </div>
                  <div *ngIf="execution.getAppPropertiesToArray().length === 0">N/A</div>
                </div>
              </div>
              <div
                class="row"
                *ngIf="this.execution.externalExecutionId || execution.getDeploymentPropertiesToArray().length > 0"
              >
                <div class="key">{{ 'executions.main.platformProperties' | translate }}</div>
                <div class="value">
                  <div *ngIf="execution.getDeploymentPropertiesToArray().length > 0">
                    <div *ngFor="let arg of execution.getDeploymentPropertiesToArray()">
                      {{ arg[0] }}:
                      <strong>{{ arg[1] }}</strong>
                    </div>
                  </div>
                  <div *ngIf="execution.getDeploymentPropertiesToArray().length === 0">N/A</div>
                </div>
              </div>
            </div>
            <div *ngIf="!execution">{{ 'executions.main.noExecution' | translate }}</div>
          </div>
        </ng-template>
        <div class="card-footer" *ngIf="hasLog()">
          <button class="btn btn-sm btn-secondary" (click)="log()">
            {{ 'executions.main.viewLog' | translate }}
          </button>
        </div>
      </app-view-card>
    </div>
    <div class="clr-col-lg-6 clr-col-md-12 clr-col-12">
      <app-view-card
        [titleModal]="'executions.execution.task' | translate"
        keyContext="execution"
        name="{{ execution?.executionId }}"
        id="task"
      >
        <ng-template>
          <div *ngIf="!loadingTask">
            <div class="block card-block-keyvalue" *ngIf="task">
              <div class="row">
                <div class="key">{{ 'commons.name' | translate }}</div>
                <div class="value">{{ task.name }}</div>
              </div>
              <div *ngIf="task.description" class="row">
                <div class="key">{{ 'commons.description' | translate }}</div>
                <div class="value">{{ task.description }}</div>
              </div>
              <div class="row">
                <div class="key">{{ 'commons.definition' | translate }}</div>
                <div class="value">
                  <span class="dsl-text">{{ task.dslText }}</span>
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'commons.status' | translate }}</div>
                <div class="value">
                  <span class="{{ task.labelStatusClass() }}">{{ task.status }}</span>
                </div>
              </div>
              <div class="row">
                <div class="key">{{ 'commons.applications' | translate }}</div>
                <div class="value">
                  <div *ngIf="!loadingApplication">
                    <div *ngFor="let app of applications">
                      <strong>{{ app.name }}</strong
                      >&nbsp;
                      <span class="label label-app {{ app.type }}">{{ app.origin }}</span>
                    </div>
                  </div>
                  <div *ngIf="loadingApplication">
                    <clr-spinner clrInline clrSmall></clr-spinner>
                    {{ 'commons.loading' | translate }}
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!task">{{ 'executions.execution.noTask' | translate }}</div>
          </div>
          <div *ngIf="loadingTask">
            <clr-spinner clrInline clrSmall></clr-spinner>
            {{ 'commons.loading' | translate }}
          </div>
        </ng-template>
        <div class="card-footer" *ngIf="task">
          <button class="btn btn-sm btn-secondary" (click)="navigateTask()">
            {{ 'executions.execution.viewTask' | translate }}
          </button>
          <button type="button" class="btn btn-sm btn-secondary" (click)="relaunch()">
            {{ 'executions.execution.relaunch' | translate }}
          </button>
        </div>
      </app-view-card>
    </div>
  </div>
</div>

<div *ngIf="loading" style="padding: 1rem 0">
  <clr-spinner clrInline clrSmall></clr-spinner>
  {{ 'commons.loading' | translate }}
</div>

<app-task-execution-log #logModal></app-task-execution-log>
<app-execution-stop #stopModal></app-execution-stop>
<app-execution-cleanup #cleanModal (onCleaned)="back()"></app-execution-cleanup>
