
table.table-form {
  border: 0 none;
  tr {
    border: 0 none;
    td {
      padding: 4px;
      border: 0 none;
      input {
        height: 36px;
        padding: 4px 10px;
      }
    }
    td.table-actions {
      padding-top: 6px
    }
    th {
      border-right: 0 none;
    }
  }
}

h2, label {
  font-weight: bold;
  font-size: 16px;
}

.col-1-layout {
  padding-right: 1rem;
}

.col-2-layout {
  padding-left: 1rem;
}
