<app-page *ngIf="taskDefinition$ | async as taskDefinition; else loading">

  <app-page-head>
    <app-page-head-back [defaultUrl]="'/tasks/definitions/' + taskDefinition.name"></app-page-head-back>
    <app-page-head-title>Launch task <strong>{{ taskDefinition.name }}</strong></app-page-head-title>
  </app-page-head>

  <p>This action will launch the <strong>task definition</strong>.
    Optionally, you can add properties and arguments.</p>

  <form [formGroup]="form" class="form-horizontal" role="form" (ngSubmit)="submit(taskDefinition.name)" novalidate>

    <div dataflowLayoutType type="large">

      <div class="form-group" [class.has-error]="form.get('args').invalid && submitted">
        <label class="control-label col-xs-2" style="text-align: left">
          Arguments:
        </label>
        <div class="col-xs-10">
          <app-kv-rich-text [validators]="kvValidators.args" [formControl]="form.get('args')"
                            placeholder="myarg=myvalue"></app-kv-rich-text>
          <span class="help-block" *ngIf="form.get('args').invalid && submitted">
            One or more arguments are invalid.<br/>Example: <code>myarg=myvalue</code>.
          </span>
        </div>


      </div>

      <div class="form-group" [class.has-error]="form.get('props').invalid && submitted">
        <label class="control-label col-xs-2" style="text-align: left">
          Parameters:
        </label>
        <div class="col-xs-10">
          <app-kv-rich-text [validators]="kvValidators.props" [formControl]="form.get('props')"
                            placeholder="app.myparam=myvalue"></app-kv-rich-text>
          <span class="help-block" *ngIf="form.get('props').invalid && submitted">
          One or more parameters are invalid.<br/>Example: <code>app.myarg=myvalue</code>.
          </span>
        </div>
      </div>

    </div>

    <app-page-actions>
      <button type="button" class="btn btn-default" (click)="cancel(taskDefinition)">
        Cancel
      </button>
      <button type="submit" class="btn btn-primary">
        Launch the task
      </button>
    </app-page-actions>

  </form>
</app-page>
<ng-template #loading>
  <app-loader></app-loader>
</ng-template>

